[2018-06-07 06:33] #419 closed, assigned to nobody

[2018-06-07 07:59] podarok opened #1085 "Accessibility - OpenY rose, frontpage"
One line - one task.
http://sandbox.openymca.org/

`ERROR|WCAG2AA.Principle1.Guideline1_4.1_4_3.G18.Fail|div||This element has insufficient contrast at this conformance level. Expected a contrast ratio of at least 4.5:1, but text in this element has a contrast ratio of 1.08:1. Recommendation: change text colour to #fff.
ERROR|WCAG2AA.Principle1.Guideline1_4.1_4_3.G145.Fail|h2|#block-useraccountmen

[2018-06-07 08:00] podarok opened #1086 "Accessibility - join page. OpenY rose theme"
One line - one task.
http://sandbox.openymca.org/join

`ERROR|WCAG2AA.Principle1.Guideline1_4.1_4_3.G18.Fail|div||This element has insufficient contrast at this conformance level. Expected a contrast ratio of at least 4.5:1, but text in this element has a contrast ratio of 1.08:1. Recommendation: change text colour to #fff.
ERROR|WCAG2AA.Principle1.Guideline1_4.1_4_3.G145.Fail|h2|#block-useraccoun

[2018-06-07 08:01] podarok opened #1087 "Accessibility - OpenY rose. Locations page"
One line - one task.
http://sandbox.openymca.org/locations

`ERROR|WCAG2AA.Principle1.Guideline1_4.1_4_3.G18.Fail|div||This element has insufficient contrast at this conformance level. Expected a contrast ratio of at least 4.5:1, but text in this element has a contrast ratio of 1.08:1. Recommendation: change text colour to #fff.
ERROR|WCAG2AA.Principle1.Guideline1_4.1_4_3.G145.Fail|h2|#block-usera

[2018-06-07 08:02] podarok opened #1088 "Accessibility - Schedules page. OpenY rose theme."
One line - one task.
http://sandbox.openymca.org/schedules

`ERROR|WCAG2AA.Principle1.Guideline1_4.1_4_3.G18.Fail|div||This element has insufficient contrast at this conformance level. Expected a contrast ratio of at least 4.5:1, but text in this element has a contrast ratio of 1.08:1. Recommendation: change text colour to #fff.
ERROR|WCAG2AA.Principle1.Guideline1_4.1_4_3.G145.Fail|h2|#block-usera

[2018-06-07 08:03] podarok opened #1089 "Accessibility - Blog page. OpenY rose theme"
One line - one task.
http://sandbox.openy,ca.org/blog

`ERROR|WCAG2AA.Principle1.Guideline1_4.1_4_3.G18.Fail|div||This element has insufficient contrast at this conformance level. Expected a contrast ratio of at least 4.5:1, but text in this element has a contrast ratio of 1.08:1. Recommendation: change text colour to #fff.
ERROR|WCAG2AA.Principle1.Guideline1_4.1_4_3.G145.Fail|h2|#block-useraccoun

[2018-06-07 11:44] taras-tsiuper commented on #981
Is this bug still reproducible ?

[2018-06-07 16:10] YMCA-GTC commented on #981
Resolved

[2018-06-07 16:10] #981 closed, assigned to kolesnikoff

[2018-06-07 16:10] YMCA-GTC commented on #1049
Resolved

[2018-06-07 16:13] YMCA-GTC commented on #675
@podarok and 5J are working on this one for a near-term bug-fix release.

[2018-06-07 16:15] YMCA-GTC commented on #969
Next steps: @podarok will investigate further

[2018-06-08 14:15] ddrozdik opened #1092 "Sandbox Issue: GroupEx Pro integration does not work"
There is a paragraph called "Group Schedules (GroupEx Pro)". On the sandbox, you can find it on all location pages.
Currently, this paragraph does not work and does not show results at all.
In the logs I found this error:
`
GuzzleHttp\Exception\ConnectException: cURL error 28: Connection timed out after 30001 milliseconds (see http://curl.haxx.se/libcurl/c/libcurl-errors.html) in GuzzleHttp\Handle

[2018-06-08 14:17] #1078 closed, assigned to v1nk

[2018-06-11 16:11] podarok opened #1093 "Backport autocomplete improvements from YGTC"
https://github.com/ymcatwincities/ymca/pull/2989
![_149](https://user-images.githubusercontent.com/563412/41243643-591fd108-6dab-11e8-9640-a6903b4d1251.png)

[2018-06-12 11:00] podarok commented on #687
Fixed in dev

[2018-06-12 11:00] #687 closed, assigned to v1nk

[2018-06-12 11:49] AlexNetman opened #1096 "Improve Search filters on Locations page"
URL: /locations

1) Openy sandbox has no search filters
![image](https://user-images.githubusercontent.com/4558228/41288267-6854a4d4-6e4e-11e8-910f-9ab29ffb2859.png)

ymcamn.org has filters. Which is useful. (Map is hidden but that's OK, because it could be too small.)
![image](https://user-images.githubusercontent.com/4558228/41288305-841e753c-6e4e-11e8-9519-feb0d67a96ba.png)

2) Also still may b

[2018-06-13 13:14] taras-tsiuper commented on #1083
@YMCA-GTC  @podarok
Is I see current styles were made especially.
Do you know how it was before or how it should be ?

[2018-06-14 09:48] AlexNetman commented on #1089
@podarok  Task description is not informative. Need better selectors to understand the place were it happens.

Example:
![image](https://user-images.githubusercontent.com/4558228/41404877-05c31894-6fd1-11e8-8e3c-89d1a7f7560f.png)
First line is showing that error happened at `div` which gives no clue at all.

[2018-06-14 09:55] AlexNetman commented on #1089
Taking second one. It's about hidden "User Account" block.
User Account block is visually hidden. But for screen readers it's not.

[2018-06-15 13:09] taras-tsiuper commented on #898
@podarok
Just have checked if this is still reproducible. Google Calendar link redirects me to Calendar page with new event. So works well for me. Here is video
http://monosnap.com/file/gthwAV9kLCt6R0jabVL0ssP8pOeJf5

[2018-06-15 16:45] ymcagtc commented on #1096
Agreed, I'd like to backport some of this functionality in, in the future. If any other Y association wishes to take this work on first, please build it into the distribution (ask your agency for details, or connect with us here) so all may use it.

[2018-06-15 16:46] ymcagtc commented on #1092
Changing severity to critical, and I consider this a bug. @podarok can you resolve this next week? If not, let's assign it to IXM

[2018-06-18 22:58] ymcagtc commented on #1083
Please copy the designs and implementation from the current YGTC site at https://www.ymcamn.org/locations

![image](https://user-images.githubusercontent.com/17573526/41566456-27b9335e-7321-11e8-890a-2d52745f1009.png)

Again - this should **only** apply to the Lily theme. Thank you!

[2018-06-19 10:50] AlexNetman opened #1101 "Two columns with fixed sidebar (sticky) - sidebar not moving"
Given I create a landing page with Layout  "Two columns with fixed sidebar (sticky)"
And I add Simple content to the body
And a promo card into sidebar
And I save
When I scroll through the resulting page
Then I expect promo card in sidebar to be always displayed in the sidebar
But it is not sticky

[2018-06-26 09:31] taras-tsiuper commented on #1083
I think we can close this issue as styles are fixed with the fix above:
![breadcrumbs](https://user-images.githubusercontent.com/1905435/41902652-a660543c-793c-11e8-8cb0-ea8396179cb3.jpg)

[2018-06-26 09:31] #1083 closed, assigned to v1nk

[2018-06-26 11:27] rotator commented on #690
It looks like it was fixed already.
Facilities [https://monosnap.com/file/pWUbUOlNxxhe7yKhbcTbI3AY496eUR](https://monosnap.com/file/pWUbUOlNxxhe7yKhbcTbI3AY496eUR)
Camp [https://monosnap.com/file/hAUkp4KMdjT8ZKgqnWIt5fnAFOCjq9](https://monosnap.com/file/hAUkp4KMdjT8ZKgqnWIt5fnAFOCjq9)
Branch [https://monosnap.com/file/cIOsVqYB0zfbOtWSOBxHxd55KFe9Xd](https://monosnap.com/file/cIOsVqYB0zfbOtWSOBxHxd

[2018-06-26 13:07] kolesnikoff opened #1122 "Blog Post Image Bug"
Hey!
There is an issue with uploading Blog Post images.

*Steps to reproduce*
1. Log in to http://sandbox.openymca.org/
2. Start creating new Blog Post http://sandbox.openymca.org/node/add/blog
3. Try to add an image: Content Area - Image - Select Images - click Select Files - upload a file - fill in all required fields - click "Select images"
4. Nothing happens.

*Expected result*
An image should

[2018-06-26 13:08] kolesnikoff commented on #1122
@rotator please check this issue

[2018-06-26 14:44] rotator commented on #374
To test and merge to dev branch

[2018-06-27 12:00] rotator commented on #1122
The bug was because of this applied patch https://www.drupal.org/project/dropzonejs/issues/2833965#comment-12415711

[2018-06-27 12:23] AlexNetman opened #1130 "Indent is not working for text blocks in WYSIWYG"
![image](https://user-images.githubusercontent.com/4558228/41973487-c7b5ee3a-7a1d-11e8-9e36-5cd985c831ae.png)
Those buttons are not working for usual text.
Only for lists.
So let's update button labels to "Increase Indent for list item", "Decrease Indent for list item".

https://stackoverflow.com/questions/28273487/ckeditor-outdent-icon-is-disabled-when-none-text

[2018-06-27 15:29] podarok opened #1131 "Leverage date based block caching for Alert blocks for varnish issue"

[2018-06-27 16:35] podarok opened #1132 "Improve UX for the help blocks"
Let's avoid of having placeholder texts in production of OpenY
I'd like to see some ideas about how it should look like.
Initial requiremens - height should be small, probably with some collapsible elements as Read More. We should avoid having links as a plain text.
![image](https://user-images.githubusercontent.com/563412/41987221-24620990-79fe-11e8-9171-28e18f0db76b.png)

[2018-06-28 10:00] ddrozdik commented on #1051
@YMCA-GTC , @podarok  I think this should be optional and configurable in the Admin interface. Many YMCAs asking about the possibility to hide filters but leave the button. It would be really great to have this configurable somewhere.
cc @Sanchiz , @ygerasimov

[2018-06-28 10:03] ddrozdik opened #1133 "Make BRANCH AMENITIES fieldset collapsible"
Branch nodes have fieldset with fields to enter amenities.
![edit branch downtown ymca site-install 2018-06-28 13-02-24](https://user-images.githubusercontent.com/6285570/42027948-9ac9070c-7ad3-11e8-8d3b-889a34f52c64.png)

Would be great to make this fieldset collapsible and collapsed by default .

[2018-06-28 10:24] ddrozdik opened #1134 "Demo content for News posts have missing data"
There are news posts created during installing demo content, and by default, they have no titles in some paragraphs like `Latest blog posts (camp)` & `Latest blog posts (branch)` while the title is required.
![edit camp camp colman site-install 2018-06-28 13-23-44](https://user-images.githubusercontent.com/6285570/42028930-82501230-7ad6-11e8-847a-dd3e84a31d47.png)

[2018-06-28 10:33] ddrozdik opened #1135 "Demo content should not be located in modules"
Currently, demo content is located in modules. In case we want to import demo content for some content types we just enable those modules.

In terms of global Open Y architecture, it does not make sense to build demo content as a module, since we usually install them and do not think about removing in the future. In terms of Drupal architecture, we just leave unused modules that exist in the syste

[2018-07-02 11:22] AlexNetman opened #1140 "Featured blog posts on mobile: Arrows are not working in utmost cases"
URL: sandbox.openymca.org/blog

Given there are no more slides on the right
And I click on the right arrow
Then I should see slide one

![image](https://user-images.githubusercontent.com/4558228/42161211-b6f345be-7e02-11e8-851e-4cb37e0a99d1.png)

(similar behavior is done for sliders on schedules)

[2018-07-02 11:32] #374 closed, assigned to nobody

[2018-07-02 15:38] AlexNetman opened #1143 "Membership calculator: Hide prices if not specified"
Given I create a new Membership type node but without price specification
And I go to /join
When I select my new membership type for some location
![image](https://user-images.githubusercontent.com/4558228/42173547-1b31d8b8-7e28-11e8-8982-fb3d2ade67e9.png)

Then I should not see prices specified on site
And I can click "Complete Registration" to see the most actual prices on external system

[2018-07-02 17:15] ddrozdik opened #1145 "Social share icons do not display on landing page and some other content types"
I've enabled Social Share icons on a landing page and event page but they do not appear.
![edit event fancon event _ site-install 2018-07-02 20-10-10](https://user-images.githubusercontent.com/6285570/42177105-220ae8b2-7e34-11e8-955b-510bc74c6c49.png)

Paragraph with Social Share icons still works well. Blogs and News work as well. The only issue with other content types.
cc @YMCA-GTC , @podarok

[2018-07-04 10:07] AlexNetman opened #1152 "Locations page looks broken on iPad"
URL: /locations
Sidebar Title "Amenities" is cut
And items in the list are wrapped inconsistently

Current look:
![image](https://user-images.githubusercontent.com/4558228/42268703-dbfd87f6-7f84-11e8-9b38-a020d4d7d71e.png)

Also branch teasers are looking a bit squeezed

*Suggested solution*
Place Amenities filter above the content and make it more compact flex grid

Even more - make list of ameni

[2018-07-04 10:12] AlexNetman commented on #1152
This should also help for Mobile users. Currently "Amenities" filters are displayed at the bottom of the long page. Which is hard to reach for most visitors.

[2018-07-04 15:46] ddrozdik opened #1153 "Upgrade to 1.12.1 using PHP 5.6 is impossible"
There is an issue with the version of Open Y 1.12.1. After adding a fix for the `symfony/dom-crawler` https://github.com/ymcatwincities/openy/pull/1095 we’ve lost the possibility upgrade to this version if in case you are on PHP 5.6. That package requires PHP 7.1.3 and above.
This happened in this commit https://github.com/ymcatwincities/openy/pull/1095/commits/ea3a5666785401e9a8696db687e1318bbc10

[2018-07-04 15:56] YMCA-GTC commented on #1153
I have notified Andrii and IXM. Agreed that this is critical and needs to be fixed ASAP.

[2018-07-05 10:15] ddrozdik commented on #1153
Fixed in https://github.com/ymcatwincities/openy/releases/tag/8.1.12.3 version

[2018-07-05 10:15] #1153 closed, assigned to nobody

[2018-07-05 13:43] rotator commented on #1132
Also, it will be good to add to OpenY such link modules:
1. [Link Attributes widget](https://www.drupal.org/project/link_attributes) to set classes and attributes for menu links
2. [D8 Editor Advanced link](https://www.drupal.org/project/editor_advanced_link) to add the same for the link Dialog in D8 CKEditor

[2018-07-05 13:57] AlexNetman opened #1156 "1, 4 columns paragraphs styles are broken"
1 column, 4 columns  paragraphs are looking like broken

![image](https://user-images.githubusercontent.com/4558228/42327298-0e639254-8074-11e8-88b2-2b266e063ac2.png)

Example setup at: http://sandbox.openymca.org/paragraphs

[2018-07-05 14:00] AlexNetman commented on #1156
Note, that we also were having a discussion to remove  1,2,3,4 column paragraphs from distro. Or at least hide.
Because we have paragraphs of similar structure: "Columns in grid"
And "Featured Highlights" that was supposed to become primary on YMCA Twin cities.

[2018-07-05 15:54] ymcagtc commented on #1131
@podarok @danylevskyi Can you guys please add a 1 sentence description to this so others will know if they are experiencing similar issues? Also - is this a bug, or a feature request? I want to label it appropriately. Thank you!

[2018-07-05 15:55] ymcagtc commented on #1132
This is a worthwhile enhancement, but an enhancement and not a bug. Changing the label, and pulling into the roadmap.

[2018-07-05 15:59] ymcagtc commented on #1085
Assigning to @podarok as this is under development

[2018-07-05 15:59] ymcagtc commented on #1086
Assigning to @podarok as this is under development

[2018-07-05 16:00] ymcagtc commented on #1087
Assigning to @podarok as this is under development

[2018-07-05 16:01] ymcagtc commented on #1088
Assigning to @podarok as this is under development

[2018-07-05 16:02] ymcagtc commented on #1101
@AlexNetman Do you have a URL for a sample page we can test with? If not, no worries, it would just help us debug and resolve this one faster.

[2018-07-05 16:06] ymcagtc commented on #1130
Increasing severity one step to Normal, as I can see Y associations wanting to use this functionality.

[2018-07-05 16:09] ymcagtc commented on #1134
Assigning to IXM.

When in doubt, use the following naming:

- Demo _CONTENT TYPE NAME_ 1
- Demo _CONTENT TYPE NAME_ 2 (and so on)

For example, the above demo content would be "Demo Latest blog posts (camp) 1" or "Demo Latest blog posts (branch) 1"

[2018-07-05 16:11] ymcagtc commented on #1135
@ddrozdik makes sense to me. I'd like @podarok to weigh in, so assigning it to him.

[2018-07-05 16:15] ymcagtc commented on #1140
The intended behavior is that the right arrow when on the last blog post should do one of the following **(whichever is the least effort to build)**

- Return to the first item in the list of blog posts
- Do not display the right arrow when at the last blog post, nor display the left arrow when at the first blog post.

Assigning to IXM for resolution

[2018-07-05 16:16] ymcagtc commented on #1143
I agree this would be a good enhancement. I will add to the backlog on Trello.

[2018-07-05 16:18] ymcagtc commented on #1145
Assigning to IXM. Setting severity to Important.

[2018-07-05 16:20] ymcagtc commented on #1152
Agreed. Adding to the backlog on Trello as this is technically an enhancement and not a bug. Historically Y associations (on average) receive about 4-5% of traffic from tablets. I still agree we should enhance this feature, and I appreciate the concept, very nice!

[2018-07-05 16:23] ymcagtc commented on #1156
I don't think we should remove the 1,2,3,4 column paragraphs from the distro as others may be already using it. However, I can see merit in hiding that paragraph type from future usage. We need to include some type of messaging within the distribution when editing or creating 1,2,3,4 column paragraphs that the functionality is deprecated and to use the columns in grid instead.

For now, I'm assign

[2018-07-05 17:25] AlexNetman opened #1157 "Fix "Secondary description and sidebar" for Rose theme"
Page header area:
* Small banner paragraph
* "Secondary description and sidebar"  paragraph

![image](https://user-images.githubusercontent.com/4558228/42337808-7d8a34be-8090-11e8-97fa-7864a54996ca.png)

Example is setup at: http://sandbox.openymca.org/paragraphs

Here is how it looks in Lily theme:
![image](https://user-images.githubusercontent.com/4558228/42338008-1a10507a-8091-11e8-9f98-2f5ade2

[2018-07-06 08:54] AlexNetman opened #1158 "Small banner: Image is cut in unexpected manner"
http://sandbox.openymca.org/paragraphs
![image](https://user-images.githubusercontent.com/4558228/42369524-e55df350-8112-11e8-8c92-348de9835637.png)

Image can be located in same manner that is on Program Subcategory pages.
![image](https://user-images.githubusercontent.com/4558228/42369590-18e866b0-8113-11e8-9c3f-38955eb08701.png)
Which is much better. (but still head is cut in the example)
http:

[2018-07-06 13:34] podarok commented on #1135
@ddrozdik as far as I know - demo content imported by migrations during installation.
Migration executed on Profile form step here https://github.com/ymcatwincities/openy/blob/8.x-1.x/openy.profile#L261
Which means we can easily disable and uninstall demo content modules if there is a requirement to All demo content modules are already decoupled as far as I see from our codebase and contain only m

[2018-07-06 14:12] podarok commented on #1092
I've checked this paragraph on today's sandbox - all works without any issues
![image](https://user-images.githubusercontent.com/563412/42383368-b12cbbb6-813f-11e8-9b04-38a990d7ec82.png)
@ddrozdik could you please post steps for reproduce?
Looks like at a time you were testing there was an issue with connectivity to GroupEx, which is possible

[2018-07-06 14:12] #1092 closed, assigned to podarok

[2018-07-06 19:35] AlexNetman opened #1159 "Add padding after Membership Calculator paragraph"
When I added a test paragraph under Membership Calculator
Then It appeared on the same level as button.
![image](https://user-images.githubusercontent.com/4558228/42396923-72a8cede-816c-11e8-9a5b-3452447f4a6a.png)

But "next" button shouldn't overlap with content below
Please, add some spacing
so that nothing else is displayed in row with "Next" button

[2018-07-10 08:39] alexschedrov opened #1164 "Local video player doesn't have border on table"
Video player for location doesn't have any border in Safari. Which looks strange on iPad.
![image](https://user-images.githubusercontent.com/1316234/42498828-ea062c44-8435-11e8-9e3e-a7c090a055d5.png)

[2018-07-10 09:22] alexschedrov opened #1165 "Membership type selection doesn't trigger scroll down"
I'm not quite sure if OpenY had that feature, but it will be nice to fix that.

When we select membership type on the Join page, it's not intuitive to scroll down manually to click "Next" button. Here's an example how UX may be improved - https://www.seattleymca.org/membership.

[2018-07-11 11:16] #1145 closed, assigned to kolesnikoff

[2018-07-12 18:16] ddrozdik commented on #1092
@podarok seems not relevant anymore.

[2018-07-13 12:39] podarok commented on #1130
fixed

[2018-07-13 12:39] #1130 closed, assigned to kolesnikoff

[2018-07-13 14:38] podarok commented on #1140
fixed in dev

[2018-07-13 14:38] #1140 closed, assigned to kolesnikoff

[2018-07-17 08:31] artemdotsenko opened #1172 "[8.1.12.3] Composer fails to download `grt-youtube-popup` library."
My composer file that require `"ymcatwincities/openy": "8.1.12.3"`:
[code]

After running `composer update` I see next error:
[code]

[2018-07-17 09:38] alexschedrov opened #1173 "Upload font during installation step"
It seems that custom module openy_font has been replaced with http://sandbox.openymca.org/admin/appearance/font.

Installation steps should be updated accordingly https://github.com/ymcatwincities/openy/blob/8.x-1.x/src/Form/UploadFontMessageForm.php#L28.

[2018-07-18 09:58] #1122 closed, assigned to nobody

[2018-07-19 14:52] ymcagtc commented on #1173
Agreed - assigning to IXM.

[2018-07-19 14:53] ymcagtc commented on #1172
@podarok @ddrozdik @ygerasimov could you please comment with some help for @artemdotsenko ?

Thanks!

[2018-07-19 14:55] ymcagtc commented on #1165
Thanks, @Sanchiz I agree with you that this is a worthwhile change. It is not technically a bug, however. I will add it to the roadmap.

[2018-07-19 15:00] ymcagtc commented on #1165
FYI here is the roadmap item: https://trello.com/c/ALxhy5Iv/134-membership-selection-auto-focus-score-6

[2018-07-19 15:02] ymcagtc commented on #1164
5% of traffic for most Y sites is on iPad and video usage as a percentage of pages is low. While important, the severity of this is normal. We will eventually resolve this.

[2018-07-19 15:03] ymcagtc commented on #1159
Assigning to IXM for resolution

[2018-07-19 18:46] podarok commented on #1172
Hi @artemdotsenko .
Thanks for the good question
For the required libraries you should have openy-project composer in your repository in the root directory ( next to docroot folder )
That file should be same as in respective repo https://github.com/ymcatwincities/openy-project/blob/8.1.x/composer.json
Feel free to download the latest version and run ```composer update``` one more time.  There is a

[2018-07-20 06:31] artemdotsenko commented on #1172
Thank you @podarok, coping respective library from openy-project composer to my composer helped.

[2018-07-20 06:31] #1172 closed, assigned to podarok

[2018-07-26 15:33] ymcagtc commented on #1158
@AlexNetman Have you tried using the Image Focal Point settings to see if you're able to resize and refocus the images appropriately?

[2018-07-26 15:34] ymcagtc commented on #1157
Agreed - assigning to IXM

[2018-07-31 14:05] alexschedrov opened #1195 "Filter by miles"
It seems that filter by miles doesn't work correctly.

![image](https://user-images.githubusercontent.com/1316234/43464489-e5403c72-94e3-11e8-9ea2-37ecbaca3113.png)

[2018-07-31 14:09] alexschedrov opened #1196 "Filter by ZIP or address doesn't work without Geocoding API"
When Google Maps API pricing has been changed, it seems that they've disconnected various services from each other. There's one additional step is required - enable Geocoding API. It may be enabled here - https://console.developers.google.com/apis/library.

![image](https://user-images.githubusercontent.com/1316234/43464701-6d1dd4d8-94e4-11e8-9479-ccade0114e27.png)

Video lesson for Google Maps sh

[2018-07-31 14:32] ymcagtc commented on #1195
Updated the tutorial for Google Maps API for Open Y which resolves this issue: https://community.openymca.org/t/new-google-maps-api/134/10

[2018-07-31 14:32] #1195 closed, assigned to nobody

[2018-07-31 14:32] ymcagtc commented on #1196
Thank you - tutorial instructions have been updated to reflect this: https://community.openymca.org/t/new-google-maps-api/134/10

[2018-07-31 14:32] #1196 closed, assigned to nobody

[2018-07-31 15:05] ddrozdik opened #1197 "Program registration paragraph does not work in Sandbox"
There is a paragraph from the module OpenY Program Registration Paragraph. When I try to edit its settings on this page /admin/structure/paragraphs_type/program_registration/fields I get an error
`
Drupal\daxko\DaxkoClientException: Failed to make a request for uri branches?limit=100 with message cURL error 3: <url> malformed (see http://curl.haxx.se/libcurl/c/libcurl-errors.html). in Drupal\daxko

[2018-08-01 19:19] mattshoaf commented on #904
I think it is still relevant, the reason that it's not a clean update is because you can't replace the project composer file if you've added any additional contrib  modules. I was able to update from 8.3.x to 8.4.x, but had to manually update my project's composer file, I just looked at a diff between 8.3 and 8.4 to see what needed to be added and removed. Looking at the 8.5 branch, I'm sure that

[2018-08-06 13:45] Fant0m771 commented on #1133
Hi @ddrozdik,
I just commited fix https://github.com/ymcatwincities/openy/pull/1200

[2018-08-08 15:09] ddrozdik opened #1201 "Header in Open Y Rose overlaps some elements on pages"
I noticed that in some situations I can't click on the Location title in the popup on the /locations page.
![locations site-install 2018-08-08 18-00-07](https://user-images.githubusercontent.com/6285570/43845552-ee822cda-9b34-11e8-8d15-567ac329b6f3.png)
After an investigation, I found that the header section, where the main menu is placed, has a wrong height in the collapsed mode(when we scroll th

[2018-08-09 11:38] podarok commented on #588
WiP https://github.com/ymcatwincities/openy/pull/1202

[2018-08-09 12:13] podarok commented on #588
done https://github.com/ymcatwincities/openy/pull/1202#pullrequestreview-144803465

[2018-08-09 13:00] #588 closed, assigned to nobody

[2018-08-13 16:31] AlexNetman opened #1211 "Decoupling issues:"
I tried disabling some modules from UI:

/admin/modules/uninstall

1) It turns out that I can't easily to turn off  group of modules.
For example I need 5 iteration to uninstall "OpenY Demo ..." modules.
Because some of them have dependencies between each other.

2) Module Daxko should not have reference to Membership Calc module.

3) "OpenY camp" should not be required by "OpenY Paragraph Locatio

[2018-08-13 20:20] #1134 closed, assigned to kolesnikoff

[2018-08-14 14:24] ymcagtc commented on #1211
Assigned @Sanchiz to resolve this

[2018-08-15 13:38] hamrant opened #1229 "Upgrade path for new carnation theme"
I encountered a problem during the upgrade OpenY to 8.1.13.
Issue on `openy_update_8061 - Upgrade path for new carnation theme` -https://github.com/ymcatwincities/openy/blob/8.x-1.x/openy.install#L922

On our project not used news content type, so `openy_node_news` is disabled. But during this update was imported config `core.entity_view_display.node.news.teaser` from `openy_node_news/config/insta

[2018-08-16 14:18] hamrant opened #1232 "Vuejs error invalid expression in openy_repeat"
I have checked openy_repeat in new OpenY 8.1.13 version and `Repeat Schedules` paragraph was completely empty. After some investigation I have found reason:

[code]

Issue on this line in `openy-repeat-schedule-dashboard--sidebar.html.twig`:
[code]

If category contain `'` symbol this broke all vue app.

Steps for reproduce:
- Add category `Parent's Night Out`
- for debug use `openy_repeat/js/vue/

[2018-08-16 14:25] hamrant commented on #1232
As temporary quick fix I have used this code:
[code]

[2018-08-16 15:07] ymcagtc commented on #1197
@ddrozdik Could you please re-test to rule out that the issue is not on Daxko's end? Once you've confirmed that, please post back here and we will investigate further. Thank you!

[2018-08-16 15:08] ymcagtc commented on #1201
Agreed - issue to be assigned to IXM. Thanks!

[2018-08-16 15:11] ymcagtc commented on #1229
@Sanchiz Can this be part of the decoupling work you are doing? If so, let's assign this to you. If not, please let me know. Also, I need to know what we should do it the short-term to help @hamrant resolve this issue for his current build. Thanks!

[2018-08-16 15:12] ymcagtc commented on #1232
Has been assigned to IXM to resolve

[2018-08-16 15:30] jediandrey commented on #1229
https://github.com/ymcatwincities/openy/pull/1234

[2018-08-17 14:08] hamrant opened #1235 "Property or method is not defined"
During investigation of this issue - https://github.com/ymcatwincities/openy/issues/1232 I have found another one.

For debug I have switched from `vue.min.js` to `vue.js` and got this errors in console:
[code]
[code]

results component is empty with  `addToCalendarDate` error. I have commented this lines in `openy-repeat-schedule-dashboard--table.html.twig`

[code]

And then got next errors on cl

[2018-08-17 14:41] hamrant opened #1236 "Repeat Schedules performance"
I have tested new Repeat Schedules paragraph and it works very slow, even despite the fact that I have a small number of generated repeat entities.

I think this can be related to `RepeatController`. In `getClassesInfo` function loads all site classes, in my case - 3626 classes.

![screenshot from 2018-08-17 17-12-16](https://user-images.githubusercontent.com/13733670/44272090-8ead5480-a244-11e8-8

[2018-08-20 19:40] ymcagtc commented on #1236
@ygerasimov Was this the bug you just fixed? If so, hopefully, we can get this in a point release in a few days/week.

[2018-08-20 19:40] ymcagtc commented on #1235
@podarok Should this go to IXM or to you? Please let me know. Thanks!

[2018-08-21 08:03] hamrant commented on #1236
Fixed in https://github.com/ymcatwincities/openy/pull/1241

[2018-08-21 08:03] #1236 closed, assigned to ygerasimov

[2018-08-21 10:06] hamrant opened #1242 "Repeat entity wrong time"
Looks like PEF has some issues with timezones.

Repeat Schedules page:

![pef__ymca-of-greater-brandywine](https://user-images.githubusercontent.com/13733670/44394623-5bb6d980-a540-11e8-91dc-d208aff8d1e9.png)

Class page:

![class-private-swim-lessons__ymca-of-greater-brandywine](https://user-images.githubusercontent.com/13733670/44394753-a59fbf80-a540-11e8-862e-ccdefe46df0f.png)

Session time (ed

[2018-08-21 15:45] ygerasimov commented on #1242
PR to address the issue https://github.com/ymcatwincities/openy/pull/1244

[2018-08-28 05:51] akaleMulder opened #1251 "Date filter cannot be deleted on the Schedules page"
When I go to the Schedules page, a specific time is selected, so I see date chosen is displayed as a filter with an 'X' symbol next to it.
https://cl.ly/422429c76254

Expected: I expect date filter to be deleted when 'X' is clicked.

Actual: Date filter doesn't get deleted when 'X' is clicked. Page refreshes and remains the same.

[2018-08-28 08:15] anpolimus commented on #793
@podarok that is common problems for all latest profiles that are compiling using composer.
There are some issue at d.org that needs to be fixed first.

[2018-08-28 08:49] anpolimus commented on #793
I've reviewed issue queue of simpletest.me and want to notice that last year its development is very low.
Efforts for fixing this issue could be higher alternative variants.
As possible variant, we could use another services for online build.

[2018-08-28 09:54] podarok commented on #793
Yup, we use CIBox for getting builds

[2018-08-30 07:00] Fant0m771 opened #1254 "Locations icons in admin area has wrong description where new icons must be."
Location form settings on admin/config/services/openy_map has wrong description where new icons should be put on like - "To redefine icons add file in {default_theme}/img/location_icons directory in active default theme". But in code path is differen. And new icons has never be find

[2018-08-30 09:44] Fant0m771 opened #1256 "Location map icons save in config full site path with domain which brake path between environments"
Location map icons save in config full site path with domain which brake path between environments  - http://take.ms/2k8Y9

[2018-08-30 10:04] Fant0m771 commented on #1256
PR with patch here - https://github.com/ymcatwincities/openy/pull/1257

[2018-08-31 13:33] anpolimus commented on #793
In this case, we have to update homepage of project at d.org and show link for created build at cibox instance.

[2018-09-05 12:08] #1254 closed, assigned to nobody

[2018-09-05 17:04] ddrozdik opened #1266 "Amenities Decoupling/Refactoring"
I noticed that `Amenities` functionality is distributed across 4 main modules
- `openy_txnm_amenities`
- `openy_prgf_amenities`
- `openy_prgf_location_by_amenities`
- `openy_block_branch_amenities`

But also there is a reference to this functionality in other modules. For instance `openy_ckeditor`
https://github.com/ymcatwincities/openy/blob/3930e9ab85af3c15265f3f7d1afcc8a768b76c04/modules/custom/

[2018-09-05 17:05] ddrozdik commented on #1266
cc @podarok , @YMCA-GTC

[2018-09-06 10:29] akaleMulder opened #1269 "Cannot close modal window on mobile"
On mobile, when you click on the class name the modal window appears but you can’t close it. This is frustrating for mobile users.
For example, open [this](https://www.ymcagbw.org/schedules/group-exercise?date=5%20Sep%202018&locations=West%20Chester%20Branch&categories=) link on mobile phone and click on Cycle 45 class.

[2018-09-06 13:51] akaleMulder opened #1270 "Bug on the new schedules pages with room filters"
There seems to be a bug on the new schedules pages with room filters. See screenshots:
![image](https://user-images.githubusercontent.com/2506214/45161544-f3d5e380-b20d-11e8-88b3-e375f5226f69.png)
The default view for Kennett Group X classes (no room selected) would be this. ￼We select **Weigh in Wednesday** and the pop up appears as it should.
![image](https://user-images.githubusercontent.com/25

[2018-09-06 15:12] alexschedrov opened #1272 "Add to Calendar on new Schedules has wrong timezone"
I’ve noticed that “Add to Calendar” has hardcoded timezone, so it works incorrectly when a website has timezone different from CT.

Code: https://github.com/ymcatwincities/openy/blob/8.x-1.x/modules/custom/openy_repeat/templates/openy-repeat-schedule-dashboard--table.html.twig#L80

![image](https://user-images.githubusercontent.com/1316234/45166739-63dd6d00-b200-11e8-9a5e-752ff383fec2.png)

[2018-09-06 15:24] YMCA-GTC commented on #1270
Marked as important. Will assign to IXM

[2018-09-06 15:25] YMCA-GTC commented on #1269
I consider this a critical bug. Will assign to IXM for fixing.

[2018-09-06 15:26] YMCA-GTC commented on #1256
@podarok Could you help me with the next steps on this one, please?

[2018-09-06 15:27] YMCA-GTC commented on #1251
Agree - important. Will assign to IXM to resolve

[2018-09-06 15:39] YMCA-GTC commented on #1251
This is the old schedules experience - @akaleMulder can you verify which version of Open Y this is on? This should be resolved with 1.13.

[2018-09-06 15:39] #1242 closed, assigned to ygerasimov

[2018-09-06 15:40] podarok commented on #1235
On IMX

[2018-09-07 09:54] ddrozdik commented on #1070
This issue is not relevant anymore. We uninstall all demo modules during the installation Open Y without removing demo content.

[2018-09-07 09:54] #1070 closed, assigned to podarok, ymcagtc

[2018-09-07 10:10] anprok commented on #361
Fixed and merged in https://github.com/ymcatwincities/openy/pull/1183 for openy_rose and openy_lily themes

[2018-09-07 10:12] #361 closed, assigned to nobody

[2018-09-07 13:20] jediandrey commented on #1272
https://github.com/ymcatwincities/openy/pull/1274

[2018-09-07 22:13] jwtechdesign opened #1275 "Header Image scaling issue on program pages in the Lily theme"
Working further with the openy_lily theme, we found that most of the images on the program headers were appearing "squished" for users on smaller desktop screens.  This happens on both the program and program subcategory content types.

I believe it's because the height of the image is hard-coded while the width is set to 'auto', which causes the width of the image to scale for smaller desktop scr

[2018-09-07 22:20] jwtechdesign commented on #1275
After some troubleshooting, it looks like the image is inheriting a `max-width: 100%` from the `.img-responsive` class (to be expected).  But since we're hard-coding the height, that won't work.  I would suggest allowing the width of the image to go beyond the width of the container (to always fill the height of the header), then hide the overflow.

Adding the following 2 lines to the `.program-he

[2018-09-10 08:57] jediandrey commented on #1269
Bug related only to Brandywine theme. PR with a fix has been created in YGBW repo.

[2018-09-10 13:17] ddrozdik commented on #1045
the first steps to implement this idea were made in this PR https://github.com/ymcatwincities/openy/pull/1268

[2018-09-10 15:11] ddrozdik commented on #1045
![openy-active](https://user-images.githubusercontent.com/6285570/45306046-54259780-b524-11e8-9244-abacb93b3010.png)  ![openy-inactive](https://user-images.githubusercontent.com/6285570/45306047-54259780-b524-11e8-8fb9-16299dd56488.png)

@YMCA-GTC can we use such images as icons for the menu ? cc @podarok

[2018-09-10 15:12] podarok commented on #1045
@ddrozdik where they will be placed specifically?

[2018-09-10 15:20] ddrozdik commented on #1045
@podarok in the admin menu, see my very first screenshot in this issue. Intead of colored YMCA logo we would like to use this Y icon.

[2018-09-10 15:39] YMCA-GTC commented on #1045
We can't use the YMCA logo, unfortunately. We will soon have an Open Y specific logo. The reason is that Open Y is not owned by the YMCA and so we can't use the YMCA logo. Open Y is a separate entity.

[2018-09-10 15:52] ddrozdik commented on #1045
ok. then gear icon should be ok to use, at least for now.

[2018-09-10 20:18] ygerasimov opened #1281 "PEF Update session instances on change in activity"
Steps to reproduce:
- edit activity that is used in Schedules. For example /node/110/edit
- change Program Subcategory and save
- get an error
[code]

![image](https://user-images.githubusercontent.com/294265/45322041-ef564700-b4fb-11e8-9e24-eb8c92e81797.png)

[2018-09-10 23:17] ygerasimov opened #1283 "PEF GroupExPro import timezones handling"
When session times got imported they are saved in the wrong timezone. Need to correct it to save in UTC timezone in database.

[2018-09-11 02:32] ygerasimov opened #1285 "PEF Obey day of the week"
While building integration with GroupExPro discovered that repeat_events are created for every day instead of settings in the session. Probably something went wrong while cleaning up from 'daily' setting from Brandywine.

[2018-09-11 10:23] #1281 closed, assigned to ygerasimov

[2018-09-11 10:25] #1283 closed, assigned to ygerasimov

[2018-09-11 10:41] #1285 closed, assigned to nobody

[2018-09-11 13:42] ygerasimov commented on #1272
fixed

[2018-09-11 13:42] #1272 closed, assigned to nobody

[2018-09-11 13:43] ygerasimov opened #1288 "PEF: Sort locations alphabetically"
Please sort Locations filter alphabetically
![image](https://user-images.githubusercontent.com/294265/45364039-ff1e6b80-b58d-11e8-8eb1-190c6ba30005.png)

[2018-09-11 16:50] #1288 closed, assigned to nobody

[2018-09-11 17:00] YMCA-GTC commented on #1275
@jwtechdesign I'm good with your fix for now - are you willing to make a submission with this fix as a pull request? If you need any assistance or details, please let me or @podarok know. Thank you for catching this!

[2018-09-12 06:32] akaleMulder opened #1292 "No notifications after signing up for Newsletter"
When a user wants to sign up for the email updates they can use the Sign Up form in footer.
![image](https://user-images.githubusercontent.com/2506214/45406169-666c1680-b687-11e8-8262-0a10bc83d05d.png)

A user enters email address and clicks on the 'Sign Up' button. The page refreshes but nothing happens – no notification about adding into the mailing list appears, no confirmation email is sent.

[2018-09-12 09:59] akaleMulder commented on #1269
Project Specific issue.

[2018-09-12 09:59] #1269 closed, assigned to nobody

[2018-09-13 07:25] Fant0m771 commented on #1256
hi @podarok,
Sure, what do you have for me?

[2018-09-13 07:27] podarok commented on #1256
@Fant0m771
Could you please fix issue with storing absolute urls into config? Would be cool to store relative paths and check if it doesn't break functionality

[2018-09-13 15:08] Fant0m771 commented on #1256
Hi @podarok ,
Provided patch https://github.com/ymcatwincities/openy/pull/1257 already fix storing relative url's into config. Do you mean storing paths on module install state ?

[2018-09-13 23:49] YMCA-GTC commented on #1292
@podarok Can you investigate if this is a bug, or an issue with configuration, please? Thanks!

[2018-09-13 23:50] YMCA-GTC opened #1298 "Carnation location page map displays over the breadcrumbs"
To reproduce, go to the sandbox, set Carnation as the default theme, go to the location page, clear the alerts and notice that the breadcrumbs are covered (see attached)

![image](https://user-images.githubusercontent.com/17653329/45521943-eaa4c380-b785-11e8-8d13-69374142c999.png)

[2018-09-14 00:24] YMCA-GTC opened #1299 "Carnation micro site menu doesn't display"
Go to http://sandbox.openymca.org/give and notice there is a microsite menu for Lily and Rose. Change the theme to Carnation and the microsite menu disappears.

Here it is working properly on Rose:
![image](https://user-images.githubusercontent.com/17653329/45522752-95b77c00-b78a-11e8-8357-d85b3db2b988.png)

And here it is missing on Carnation:
![image](https://user-images.githubusercontent.com/17

[2018-09-14 00:39] YMCA-GTC opened #1300 "Add to Calendar section showing errant data on Lily schedules"
Go to Sandbox and look at Group Exercise schedules on Lily. Note that the area near add to calendar has a lot of errant data that should not be displaying. Compare to Rose. See attached.

![image](https://user-images.githubusercontent.com/17653329/45523070-bd0f4880-b78c-11e8-9d6d-879fa020f30d.png)

[2018-09-14 19:41] YMCA-GTC commented on #1201
@ddrozdik This should have been resolved with 1.13.1. If you find that it is still a problem, please let me know and I will reopen the ticket.

[2018-09-14 19:41] #1201 closed, assigned to nobody

[2018-09-14 19:50] YMCA-GTC commented on #1251
Closing for now - will reopen if this is happening on 1.13 or later.

[2018-09-14 19:50] #1251 closed, assigned to nobody

[2018-09-18 17:27] aaronjchristian commented on #1299
Hello everyone!

So it looks like the main issue is where OpenY imports the "**Camp Menu**" on a default install. You can see the camp menu sitting behind the main navigation bar.

It builds the camp menu into the "**Header Area**" instead of the "**Content Area**". We could move some more things around with jQuery in carnation... but I think there should be a better solution.

![screenshot-local

[2018-09-19 10:20] kolesnikoff commented on #1298
Fixed by @aaronjchristian in https://github.com/ymcatwincities/openy/pull/1303

[2018-09-24 02:00] mikemuller opened #1306 "Errors when activating a child theme. References to assets are hard coded into the parent theme"
When activating a child theme, there are references to assets that are hard coded into the parent theme, causing errors. Here is the error that occurs:
Twig_Error_Loader: Template "themes/custom/grymca/img/icons/quote_purple.svg" is not defined (Drupal\Core\Template\Loader\ThemeRegistryLoader: Unable to find template "themes/custom/grymca/img/icons/quote_purple.svg" in the Drupal theme registry.)

[2018-09-24 02:03] mikemuller opened #1307 "ID's in the markup are tied to the theme name and cause CSS issues with activating a child theme."
There are ID's that are added to the markup which reference the theme name. When a child theme is activated, the ID's change, breaking some of the styles on the page.

[2018-09-24 11:51] kolesnikoff commented on #1300
Fixed by @denisbilchenko in https://github.com/ymcatwincities/openy/pull/1304

[2018-09-24 11:52] kolesnikoff commented on #1299
@podarok could you recommend @aaronjchristian what is the best approach to fix the issue?
Thank you.

[2018-09-24 12:04] SanyokMedved commented on #1173
@Sanchiz Please check if installation steps hasn't updated before. As I can see new link is correct and is linked as in Form. If it is not correct - let me know about it. Thank you.

[2018-09-25 04:46] ygerasimov opened #1308 "GroupExPro integration. Drush command"
We need to provide a way to run GroupExPro import as a drush command so it can be scheduled every day for example.

[2018-09-25 09:45] podarok opened #1310 "Line Above option doesn't connected to Carnation theme behavior"
![image](https://user-images.githubusercontent.com/563412/46006679-c4095580-c0c0-11e8-9130-136e08257b1a.png)
Line is rendering no matter if checkbox is set or no
![image](https://user-images.githubusercontent.com/563412/46006772-f61ab780-c0c0-11e8-8272-cb9a6efa4a80.png)

[2018-09-25 14:19] SanyokMedved commented on #1157
@AlexNetman Please explain how reproduce this issue. What kind of paragraphs are you using for this example?

Thank you

[2018-09-27 10:35] podarok commented on #1300
Fixed. Will be tagged in next point release

[2018-09-27 10:35] #1300 closed, assigned to kolesnikoff

[2018-09-27 16:05] YMCA-GTC commented on #1306
Assigned to IXM for resolution

[2018-09-27 16:05] YMCA-GTC commented on #1307
This seems like a similar issue to https://github.com/ymcatwincities/openy/issues/1307 which will be resolved by IXM

[2018-09-27 16:08] YMCA-GTC commented on #1307
Assigned IXM to dig into and discuss further with @podarok as needed

[2018-09-27 16:09] YMCA-GTC commented on #1310
Good catch - assigning to you to fix :)

[2018-09-27 18:26] YMCA-GTC commented on #1299
Assigned to @podarok for next steps.

[2018-09-27 18:28] YMCA-GTC commented on #1275
@jwtechdesign Do you have an update on if you're able to take this on? If not, let us know and we can find a dev for it.

[2018-09-27 18:30] YMCA-GTC commented on #1173
@Sanchiz Once you're fully back in the office and caught up, please give us an update on this one. Thank you!

[2018-09-27 18:30] YMCA-GTC commented on #1157
@AlexNetman Do you have an update to @SanyokMedved 's question above?

[2018-09-28 08:42] AlexNetman commented on #1157
@SanyokMedved I hoped it could be understood from screenshot.
"Small banner" and "Secondary description and sidebar"

[2018-09-28 09:45] podarok commented on #1299
We need to decide if menu in header makes sense for Carnation theme. Because the theme is so different from Lily or Rose - it was made without expectation to have microsite menu in place of Header. I see here couple ideas
1 - Microsites menu is a nice feature to have even on Carnation, but instead of rendering it below the main navigation, I guess we could replace main navigation with microsites m

[2018-09-28 13:42] SanyokMedved commented on #1306
What parent theme is for grymca theme? I can't find it in branches.
May be is could be good practice leave assets in child theme when user try create it?

[2018-09-28 15:07] SanyokMedved commented on #1306
In progress.

[2018-09-28 16:46] anprok opened #1315 "Сan not uninstall the OpenY Faq module"
The following reason prevents OpenY Faq (openy_prgf_faq) from being uninstalled:
- The Faq field type is used in the following field: paragraph.field_qa

https://github.com/ymcatwincities/openy/tree/8.x-1.x/modules/openy_features/openy_prgf/modules/openy_prgf_faq
Faq is custom field type that defined in openy_prgf_faq. Also in this module located configuration files for paragraph and a field that

[2018-09-28 19:50] YMCA-GTC commented on #1315
@Sanchiz @ddrozdik Are you guys going to take this as part of the decoupling work?

[2018-09-28 20:09] YMCA-GTC commented on #1308
@ygerasimov Is taking this issue that @ygerasimov reported :)

[2018-09-28 21:26] samhiddenhand opened #1316 "installation errors"
I got this error when trying a fresh install with OpenY 8.x-1.14--dev

using English and MySQL

<img width="709" alt="screen shot 2018-09-28 at 12 51 48 pm" src="https://user-images.githubusercontent.com/1124229/46234203-6aa45f00-c32a-11e8-87fe-446816ab272a.png">
<img width="737" alt="screen shot 2018-09-28 at 12 52 14 pm" src="https://user-images.githubusercontent.com/1124229/46234205-6aa45f00-c3

[2018-09-30 21:45] aaronjchristian commented on #1299
@podarok I would have to agree with you on #5, I think this is probably our best option.

[2018-10-01 11:50] kolesnikoff commented on #1306
Fix is here https://github.com/ymcatwincities/openy/pull/1317

[2018-10-01 11:51] kolesnikoff commented on #1159
Fixed by @SanyokMedved https://github.com/ymcatwincities/openy/pull/1314

[2018-10-01 11:52] kolesnikoff commented on #1157
Fixed by @SanyokMedved https://github.com/ymcatwincities/openy/pull/1313

[2018-10-01 13:25] podarok commented on #1292
@akaleMulder where did you get this screenshot. I can't see this on latest sandbox and OpenY. Probably this was an example of what could be added into footer without any integration so far

[2018-10-01 13:28] podarok commented on #1299
@ymcagtc @YMCA-GTC let's add this to our roadmap as a low priority enhancement.
Task : Frontent
Demand: low
Effort: medium
Impact: low

@aaronjchristian correct me if I'm not enough precise in estimates

[2018-10-01 15:28] aaronjchristian commented on #1299
Those all seem reasonable to me @podarok.

[2018-10-02 07:38] akaleMulder opened #1319 "Placeholders instead of data"
When we open new Schedule, for a brief moment we see placeholders instead of data.

1. Go to [https://www.ymcagbw.org/schedules-beta](https://www.ymcagbw.org/schedules-beta)
2. Select any location, e.g. Kennett Branch: [https://www.ymcagbw.org/schedules/group-exercise/location](https://www.ymcagbw.org/schedules/group-exercise/location) and click Next
3. For a brief moment you will see placeholders

[2018-10-02 08:34] SanyokMedved commented on #1310
in progress

[2018-10-02 13:01] SanyokMedved commented on #1270
Cannot reproduce. Please retest. Checked on http://sandbox.openymca.org

[2018-10-02 14:17] kolesnikoff commented on #1310
Fixed by @SanyokMedved in https://github.com/ymcatwincities/openy/pull/1320

[2018-10-02 20:30] YMCA-GTC commented on #1319
Assigning to IXM for resolution

[2018-10-02 20:33] YMCA-GTC opened #1322 "Schedules display in Lily show errant info in the "Add to Calendar" area"
The Lily display of schedules has some text that displays improperly next to the Add to Calendar link. Compare Lily to Rose below. Rose is the correct display.

![image](https://user-images.githubusercontent.com/17653329/46375246-84121780-c658-11e8-94d4-9ed6f88c0197.png)

![image](https://user-images.githubusercontent.com/17653329/46375225-75c3fb80-c658-11e8-88af-9b9d382e61b5.png)

[2018-10-03 08:02] ddrozdik commented on #1316
@samhiddenhand try now the latest dev version, should work now.

[2018-10-03 08:08] ddrozdik commented on #1315
@YMCA-GTC yes. We posted it here just to be sure we will not forget about this issue.

[2018-10-03 08:47] podarok opened #1323 "GroupEX PRO hierarchy clarifications"
I found some inconsistencies, If I'm not mistaken

For the GroupEX PRO Import we have config form
![image](https://user-images.githubusercontent.com/563412/46399522-a0698f00-c700-11e8-8ad6-d2cf4f5f8787.png)
where Activity is reference to activity as "parent"
This is a first confusion - we have no hierarchy in activities. We can't build tree of parent->child.
Can we make this message more clear?

W

[2018-10-03 09:15] kolesnikoff commented on #1322
@YMCA-GTC isn't it the same issue as https://github.com/ymcatwincities/openy/issues/1300 ?

[2018-10-03 18:47] samhiddenhand commented on #1316
I just installed again using the command:

`composer create-project ymcatwincities/openy-project:8.1.x-development-dev MY_PROJECT --no-interaction --no-dev`

which is supposed to install the latest dev version... but it gave me OpenY 8.x-1.14-dev, and when I installed it, I got the same exact error. Screenshots attached. Does this command need to be updated?

<img width="709" alt="screen shot 2018

[2018-10-04 08:24] AlexNetman opened #1325 "New schedules: Improve date display"
On recently created schedules date period is unclear
URL: http://sandbox.openymca.org/swim
![image](https://user-images.githubusercontent.com/4558228/46461309-0fa9b680-c7c7-11e8-9d86-ace574d489c1.png)
Actual session time is set as 6AM to 7PM
But appear as 6:00 - 7:00 PM
Which makes me think it is from 6:00PM to 7:00PM

[2018-10-04 09:00] AlexNetman opened #1326 "New schedules: Hide placeholder"
http://sandbox.openymca.org/swim

When page with schedules is loaded
I can see placeholder with code for a while
That makes me feel like error-blink

![image](https://user-images.githubusercontent.com/4558228/46463500-adec4b00-c7cc-11e8-8c2d-f5fc54cffbf3.png)
------------
Can we make it hidden in default template
And switching to visible only after actual value is loaded?
-------------

![image](h

[2018-10-04 12:12] kolesnikoff commented on #1326
@AlexNetman this issue looks pretty the same as https://github.com/ymcatwincities/openy/issues/1319

[2018-10-04 12:14] kolesnikoff commented on #1235
Fixed by @denisbilchenko in https://github.com/ymcatwincities/openy/pull/1321

[2018-10-04 12:29] kolesnikoff commented on #1319
Fixed by @denisbilchenko in https://github.com/ymcatwincities/openy/pull/1327

[2018-10-04 13:16] YMCA-GTC commented on #1322
Ah yes - thanks @kolesnikoff sorry about that. I'll close this.

[2018-10-04 13:16] #1322 closed, assigned to podarok

[2018-10-04 13:18] YMCA-GTC opened #1328 "Language translation on mobile issues"
Across all themes, the language translation component is not displaying properly on mobile. See examples below for  Lily, but the same issue is on Rose.

Further, note that when Lily has the language translation block open, the navigation can't be closed, which also needs to be fixed.

Done when:
1) Language block displays properly on mobile and all languages can be selected
2) The menu can be clo

[2018-10-04 18:17] YMCA-GTC commented on #1326
Agree - this is a duplication of https://github.com/ymcatwincities/openy/issues/1319 which will be fixed in the next release.

[2018-10-04 18:17] #1326 closed, assigned to nobody

[2018-10-04 18:19] YMCA-GTC commented on #1325
Hi @AlexNetman Thank you for the feedback. We are trying to keep the display there as efficient as possible for mobile devices, and any additional characters makes it hard to display on a mobile device in portrait mode. This is why we added the "13h" under the time, to make it clear that the duration is 13 hours long, thus the 6:00 must be referring to AM vs PM. That said, I will leave this enhanc

[2018-10-04 18:28] YMCA-GTC commented on #1315
@ddrozdik Awesome! Thank you!

[2018-10-04 18:29] YMCA-GTC commented on #1328
Asking IXM to assess and then we will determine next steps.

[2018-10-04 19:19] AndreyMaximov opened #1330 "PEF: following the content changes"
First of, I would love to say big thanks to the team that has been working on PEF. You guys do a great job!

Meanwhile, it seems that some very important functionality is lost and the framework cannot be used out of the box.
The thing is none of the updates of the data the new schedules are built upon are taken into account. E.g. if you update a class, it won't get updated in the schedules. If you

[2018-10-05 13:35] ddrozdik commented on #1330
cc @ygerasimov , @podarok , @YMCA-GTC

[2018-10-08 16:27] jimparo opened #1332 "Schedules are not loading correctly in IE 11"
When viewing schedules in Internet Explorer 11 the page does not load correctly.

https://www.ymcagbw.org/schedules/lap-swim?date=8%20Oct%202018&locations=West%20Chester%20Branch&categories=

![image](https://user-images.githubusercontent.com/36908933/46621430-71cf2800-caf5-11e8-9270-847b19d12bb2.png)

[2018-10-08 16:27] YMCA-GTC commented on #1330
Thank you @AndreyMaximov . Would you and @Sanchiz recommend that 5J take this on with part of Open Y 2.0, or that I assign it to IXM instead to resolve?

[2018-10-08 16:28] YMCA-GTC commented on #1332
@jimparo Thank you. Assigning to 5J to fix.

[2018-10-08 16:30] alexschedrov commented on #1330
@YMCA-GTC we'll work on it as a part of Open Y 2.0. cc @ddrozdik @AndreyMaximov

[2018-10-08 16:39] ddrozdik commented on #1310
@podarok, @kolesnikoff can it be closed?

[2018-10-08 16:41] YMCA-GTC commented on #1330
Thanks 5J team!

[2018-10-08 16:42] ddrozdik commented on #1266
Can be fixed in Open Y 2:0. Assigned to 5J.

[2018-10-08 16:45] ddrozdik commented on #1135
Based on the latest changes in architecture the new demo content behavior has been introduced in the Open Y 2:0.

[2018-10-08 16:45] #1135 closed, assigned to podarok

[2018-10-08 16:47] ddrozdik commented on #1045
This is going to be implemented in the Open Y 2.0

[2018-10-08 16:48] ddrozdik commented on #1021
@YMCA-GTC we will try to include this into the Open Y 2.0 release

[2018-10-08 16:49] ddrozdik commented on #992
@AlexNetman Can you please check if this one is still valid? Thanks!

[2018-10-08 16:50] ddrozdik commented on #973
@podarok Can you please provide some information about this request? Possibly we will include it into the Open Y 2.0 release.

[2018-10-08 16:53] ddrozdik commented on #289
Closing this as not relevant anymore. We introduced new themes with different footer blocks, so blocks are located in themes and theme defines what blocks should be created by default during enabling a theme.

[2018-10-08 16:53] #289 closed, assigned to nobody

[2018-10-08 16:55] ddrozdik commented on #407
Open Y already has Events content type. Closing this issue.
Please create a new issue if something is still missed.

[2018-10-08 16:55] #407 closed, assigned to danylevskyi

[2018-10-08 16:57] ddrozdik commented on #459
Distro already has OpenY Latest News paragraph. I think since we do not have any movement on this issue we can close it. Right?

[2018-10-08 18:46] #459 closed, assigned to danylevskyi

[2018-10-09 09:34] akaleMulder commented on #1292
@podarok https://www.ymcagbw.org/ and https://www.seattleymca.org/

[2018-10-09 09:46] akaleMulder commented on #1270
@SanyokMedved I just got a confirmation that this issue has been resolved. Sorry for bothering and thank you!

[2018-10-09 09:46] #1270 closed, assigned to SanyokMedved

[2018-10-09 09:51] AlexNetman commented on #1319
retest this please

[2018-10-10 09:32] akaleMulder commented on #1319
Thank you. Works fine now.

[2018-10-10 09:32] #1319 closed, assigned to kolesnikoff

[2018-10-10 12:25] ddrozdik commented on #1157
@AlexNetman please review and close if this is fixed.

[2018-10-11 10:17] #1232 closed, assigned to nobody

[2018-10-11 10:18] ddrozdik commented on #1316
Adding following screenshots from the Open Y Slack for history purposes:
@samhiddenhand reported that they can't install Open Y on their server and attached screenshots from the Installation interface(see above). Later in the conversation, we identified that the problem was in the process of applying patches via composer, see below:
<img width="1095" alt="screen shot 2018-10-05 at 10 43 00 am" src

[2018-10-11 10:40] ddrozdik commented on #1316
@samhiddenhand After getting access to the server I notices a few issues:
1. Installed composer version is a DEV version. - I recommend to use only stable versions.
2. Composer commands should not be run under root user, but they were. Read more why it's not recommeneded to use root user - https://getcomposer.org/root
3. Patches were not applied due to missing `patch` command on the server.  This

[2018-10-11 13:22] akaleMulder opened #1335 "User-friendly page title for PDF schedules"
When a user wants to export a PDF, they see the tab name as 'get-pdf'. I suggest that we change it to a more user-friendly title like 'Download PDF schedule'

![image](https://user-images.githubusercontent.com/2506214/46806935-a90a3700-cd8a-11e8-93bf-f9dddf66cb15.png)

[2018-10-11 13:26] akaleMulder opened #1336 "'No results' message is missing"
When a user goes to Schedules page and selects several filter values, sometimes there are no results returned. However, it is not obvious for a user because message about this is missing.

Sometimes, there is a text 'Sorry, no results were found with your search criteria. Please try another selection.' displayed on the page with no results. Please investigate, maybe it's related to the locations o

[2018-10-11 13:52] akaleMulder opened #1337 "Empty page when no search results returned"
When a user clicks on PDF link on a Schedules page with no results, they see an empty page without a table or anything else, just a blank page. It might be a good idea to disable the 'Weekly PDF Schedule' button when no results are returned.

[2018-10-11 15:41] YMCA-GTC commented on #1336
I feel like this is a bug, and hopefully an easy fix. I will ask IXM to take this on.

[2018-10-11 16:08] #1332 closed, assigned to alexschedrov, ddrozdik

[2018-10-12 13:17] alexschedrov commented on #1173
@SanyokMedved @YMCA-GTC Hi! The text and link have been updated, however, it still uses a screenshot from the legacy page for uploading fonts.

![image](https://user-images.githubusercontent.com/1316234/46871483-3c4e7580-ce3a-11e8-9fc0-a658adcfe7d5.png)

[2018-10-15 12:33] ddrozdik commented on #1197
yes, unfortunately, this is still valid.
Steps to reproduce:
1. Go to http://sandbox.openymca.org
2. Login as admin
3. Go to Home  -> Administration  -> Structure ->  Paragraphs types ->  Manage fields
4. You will see the only one field `Program registration block`
5. Click on the Edit button
6. You will see a white screen with a message `The website encountered an unexpected error. Please try aga

[2018-10-15 16:01] jimparo opened #1338 "Google Translate: Issue with header when returning to original translation"
Steps to reproduce:

1. Translate the page into an alternative language:
![image](https://user-images.githubusercontent.com/36908933/46962676-bae12800-d071-11e8-8da0-56f4acdd09d8.png)
2. Click on the show original button in the header:
![image](https://user-images.githubusercontent.com/36908933/46962720-d2201580-d071-11e8-8d1c-0b4ec59666ce.png)
3. See the top portion of the header (login / select

[2018-10-18 13:37] SanyokMedved commented on #1307
As it was researched there are no any id which are connected with theme name. As I can see css issues are not connected with tying to the theme name.
@kolesnikoff

[2018-10-18 16:36] ygerasimov opened #1342 "GroupExPro integration Sign Up button"
Some of the classes in GroupExPro require Signing Up. We do have information coming from API's if the session requires registration (registration_id key).

[2018-10-18 17:42] ygerasimov opened #1344 "Allow editors from branch to edit only content related to branches"
On various sales calls we faced the question about if it is possible to allow editors from branch to login to the site and edit only "their" content.

[2018-10-18 18:57] jwtechdesign opened #1345 "Setting Up Search Feature in Carnation Theme"
After enabling the included `Search` module, the search feature in the main menu of Carnation & Rose (magnifying glass icon) still leads to a page 404.  After some research, here's how to fix it:

**[Step 1]**  Ensure that the "Search" module is enabled.  The D8 search module's default content search URL happens as `/search/node`, so ...

**[Step 2]**  I edited the code that placed that search ico

[2018-10-18 19:45] YMCA-GTC commented on #1345
Assigning to IXM for resolution in Q1 2019

[2018-10-18 19:46] YMCA-GTC commented on #1344
@podarok Don't we do something like this on YGTC? If so, let's backport that in. If not, I'll add this to the roadmap.

[2018-10-18 19:55] YMCA-GTC commented on #1338
@jimparo We removed the Google Translate browser bar from the YGTC site. It resolves this issue and should be backported soon. Take a peek and let me know if you feel that this will work for you as the browser bar is redundant. https://ymcamn.org

[2018-10-18 19:56] YMCA-GTC commented on #1338
@podarok Let's get our feature of hiding the Google Translate browser bar backported into Carnation, Lily and Rose for the 1.14 release please.

[2018-10-18 19:58] #1316 closed, assigned to ddrozdik

[2018-10-18 19:58] YMCA-GTC commented on #1316
Thank you for all of your work on this @ddrozdik !

[2018-10-19 20:24] YMCA-GTC commented on #1338
Also note the backport should include changing the design of the dropdown to what YGTC has so that it will work properly on mobile devices.

[2018-10-21 03:50] jwtechdesign commented on #1275
Sorry for the delay on this.  Submitted a PR a few moments ago ([here](https://github.com/ymcatwincities/openy/pull/1346)) - please let me know if I've done that correctly or if you need anything updated - will be glad to do so.  Thanks.

[2018-10-22 13:46] denisbilchenko commented on #1336
Hi @akaleMulder, could you please provide some info from dev tools (Chrome) maybe some errors in it. Also what version of vuejs did you use vue.js or vue.min.js?

[2018-10-23 09:56] ddrozdik commented on #1069
I'm closing this since after switching to Open Y packages in the Open Y 2.0, this issue is not relevant anymore.

[2018-10-23 09:56] #1069 closed, assigned to podarok, ymcagtc

[2018-10-23 11:49] ddrozdik commented on #1045
@podarok , @YMCA-GTC we've prepared a new structure with all the known menu items from all Open Y modules https://docs.google.com/document/d/1OoHpNe9A-Yy2eltPU0jviW5qTay4GKfNy-CzAuOxmsI/edit# . Please review and let us know if you would like to change anything.

[2018-10-23 11:51] podarok commented on #1045
Looks good. Just better naming for GroupEX Pro menu items for less confusion needed
Thanks a lot @ddrozdik

[2018-10-23 13:26] ddrozdik opened #1348 "Language Selector in Admin UI"
I moved the conversation with @podarok from https://github.com/ymcatwincities/openy/pull/1347 to this issue:

History:

I bet we should make EN as default language in all UI forms in admin interface for not confusing und and en in database. Remember - this needs comprehensive testing

 by default, Open Y has only one language and language selector is disabled everywhere. We are not quite sure unde

[2018-10-23 13:38] ddrozdik commented on #1348
@podarok Thanks for bringing up this topic.

I understood your concern, let me provide a little bit more details:
- If you have only one language in Drupal, all content(i.e. nodes) is creating using default language and not UND.
- If you have only one language in Drupal all core language selectors do not work and display data for any selected option.

The issue we fixed in PR #1347 is related to u

[2018-10-23 14:33] YMCA-GTC commented on #1045
Makes sense - but we for sure will want to have a tutorial video explaining the change, and some good documentation we can direct people to that's hosted on the message board at https://community.openymca.org because we have 26 sites as of Q3 2018 already using Open Y and need to ensure we aren't causing them significant confusion.

[2018-10-23 16:21] nikitapogrebnyak opened #1351 "Alerts visibility issues"
Limiting alerts visibility to certain pages doesn't work properly. If I open a page that is configured to show a particular alert immediately after I saved the alert node, I can see it appearing on the page. However, if I open another page which is not in the list and then I go back to allowed page, I don't see alert anymore.

[2018-10-23 16:42] YMCA-GTC commented on #1351
Marked as important. Assigned to IXM for resolution by the next release.

[2018-10-25 13:43] hamrant opened #1353 "1.13.2 release issues"
1. Wrong version in [openy.info.yml](https://github.com/ymcatwincities/openy/blob/8.1.13.2/openy.info.yml#L5)

2. Missed `openy_repeat.natsort` library (see [openy_repeat.libraries.yml](https://github.com/ymcatwincities/openy/blob/8.1.13.2/modules/custom/openy_repeat/openy_repeat.libraries.yml#L18))
[code]
`library-davekoelle/alphanum` also should exist in composer.json:
[code]
this fixed in https

[2018-10-31 19:09] #974 closed, assigned to podarok, danylevskyi

[2018-11-05 07:32] podarok commented on #973
@ddrozdik this was a finding I thought would be cool to have for easy of understanding how paragraphs are rendered before creating the node.

[2018-11-05 18:22] algisinfo opened #1364 "Project not supported (Message on Status Page)"
Hello,

Why do I get this message, related to OpenY, on the update page of Drupal:
Project not supported: This project is no longer supported, and is no longer available for download. Disabling everything included by this project is strongly recommended!

Can I use OpenY with the latest stable version of Drupal (8.6.2 now)?

Thank you.
Sorry if this is not the place for this questions.
Can you poi

[2018-11-06 07:57] podarok commented on #1364
@algisinfo which project is not supported on your site, could you please provide more details?
Latest version of OpenY has no such message on Status Page, which I'm assuming you have some module/package outdated on your particular instance
We are work in progress for the updating Drupal Core from 8.4.x to 8.6.x and expecting it to be done Q1 next year. 8.4.x core still reliable and has LTS about s

[2018-11-06 08:25] hamrant commented on #340
Also we need this for docksal

[2018-11-06 11:26] algisinfo commented on #1364
OpenY appears as not supported on the updates page.
![openy_not_supported](https://user-images.githubusercontent.com/966364/48061132-9a1a7700-e1c6-11e8-93ec-3028dc74dd47.jpg)
Had just opened this page:
drupal_domain/admin/reports/updates

I have Drupal 8.3.2 now, as that is the one provided with the OpenY packadge.
Can you point to a page where I can find instructions on how to upgrate to 8.4.x an

[2018-11-06 15:01] hamrant commented on #340
Upgrade path command for docksal was implemented here - https://github.com/ymcatwincities/openy-docksal/pull/5

[2018-11-06 16:21] hamrant commented on #340
Install steps command for docksal was implemented here - https://github.com/ymcatwincities/openy-docksal/pull/5

[2018-11-06 16:23] hamrant commented on #340
I think no need to implement this for vagrant, so we can close current issue.

cc @Sanchiz @podarok

[2018-11-06 16:27] alexschedrov commented on #340
@hamrant @podarok those installation types should be already in place in the CIBox.
https://github.com/ymcatwincities/openy-cibox-build/blob/master/reinstall.sh
https://github.com/ymcatwincities/openy-cibox-build/blob/master/reinstall_install.sh
https://github.com/ymcatwincities/openy-cibox-build/blob/master/reinstall_upgrade.sh

So, issue can be closed.

[2018-11-06 16:27] #340 closed, assigned to nobody

[2018-11-07 10:07] #1348 closed, assigned to nobody

[2018-11-07 11:03] ddrozdik opened #1367 "Promoting the Open Y community from within the Open Y distribution"
The idea came up after reading this blog post https://dri.es/promoting-the-drupal-community-from-within-the-drupal-software

I agree with Dries that this is a very good idea and this post has brought me to an idea create a similar thing in Open Y where will be a page `About Open Y`, its philosophy, key contacts, and list of key contributors(this could be a list of agencies and independent develope

[2018-11-07 11:05] ddrozdik commented on #1367
cc @ygerasimov , @podarok , @Sanchiz , @AndreyMaximov, @YMCA-GTC, @ymcagtc, @danylevskyi

[2018-11-08 07:21] podarok commented on #1367
Great idea
Through release management I'm coming to the same thing, technically.
I guess this should be highly integrated with GitHub where we can pull all needed information automatically. I don't want us to spend a lot of time for updating this content.

[2018-11-08 14:12] #1045 closed, assigned to ddrozdik

[2018-11-09 08:45] podarok commented on #1364
Hi @algisinfo
Please have a look in Wiki we have some helpful information for how to upgrade https://github.com/ymcatwincities/openy/wiki/OpenY-upgrade-how-to-for-Developers
I'd suggest to go version by version without skipping to get to latest OpenY

[2018-11-09 13:57] alexschedrov opened #1371 "Tutorial how to install Cachet"
Would be great to create tutorial how to upload Cachet font to the website.
Different themes use different names for font-family:
- Open Y Rose - "Cachet W01 Book"
- Open Y Carnation - "Cachet"
- Open Y Lily - "Cachet"

Given that, Rose's font family should be changed to "Cachet" and then single tutorial should be created.

[2018-11-09 15:28] alexschedrov opened #1374 "Carnation and JS aggregation"
When JS aggregation is enabled on the Carnation theme, then JS cannot properly process methods `Drupal.behaviors.openyMoveBanners`, `Drupal.behaviors.openyMoveBreadcrumbs` and `Drupal.behaviors.openyMoveHeaderAlerts`.

[2018-11-09 15:29] alexschedrov opened #1375 "Carnation and search"
By default Carnation theme has search icon in the header. Since Open Y doesn't have search built-in, I suggest to suppress this icon.

![image](https://user-images.githubusercontent.com/1316234/48271423-fb4f7e00-e444-11e8-845e-0d94c336bd98.png)

[2018-11-15 19:45] #1364 closed, assigned to podarok

[2018-11-20 09:10] alexschedrov opened #1388 "Programs and Sub-Categories have wrong breadcrumbs"
For some reason Programs and Sub-Categories have wrong breadcrumbs.
![image](https://user-images.githubusercontent.com/1316234/48762969-e2e92a00-ecb4-11e8-9771-003fb16209c7.png)

[2018-11-21 09:43] alexschedrov opened #1389 "Carnation mobile menu and map on Locations and Join pages"
In the Carnation theme map is being displayed above the mobile menu on Locations and Join pages.

It blocks the user from being able to navigate through the website via Mobile Menu. I recommend fixing the position of the map.

![image](https://user-images.githubusercontent.com/1316234/48832718-789ebb00-ed82-11e8-908b-9d53ac9ec499.png)
![image](https://user-images.githubusercontent.com/1316234/4883

[2018-11-21 12:10] miroslav-lee opened #1390 "Clean up excess of openy_schedules module"
Remove non existent views "specific_alerts_block" of` SchedulesSearchForm.php` file.

![code](https://user-images.githubusercontent.com/24233384/48840273-3637a700-ed9f-11e8-9051-d4961e61fd4f.png)
![code](https://user-images.githubusercontent.com/24233384/48840312-4a7ba400-ed9f-11e8-8373-7ec908901440.png)

[2018-12-02 15:13] anpolimus commented on #1336
@akaleMulder , @podarok I need test-case that reproduce this issue.
I was trying to get it on my local but cant find it.

[2018-12-03 12:58] podarok commented on #1336
@akaleMulder https://www.ymcagbw.org/schedules/group-exercise?date=11%20Oct%202018&locations=Oscar%20Lasko%20Branch&categories=Child%20Watch
Looks like this is fixed for YMCA of Brandywine, could you confirm?
If yes - would you like to share the code of the fix for @anpolimus to work on adopting for OpenY?

Thanks in advance

[2018-12-03 14:39] alexschedrov commented on #1336
@anpolimus it's possible when you:
1. Select room filter for some location
![image](https://user-images.githubusercontent.com/1316234/49380304-0f239280-f71a-11e8-884b-f52e186d80ae.png)

2. Then select category
![image](https://user-images.githubusercontent.com/1316234/49380256-eb604c80-f719-11e8-8dec-41cd681c54e5.png)

As a result filter by room is being hidden, but it seems still active. And you'

[2018-12-10 07:29] podarok commented on #1292
@ymcagtc @YMCA-GTC this is a bug-improvement, could be assigned to respective team to get it fixed
User story
- I'm a Open Y site customer
- I'm visiting any page on a site to be able to subscribe for news
- I'm filling my email in a footer input and receive no messages about state of subscription after pressing Submit button

Resolution
- I should receive a message on a screen about subscribed in

[2018-12-10 09:57] alexschedrov opened #1399 "Events in the Open Y Rose"
1. Let's make image as required field for event or adjust styles in the Open Y Rose
![image](https://user-images.githubusercontent.com/1316234/49724720-a2a51800-fc72-11e8-96f1-4902303618b3.png)

2. There's no spacing between event teaser on iPad Prod
![image](https://user-images.githubusercontent.com/1316234/49724741-b05a9d80-fc72-11e8-97e8-3df5904ec2f5.png)

3. Mobile/Table layout has two locatio

[2018-12-11 14:29] alexschedrov opened #1403 "Two columns with Sticky Sidebar in Rose, Lily, Carnation does not work"
Layout "Two columns with Sticky Sidebar" in Rose does not work. It's basically same as Two columns with Sidebar, so Sidebar doesn't stick at the top of the page.

[2018-12-11 15:08] denisbilchenko commented on #1389
Hello @Sanchiz ,
What browser and OS did you use when caught this issue? I cannot reproduce it in responsive mode of browser and on Android 9, Chrome.

Thanks.

[2018-12-11 15:17] denisbilchenko commented on #1388
Hello @Sanchiz
Could you please advise, problem is with the long title of node after import(or manually configure)? Or problem is with breadcrumbs and we should use
[code]
for the long title?

Thanks.

[2018-12-18 15:08] YMCA-GTC commented on #1399
Good catch @Sanchiz I'll assign to IXM for estimates.

[2018-12-18 15:10] YMCA-GTC commented on #1390
@podarok @Sanchiz @ygerasimov Can I please get help from one of you on determining if this is a bug, or an enhancement, as well as the severity of this issue? Thank you

[2018-12-18 15:12] YMCA-GTC commented on #1388
@Sanchiz Can you please let us know your thoughts on @denisbilchenko 's comments above so we can prioritize this one appropriately? Thank you!

[2018-12-18 15:13] YMCA-GTC commented on #1374
Assigning to IXM for estimates

[2018-12-18 15:14] YMCA-GTC commented on #1371
@Sanchiz Is this one that 5J would be willing to take on? Please let me know.

[2018-12-18 15:16] YMCA-GTC commented on #1367
@ddrozdik Very good idea. I'll add this to our roadmap.

[2018-12-18 15:24] YMCA-GTC commented on #1367
Added to the roadmap here: https://trello.com/c/xVbRA6Eh/150-better-communication-of-product-roadmap-features-and-capabilities-score-6

[2018-12-18 15:25] YMCA-GTC commented on #1353
@podarok Is this resolved?

[2018-12-18 15:42] YMCA-GTC commented on #1375
Asking IXM for an estimate on this one

[2018-12-18 15:43] YMCA-GTC commented on #1403
Asking IXM for an estimate on this one. Agree that the severity is low.

[2018-12-18 15:43] YMCA-GTC commented on #1389
Asking IXM for estimates

[2018-12-18 16:10] ddrozdik commented on #1375
@YMCA-GTC this is fixed and merged already by FJ team.

[2018-12-18 16:10] #1375 closed, assigned to nobody

[2018-12-18 16:12] ddrozdik commented on #1388
@denisbilchenko This is not about how to support long titles, the issue is in the demo content that creates this ugly breadcrumb.

[2018-12-20 16:41] YMCA-GTC opened #1412 "Alerts issues - Scheduling inconsistencies"
Some Y associations have been reporting that alert content types are sometimes not displaying at the date and time that has been selected when the alert block has been scheduled for display.

This is not something happening across all sites - but enough have reported it that it justifies investigation.

[2018-12-20 16:42] YMCA-GTC commented on #1412
Assigning to IXM

[2018-12-21 13:53] anpolimus commented on #1351
@nikitapogrebnyak this happens because there are no context filter logic at alerts view in case if reference field is not empty.

[2018-12-29 10:29] hamrant commented on #1353
First item was fixed in next releases (8.x-1.14 and 8.x-2.0-beta.1).
2 and 3 items also fixed, so we can close this issue.

[2018-12-29 10:29] #1353 closed, assigned to podarok, AndreyMaximov

[2019-01-03 08:02] afi13 opened #1421 "Remove deprecated 'entity.query' service from Drupal\openy_repeat\RepeatManager class"
The `Drupal\openy_repeat\RepeatManager` class has a dependency on `entity.query` service which is deprecated in Drupal 8.3.0.
But also the class has a dependency on the entity type manager service, so we can easily remove `entity.query` from the class and use entity type manager instead.

[2019-01-04 13:14] denisbilchenko commented on #1388
In the pull request #1222 were changed yaml files of node session, node class and node activity. Also it was deactivated 'no_stub' option to create stub entities. These entities have ugly title, because it was generated. Also they are covered by pathauto config and have alias '/program', so that they exist in the breadcrumbs.
I've changed 'no_stup' option in the modules/openy_features/openy_demo_c

[2019-01-07 22:12] YMCA-GTC opened #1423 "Time not displaying properly for some events when using Carnation theme"
See this thread on Open Y Slack for details. https://openy.slack.com/archives/C6G4ZTLVC/p1546894459018400

GRYMCA has an event that is scheduled from 10a - 12p, but the display on their site says 3p - 5p. It is 5 hours off. After some brief debugging, @ygerasimov feels this is a simple bug with Carnation that we should fix, with the details in the Slack thread above.

Please also check that this i

[2019-01-08 09:24] anprok commented on #1315
Fixed in 8.x-2.x.

[2019-01-08 09:24] #1315 closed, assigned to alexschedrov, ddrozdik

[2019-01-08 09:28] anprok commented on #1229
Issue fixed and merged to 8.x-1.x

[2019-01-08 09:28] #1229 closed, assigned to alexschedrov

[2019-01-08 15:48] alexschedrov opened #1428 "Breadcrumbs are cut off on location finder in Carnation"
Breadcrumbs are cut off on location finder in Carnation when alerts are closed:

![image](https://user-images.githubusercontent.com/1316234/50841431-677b2f00-136d-11e9-828b-2288227a3e9d.png)

Desired appearance:

![image](https://user-images.githubusercontent.com/1316234/50841486-84176700-136d-11e9-8ac5-ea3734fd4a1f.png)

[2019-01-08 15:51] alexschedrov opened #1429 "Grid Content component in Carnation"
Grid Content component doesn't use setting "Style" and just displays as many elements per row as created.

It should display exact about or items per row as selected in "Style" field.

![image](https://user-images.githubusercontent.com/1316234/50841723-00aa4580-136e-11e9-88df-c83a65264eaf.png)

[2019-01-08 22:40] anpolimus commented on #1351
My first investigation results: this is totally caching issue.
Alert node update is not triggering update of view content.
We need to think a little bit about invalidation of views cache tags after node update.

[2019-01-09 10:19] anprok commented on #1211
Issue fixed in referenced PRs.

[2019-01-09 10:19] #1211 closed, assigned to anprok

[2019-01-09 12:53] #1428 closed, assigned to nobody

[2019-01-09 12:54] ddrozdik commented on #1421
@ygerasimov @kolesnikoff  FYI  ^^
cc @podarok

[2019-01-09 14:10] podarok commented on #1421
go ahead and remove it

[2019-01-10 16:21] ygerasimov opened #1439 "PEF GroupEx Pro -- cancellations, substitutions"
Current integration with GroupExPro doesn't handle cancellations nor substitutions. Would be great to implement these.

[2019-01-10 17:00] YMCA-GTC commented on #1439
Andrii - please backport this in for February from YGTC

[2019-01-10 17:01] YMCA-GTC commented on #1439
Andrii to discuss with @ygerasimov offline to ensure no conflicts

[2019-01-11 08:13] afi13 opened #1443 "CircleCI tests always failed"
Hello,

Looks like CircleCI tests don't work anymore and always failed in PRs.
Example: https://circleci.com/gh/ymcatwincities/openy/1587?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

It would be nice to fix them or completely remove. The current state is confusing.

[2019-01-11 08:14] afi13 commented on #1443
@podarok @ddrozdik FYI

[2019-01-11 11:14] hamrant commented on #675
Field `config_property` from ` openy_config_upgrade_logs` used for storing last updated property during OpenY update, it's not related to any conflict and only provides information what exactly should have been updated.

Anyway in new openy_upgrade_tool version this field will be removed, so this issue can be closed.

cc @podarok @ddrozdik

[2019-01-11 11:14] #675 closed, assigned to nobody

[2019-01-14 14:55] anpolimus commented on #1412
Fix for this issue is under test here: https://github.com/ymcatwincities/openy/pull/1441

[2019-01-14 14:56] anpolimus commented on #1351
My PR with fixes for this issue is merged here: https://github.com/ymcatwincities/openy/pull/1435

[2019-01-15 11:09] #1351 closed, assigned to anpolimus

[2019-01-15 20:09] afi13 opened #1446 "Use namespaced dependencies in .info.yml"
According to https://www.drupal.org/node/2000204 all dependencies should be namespaced in the format: {project}:{module} in .info.yml file. For example "drupal:file"

[2019-01-15 20:15] ddrozdik opened #1447 "How to update libraries in the repository?"
We need to update documentation for developers on how to work with libraries `drupal-library` from composer.json to support composer installation.
At this moment whenever we add changes to the list of libraries in the openy `composer.json` we have to repeat similar changes in the https://github.com/ymcatwincities/openy-project. Otherwise, development builds will fail.

[2019-01-15 21:35] YMCA-GTC commented on #1447
Agreed - @podarok let's make this a priority. I'll add a basecamp ticket for you.

[2019-01-15 21:37] YMCA-GTC commented on #1446
@podarok can I get your insight on this one, please? Is this a bug, and what is the severity?

[2019-01-15 21:38] YMCA-GTC commented on #1443
@podarok can you please help me determine severity?

[2019-01-15 21:39] YMCA-GTC commented on #1429
Assigning to IXM for resolution

[2019-01-15 21:40] YMCA-GTC opened #1448 "Small Banner in header - content area can overlap the alert in Rose if there is too much text"
Low severity issue. See screenshot

![image](https://user-images.githubusercontent.com/17653329/51211685-eaefcf80-18db-11e9-81bd-4b993288fc3f.png)

[2019-01-16 10:13] podarok commented on #1443
@Sanchiz could you remove circleci integration completely?

[2019-01-16 10:15] podarok commented on #1446
@afi13 I agree
Let's convert info files whenever we touch them in our PRs
No need to spend time specifically on optional thing

[2019-01-16 10:23] podarok commented on #1447
@ddrozdik could you share initial docs?

[2019-01-16 16:49] YMCA-GTC commented on #1439
To clarify - when a class is canceled, it will be removed from the schedule within a few minutes of the cancelation happening in the Group Ex system - once that data has synced to the schedule interface/PEF.

For a class to display in schedules AFTER being canceled, the GroupEx content admin should simply rename the class as "Canceled" in parenthesis such as "Yoga (canceled)" to avoid customer con

[2019-01-16 19:31] ddrozdik opened #1451 "Open Y 2.0: New Alerts issues"
I found some issues with new ReactJs based alerts.

1. Alert link changed position in comparison to the sandbox version. Is it ok? see screenshot below
![image](https://user-images.githubusercontent.com/6285570/51270641-8b2a1f00-19d6-11e9-82d6-315699c00c44.png)
2. Arrow Icons on the right side became a bit of grey and for a few pixels moved down, see screenshot above.
3. In the console(Open Y Rose

[2019-01-16 19:32] ddrozdik commented on #1451
cc @podarok, @danylevskyi

[2019-01-16 19:41] ddrozdik opened #1452 "iPad title headers in right sidebar are not responsive"
See screenshot
![image](https://user-images.githubusercontent.com/6285570/51274267-c3822b00-19df-11e9-9826-d116b0e24c07.png)

URL: http://sandbox.openymca.org/programs/swimming

[2019-01-16 20:16] afi13 opened #1453 "Schedules: IE padding issue"
![ie-resp-pef-bug](https://user-images.githubusercontent.com/2179416/51275988-81a7b380-19e4-11e9-9dce-a720b619e63f.png)

Reproducible in IE for window size less than 992px

[2019-01-17 02:36] nikitapogrebnyak opened #1455 "Branch (Today's) hours are being shown incorrectly"
Quite a few Y Centres have been complaining of "Today Hours" showing incorrect times during the weekend and at the beginning of the week. This happens because Drupal's render cache (and/or Varnish cache) keeps showing times from the previous day(s).

[2019-01-17 08:49] podarok commented on #1451
@ddrozdik openy_node_js is deprecated script, should be removed
All other items - correct and need to get fixed before release

EDIT: item 6 is correct, why mentioned as a bug?

[2019-01-17 08:56] podarok commented on #1455
@nikitapogrebnyak
This is not related to OpenY
Please ensure Varnish configured appropriately
For the YGTC we have 1h Drupal cache ttl which gives us 2h maximum update time for Varnish

[2019-01-17 09:03] #1453 closed, assigned to nobody

[2019-01-17 09:39] ddrozdik commented on #1452
Assigned to @fivejars

[2019-01-17 11:25] ddrozdik opened #1459 "How to work with PRs and builds?"
Based on feedback from people who joined development teams recently we see a lack of documentation that will provide basic information to answer such questions:
- How to work with builds?
- How to create a build for my PR?
- Why some builds are created automatically and some not?
- When builds are deleted from the server?
- Who should I contact in order to get logs from the server?
- Who should I

[2019-01-17 11:33] ddrozdik commented on #1459
cc @podarok , @YMCA-GTC

[2019-01-17 11:54] podarok commented on #1451
https://github.com/ymcatwincities/openy/pull/1458

Item 3 is fixed
Theming issues will be fixed next week @ddrozdik

[2019-01-17 12:54] podarok commented on #1459
Working on this
Thank you

[2019-01-17 13:44] podarok commented on #1459
@ymcagtc @YMCA-GTC here is a doc https://3.basecamp.com/3608022/buckets/6003462/documents/1536605817 work in progress. Help reviewing it before posting in OpenY wiki

[2019-01-17 15:51] nikitapogrebnyak commented on #1455
@podarok
Well, from what I've heard from the Y centres' representatives, this is quite sensitive information, and "Today's Hours" must show correct times every time when visitor opens branch page, and therefore it should not depend on cache settings.
In case with YGTC - Cora McCorvey branch, for example. If cache has been invalidated on Saturday at 11:59pm, everyone who opens branch page on Sunday

[2019-01-17 15:54] podarok commented on #1455
@nikitapogrebnyak that's why we have 1 hour TTL
1h is enough for schedules as we found
not 1day

[2019-01-17 15:55] podarok commented on #1455
@nikitapogrebnyak another option - we have installed purge module to purge varnish cache on node update
Works like a charm

[2019-01-17 17:03] YMCA-GTC commented on #1455
If there is a code based fix for this, IXM will backport it for February release.

[2019-01-17 18:15] nikitapogrebnyak commented on #1455
@podarok "purge" indeed is a good module when the content depends on node update. In this case, however, "Today's Hours" doesn't require a node update. According to the name, it should be a dynamic element, which shows working hours based only on the moment of time when a visitor opens branch page.
@YMCA-GTC We do have a code-based fix for this issue. I'll find someone to create a pull-request.

[2019-01-17 19:11] hamrant opened #1462 "Errors on configs import in 8.x-2.x"
After merging new ReactJs based Alerts to the 8.x-2.x branch, we noticed errors which are related to alert blocks.
[code]
This issue brokes upgrade tool and config update/import. Also, I received feedback from developers who tried to test the 2.x update on several production websites and they noticed the same issue.

Steps to reproduce:
- [ ] Get fresh installation of Open Y 8.x-2.x
- [ ] Login as

[2019-01-18 09:50] ddrozdik commented on #1462
cc @podarok , @danylevskyi

[2019-01-18 10:00] podarok commented on #1462
Hi @hamrant and @ddrozdik
This is weird and looks like unrelated

Please check
https://github.com/ymcatwincities/openy/tree/8.x-2.x/themes/openy_themes/openy_rose/config/install
There are no block's configs you mentioned in your message
as well as here https://github.com/ymcatwincities/openy/tree/8.x-2.x/modules/openy_features/openy_node/modules/openy_node_alert/config/install
no
views.view.alerts

[2019-01-18 10:02] podarok commented on #1462
Testing https://github.com/ymcatwincities/openy/pull/1463

[2019-01-18 10:09] hamrant commented on #1462
@podarok I got this during testing upgrade path from 8.x-1.x to 8.x-2.x with upgrade tool fixes.
And also on  OpenY 8.x-2.x fresh install. I will double check this now and I'll let you know if I find a specific reason.

[2019-01-18 10:55] hamrant commented on #1462
@podarok on 8.x-2.x fresh installation all works fine. So issue only on upgrade path from 8.x-1.x to 8.x-2.x. I will continue investigation and provide more details. Thanks for help.

[2019-01-18 10:55] podarok commented on #1459
FAQ is initiated
Please check here
https://github.com/ymcatwincities/openy/wiki/Development-FAQ

[2019-01-18 12:42] podarok commented on #1462
@hamrant this definitely fixes one issue of having non needed panelizer dependency
https://github.com/ymcatwincities/openy/pull/1463
Please check

[2019-01-18 12:50] hamrant commented on #1462
@podarok Wow, thanks. Looks great, I will double check this on local and close this issue if all ok.

[2019-01-18 12:58] podarok commented on #1462
@hamrant and welcome to the club of Drupal config initiative haters.... )))

[2019-01-18 15:21] hamrant commented on #1462
@podarok I have checked upgrade path with your fix and all works as expected, thanks for help!

[2019-01-18 15:21] #1462 closed, assigned to podarok, danylevskyi

[2019-01-18 18:50] jwtechdesign opened #1467 "Inconsistent Breadcrumbs in Carnation"
In the Carnation theme, breadcrumbs on program pages, program subcategory and landing pages will sometimes use "Current page" as the page title (and the last item in the breadcrumb), instead of the actual page's title.  For example, on a landing page called "Military Added Benefits" here is the breadcrumb showing:

<img width="649" alt="image" src="https://user-images.githubusercontent.com/3237246

[2019-01-18 18:53] YMCA-GTC commented on #1467
This one is tricky to reproduce, but has now been reported by two agencies. Assigning to IXM to resolve.

[2019-01-18 20:16] aaronjchristian commented on #1467
Ah okay, so I can explain why this is happening and what I did to alleviate the issue.

The short of it all, we are replacing titles in the active breadcrumb which are over 20 characters in length with "Current Page".

This is to prevent the breadcrumbs from breaking onto 2 lines on tablet devices since this uses a "tabbed" arrow style of design.

When you start to drill down into the programs/act

[2019-01-19 01:29] jwtechdesign commented on #1467
Got it! Thank you for the response, @aaronjchristian.  This makes sense, and now with your explanation I see that logic in the openy_carnation.theme file.

It would seem, then, that this is NOT a bug and is actually functioning just as expected.  @YMCA-GTC, looks like we can probably downgrade this, if not close it out.  Thanks again!

[2019-01-19 01:29] #1467 closed, assigned to aaronjchristian

[2019-01-19 02:41] aaronjchristian commented on #1467
No problem @jwtechdesign!

Yes if you wish to override or revert this sort of feature, you can do so in your custom child-theme by writing your own **hook_preprocess_breadcrumb()** function inside **your_theme.theme** file.

Hope that helps!

[2019-01-22 17:11] alexschedrov commented on #1443
@podarok @afi13 removal of `.circleci` in the root folder should disable integration.

[2019-01-23 15:27] YMCA-GTC commented on #1451
@podarok @ddrozdik I consider this important and would like to see it resolved for the Feb 12 release please.

[2019-01-23 17:46] YMCA-GTC opened #1473 "Alert CMS placement confusion"
When I setup an alert and choose header placement, the "confirmation" page that displays when I save it shows that the placement is in the footer. It actually DOES display in the header correctly, but this might cause some confusion for other OpenY users.

![image](https://user-images.githubusercontent.com/17653329/51626099-6a952400-1f04-11e9-8b29-71c007ec7185.png)

![image](https://user-images.gi

[2019-01-24 07:50] miroslav-lee opened #1474 "Layout issue in the amenities block on the Locations page"
When I open the Location page with a width of 768 px, the Amenities block has some layout issues, see screenshot

![default](https://user-images.githubusercontent.com/24233384/51662743-d7bcbe00-1fc5-11e9-9c1f-3ad015ef3e5a.png)

[2019-01-24 16:20] YMCA-GTC commented on #1474
Thank you for the feedback. While I concede that this is ugly, it is a feature enhancement and not a bug as it is not preventing the site from being used. We will add it to our backlog.

[2019-01-25 12:34] podarok commented on #1451
@ddrozdik all issues fixed. Please check

[2019-01-25 17:56] ddrozdik commented on #1451
@podarok PR has been already merged. I suppose you have tested it. thanks.

[2019-01-26 05:28] YMCA-GTC commented on #1455
Thank you @nikitapogrebnyak much appreciated!

[2019-01-26 05:32] YMCA-GTC opened #1481 "Default font on Carnaton landing pages is purple when it should be black"
See attached screenshots.

Reproduction steps:

- Start with a vanilla install of 1.14.1 Carnation
- Create new landing page
- In content area, create 1 column paragraph
- Add text such as "this is some sample text" in the paragraph description.
- Note that the font will appear purple when the page is loaded for both anon and authenticated users.

Expected behavior: font to appear black by default

[2019-01-26 05:36] YMCA-GTC commented on #1481
Assigning to IXM to resolve. Hoping to have this fixed for the 2/12 release.

[2019-01-28 21:54] KylieAldridge opened #1482 "Google Translate breaks date header in schedules"
Translating into a different language breaks the date header on schedules. The date selector in filters shows the correct date while the header doesn't not change.
![image-5](https://user-images.githubusercontent.com/36514293/51868959-2048e400-2304-11e9-8c88-6f9a1ac44bd8.png)

[2019-01-29 10:37] #1451 closed, assigned to podarok

[2019-01-29 14:56] ddrozdik opened #1484 "matchHeight library generates error in the admin panel and on some Open Y pages"
I noticed that after adding matchHeight library in the PR https://github.com/ymcatwincities/openy/pull/1477 on some pages on console there are errors from this line https://github.com/ymcatwincities/openy/pull/1477/files#diff-3923a2603d1958614d744ac3a5ecd12bR10

Steps to reproduce:
1. Build a new Open Y 2.0 build
2. Login as admin
3. Go to /admin/content page
4. check the console(inspect code -> C

[2019-01-29 14:57] ddrozdik commented on #1484
cc @podarok , @danylevskyi

[2019-01-30 15:42] podarok commented on #1484
Fixed https://github.com/ymcatwincities/openy/pull/1490

[2019-01-30 15:42] #1484 closed, assigned to podarok

[2019-01-30 15:44] podarok commented on #1482
@Shuklina @danylevskyi here is a code how to skip element from translation https://stackoverflow.com/a/9629628/3027445

[2019-01-30 15:46] #1459 closed, assigned to podarok

[2019-01-30 16:20] podarok commented on #1482
@KylieAldridge are you working on the issue?

[2019-01-30 16:47] KylieAldridge commented on #1482
@podarok yes it's been assigned to @anpolimus internally!

[2019-01-31 13:44] anpolimus commented on #1481
@podarok What is your test workflow here?
Do I need to change status for this thicket? Please help.
Thank you.

[2019-01-31 17:11] ddrozdik opened #1496 "Notice in alerts"
After upgrading YGTC site to the latest version we discovered a notice in logs, see below:

`Notice: Trying to get property of non-object in Drupal\openy_node_alert\Plugin\rest\resource\AlertsRestResource->get() (line 151 of /var/www/docroot/profiles/contrib/openy/modules/openy_features/openy_node/modules/openy_node_alert/src/Plugin/rest/resource/AlertsRestResource.php) `

[2019-01-31 17:11] ddrozdik commented on #1496
cc @podarok , @danylevskyi

[2019-02-02 08:37] anprok commented on #380
This issue is fixed for builds by updating cache rebuild drush command  https://github.com/ymcatwincities/openy-cibox-build/pull/4
For installed site this problem is not relevant so can be closed.

[2019-02-02 08:40] #380 closed, assigned to nobody

[2019-02-04 11:40] podarok commented on #1496
fixed

[2019-02-04 11:40] #1496 closed, assigned to podarok

[2019-02-07 17:48] aaronjchristian commented on #1299
Hey @podarok, it's been a little while, but are you able to elaborate a bit more on your thoughts for moving this forward?

Are you thinking of something in the install step or would this be done via config/admin?

Thank you!

[2019-02-09 11:28] anprok commented on #1342
Pull Request merged. Issue can be closed.

[2019-02-09 11:28] #1342 closed, assigned to ygerasimov

[2019-02-09 11:31] anprok commented on #1256
PR merged. Issue can be closed,

[2019-02-09 11:31] #1256 closed, assigned to podarok

[2019-02-09 11:36] anprok commented on #883
PR merged. Issue can be closed.

[2019-02-09 11:36] #883 closed, assigned to nobody

[2019-02-09 11:41] #1159 closed, assigned to kolesnikoff

[2019-02-12 11:19] ddrozdik opened #1512 "Avoid using custom packages with drupal-library type"
During work on upgrading contributed libraries in the Open Y, we have faced an issue that we have to support changes in two repositories in the https://github.com/ymcatwincities/openy/blob/8.x-2.x/composer.json#L23 and in the https://github.com/ymcatwincities/openy-project/blob/8.2.x-development/composer.json#L28. Any library should be updated in both repositories always at the same time otherwise

[2019-02-12 11:20] ddrozdik commented on #1447
can be closed, this is not relevant anymore, see https://github.com/ymcatwincities/openy/issues/1512 for details.

[2019-02-12 11:20] #1447 closed, assigned to podarok, ddrozdik

[2019-02-13 07:22] podarok opened #1516 "openy_node.module alter makes Site Information page submit not working"
When someone tries to edit site name or slogan or any other information on ```admin/config/system/site-information``` - submit never works.
After removing alter function https://github.com/ymcatwincities/openy/blob/8.x-2.x/modules/openy_features/openy_node/openy_node.module#L48 - form become working

See https://github.com/ymcatwincities/openy/pull/1517

[2019-02-13 09:39] podarok commented on #1516
Fixed. Thanks @ddrozdik and @miroslav-lee for the quick reaction.

[2019-02-13 09:39] #1516 closed, assigned to ddrozdik, miroslav-lee

[2019-02-13 15:49] YMCA-GTC commented on #1512
@Sanchiz @ddrozdik Hey guys - good topic to bring up! Ping me on slack please so we can get a quick call scheduled between you 2 and @podarok to have this discussion.

[2019-02-14 17:39] podarok commented on #1481
@anpolimus if you see PR merged - feel free to close respective ticket if you see me failing to do that )))

[2019-02-14 17:39] #1481 closed, assigned to anpolimus

[2019-02-15 20:21] bran commented on #1455
Linking to PR: https://github.com/ymcatwincities/openy/pull/1521

[2019-02-18 11:00] vitaly-malashevsky opened #1523 "UnexpectedValueException on event page due to incorrect date conversion"
There is a rare case when event page dies due to an unhanded exception `UnexpectedValueException - The created date does not match the input value.`, coming from here  https://github.com/ymcatwincities/openy/blob/8.x-2.x/modules/openy_features/openy_node/modules/openy_node_event/openy_node_event.module#L59
This happens for the DST dates only. Eg: `2019-03-09T21:30:00 America/New_York` -> gets inco

[2019-02-25 14:52] alexschedrov opened #1533 "Carnation theme - hardcoded color for grid columns"
Carnation has hardcoded color rules for the grid columns. The logic is the following:
- 1st item - green
- 2nd item - yellow
- 3rd item - black title and green button
- Rest of the items - black title and green button
- Last item - red

![image](https://user-images.githubusercontent.com/1316234/53345480-af561580-391d-11e9-870d-1907863edfeb.png)

[2019-02-26 12:04] podarok opened #1536 "Fix custom hardcoded behavior from YGTC"
https://github.com/ymcatwincities/openy/commit/04184a6d2a7e5d7e8b33b76c0eac0de2bd8d4971

[2019-02-26 12:05] AndreyMaximov commented on #1536
https://github.com/ymcatwincities/openy/commit/19ea9f7630dfe36d969f2eb7c5d62acc767573a7

[2019-02-27 12:07] AndreyMaximov commented on #1536
https://github.com/ymcatwincities/openy/commit/348f391e4b838d34385e6e17e4609427c03054a5

[2019-02-28 16:54] podarok commented on #1536
Fixed

[2019-02-28 16:54] #1536 closed, assigned to danylevskyi

[2019-03-01 17:24] ygerasimov opened #1540 "Activity Finder. Press Enter to submit search"
When I am on Programs Search page, entering text to search textfield and pressing Enter does not trigger search, but it should. So there is no need to click on magnifying glass button.

[2019-03-03 20:42] aaronjchristian opened #1543 "(Carnation) Update logo.svg"
Update the themes logo.svg so we can apply the "fill" attribute on our path element when transitioning the navbar from a dark background to a light one, or vice versa.

[2019-03-05 08:44] afi13 opened #1544 "Composer is locked on wrong versions"
Looks like `composer.lock` file was not updated in the last release and we have a different version of packages in `composer.json` and lock files:

| composer.json                 | composer.lock        |
| ----------------------------- | -------------------- |
| `"drupal/core": "~8.6.10"`    | `"version": "8.6.7"` |
| `"drupal/paragraphs": "~1.6"` | `"version": "1.5.0"` |
| `"drupal/metatag": "~1

[2019-03-07 05:45] AndreyMaximov opened #1546 "Add sourceMap files or remove references"
I found a couple of places where there are references to css/js source map files, but the files are missed.

https://github.com/ymcatwincities/openy/blob/8.x-2.x/modules/openy_features/openy_node/modules/openy_node_alert/js/openy-alerts/build/static/js/main.js#L2
https://github.com/ymcatwincities/openy/blob/8.x-2.x/modules/openy_features/openy_node/modules/openy_node_alert/js/openy-alerts/build/st

[2019-03-11 11:34] vitaly-malashevsky opened #1547 "Leaflet map's init loops forever if no location pins provided"
Sometimes map fails to operate normally in case of zero location items (empty array) provided to the module.
It repeatedly triggers the following error message `Uncaught Error: Map container is already initialized.` in js console.

![image](https://user-images.githubusercontent.com/8169225/54121010-ff46d900-4401-11e9-9a10-63612991294e.png)

Based on the stack the issue is in the _setInterval_ call

[2019-03-14 20:07] YMCA-GTC commented on #1421
@ddrozdik @podarok Did this end up getting resolved?

[2019-03-14 20:10] YMCA-GTC commented on #1388
@podarok Can you please help me figure out next steps on this one? Thanks!

[2019-03-14 20:14] YMCA-GTC commented on #1197
Assigned to @podarok to investigate further on a resolution if needed.

[2019-03-14 20:24] ddrozdik commented on #1388
@YMCA-GTC as far as I remember we fixed this in the Open Y 2.0. Let's close.

[2019-03-14 21:18] YMCA-GTC commented on #1547
Hi @podarok can you please assess this issue and help us determine the severity? From there, we will assign as appropriate for resolution.

[2019-03-14 21:28] YMCA-GTC commented on #1544
@podarok Was this resolved? If so, please close this ticket. Thanks!

[2019-03-14 21:32] YMCA-GTC commented on #1543
Hi @aaronjchristian I agree - I've added this to the roadmap. But I see you self-assigned this, does that mean you are taking this on and will contribute this change into Open Y? If so - thank you! If not, please let me know so I can make sure we get to it via other means.

[2019-03-15 07:40] ddrozdik commented on #1421
@afi13 what the status of this issue?

[2019-03-15 08:08] afi13 commented on #1421
Still not fixed.

[2019-03-15 10:48] podarok commented on #1390
This code is deprecated, could be removed any time. Not used now at all, we've updated alerts to decoupled version.

[2019-03-15 10:49] podarok commented on #1388
This is fixed in 2.0
Closing

[2019-03-15 10:49] #1388 closed, assigned to podarok

[2019-03-15 10:49] podarok commented on #1310
done, thanks

[2019-03-15 10:49] #1310 closed, assigned to SanyokMedved

[2019-03-15 10:50] podarok commented on #1306
Thanks, fixed

[2019-03-15 10:50] #1306 closed, assigned to SanyokMedved

[2019-03-15 10:52] podarok commented on #1299
I think we should just enable rendering of the component and make it somehow looking not ugly @aaronjchristian
No need to any steps during installation - user will be able to see demo content and decide if this is fine to be used or no.
So enabling/disabling - approached via simple content edit.
Makes sense for you @aaronjchristian ?

[2019-03-15 10:55] podarok commented on #1197
@ddrozdik looks like by default there is no any daxko connection which leads to error.
Daxko client is not perfect, I believe it still experimental. It was introduced by @ygerasimov team and this is a good topic for discussion on some of our next calls @YMCA-GTC

As a requirement for the task to be done - ```any client from any integration should catch Exceptions with proper messages to content ma

[2019-03-15 11:01] podarok commented on #1547
@YMCA-GTC this is an edge case when 0 locations within a system. Technically - no one should have this situation, there is no sense to have location finder with 0 locations, but from architecture standpoint we should cover all edge cases and limit min and max number of possible locations for security/maintainability reasons.
So @vitaly-malashevsky good catch, thank you, but I would consider this a

[2019-03-15 11:02] podarok commented on #1544
This was fixed. Thank you!

[2019-03-15 11:02] #1544 closed, assigned to podarok

[2019-03-15 15:32] aaronjchristian commented on #1543
Hi @YMCA-GTC, yes I have actually completed this for another Y project I am working on, I just need to find a bit of time to port it over. I should have some time next week to do so!

[2019-03-15 19:01] ygerasimov opened #1552 "groupex_form_cache__field_gfc_response grows a lot"
On our site we have a lot of data in groupex_form_cache__field_gfc_response table. At some point module got enabled and takes a lot of space.

![image](https://user-images.githubusercontent.com/294265/54455791-e5ff9e80-4719-11e9-858b-8c1035bf3716.png)

For my case -- I am not using it at all and simply uninstalling it.

Suggest we have some cron job that cleans up these records regularly.

@podaro

[2019-03-15 19:32] #1540 closed, assigned to nobody

[2019-03-16 10:36] alexschedrov commented on #1389
@denisbilchenko I used the latest Google Chrome on MacOS.

[2019-03-16 10:42] alexschedrov commented on #1371
@YMCA-GTC I see two solutions:

------------------------
1. Create documentation/video as is using "Cachet W01 Book" in Rose and Retention Campaign themes and "Cachet" on the other themes.

**Pros**
- Easy
- No changes in the code

**Cons**
- Inconsistency

----------------------
2. Fix the issue and use "Cachet" as the name and update all places where "Cachet W01 Book" is being used https://githu

[2019-03-18 17:22] podarok commented on #1552
@ygerasimov
on YGTC site we are running groupex cache clear more often ( every 15 minutes ) to avoid database overload
[code]
It is also described in respective module's README, how to deal with the module

[2019-03-21 10:41] vitaly-malashevsky opened #1553 "Search doesn't work on events page"
When accessing events page http://sandbox.openymca.org/events and trying to search something - nothing happens. Network tab shows HTTP 500 error for the ajax post request.
![image](https://user-images.githubusercontent.com/8169225/54747366-5eada180-4bd7-11e9-8b12-29db72c269f5.png)

The error comes from the view's query saying:

As a temporary solution **Content: Rendered entity** can be unchecked

[2019-03-21 10:56] podarok commented on #934
This one is fixed by OpenY 2.0 core 8.6+

[2019-03-21 10:56] #934 closed, assigned to podarok

[2019-03-21 11:41] podarok commented on #1553
Thank you for reporting @vitaly-malashevsky
@ddrozdik @Sanchiz I recall your team was working on adding Events to the OpenY repository
Any issues from your end?

[2019-03-21 11:47] ddrozdik commented on #1553
@podarok Events were added to the Open Y repository by IMX team, at least from what I see here https://github.com/ymcatwincities/openy/pull/1013

[2019-03-21 12:25] vitaly-malashevsky opened #1554 "WSOD on the Map settings page"
There is an error while trying to access http://sandbox.openymca.org/openy/settings/openy_map related to the missing route **geolocation.settings** with the messsage: `Symfony\Component\Routing\Exception\RouteNotFoundException: Route "geolocation.settings" does not exist.`

The error comes from https://github.com/ymcatwincities/openy/blob/0f69ff3b551502254cf70a368260456bbe2b6e95/modules/custom/ope

[2019-03-21 12:45] podarok commented on #1553
@kolesnikoff @ygerasimov do you have any issues on your end?

[2019-03-25 09:23] podarok commented on #808
fixed by core

[2019-03-25 09:23] #808 closed, assigned to podarok

[2019-03-25 09:25] podarok commented on #676
This is done
![image](https://user-images.githubusercontent.com/563412/54908507-bbb79900-4ef0-11e9-97e2-3b5d0d0be51c.png)

[2019-03-25 09:25] #676 closed, assigned to hamrant

[2019-03-25 09:58] podarok commented on #437
Due to low activity in regards of external sprints I believe description and the title of the issue enough for now. We'll extend this once needed.

[2019-03-25 09:58] #437 closed, assigned to alexschedrov, danylevskyi

[2019-03-25 10:04] podarok commented on #438
This was already implemented. I'm not sure we backported from Dallas, but we definitely leveraged an idea to have DEMO content in Open Y via Drupal core migrations

[2019-03-25 10:04] #438 closed, assigned to danylevskyi

[2019-03-25 10:08] podarok commented on #404
I don't think we need this now. This is mostly related to DevOps and hardly dependent from the in company culture. So I'm closing this for now.

[2019-03-25 10:08] #404 closed, assigned to danylevskyi

[2019-03-25 13:46] #690 closed, assigned to nobody

[2019-03-25 13:54] podarok commented on #461
No need to make this because we have builds. Once yml files are good - site is working. Once broken - site is not working. Having additional checkers is overkill which makes no sense

[2019-03-25 13:54] #461 closed, assigned to nobody

[2019-03-25 17:19] podarok commented on #677
@hamrant any input from your end?

[2019-03-25 17:20] hamrant commented on #677
@podarok this issue can be closed. `uuid` and `_core` params now ignored by upgrade tool.

[2019-03-25 17:20] #677 closed, assigned to nobody

[2019-03-25 17:22] podarok commented on #677
Thanks

[2019-03-26 12:19] vitaly-malashevsky opened #1556 "Terms and Conditions triggers a warning after platform upgrade to v2.0"
We've just upgraded to v2.0 and got this warning in admin area:

, coming from brand new [Terms of Use](https://github.com/ymcatwincities/openy/pull/1418) feature that was intended to popup during the site installation w/o problems.

![image](https://user-images.githubusercontent.com/8169225/54996493-1f65c300-4fd2-11e9-9939-ca492dea6c12.png)

In our case it gets called from a route `openy_system.o

[2019-03-26 14:29] YMCA-GTC commented on #1554
I agree, this is critical. We are looking into a point release ASAP to resolve this.

[2019-03-26 16:19] YMCA-GTC commented on #1556
@Sanchiz @akaleMulder can you investigate this issue and resolve, please?

[2019-03-26 16:23] YMCA-GTC commented on #1552
@podarok do we need to make a change to the code within Open Y for vanilla installs so they don't face this issue? If a default setting is causing a module to be enabled, that was otherwise intended to NOT be enabled, and that module is causing a problem for people such as taking up memory, then I consider it a bug.

[2019-03-26 16:27] YMCA-GTC commented on #1547
I'm asking IXM to take this on along with the other map fixes tonight (March 26). Unless @vitaly-malashevsky has already implemented a fix that's awaiting a merge

[2019-03-26 16:29] YMCA-GTC commented on #1523
@podarok Can you please help me assess the severity of this issue?

[2019-03-26 16:30] YMCA-GTC commented on #1543
That's great news @aaronjchristian Thank you very much for your help with this!

[2019-03-26 16:32] YMCA-GTC commented on #1553
I have asked IXM for an update. I consider this a normal severity as it is not impacting live Open Y sites, but does impact the ability of associations to evaluate Open Y via the sandbox.

[2019-03-26 16:33] YMCA-GTC commented on #1547
Setting severity to normal given the edge-case nature of the issue per @podarok

[2019-03-26 16:40] YMCA-GTC commented on #1443
@podarok Can you please update this when you have a moment? Thank you!

[2019-03-26 16:44] YMCA-GTC commented on #1389
IXM will be taking this on shortly.

[2019-03-26 17:04] YMCA-GTC commented on #1556
5J has flagged the pull request for merging and we expect this to be resolved soon.

[2019-03-26 17:19] ddrozdik commented on #1452
this issue has been fixed in the 2.0 release.

[2019-03-26 17:19] #1452 closed, assigned to miroslav-lee

[2019-03-26 17:23] alexschedrov commented on #1452
CC @YMCA-GTC

[2019-03-26 19:56] YMCA-GTC commented on #1554
We are planning a point release to resolve this by March 27, 2019

[2019-03-26 19:58] YMCA-GTC commented on #1533
@paige-kiecker Can you please add this to the Trello roadmap? The ability to custom set the color for the grid columns.

[2019-03-26 20:02] YMCA-GTC commented on #1473
Asking IXM for an estimate

[2019-03-26 20:06] YMCA-GTC commented on #1446
@podarok Do we have documentation in our Wiki for this to establish the best practice? If so, let's close this out. Thanks!

[2019-03-26 20:08] YMCA-GTC commented on #1421
@afi13 You have my permission to make this change if you'd like :)

[2019-03-26 20:10] YMCA-GTC commented on #1390
@podarok Is this something simple you can fix? I also want you to help me set the severity of this.

[2019-03-26 20:12] YMCA-GTC commented on #1371
@Sanchiz Let's go with #1 for now as we will eventually merge the Rose and Lily themes someday hopefully.

[2019-03-26 20:13] YMCA-GTC commented on #1336
This one is in process of being resolved and will be part of the future point release for Activity Finder

[2019-03-26 20:14] YMCA-GTC commented on #1173
Asking IXM for an estimate

[2019-03-26 20:15] YMCA-GTC commented on #1323
@ygerasimov can we please get a comment from you on this when you have time?

[2019-03-26 20:16] YMCA-GTC commented on #1335
Agreed. @paige-kiecker can you please add this to the roadmap?

[2019-03-26 20:18] YMCA-GTC commented on #1308
@ygerasimov can we please get an update on this one? Thanks!

[2019-03-26 20:39] #1455 closed, assigned to nobody

[2019-03-26 20:39] ygerasimov commented on #1323
Our programs structure is

* Program
* Program sub-category
* Activity
* Class
* Session

GXP module imports Classes and Sessions.

So we need to place them under some Activity (Group Exercise Classes) and this is where this setting is coming from.

Under Paragraph's settings we need to provide that Activity.

Here is an example from Western North Carolina. All GXP are imported under Group Exercis

[2019-03-26 20:40] ygerasimov commented on #1308
Pull request with this request has been merged. So issue can be closed.

[2019-03-26 20:40] #1308 closed, assigned to ygerasimov

[2019-03-26 21:23] YMCA-GTC commented on #1337
I agree - @paige-kiecker please add this to the roadmap.

[2019-03-26 21:41] YMCA-GTC commented on #1323
@podarok this seems like something we need to create a Wiki article for in our github documentation. Do you agree?

[2019-03-26 21:43] YMCA-GTC commented on #1455
@podarok tells me this is resolved, so I am closing it for now.

[2019-03-27 07:09] #1412 closed, assigned to anpolimus

[2019-03-27 07:10] #1429 closed, assigned to aaronjchristian

[2019-03-27 07:10] #1399 closed, assigned to nobody

[2019-03-27 09:00] podarok commented on #279
@siadw do you have any updates on this.
Looks like since you posted this issue we received no issues from other OpenY community players.
Did you have a chance to ask this question or find similar issues in drupal-vm community, which is pretty large.

[2019-03-27 09:07] podarok commented on #381
@Sanchiz I don't think we should move messages to homepage after installation. Way more useful is to show them once appeared
I don't think users, installing OpenY interested in info/debug messaged you mentioned. Only those, developing OpenY interested in receiving them. But receiving them afterwards is confusing if you are in the middle of the process of debugging or discovery.
If this ticket is a

[2019-03-27 09:13] podarok commented on #383
@Sanchiz this is more wider topic than just a homepage change.
First of all - we have a lot of places where installation without demo content makes no sense. E.g. required fields, with references to taxonomy vocabulary which was not installed, because DEMO content skipped during installation.
Demo content needs review and split to optional and required. Required should be installed no matter what

[2019-03-27 09:30] podarok commented on #386
This is a frontend/UX issue.
I guess this is mostly for review/architecture process documentation and agency/company development culture as well as some sort of development standardization we follow.
To get this task finished would you mind us gather some sort of best practices in relation to Drupal/ReactJS/Vue.js/Angular and content placeholders ( critical CSS we implemented recently in YGTC ) wh

[2019-03-27 09:46] podarok commented on #388
@YMCA-GTC @Sanchiz we have this already in place https://github.com/ymcatwincities/openy/blob/8.x-2.x/composer.json#L133

[2019-03-27 09:46] #388 closed, assigned to nobody

[2019-03-27 10:04] ddrozdik commented on #1512
UPD:
As the next step to continue work on this we need to discuss the following topics:
- Were there any issues with asset-packagist.org or not? @hamrant reported he had some troubles in the past. Investigate https://github.com/fxpio/composer-asset-plugin this is another thing could be used.
- Decide what to do with Panel Button and Color Button. We can't fork them according to their license. Ther

[2019-03-27 11:01] jediandrey commented on #1547
![Locations | Site-Install 2019-03-27 12-58-59](https://user-images.githubusercontent.com/39241474/55071036-3834ae00-5090-11e9-957e-76d72c4b666c.jpg)

I can't reproduce this issue with no location on /locations page and leaflet map. Are there any specific steps to reproduce?

[2019-03-27 15:55] alexschedrov commented on #383
@podarok the issue has been created 2 years ago, March 22, 2017. It should be completely revisited.

We need to have some statistic to make the decision on how often people install distro without demo content.

[2019-03-27 16:07] #1556 closed, assigned to alexschedrov, akaleMulder

[2019-03-27 16:19] podarok commented on #1546
Fixed

[2019-03-27 16:19] #1546 closed, assigned to nobody

[2019-03-27 16:19] podarok commented on #1554
fixed

[2019-03-27 16:19] #1554 closed, assigned to nobody

[2019-03-27 19:01] paige-kiecker commented on #1533
This has been added and linked in the roadmap. Closing out here to reduce redundancies.

[2019-03-27 19:13] paige-kiecker commented on #1337
Added to roadmap and linked here. Closing out the issue to reduce redundancies.

[2019-03-27 19:13] #1337 closed, assigned to YMCA-GTC, paige-kiecker

[2019-03-27 19:19] paige-kiecker commented on #1335
Added to roadmap and linked here for reference. Closing out to reduce redundancies.

[2019-03-27 19:19] #1335 closed, assigned to paige-kiecker

[2019-03-27 20:03] YMCA-GTC commented on #381
I am closing this - I believe a lot of these messages were added to the homepage already. Further only advanced users doing a self-install will see these messages, thus I consider this lower priority. We can return to this in the future if needed.

[2019-03-27 20:03] #381 closed, assigned to nobody

[2019-03-27 20:49] YMCA-GTC commented on #386
Sounds good to me @podarok . Could you lead the effort to gather the folks you listed to have a brainstorm on technologies that can achieve this desired impact?

[2019-03-28 09:15] vitaly-malashevsky commented on #1553
@YMCA-GTC, I'm sure it does impact the live sites too, especially those built based on openy profile w/o significant modifications. The bug was discovered exact on such site (not live yet but in pre-launch phase already). The sandbox reference was given only to demonstrate the issue.

[2019-03-29 07:11] podarok commented on #389
I guess having Standard, Extended, and Custom OpenY installation types we fixed this issue. There is no large list of paragraphs when you are using Standard. For the edge cases let's keep this decision to respective OpenY adopters with Extended and Custom

[2019-03-29 07:11] #389 closed, assigned to nobody

[2019-03-29 07:15] podarok commented on #423
@YMCA-GTC this is a low priority issue. Unless @ddrozdik point us to the issue with stability or security. This is a Development Experience(DX) issue which should be fixed alongside with some bigger, well planned refactoring or during decoupling. If DX is blocking us in performance - let us know @hamrant @ddrozdik @Sanchiz

[2019-03-29 07:17] podarok commented on #427
@YMCA-GTC @ymcagtc I think this is a backlog task for the future. Nobody requested this since Houston team mentioned as a wish on some call in the past. Low demand.

[2019-03-29 07:18] podarok commented on #441
Membership part will be fully overhaul - I don't think we need to spend time for small fixes

[2019-03-29 07:18] #441 closed, assigned to nobody

[2019-03-29 07:20] podarok commented on #442
@hamrant could you add a bit more business need to this change. Maintenance/Design wise - having same image style for different places makes a lot of sense. I don't think adding additional style improves somehow a flow.

[2019-03-29 07:22] podarok commented on #463
I don't think we'll have resources for fixing this on our end. This is for Drupal core.
As a Best Practice suggestion - field naming should be a bit more complicated for not confusing system with equal names once upgrading. Which is already in OpenY in a pretty good shape.
Closing.

[2019-03-29 07:22] #463 closed, assigned to podarok, alexschedrov, danylevskyi

[2019-03-29 07:41] podarok commented on #467
Initial documentation
=====

If you have your Drupal 8 site with a bunch of custom and contrib modules down below please find initial steps you'd need to make to migrate from vanilla Drupal to OpenY distribution

- update your site - Drupal core to same version, used in OpenY, as well as respective contrib modules.
- Create inventory of custom modules and copy them into some folder like store/modu

[2019-03-29 07:47] podarok commented on #899
I guess latest version of upgrading OpenY for developers includes all generic needed steps https://github.com/ymcatwincities/openy/wiki/OpenY-upgrade-how-to-for-Developers#upgrade-to-open-y-2x-version
There is a document how to upgrade from 0.2 to 1.14 and then to decent OpenY 2.0
Closing the ticket. Open if you want to continue working on it as an improvement.

[2019-03-29 07:47] #899 closed, assigned to nobody

[2019-03-29 07:53] podarok commented on #636
There were no requests for demand of this feature.
Closing for now. Let's open once Dallas team decided to decouple and backport it into OpenY or when demand increased

[2019-03-29 07:53] #636 closed, assigned to nobody

[2019-03-29 08:26] ddrozdik commented on #423
agree, a low priority issue

[2019-03-29 08:59] alexschedrov commented on #467
@AndreyMaximov @hamrant @afi13 please review and provide your feedback on the suggested plan above ^^. You've updated many non-Open Y websites to the latest versions of Open Y.

[2019-03-29 09:36] hamrant commented on #442
@podarok as far as I remember this related to decoupling, ideally, we can't have a dependency to program subcategory in blog feature. According to [installation_types](https://github.com/ymcatwincities/openy/blob/8.x-2.x/openy.installation_types.yml) programs and blog located in 'complete' type, therefore, it is not very critical, but if we want to enable blog without programs in 'standard' or 'ex

[2019-03-29 09:36] #442 closed, assigned to nobody

[2019-03-29 18:25] ddrozdik opened #1564 "Failed to execute unzip on the MacOs during Open Y installation"
I've executed the command `composer create-project ymcatwincities/openy-project:8.2.x-dev  --no-interaction` to install Open Y and during installation, I noticed the following error
[code]

Looks like this is just MacOs related issue.

[2019-03-29 18:37] podarok commented on #1564
Hi
Supporting macos as a hosting platform could be very tough. Should we open Pandora's box?

[2019-04-01 07:32] podarok commented on #931
@AlexNetman which best practices you are following by suggesting these changes?
I'd like to rely on some technology standards here

[2019-04-01 08:08] podarok commented on #904
@mattshoaf we've updated recently our documentation https://github.com/ymcatwincities/openy/wiki/OpenY-upgrade-how-to-for-Developers
Feel free to to try and let us know if there are any issues

[2019-04-01 09:34] podarok commented on #856
On YGTC , during migration we managed to add redirects to .htaccess file instead of having the app(OpenY) responding to redirects. This is more for reasonable number of redirects. If there is a list of 1000+ - then yes, makes sense to work on migration.
We(Open Y) have no blockers to add redirects migration, we are using Drupal core migration for demo content, so
 having same Demo Redirects conten

[2019-04-01 09:44] fandm commented on #856
Hi @podarok,
No, I have not. I was working on YMCALi more than a year ago, so I don't remember even any migration of redirects.

[2019-04-03 14:01] paige-kiecker commented on #973
@podarok is this the same as https://github.com/ymcatwincities/openy/issues/980? Can we close this one out?

[2019-04-03 14:03] podarok commented on #973
Yes @paige-kiecker , thanks

[2019-04-03 14:03] #973 closed, assigned to podarok, danylevskyi

[2019-04-03 14:10] paige-kiecker commented on #1020
Closing this out to clean up redundancy. It was added to roadmap (https://trello.com/c/B7VXJ0Ng/126-backport-ygtc-theme-settings-into-lily-score-7) with a link back to this ticket.

[2019-04-03 14:10] #1020 closed, assigned to podarok, danylevskyi, ymcagtc

[2019-04-03 14:32] paige-kiecker commented on #1143
Closing this to reduce redundancies. It is on roadmap linking back here.

[2019-04-03 14:32] #1143 closed, assigned to nobody

[2019-04-03 14:52] paige-kiecker commented on #1152
Closing out for redundancies. This is on the roadmap and references back here.
https://trello.com/c/j74r66zY/131-location-page-improvements-on-tablet-breakpoints-score-8

[2019-04-03 14:52] #1152 closed, assigned to nobody

[2019-04-03 15:13] paige-kiecker commented on #1165
Closing out this enhancement request as it's on roadmap (https://trello.com/c/ALxhy5Iv/134-membership-selection-auto-focus-score-8)

[2019-04-03 15:13] #1165 closed, assigned to nobody

[2019-04-03 15:47] mattshoaf opened #1566 "Feature Request: Bulk Update Upgrade Log Dashboard"
The site I'm developing has translations, so a lot of entities are flagged as changed in the openy upgrade log at `admin/openy/development/upgrade-log/dashboard`. It would be more efficient to be able to be able to bulk update config items, ideally each config would have a checkbox and you could bulk update them all to "Current Config" or "Open Y Version"

I was able to clear over 200 of them when

[2019-04-03 17:43] paige-kiecker commented on #1367
Closing this out to reduce redundancy. Task is on roadmap linking back here
https://trello.com/c/xVbRA6Eh/150-better-communication-of-product-roadmap-features-and-capabilities-score-6

[2019-04-03 17:43] #1367 closed, assigned to YMCA-GTC

[2019-04-05 08:23] podarok commented on #969
We gave up with Behat in favor of Cypress.
Closing

[2019-04-05 08:23] #969 closed, assigned to podarok

[2019-04-05 08:25] podarok commented on #983
This was fixed by Drupal core 8.6
No need to reinvent the wheel. We still use block_content as is without performance issues on 3000+ blocks.

[2019-04-05 08:25] #983 closed, assigned to podarok, danylevskyi

[2019-04-05 08:26] podarok commented on #1131
IN OpenY 2.0 we have completely decoupled Alerts app which has no issue with caching at all.
Closing.

[2019-04-05 08:26] #1131 closed, assigned to podarok, danylevskyi

[2019-04-05 08:27] podarok commented on #1093
This is done

[2019-04-05 08:27] #1093 closed, assigned to danylevskyi

[2019-04-05 08:36] podarok commented on #1096
Carnation
![image](https://user-images.githubusercontent.com/563412/55614568-fabdd800-5795-11e9-8868-0971aed3f506.png)

[2019-04-05 08:37] podarok commented on #1330
@Sanchiz any updates on this task?

[2019-04-05 08:38] podarok commented on #1235
Fixed

[2019-04-05 08:38] #1235 closed, assigned to kolesnikoff

[2019-04-05 08:41] podarok commented on #1307
@mikemuller looks like we need your help to enlighten places where you faced with an issue
Could you help?

[2019-04-05 08:42] podarok commented on #1266
@ddrozdik any updates on this?

[2019-04-05 08:44] podarok commented on #1275
Thank you @jwtechdesign
Fixed

[2019-04-05 08:44] #1275 closed, assigned to jwtechdesign

[2019-04-05 08:45] podarok commented on #992
Fixed

[2019-04-05 08:45] #992 closed, assigned to podarok

[2019-04-05 09:07] podarok commented on #1096
Rose - needs fix
![image](https://user-images.githubusercontent.com/563412/55616796-4fb01d00-579b-11e9-80e1-65f2eac2ff76.png)

[2019-04-05 09:08] podarok commented on #1096
Lily - needs fix
![image](https://user-images.githubusercontent.com/563412/55616871-7c643480-579b-11e9-9a0f-9bffca219143.png)

[2019-04-05 09:17] podarok commented on #1344
@YMCA-GTC we have this in YGTC - we have
Location Schedules editing functionality
![image](https://user-images.githubusercontent.com/563412/55617204-3f4c7200-579c-11e9-8e80-791d220458e6.png)
This includes editing for the block which contains schedule ( Non OpenY code, legacy code, non applicable here )

Location Working Hours
![image](https://user-images.githubusercontent.com/563412/55617286-6f941

[2019-04-05 09:20] podarok commented on #1101
Confirmed in all 3 themes.
Looks like a regression, we had this working in the past

[2019-04-05 09:30] podarok commented on #1063
We had this discussion in the past.
Instead of adding more complexity to Gallery component and fighting with maintenance we have built more universal solution - Date Component.
In case if there is a need for changing/adding slides into Gallery - via Date Component content manager could create a new gallery with changes slides for respective date range section within Date Component

@ygerasimov @yg

[2019-04-05 10:39] alexschedrov commented on #1330
@AndreyMaximov @hamrant please give a status update on this and what has been included into the Open Y 2.0 release.

[2019-04-05 10:51] hamrant commented on #1330
@Sanchiz @podarok I only know about these 2

- hook_openy_repeat_results_alter
- hook_query_openy_repeat_get_data_alter

See https://github.com/ymcatwincities/openy/pull/1486

Anyway, they are clearly not enough, for example, hook_alter can be implemented here:
- https://github.com/hamrant/openy/blob/29f540fb8012977159d378e442403e35ca365554/modules/custom/openy_repeat/src/Controller/RepeatControll

[2019-04-05 14:53] podarok commented on #1330
Nice, thank you @hamrant

I see that we need a user story here and a correct tagging
@AndreyMaximov @Sanchiz could you write a user story for me and @YMCA-GTC @ymcagtc @paige-kiecker to be able to include in Trello?
Thank you in advance

[2019-04-05 17:40] paige-kiecker commented on #1566
Thanks for flagging this, @mattshoaf. We are looking into it and will post updates here on any optimizations to the process.

[2019-04-05 21:03] mattshoaf commented on #1566
Thanks, I need to update that issue, using that delete process actually breaks updates later because config changes aren't appropriately flagged. If I come up with a different workaround or pull request, I'll post it here.

[2019-04-06 18:31] ygerasimov opened #1567 "New alerts (React component) -- placement, template"
I have a problem with YMCA WNC site regarding alerts. New javascript place alerts under the header
https://github.com/ymcatwincities/openy/blob/42a96117bee4907cc121041e8fbade886515932b/modules/openy_features/openy_node/modules/openy_node_alert/js/openy-alerts/src/index.js#L60

In my case alerts should be placed above the header, so I had to hack the javascript.

Also, is there a way to change the

[2019-04-08 10:26] podarok commented on #1567
@ygerasimov-imagex @ygerasimov is there any chance to use CSS for placement?

[2019-04-08 15:44] ygerasimov commented on #1567
@podarok not for placement. This would involve more clutter than just patching the javascript.

Can we adjust javascript not to place wrapper for react component but rather place it with twig file? Then it will be easy to override on a theme level.

[2019-04-09 14:45] podarok commented on #1567
@ygerasimov-imagex @ygerasimov I guess we could
We should extend it to look for available wrapper and skip adding own in case if wrapper exists on a page.
Feel free to extend it - should be 3-5 lines of code, I assume

[2019-04-09 17:55] anprok opened #1568 "Modal window content padding in OpenY Lily theme"
At this moment we have top padding 0 in Lily theme. @AlexNetman proposed to make it bigger ? It's related to YGTC site.

![image](https://user-images.githubusercontent.com/16559938/55823164-cdf92000-5b09-11e9-98d2-33f2b31581d0.png)

[2019-04-10 10:18] #1568 closed, assigned to nobody

[2019-04-10 14:05] Fant0m771 opened #1570 "SQL error when node program_subcategory edit and try to save."

[2019-04-10 14:10] podarok commented on #1570
![image](https://user-images.githubusercontent.com/563412/55885896-6ac3c800-5bb3-11e9-8be0-046c07fa3000.png)
Tested on a sandbox - no issues
Could you provide more details about error you are facing with @Fant0m771 ?

[2019-04-10 14:10] Fant0m771 commented on #1570
When trying to save existing program_subcategory and you do not have Activity which using current program_subcategory you will see SQL error  Drupal\Core\Entity\EntityStorageException: Query condition 'node__field_class_activity.field_class_activity_target_id IN ()' cannot be empty. in Drupal\Core\Entity\Sql\SqlContentEntityStorage->save() (line 805 of /mnt/www/html/ymcatrianglevdmwy6nczq/docroot/

[2019-04-10 14:44] Fant0m771 commented on #1570
Fix is [here](https://github.com/ymcatwincities/openy/pull/1571)
cc: @podarok

[2019-04-11 12:04] SanyokMedved commented on #1389
![adaptive_ff](https://user-images.githubusercontent.com/11158496/55955531-5db5e000-5c6a-11e9-9951-27db30ad5754.png)
<img width="478" alt="chrome_iphone_7" src="https://user-images.githubusercontent.com/11158496/55955533-5db5e000-5c6a-11e9-9449-fb952dfb1722.png">
<img width="429" alt="chrome_mob_view_iphone6" src="https://user-images.githubusercontent.com/11158496/55955534-5db5e000-5c6a-11e9-9838-

[2019-04-12 11:48] #1570 closed, assigned to nobody

[2019-04-12 13:23] paige-kiecker commented on #1566
assigning this to 5J to resolve

[2019-04-12 15:55] podarok opened #1574 "Missed dropzone.min.js when updating from 2.0.4 to 2.0.7"
In some cases dropzone.min.js missed during upgrade
If you see issues like on screenshots below

![image](https://user-images.githubusercontent.com/563412/56050366-5f5bd280-5d54-11e9-845f-06a5d2b67d00.png)

![image](https://user-images.githubusercontent.com/563412/56050371-64b91d00-5d54-11e9-9760-33b60857474b.png)

Or during upgrade of your db
[code]
Solution:
=====

from within your docroot folde

[2019-04-12 18:46] AndreyMaximov opened #1576 "Slick updates and breaks"
After installing Open Y with `composer create-project` there is an annoying warning
`composer create-project ymcatwincities/openy-project:8.2.x-development-dev MY_PROJECT --no-interaction` :

[code]

This particular change in Slick module breaks the method declaration compatibility:
https://git.drupalcode.org/project/slick/commit/44daf5aaca6a8c1f3ce6f73a231c7a49589a352b#bc3e70b1e77ed4cec312b06f55c

[2019-04-12 19:14] AndreyMaximov opened #1577 "Can't update to Open Y 2.0"
There is a way of upgrading Open Y 1.x to 2.0 that people really use:
- get the code updated by using `composer create-project ymcatwincities/openy-project:8.2.....`;
- roll out customizations over the updated code ;
- run the database updates.

Seems legit.

In fact, it doesn't work because composer pulls the latest versions of contrib modules.

Paragraphs 1.8 is what composer is downloading nowa

[2019-04-15 13:01] alexschedrov commented on #1389
@SanyokMedved I believe this has been already fixed in https://github.com/ymcatwincities/openy/pull/1392

[2019-04-15 20:02] paige-kiecker commented on #428
This was resolved in https://github.com/ymcatwincities/openy/pull/1355. Closing the ticket.

[2019-04-15 20:02] #428 closed, assigned to ygerasimov

[2019-04-15 20:07] paige-kiecker commented on #208
This was resolved in https://github.com/ymcatwincities/openy/pull/1097. Closing out here.

[2019-04-15 20:07] #208 closed, assigned to podarok

[2019-04-15 20:18] paige-kiecker commented on #796
Resolved in https://github.com/ymcatwincities/openy/pull/1062. Closing this out.

[2019-04-15 20:18] #796 closed, assigned to nobody

[2019-04-15 20:19] paige-kiecker commented on #813
Resolved in https://github.com/ymcatwincities/openy/pull/1061. Closing this out

[2019-04-15 20:19] #813 closed, assigned to nobody

[2019-04-15 20:27] paige-kiecker commented on #948
Resolved via https://github.com/ymcatwincities/openy/pull/972. Closing here.

[2019-04-15 20:27] #948 closed, assigned to kolesnikoff

[2019-04-16 07:43] ddrozdik commented on #1266
@podarok no updates so far, but this is still an issue.

[2019-04-16 08:16] AndreyMaximov opened #1579 "The updated alerts module's CSS requires a font but doesn't provide it"
See https://github.com/ymcatwincities/openy/blob/8.x-2.x/modules/openy_features/openy_node/modules/openy_node_alert/js/openy-alerts/build/static/css/main.css#L1

[code]

Can we also have a non-minified version of the file and the minified one renamed to `main.min.css`?

[2019-04-16 12:51] AndreyMaximov commented on #1576
Resolved in #1575

[2019-04-16 12:51] #1576 closed, assigned to nobody

[2019-04-16 13:10] AndreyMaximov commented on #1330
@podarok @YMCA-GTC @ymcagtc @paige-kiecker
There is a PR, that was merged, https://github.com/ymcatwincities/openy/pull/1391. It doesn't fully resolve the issue but makes a big step forward in this direction.

There is also a comment that explains why we couldn't finish the work and what we need to finish it
https://github.com/ymcatwincities/openy/pull/1391#issuecomment-450485039

Sorry @hamrant b

[2019-04-16 13:16] AndreyMaximov commented on #1330
P.S. sorry again @hamrant :-) Your comment and the mentioned changes relate to the issue indirectly.

[2019-04-16 13:51] paige-kiecker commented on #1330
Thanks for the follow up @AndreyMaximov. If you could get that user story to @podarok and me this week, we will get it on our roadmap.

[2019-04-16 13:58] podarok commented on #1579
@AndreyMaximov file is dynamically generated, so request about having non minified - makes no sense
Use this command https://github.com/ymcatwincities/openy/blob/8.x-2.x/modules/openy_features/openy_node/modules/openy_node_alert/js/openy-alerts/package.json#L28
[code]
to get css file recompiled.

[2019-04-16 14:42] AndreyMaximov commented on #1579
Having both minified and non-minified does make sense. The minified versions are hard to review but good to use in production. The non-minified versions are much more human-friendly and easier to review.

Rebuilding the files locally is the same as introducing customizations - nobody wants to maintain them if it's so easy to avoid.

[2019-04-16 14:43] AndreyMaximov commented on #1579
@podarok ^^

[2019-04-16 14:44] podarok commented on #1579
@AndreyMaximov feel free to improve yarn build flow to compile into non minified version of css

[2019-04-16 14:44] podarok commented on #1579
BTW, We need to backport alerts fix from YGTC ( it reduces resulting JS ~50% )

[2019-04-16 14:46] AndreyMaximov commented on #1579
@podarok cool. Glad to hear.

Hopefully, the original question about the font is going to be addressed.

[2019-04-16 18:27] bran opened #1582 "Openy_rose node preview fatal error due to not looking for the correct parameter"
$vars['node_type'] does get set for node previews but there is no 'node' parameter. The preprocess needs to be updated to include 'node_preview' as a parameter.

See: https://github.com/ymcatwincities/openy/blob/fcb08262fe4e3c4233c03d6c7c366ddd28944497/themes/openy_themes/openy_rose/openy_rose.theme#L356

[2019-04-18 14:45] paige-kiecker commented on #1582
Assigned to IXM for resolution

[2019-04-19 08:56] #1582 closed, assigned to nobody

[2019-04-19 13:31] mikemuller commented on #1567
@podarok @ygerasimov We'll need this functionality as well. Our placement and styling of the alerts is a little different. Any ETA on this update?

[2019-04-19 16:26] paige-kiecker opened #1584 "Sandbox site tours refactoring"
Some aspects of the Open Y Sandbox tours are currently not functioning as intended. Additional changes to the Tours have already been made within a Github branch labeled tour_fixes, but these final changes should be committed there before a PR can be submitted.

Details about each fix needed can be found here: https://docs.google.com/document/d/16nDESJitpdbf33G8v-7PTeqCdDMAy6Vj__qFkm8Wi34/edit?usp

[2019-04-22 09:40] alexschedrov commented on #1389
@paige-kiecker the issue may be closed.

[2019-04-22 11:01] #1566 closed, assigned to nobody

[2019-04-25 15:02] paige-kiecker commented on #1389
Closing out, thanks @Sanchiz

[2019-04-25 15:02] #1389 closed, assigned to anpolimus

[2019-04-25 15:33] paige-kiecker opened #1588 "GX Schedules Experience Bug Fixes for OY Sandbox"
There are currently two issues with the filter capabilities on the Open Y group exercise schedules on the Sandbox site

1. Location filter icon is currently broken on Carnation (does not expand when clicked)
2. Some filter icons do not correctly toggle between + and - icons when the field is expanded/collapsed

[2019-04-25 15:33] paige-kiecker commented on #1588
Assigning to IXM for resolution

[2019-04-25 15:36] paige-kiecker opened #1589 "Group Exercise Schedules Experience Backporting from YGTC"
There are 3 enhancements that should be backported into Open Y from the YGTC codebase

1. Floating Next button after selecting location
2. Only display pre-selected locations on expanded locations menu

![image](https://user-images.githubusercontent.com/48487047/56748716-f27a0c80-6745-11e9-9e7d-796b42cb6aaa.png)
![image](https://user-images.githubusercontent.com/48487047/56748749-fc9c0b00-6745-11e

[2019-04-25 18:44] Tigatok opened #1590 "Timezone for teaser view of event node can be messed up"
Was viewing a teaser mode for an event node, and the timezone was set to the UTC vs the drupal config timezone set.

Similar code to below can be used in the openy_node_event.module
[code]

Not sure if this should be a bigger change or if the above can work.

[2019-04-25 19:43] jwtechdesign commented on #1423
Here's a temporary fix that worked for me.  The incorrect time for me shows on the Upcoming Events paragraph section, which uses a View to pull the latest events.  It uses the "Teaser" display to pull those events in the view.  So you'll want to do 2 things:

1) Force the correct timezone on the format display of the Date field, on the "Events" Content Type.  Do that under "Structure > Content typ

[2019-04-29 12:50] podarok commented on #1590
@Tigatok thank you for the report
By default Drupal stores everything in UTC, it is responsibility of OpenY adopter to display it in a correct timezone,
Could you show what was changes in your case to understand if we need to improve it somehow?

[2019-04-30 17:41] paige-kiecker commented on #1374
Resolved with 2.0.9 release

[2019-04-30 17:41] #1374 closed, assigned to anpolimus

[2019-04-30 17:44] paige-kiecker commented on #1577
Resolved in 2.0.9 release

[2019-04-30 17:44] #1577 closed, assigned to nobody

[2019-04-30 17:48] paige-kiecker opened #1593 "Status message box cannot be closed after making page update"
The Status message box that appears after a successful update to a page cannot be closed. The page must be refreshed to remove it.
![image](https://user-images.githubusercontent.com/48487047/56982188-5a659400-6b46-11e9-8f87-2b241bba8a16.png)

Sometimes if the browser window is resized, the box reappears, and the page must be refreshed again to remove the message.

[2019-05-07 08:30] SanyokMedved commented on #1584
changes are here: https://github.com/ymcatwincities/openy/commit/97f442654dcad405977647c13ebf38cf8ec7f004

[2019-05-08 15:11] OlgaBezhenar commented on #1593
Hello @paige-kiecker,

Can you please clarify, is this carnation theme?
Thank you.

[2019-05-08 18:55] paige-kiecker commented on #1593
Hi @OlgaBezhenar the screenshot was from Lily I believe? But I also duplicated the issue in carnation and Rose, so it affects all 3 themes. It is just less noticeable in Carnation and Rose because it is a thin bar along the top or the page rather than a box.

[2019-05-09 15:00] #1584 closed, assigned to nobody

[2019-05-13 16:34] YMCA-GTC commented on #1590
@podarok Do you consider this a bug, or a feature request?

@Tigatok Do you have any updates to @podarok 's request for more information that you could provide to us so we can dig deeper into this?

Thanks!

[2019-05-13 16:36] YMCA-GTC commented on #1589
This is being investigated along with other potential changes based on the AB test that YGTC is performing of the new Open Y schedules against the legacy YGTC schedules that is happening in May 2019

[2019-05-13 16:40] YMCA-GTC commented on #1579
@podarok Do you have any updates on when the YGTC alerts will be backported, so we can close out this ticket? I see it marked as a bug and not an enhancement so I will update the severity.

[2019-05-13 16:42] YMCA-GTC commented on #1553
Thank you for the additional information @vitaly-malashevsky I will upgrade the severity.

[2019-05-14 08:18] podarok commented on #1590
@YMCA-GTC I don't know. This could be a configuration issue of the @Tigatok site.

[2019-05-14 08:19] podarok commented on #1579
Alerts already backported https://github.com/ymcatwincities/openy/pull/1592

[2019-05-14 08:19] #1579 closed, assigned to podarok

[2019-05-14 17:56] Tigatok commented on #1590
So Drupal stores everything as UTC, but there are areas in Drupal where you can specify the timezone you want it to use. In my above code snippet, even though I had set Drupal to use the America timezone, it was still doing its own thing.

[2019-05-15 11:30] podarok commented on #1523
This is fixed in https://github.com/ymcatwincities/openy/pull/1524

[2019-05-15 11:30] #1523 closed, assigned to podarok

[2019-05-15 11:34] podarok commented on #1552
@YMCA-GTC this is covered in respective README as part of how to use the module https://github.com/ymcatwincities/openy/blob/8.x-2.x/modules/custom/openy_group_schedules/modules/groupex_form_cache/README.md#how-to-clear-the-only-stale-cache
So could be closed
Let us know @ygerasimov if this needs something else

[2019-05-15 11:34] #1552 closed, assigned to podarok

[2019-05-15 11:35] podarok commented on #1564
@ddrozdik this is not stopping OpenY from unpacking, right?
This file exists in tests only, so trivial bug we should ask Paragraph's creators to fix.
Correct me if I'm wrong

[2019-05-15 11:37] podarok commented on #1567
@paige-kiecker @ymcagtc ETA for development is 10h.
What should be done
- If there is an alert placeholder on a page - stick Alerts region to it, instead of adding by default after ```<header/>``` and before ```</body>``` tags via JS

Let me know when this needs to be added to OpenY distro

[2019-05-15 13:42] ddrozdik commented on #1564
@podarok this is not a blocker and even not a critical issue, this is just something to investigate what is wrong with it.

[2019-05-15 22:45] bran opened #1598 "Node preview is broken for Landing Pages on Lily"
Try to preview a landing_page node on a site using a Lily based theme.

[2019-05-16 06:27] podarok commented on #1598
@bran is it similar to https://github.com/ymcatwincities/openy/pull/1583 ?

[2019-05-16 17:16] bran commented on #1598
@podarok Yes that's right.

[2019-05-21 18:38] paige-kiecker commented on #1598
@podarok can you assign a severity to this issue? Is it something that can be included in the next point release?

[2019-05-28 14:32] #1598 closed, assigned to nobody

[2019-05-28 16:04] AndreyMaximov opened #1603 "PEF: schedules show different content for the same day"
There are 2 ways to reach the schedule page for a particular day:
- scroll to the day using the arrows;
- pick the day using the date picker and the field in the sidebar.

Sometimes the content is not the same for such pages.

When the page loads the current time is converted to the ISO date string (date + time + timezone) and substituted to the page URL. When you use the arrows the date is change

[2019-05-29 08:13] Fant0m771 opened #1605 "Feature, Extends: Ability add to banner video instead of image."
Ability add to banner video instead of image.

[2019-05-29 08:47] Fant0m771 commented on #1605
Feature PR - https://github.com/ymcatwincities/openy/pull/1606

[2019-05-29 21:49] paige-kiecker opened #1609 "Incorrect Address Display in Schedules Experience"
When a user clicks on a location for a class on the schedules page, the address displays out of order. Address should display in format: [Street, City, State, Country, ZIP].

![image](https://user-images.githubusercontent.com/48487047/58593787-7a65a180-8231-11e9-8641-f25f2f8c5f69.png).

[2019-05-29 21:52] paige-kiecker commented on #1567
@podarok was this addressed with the release of 2.1.1?

[2019-05-29 21:56] paige-kiecker commented on #1605
@podarok can you please look into @Fant0m771's Feature PR when you have a moment?

[2019-06-03 09:34] #1603 closed, assigned to nobody

[2019-06-03 12:58] #1173 closed, assigned to alexschedrov

[2019-06-03 12:59] #1473 closed, assigned to nobody

[2019-06-03 14:36] podarok commented on #1567
@paige-kiecker yes, this was fixed

[2019-06-03 14:36] #1567 closed, assigned to podarok

[2019-06-04 09:44] Fant0m771 opened #1610 "Add missed dependent library to openy_node_alert.libraries.yml"

[2019-06-04 09:45] Fant0m771 commented on #1610
PR with fix and description here - https://github.com/ymcatwincities/openy/pull/1611

[2019-06-04 14:24] Fant0m771 opened #1612 "There is not possible to hide icon in Alert"
There is not possible to hide icon in Alert. The "Icon color" has description like - "Leave empty to hide icon." but in code it it field has predifined "white" value and icon can't be hidden.

[2019-06-04 14:25] Fant0m771 commented on #1612
PR with fix - https://github.com/ymcatwincities/openy/pull/1613

[2019-06-05 13:12] Fant0m771 opened #1615 "Unable to install Campaign theme."
When trying to enable theme Campaign next error appear: `Unable to install openy_campaign_theme due to unmet dependencies: block.block.campaignfootermenu (system.menu.campaign-footer-menu), block.block.campaignmemberregister (openy_campaign)`

[2019-06-06 20:31] paige-kiecker commented on #1610
@podarok can you look into this PR so I can give this ticket the appropriate labels? Thanks!

[2019-06-06 20:31] paige-kiecker commented on #1615
@podarok can you see if you can replicate this issue and help me define the severity?

[2019-06-07 09:09] AndreyMaximov opened #1617 "Core themes don't support output of the branch email on the branch page"
By default, the branch page doesn't output the email field per branch content type display configuration.
None of the core Open Y themes supports the output of the branch email on the branch page neither.

There are requests to for that feature.

[2019-06-07 10:47] #1617 closed, assigned to AndreyMaximov

[2019-06-24 10:59] #1328 closed, assigned to anpolimus, SanyokMedved

[2019-06-24 13:59] anpolimus commented on #1423
@podarok , this PR is merged.
Can we close this issue?

[2019-06-24 15:00] #1423 closed, assigned to anpolimus

[2019-06-25 08:11] afi13 opened #1631 "Open Y Lily theme uses blocks IDs with name of the theme inside for CSS rules."
**Problem**
Lily theme uses blocks CSS selectors which contains the hardcoded name of the theme as ID of elements.
Such approach is not flexible. It creates issues for all sub-themes inherited from Lily. Selectors don't work because any sub-theme has another name and another ID of blocks.
Examples of wrong selectors:
`#block-openy-lily-branding`, `#block-openy-lily-footercopyrightblock`, `#block-o

[2019-06-25 15:50] podarok commented on #1631
@afi13 this is slippery slope
When you implement subtheme what should be more important - to keep base theme branding, or to allow subtheme to provide own.
I guess we can live with current solution, because we don't have any data that proves branding should be inherited in subtheme.
I remember in the past we have a request to rely on theme name to be able to have different experiences for differen

[2019-06-25 16:59] YCO-GIT opened #1633 "Broken Gallery Buttons on Carnation Theme"
Left and right buttons on gallery aren't working at the bottom of this page: http://134.209.45.166/locations/delaware

[2019-06-25 17:49] afi13 commented on #1631
@podarok
A sub-theme inherits all styles from parent theme by default because this is the main point for sub-themes - they inherit the parent theme's resources. But it doesn't work with Open Lily out of the box.
**Example**: You use Open Y with Lily theme on your website. All pages look ok for you, but you want to add small changes in HTML of Branch nodes.
In the current implementation, you can't

[2019-06-25 18:53] dwells-tn opened #1634 "Add field_header_content to program content type"
Carnation makes reference to field.header_content in node--program--full.html.twig @ lines 80-88

`{% if content.field_program_color is empty %}
  {% set color = 'inherit' %}
  {% set bg_color = '' %}
{% else %}
  {% set color = '#' ~ content.field_program_color['#items'].entity.field_color.value %}
  {% set bg_color = 'background-color: '  ~  color %}
{% endif %}
`

Field is not present in @modul

[2019-06-26 12:03] anpolimus commented on #1574
@podarok we had the same issue during 2.x upgrade.

[2019-06-26 12:03] anpolimus commented on #1574
we added library locally but we need to make it working automatically with composer

[2019-06-27 13:47] paige-kiecker commented on #1633
This has been assigned to FJ for resolution

[2019-06-27 14:19] paige-kiecker commented on #1590
Assigning to FJ for resolution

[2019-06-27 14:20] paige-kiecker commented on #1610
This has been resolved

[2019-06-27 14:20] #1610 closed, assigned to nobody

[2019-06-27 14:21] paige-kiecker commented on #1612
This has been resolved

[2019-06-27 14:21] #1612 closed, assigned to nobody

[2019-06-27 14:25] paige-kiecker commented on #1634
@dwells-tn is this currently blocking your use of that content type, or is this just something you discovered and wanted the Core Team to be aware of?

[2019-06-27 14:25] podarok commented on #1615
@Fant0m771
Campaign theme is Experimental feature and disabled by default.
Which project are you trying to enable it for?
Could you provide a bit more context for this?

[2019-06-27 14:28] paige-kiecker commented on #279
This has been resolved, per @podarok

[2019-06-27 14:28] #279 closed, assigned to podarok

[2019-06-27 14:30] podarok commented on #439
This was fixed in different manner - Activity FInder provides us SOLR integration out of the box

[2019-06-27 14:30] #439 closed, assigned to danylevskyi

[2019-06-27 14:31] paige-kiecker commented on #469
This approach has been replaced by enhancements to Program Event Framework

[2019-06-27 14:31] #469 closed, assigned to nobody

[2019-06-27 14:32] paige-kiecker commented on #678
This has been resolved

[2019-06-27 14:32] #678 closed, assigned to kolesnikoff

[2019-06-27 14:36] paige-kiecker commented on #1371
This is now included during installation of multi-step form. @Sanchiz does that solve for this?

[2019-06-27 14:37] paige-kiecker commented on #1338
This has been resolved in the latest OY release, per @podarok

[2019-06-27 14:37] #1338 closed, assigned to podarok

[2019-06-27 14:38] paige-kiecker commented on #1439
This has been resolved, per @podarok

[2019-06-27 14:38] #1439 closed, assigned to podarok

[2019-06-27 14:47] paige-kiecker commented on #1336
This has been resolved by IXM

[2019-06-27 14:48] #1336 closed, assigned to kolesnikoff, anpolimus

[2019-06-27 15:38] alexschedrov commented on #1371
@paige-kiecker the step is there, but it just says go to the form and upload font. There are no instructions on the font names, needed files (Bold, Italic, Regular) and etc.

![image](https://user-images.githubusercontent.com/1316234/60280042-c9732500-990a-11e9-8ba4-9c0b7f0d7069.png)

Eventually for different themes uploaded font should have different names, and there's no documentation for that,

[2019-06-27 15:44] dwells-tn commented on #1634
@paige-kiecker Not blocking content entry. Just making aware. I just added the field_header_content to our program content type. The biggest risk would be if programs had a list display on a site and were pulling from the same Image field as the default banner without an option for two different images.

[2019-07-01 09:05] AndreyMaximov commented on #1633
Hi @YCO-GIT @paige-kiecker

@YCO-GIT is that a vanilla Carnation?
It seems that the Gallery paragraph template was altered.
See, the original markup for carousel navigation arrows have `carousel-control` class:
https://github.com/ymcatwincities/openy/blob/8.2.1.3/themes/openy_themes/openy_carnation/templates/field/field--paragraph--gallery-cta.html.twig#L55
https://github.com/ymcatwincities/openy/

[2019-07-01 14:33] scottdebney commented on #1633
So we haven't modified any of the field twig files, and when I checked the referenced twig file on our installed dist, it looks correct? Is there another place that gallery code is pulled from or an overide somewhere?

![image](https://user-images.githubusercontent.com/5481333/60444617-915e3180-9beb-11e9-8959-bcef595d2ccb.png)

[2019-07-01 15:22] AndreyMaximov commented on #1633
Hi @scottdebney

Please find the file of the custom theme at `<docroot>/themes/<your_custom_theme>/templates/field--paragraph--gallery-cta.html.twig`

`<docroot>` is where `index.php` is located
`<your_custom_theme>` - I'm not sure what is the name of your custom theme, but there is should be something. If there are several directories under `themes` inspect all of them.

The pointed file override

[2019-07-01 18:02] paige-kiecker commented on #1547
Hi @vitaly-malashevsky, are you still experiencing this issue? As you can see, we were unable to reproduce it and will move it to our backlog unless we hear from you. Thanks!

[2019-07-01 18:17] paige-kiecker commented on #1371
@Sanchiz got it. I am going to put this in the backlog for now until we know more about the status of the Rose/Lily merger. Thanks for the update!

[2019-07-01 18:25] paige-kiecker commented on #1307
@mikemuller is this still an issue you are encountering? We are moving it to our Issue backlog until we hear more information from you. Thanks.

[2019-07-01 18:28] paige-kiecker commented on #1298
@podarok can you confirm this fix?

[2019-07-01 18:36] paige-kiecker commented on #1543
Hi @aaronjchristian, were you able to contribute this change to Open Y? I don't see a PR referenced on this issue so wanted to follow up. Thanks!

[2019-07-01 19:40] paige-kiecker commented on #1403
This affects all 3 themes, not just Rose, per https://github.com/ymcatwincities/openy/issues/1101

Closing 1101 out to consolidate to this recent ticket.

[2019-07-01 19:41] paige-kiecker commented on #1101
This was reported again via https://github.com/ymcatwincities/openy/issues/1403 and will be resolved on that ticket. Closing this one.

[2019-07-01 19:41] #1101 closed, assigned to nobody

[2019-07-02 09:43] anpolimus opened #1638 "Google translate link on mobile menu duplicates after multiple hamburger click"
Hi.
We are expecting issue, when at mobile mode user clicks on hamburger menu many time, translation widget is adding many times.

We need to add once check at this place:
https://github.com/ymcatwincities/openy/blob/8.x-2.x/modules/custom/openy_gtranslate/js/openy_gtranslate.js#L36

![image](https://user-images.githubusercontent.com/3023950/60502664-eb7ff500-9cc6-11e9-8962-04dffb45b035.png)

[2019-07-02 16:02] anpolimus commented on #1574
From communication with @podarok : it would be better to implement it as library with links to CDN

[2019-07-03 06:47] Fant0m771 commented on #1615
Hi @podarok,

I have try to enable theme to see how it looks like, that is it! I did it on http://sandbox.openymca.org . Maybe need add some description to theme about "Experimental feature" or do not allow to enable it.

[2019-07-03 07:54] anpolimus commented on #1553
@vitaly-malashevsky is it possible to look into your database error log for better understanding of the source of the issue?

[2019-07-03 08:30] vitaly-malashevsky commented on #1553
@anpolimus Here is a log entry for you:
[code]
And the request looks like this:
[code]

[2019-07-03 13:36] anpolimus opened #1640 "Activity Finder check that field exist required to avoid fatal error"
Hi.
At one of our projects, only branch content type has field_branch_hours field.
at this place there is no check that this field is exist at CT
https://github.com/ymcatwincities/openy/blob/8.x-2.x/modules/custom/openy_activity_finder/src/OpenyActivityFinderSolrBackend.php#L537
This issue produce fatal error in some cases.

[2019-07-07 09:18] bluenodesystems opened #1642 "Installing open Y"
I get this error when trying to install open y using this command
composer require ymcatwincities/openy

[Composer\Downloader\TransportException]
The "http://openy.cibox.tools:4680/packages.json" file could not be downloa
ded: failed to open stream: Connection timed out

[2019-07-07 09:20] podarok commented on #1642
@bluenodesystems we had this issue in our chat recently - it was a firewall blocking access. Could you please check if you have access to the url from the server you are trying to install OpenY?

[2019-07-07 14:20] bluenodesystems commented on #1642
Thanks for this info, the host fixed the issue by doing this
I'm glad to inform you I've fixed the issue by opening port 4680 for externals connections towards openy.cibox.tools.

[2019-07-07 14:20] #1642 closed, assigned to nobody

[2019-07-07 14:23] podarok commented on #1642
Great

[2019-07-09 16:19] podarok opened #1643 "List of PHP 7.2 issues found to date"
The tool https://blog.fortrabbit.com/php-testing

[code]

[2019-07-09 16:21] podarok commented on #1643
@paige-kiecker frankly  speaking - we are ready to go with 7.2
/cc @ymcagtc @Sanchiz @anpolimus

[2019-07-09 20:30] paige-kiecker commented on #1157
@podarok can this be closed?

[2019-07-09 20:46] paige-kiecker commented on #904
@mattshoaf let us know if the documentation above doesn't help. Otherwise closing this ticket for now.

[2019-07-09 20:46] #904 closed, assigned to podarok

[2019-07-09 20:49] anpolimus opened #1644 "Make expanded default value configurable at Activity Finder"
Some of our clients want to have filters on the left rail of the Activity Finder to be expanded by default.
At now, default value is hard-coded to be collapsed by default.
We need to make it configurable from AF settings page OR at the paragraph configuration page.

![image](https://user-images.githubusercontent.com/3023950/60921874-2de79a00-a2a4-11e9-8f22-761287973488.png)

[2019-07-09 20:49] paige-kiecker commented on #901
@podarok @Sanchiz is this still an issue?

[2019-07-09 20:54] anpolimus opened #1645 "Activity Finder Solr backend issues."
1. Solr backend functionality is based on default search index which is hard-coded here:
https://github.com/ymcatwincities/openy/blob/8.x-2.x/modules/custom/openy_activity_finder/src/OpenyActivityFinderSolrBackend.php#L149
In case if project already have default index, search could be broken or overwritten.
We need to make parameter this configurable.
2. We need to inform user that in case of usin

[2019-07-09 20:59] paige-kiecker commented on #805
@ygerasimov is this still happening or can we close this issue?

[2019-07-10 06:57] podarok commented on #1645
@atiupa @jediandrey FYI )

[2019-07-10 09:11] alexschedrov commented on #901
@paige-kiecker As far as I see the sniffers are disabled now.

Would be great if overall CI experience will be enhanced to show Green indicator when PR is successful. Right now all PRs, event those which were merged have Red indicator (e.g. something went wrong).

![image](https://user-images.githubusercontent.com/1316234/60956604-d41aba80-a30b-11e9-90ac-c03fbd8a294a.png)

[2019-07-10 11:33] mattshoaf commented on #904
Thanks, I've been busy with some other work, but I did get some good info from that. If I have any suggestions after going through the process again I'll let you know.

[2019-07-10 16:10] paige-kiecker commented on #1643
@podarok Great! Let's connect on it tomorrow.

[2019-07-11 12:57] anpolimus commented on #1609
@paige-kiecker PR that resolves this issue is merged. Could we close this issue now?

[2019-07-11 14:09] paige-kiecker commented on #1644
@YMCA-GTC something to consider for AF phase 3

[2019-07-11 14:16] paige-kiecker commented on #1638
@anpolimus this has been resolved.

[2019-07-11 14:17] paige-kiecker commented on #1609
Yes, thank you

[2019-07-11 14:17] #1609 closed, assigned to nobody

[2019-07-11 14:19] paige-kiecker commented on #1574
@anpolimus sounds like you and @podarok have resolved this, closing this out.

[2019-07-11 14:19] #1574 closed, assigned to nobody

[2019-07-11 14:20] paige-kiecker commented on #1298
This has been resolved. Closing out

[2019-07-11 14:20] #1298 closed, assigned to aaronjchristian

[2019-07-11 14:22] paige-kiecker commented on #1133
@Fant0m771 can you follow up on https://github.com/ymcatwincities/openy/pull/1200 so we can get that PR merged, please?

[2019-07-11 14:24] paige-kiecker commented on #900
Sandbox rebuild has been optimized to sub 10 sec rebuild time. Closing out.

[2019-07-11 14:24] #900 closed, assigned to podarok

[2019-07-11 14:28] paige-kiecker commented on #829
This has been resolved; limit set to 10,000.

[2019-07-11 14:28] #829 closed, assigned to nobody

[2019-07-11 14:29] paige-kiecker commented on #757
This was resolved in new version of the schedules experience.

[2019-07-11 14:29] #757 closed, assigned to nobody

[2019-07-12 09:34] podarok commented on #598
@paige-kiecker still a bug

[2019-07-15 12:06] podarok commented on #1643
all fixed @paige-kiecker
closing this one

[2019-07-15 12:06] #1643 closed, assigned to podarok

[2019-07-15 14:26] AndreyMaximov commented on #1590
@podarok @paige-kiecker

That's already fixed in https://github.com/ymcatwincities/openy/commit/836bb1ef0b874a9efd4929302a7417c880a558eb

[2019-07-16 14:49] paige-kiecker commented on #1645
Assigned to IXM for resolution

[2019-07-16 14:49] paige-kiecker commented on #1640
Assigned to IXM for resolution

[2019-07-16 14:56] paige-kiecker commented on #1633
This issue has been fixed and merged

[2019-07-16 14:56] #1633 closed, assigned to ddrozdik

[2019-07-17 12:42] podarok commented on #1631
@afi13 let me know if this could be fixed in the scope of YGTC CMS Optimization project

[2019-07-18 07:08] anpolimus opened #1660 "Schedules are not displaying in case of / at url parameter"
In case if category has / character, it breakes filtering at schedules page.
example of url to schedules:

![image](https://user-images.githubusercontent.com/3023950/61436637-e7e5a280-a943-11e9-920e-82c4c54032fe.png)

[2019-07-18 07:08] anpolimus commented on #1660
![image](https://user-images.githubusercontent.com/3023950/61436707-0b105200-a944-11e9-865d-9b1f9ae26688.png)

[2019-07-23 15:33] #1588 closed, assigned to SanyokMedved

[2019-07-25 15:26] paige-kiecker commented on #1590
@podarok  ^can you confirm this can be closed?

[2019-07-25 15:28] paige-kiecker commented on #1482
This has been corrected; closing out

[2019-07-25 15:29] #1482 closed, assigned to anpolimus

[2019-07-26 12:44] podarok commented on #1590
Yes

[2019-07-26 12:44] #1590 closed, assigned to nobody

[2019-07-26 16:14] YCO-GIT opened #1666 "Images Not Showing in WYSIWYG"
I'm having the same issue as shown here: https://github.com/ymcatwincities/openy/issues/857
Although I have not been able to figure out how to fix it.  Basically, I'll embed an image into a simple content field and it doesn't show.  When I save the page, it shows on the page no problem.  In the editor, there is a space occupied for the image, but you just can't see it.  Cleared cache, tried switch

[2019-07-29 09:23] anpolimus opened #1667 "Add check that field exist"
In some cases during sync of groupex items system could fail because of absent check of field.
We have to add try catch here:
https://github.com/ymcatwincities/openy/blob/8.x-2.x/modules/custom/openy_repeat/src/RepeatManager.php#L175

[2019-07-30 09:10] podarok commented on #1666
@YCO-GIT https://youtu.be/q3FRqC-Utzw
Can't be reproduced on vanilla OpenY
We need more info to get it fixed.

[2019-07-30 14:40] YCO-GIT commented on #1666
This instance of OpenY was installed only 2 weeks ago.  Here are 2 videos that show my editor settings as well as what happens when I try to embed images in a simple content field.  I have the console open so you can view its output.  Let me know anything else you need to know to troubleshoot this.  Thanks!
https://drive.google.com/drive/folders/0BxkOVRn37czsTFpadjFMTkQwMFE?usp=sharing

[2019-07-31 07:50] AndreyMaximov commented on #1448
UPD. Presently, the image is not showing up on small banners at all in Rose.

![image](https://user-images.githubusercontent.com/5453109/62193622-d3140080-b380-11e9-9761-31a1ea915ef9.png)

[2019-07-31 08:57] podarok opened #1669 "ActivityFinder 2.0 fails on builds"
See
https://github.com/ymcatwincities/openy/pull/1668

[code]

[2019-07-31 09:53] podarok commented on #1666
This is related to known issue for Blazy https://www.drupal.org/project/blazy/issues/3054032#comment-13193041

[2019-07-31 09:54] podarok commented on #1666
For YGTC we have patch in place . But this is a workaround
![image](https://user-images.githubusercontent.com/563412/62202583-39ede580-b392-11e9-9fe3-d013e617423e.png)

[2019-07-31 09:57] podarok commented on #1666
As a quick fix @YCO-GIT  - I've enabled Full without Blazy view mode for you to be able to have it in WYSIWYG
Keep in mind that this disables Blazy for particular embed entity
![image](https://user-images.githubusercontent.com/563412/62202817-ad8ff280-b392-11e9-8623-138264145902.png)

[2019-07-31 10:07] podarok commented on #1669
@paige-kiecker this one is critical
We'll work on reproducing on YGTC in next couple days with @danylevskyi
I'll keep updated if this is issue for CI builds or common for OpenY

[2019-07-31 10:07] podarok commented on #1669
cc @anpolimus

[2019-07-31 13:01] podarok commented on #1669
https://github.com/ymcatwincities/openy/pull/1670

[2019-07-31 13:28] podarok commented on #1669
Fixed

[2019-07-31 13:28] #1669 closed, assigned to atiupa, jediandrey

[2019-07-31 13:46] YCO-GIT commented on #1666
Thanks for looking into this.  I went and installed another instance of OpenY in another droplet to see if I would end up with the same issue and the image embed seems to work totally fine on the new one.  I wonder what caused a difference between the installs.

[2019-08-01 12:11] AndreyMaximov opened #1673 "Bug in cascade updates of class, activity, category nodes"
There are `hook_node_update()` implementations that make cascade updates of the content types mentioned in the subject.

https://github.com/ymcatwincities/openy/blob/8.x-2.x/modules/openy_features/openy_node/modules/openy_node_activity/openy_node_activity.module#L13

https://github.com/ymcatwincities/openy/blob/8.x-2.x/modules/openy_features/openy_node/modules/openy_node_category/openy_node_catego

[2019-08-01 14:09] paige-kiecker commented on #1593
This has been resolved

[2019-08-01 14:09] #1593 closed, assigned to nobody

[2019-08-01 14:18] paige-kiecker commented on #1403
This has been resolved!

[2019-08-01 14:18] #1403 closed, assigned to SanyokMedved

[2019-08-01 14:22] #1157 closed, assigned to SanyokMedved

[2019-08-01 14:23] paige-kiecker commented on #1156
Closing this as a bug; an enhancement for these paragraph types is on the roadmap.

[2019-08-01 14:23] #1156 closed, assigned to nobody

[2019-08-05 11:58] anpolimus opened #1676 "Need refactor preprocess logic"
At this openy_node_event we have to change hard-coded code with template solution that will give us opportunity to overwrite and easily change data format at different projects.
Existed solution requires some additional time for altering of existed preprocess solution that will not be supported at next releases of Drupal.
https://github.com/ymcatwincities/openy/blob/8.x-2.x/modules/openy_features/

[2019-08-05 12:12] podarok commented on #1553
fixed in dev. Will be tagged in next upcoming release

[2019-08-05 12:12] #1553 closed, assigned to nobody

[2019-08-06 06:34] anpolimus commented on #1564
Hi, @ddrozdik.
I had same issue and it was connected with cache of composer.
I've cleared composer cache and rerun my containers - everything started working properly.

[2019-08-07 11:47] SanyokMedved commented on #1640
It has been resolved here: https://github.com/ymcatwincities/openy/commit/6f9ccdcf83b031ad7f0e9fd0b5700675e61f6ca0

[2019-08-08 14:06] podarok commented on #1676
@anpolimus there was some code merged https://github.com/ymcatwincities/openy/pull/1682
I'm not sure if this is related

[2019-08-08 15:14] paige-kiecker commented on #1371
This functionality has changed. A tutorial video has been added to the roadmap to address the new workflow.

[2019-08-08 15:14] #1371 closed, assigned to alexschedrov

[2019-08-08 15:24] paige-kiecker opened #1688 "Opening Links in New WIndow"
User Story: As an Open Y content admin, I want the ability to set a link to open in a new window so that I can send users to a new site or PDF file if needed without them losing their place on my Y association site.

Drupal already has a new window function for links available, as evidenced here:

![image](https://user-images.githubusercontent.com/48487047/62715469-2eb83c80-b9c6-11e9-8d20-44198a37

[2019-08-09 12:23] anpolimus opened #1692 "[Carnation] Refactor matchAllHeight"
Hi.
1. At this place there is no need to have custom function since it is used only once and too small to be a separate function
https://github.com/ymcatwincities/openy/blob/8.x-2.x/themes/openy_themes/openy_carnation/src/js/openy_carnation.js#L218

2. It would be better to make list of classes for input data of MatchHeight configurable for theme settings.
Now, it seems to be hard-coded and you ha

[2019-08-09 12:51] anpolimus opened #1693 "[Carnation] Refactor openy_carnation.js and openy_carnation_landing.js"
We need to split openy_carnation.js into list of small libraries that could be overwritten at sub_themes.
https://github.com/ymcatwincities/openy/blob/8.x-2.x/themes/openy_themes/openy_carnation/src/js/openy_carnation.js

Main benefit of this improvement is that new updates from OpenY will work automatically for libraries that are not altered.

Our use case -  for small fix at our project we have

[2019-08-10 05:36] kolesnikoff commented on #1564
@ddrozdik @anpolimus this a very old bug.
I think the problem is in a filename of https://github.com/ymcatwincities/openy/tree/8.x-2.x/tests/features/paragraphs/1с_2с_4с_paragraphs.feature.
All "с"s in the file name are Cyrillic "с".
I guess we need to rename them to latin "c" and everything should be ok.

[2019-08-12 07:32] #1634 closed, assigned to nobody

[2019-08-12 14:04] SanyokMedved commented on #1345
https://github.com/ymcatwincities/openy/pull/1698

[2019-08-14 19:08] paige-kiecker opened #1705 "Folder Structure for Media Uploads"
As an Open Y site admin, I want the ability to store images in a nested folder structure similar to DropBox, Google Drive, MacOS, WinOS so that I can easily store and use my images in a manner that makes sense to my team without relying on file-name naming conventions due to the lack of such folders today.

Folders will be stored within the Drupal admin interface for each unique Y site.

[2019-08-14 19:09] paige-kiecker opened #1706 "Image Cropping Module"
As an Open Y content admin, I want to be able to upload images and then crop them from within the CMS editor so that the images display exactly how I want them.

This task would reference an existing Drupal module - https://www.drupal.org/project/image_widget_crop

[2019-08-14 19:11] paige-kiecker opened #1707 "WYSIWYG Custom Font Sizes"
As an Open Y Site Admin, I want to be able to easily set my font size using the WYSIWYG built-in editor in Drupal 8 (ckeditor) so that I can quickly manipulate my pages however I wish and not be restricted to the default font sizes currently available.

[2019-08-14 19:13] paige-kiecker opened #1708 "Paragraph Backporting: Ping Pong Block + Feature Card"
As a Y content admin, I want to use the Ping Pong Paragraph and Feature Cards Paragraph that is being used by other Y associations powered by Image X so that I can better communicate my marketing materials online.

[2019-08-14 19:14] paige-kiecker commented on #1708
![image](https://user-images.githubusercontent.com/48487047/63049256-e0131280-be9d-11e9-9ce1-ec706a792bc7.png)

[2019-08-14 19:47] anpolimus commented on #1676
@podarok , at #1682 code is related to alerts.
At this issue we want to fix events

[2019-08-15 09:25] anpolimus commented on #1707
@paige-kiecker this issue could be resolved by installation of this plugin: https://ckeditor.com/cke4/addon/font
or by netter understanding of heading sections that are already enabled in core right now.
https://ckeditor.com/docs/ckeditor4/latest/features/format.html this plugin is already in core.

[2019-08-15 09:45] ivan-berezhnov commented on #1676
@anpolimus @podarok  PR with fix created. Please check.

[2019-08-15 10:43] anpolimus commented on #1645
If SOLR is not configured display alert about it at settings page.

[2019-08-15 15:02] SanyokMedved commented on #1645
https://github.com/jediandrey/openy/pull/14/commits/850162ad36d6d151b9805e909e8f93bb89bc5be5

[2019-08-15 18:51] anpolimus commented on #1705
@paige-kiecker let me offer you this contrib: https://www.drupal.org/project/media_directories
Using this contrib we can assign vocabulary to Media and add any folders structure we need.

[2019-08-19 20:06] ivan-berezhnov commented on #1676
@anpolimus  @podarok  PR merged. Can we close this ticket?

[2019-08-20 07:53] podarok commented on #1676
Sure

[2019-08-20 07:53] #1676 closed, assigned to anpolimus

[2019-08-20 19:41] paige-kiecker commented on #1707
Thanks @anpolimus! I think that first link is more what the community is looking for based on some previous conversations

[2019-08-21 14:38] paige-kiecker commented on #1705
@anpolimus can you demo that feature on our call tomorrow?

[2019-08-22 14:05] paige-kiecker commented on #1692
@anpolimus are you already working on this or waiting for direction from the OY Core team?

[2019-08-22 14:06] paige-kiecker commented on #1693
@anpolimus are you working on this already? would you consider this a bug or enhancement?

[2019-08-22 16:06] anpolimus commented on #1692
We are waiting for your directions.
This issue is created during our work on client's tickets at one of the Y that using Carnation.

[2019-08-22 19:58] paige-kiecker commented on #379
This enhancement is on our roadmap (https://trello.com/c/3MJhsjZX/101-sandbox-tour-enhancements-for-sidebar-content-score-8) closing here to reduce redundancy

[2019-08-22 19:58] #379 closed, assigned to nobody

[2019-08-22 20:02] paige-kiecker commented on #408
This has been added to the roadmap (https://trello.com/c/JflkPrvj/54-testimonial-score-8) closing here until the project begins dev.

[2019-08-22 20:02] #408 closed, assigned to danylevskyi

[2019-08-22 20:03] paige-kiecker commented on #409
This is on the roadmap (https://trello.com/c/6CSTiiCj/53-panorama-score-8) closing out here until we begin to develop the enhancement.

[2019-08-22 20:03] #409 closed, assigned to danylevskyi

[2019-08-22 20:06] paige-kiecker commented on #561
This will be resolved with https://github.com/ymcatwincities/openy/issues/1706 so closing this ticket

[2019-08-22 20:06] #561 closed, assigned to nobody

[2019-08-22 20:07] paige-kiecker commented on #599
This is on the roadmap. Closing out here until development begins https://trello.com/c/RnVvm3Zk/62-daxko-integration-hide-unused-page-elements-when-editing-content-programs-that-are-coming-in-dynamically-from-the-daxko-api-scor

[2019-08-22 20:07] #599 closed, assigned to anprok

[2019-08-22 20:08] paige-kiecker commented on #716
This is on the roadmap (https://trello.com/c/4fzmVb7Z/64-move-sandbox-demo-credentials-to-a-3rd-party-service-rather-than-manually-changing-the-password-frequently-score-9) closing here until the project begins development

[2019-08-22 20:08] #716 closed, assigned to nobody

[2019-08-22 20:10] paige-kiecker commented on #793
@podarok is this enhancement outdated? can we close?

[2019-08-22 20:13] paige-kiecker commented on #726
This task was completed and is available in OY core distro

[2019-08-22 20:13] #726 closed, assigned to nobody

[2019-08-22 20:15] paige-kiecker commented on #856
@podarok should this be added to the roadmap?

[2019-08-22 20:18] paige-kiecker commented on #931
@AlexNetman we will be adding the ability to change font size in the WYSIWYG editor, which I believe will address your request. Closing this one. You can follow the progress on https://github.com/ymcatwincities/openy/issues/1707

[2019-08-22 20:18] #931 closed, assigned to nobody

[2019-08-22 20:24] paige-kiecker commented on #1132
This is on the roadmap (https://trello.com/c/FWaeylFD/128-improve-tutorial-and-help-content-blocks-within-the-cms-editor-score-7) and so closing here until development begins

[2019-08-22 20:24] #1132 closed, assigned to kolesnikoff

[2019-08-22 20:29] YMCA-GTC commented on #1325
Will be resolved with the v2 variation of schedules that is about to undergo AB testing. Hopefully in the distribution before Q2 next year. Closing for now.

[2019-08-22 20:29] #1325 closed, assigned to nobody

[2019-08-22 20:34] paige-kiecker commented on #1474
This is on the roadmap after being previously reported via https://github.com/ymcatwincities/openy/issues/1152. CLosing out this one as it's on the roadmap!

[2019-08-22 20:34] #1474 closed, assigned to nobody

[2019-08-22 20:36] paige-kiecker commented on #1512
@ddrozdik do you have any further updates on this?

[2019-08-22 20:36] paige-kiecker commented on #1589
Update: testing for YGTC is expected to continue through September 2019

[2019-08-22 20:44] paige-kiecker commented on #1692
@anpolimus I added it to the Carnation Refactoring card on our roadmap so it's not forgotten.

[2019-08-23 13:43] anpolimus commented on #1692
Ok thx

[2019-08-26 07:21] ddrozdik commented on #1512
@paige-kiecker no updates so far. This is not a small task and it requires a significant (about 20 hrs) amount of time to finish it. I guess we can continue work on it as a part of the upcoming refactoring phase.

[2019-08-28 08:17] anpolimus opened #1718 "Failed update: openy.terms_and_conditions.schema depends on the Open Y module that will not be installed after import"
Hi.
We are getting this error at different project during update to the latest OpenY 2.x version.

Probably, this issue exist because openy module is not present at the system (probably system is thinking that OpenY profile is not a module).

We recommend to move this config and logic to existed openy_update module.

[2019-08-28 08:18] anpolimus commented on #1718
@kolesnikoff

[2019-08-28 08:18] podarok commented on #1718
@anpolimus
[code]
And then run updatedb

[2019-08-28 08:37] anpolimus commented on #1718
It is helped. Thank you.

[2019-08-28 09:48] #1718 closed, assigned to nobody

[2019-08-29 09:17] podarok commented on #793
We can close. This is known issue for the environment and not only openy impacted...

[2019-08-29 09:17] #793 closed, assigned to podarok

[2019-08-29 09:17] podarok commented on #856
This is so unique per source site that spending time on it makes no sense.
Closing

[2019-08-29 09:17] #856 closed, assigned to nobody

[2019-08-29 09:19] podarok commented on #1021
With PEF is there any demand to keep embedded GroupEx PRO integration?
YGTC team if almost done with Syncer implementation for PEF - AB test will start soon and code will be published afterward.
ALso we found a bug in GroupEX PRO which should be fixed by GroupEx

[2019-08-29 09:20] podarok commented on #1330
Any news @AndreyMaximov ?

[2019-08-29 09:22] podarok commented on #1344
YGTC team is still working on migration of old legacy locations to OpenY branch CT
I guess more answers will be after that is finished.
More information is in hands of @duozersk @akaleMulder when this will be done for YGTC

[2019-08-29 09:30] ddrozdik commented on #1021
I think with PEF - GroupEx integration there is no need for embedded_groupexpro_schedule module. But anyway refactoring is needed.
Also according to latest discussions of moving 3rd party integrations like ActiveNet, Daxko, GroupEx, etc to separated repositories make sense to refactor code a bit and leave only really necessary modules.

[2019-08-29 09:31] podarok commented on #1390
@miroslav-lee please review https://github.com/ymcatwincities/openy/pull/1719

[2019-08-29 09:34] podarok commented on #1421
It's deprecated but will be removed in Drupal 9 only
[code]
I guess we can live with this as is unless somebody has spare time to refactor it to the newer style

[2019-08-29 16:35] anpolimus opened #1720 "Carnation uses two different FontAwesome styling versions."
Initially, Carnation had 5th version of font awesome icons library.
After refactoring, additional js lib was added that were adding 4th version of FA.
At this blame report we could see how this changes were applied:
https://github.com/ymcatwincities/openy/blame/8.x-2.x/themes/openy_themes/openy_carnation/openy_carnation.libraries.yml

We need to leave only 5th version of FA.

[2019-08-30 09:54] podarok commented on #1390
Fixed in latest dev. Will be in next point release

[2019-08-30 09:54] #1390 closed, assigned to ygerasimov, podarok, alexschedrov

[2019-08-30 15:19] Benton-E opened #1722 "Rearranging Alerts"
Looking for a way to rearrange the order of alerts after publishing them?

[2019-08-30 18:10] AndreyMaximov commented on #1707
Resolved in https://github.com/ymcatwincities/openy/pull/1717

[2019-09-05 15:31] paige-kiecker commented on #1722
Added to our roadmap. Thanks @Benton-E

[2019-09-06 14:27] paige-kiecker commented on #1708
Assigned to IXM for resolution

[2019-09-10 12:09] anprok opened #1728 "Incorrect height of modal window on Open Y based sites"
Use of styles
`#ui-id-2 {
    width: 90%;
    overflow-y: scroll;
    height: 200px;
}`

https://github.com/ymcatwincities/openy/blob/8.x-2.x/modules/custom/openy_socrates/modules/openy_autocomplete_path/css/autocomplete.css#L1

Using style with #ui-id-2 leads to the situation that in some cases modal windows with a randomly generated identifier have an incorrect height
Example of bug on Ymcamn.or

[2019-09-13 15:06] anpolimus opened #1732 "DropzoneJS is not installed by composer"
During a lot of migrations I've noticed that dropzonejs is not installed automatically.
After little investigation, I've found that this package is migrated from github to gitlab and automatic npm-asset installation is not working.

I'll place code that fixes this soon.

[2019-09-18 11:30] hamrant opened #1738 "[Activity Finder] Issues in 2.0 version"
Some issues that our QA have found during testing Activity Finder update from 1.0 to 2.0 version.
I think this should be fixed in 3.0 or in the minor release.

### 1. Age or Days filter

If you applying Age or Days filter - after 1 click filter collapsing. On 1.0 version, filters are not collapsing. From UX perspective user more often selects several values, therefore, this change may be inconveni

[2019-09-18 11:32] hamrant commented on #1738
Can someone from IMX team look at this and fix it?

[2019-09-18 13:16] podarok commented on #1738
@hamrant it's better to discuss all UX questions with Ben McCoy @paige-kiecker

[2019-09-18 20:05] anpolimus commented on #1738
@hamrant that was requirement for 2.0 version

[2019-09-18 20:18] anpolimus commented on #1738
@hamrant also I want you to introduce to ActivityFInder 3.0
http://houston.activity-finder.openy.ixm.ca/program-search?locations=&categories=&exclude=&ages=&days=&keywords=&no_results=0&sort=DESC__score
http://rose.activity-finder-solr.openy.ixm.ca/program-search?locations=&categories=&exclude=&ages=&days=&keywords=&no_results=0&sort=title__ASC

[2019-09-19 07:51] hamrant commented on #1738
Hi @anpolimus

Thanks for the links to ActivityFInder 3.0! It looks like the second item from the list fixed in 3.0, but the first one still exists.

[2019-09-19 09:11] anpolimus commented on #1738
Yes, you are right. I'm not 100% sure, but it seems to me that logic from your first item was a requirement for AF2.0.
I'll double check with Ben today and will answer you here.

[2019-09-19 09:12] anpolimus commented on #1738
@hamrant  ^^

[2019-09-19 09:13] hamrant commented on #1738
@anpolimus ok, thanks

[2019-09-19 13:59] paige-kiecker commented on #1732
Thanks, @anpolimus

[2019-09-19 14:15] paige-kiecker commented on #1722
Being resolved via #1733

[2019-09-19 14:30] podarok commented on #760
Looks like this not anymore issue or was already backported
![image](https://user-images.githubusercontent.com/563412/65253331-209c2680-db03-11e9-873a-08537581baec.png)

[2019-09-19 14:30] #760 closed, assigned to nobody

[2019-09-25 19:30] paige-kiecker opened #1740 "Redundant Menu Titles that link to different pages [Daxko]"
When viewing the CMS menu, the Daxko integration displays 2 labels with the same name, but they link to different places.

Resolution: determine if both links are needed, if yes, provide unique label for each

![image](https://user-images.githubusercontent.com/48487047/65633097-f0400680-dfa0-11e9-9d31-6bac58f416ef.png)

[2019-09-26 08:22] okirordan opened #1741 "Failed to create temporary directory:"
I am trying to install open y  but when I reach the Installation type stage,I get an An AJAX HTTP error occurred.
This is the full error (I running on xampp Windows 10)

An AJAX HTTP error occurred.
HTTP Result Code: 200
Debugging information follows.
Path: /national/docroot/core/install.php?rewrite=ok&profile=openy&terms_and_conditions=1&langcode=en&continue=1&id=2&op=do_nojs&op=do
StatusText: OK

[2019-09-26 08:24] podarok commented on #1741
@okirordan looks like you have issues with permissions to your temp directory by webserver
Ensure that your webserver has permissions to it

[2019-09-26 14:48] paige-kiecker commented on #1640
@podarok can you review this?

[2019-09-26 15:44] podarok commented on #1640
This was fixed https://github.com/ymcatwincities/openy/issues/1640#issuecomment-519061835

[2019-09-26 15:44] #1640 closed, assigned to nobody

[2019-09-26 16:26] anpolimus opened #1742 "Activity Finder: restriction logic improvements"
1. We need to add logic that will work in collaboration with Home Branch feature.

When user is selecting Home Branch, Activity Finder should take this parameter and restrict total results based on home branch data.

![image](https://user-images.githubusercontent.com/3023950/65706369-0201d680-e093-11e9-9f3f-ce6573c3bdae.png)

2. We need to implement feature flag for this feature (probably not all

[2019-09-26 19:02] paige-kiecker commented on #1740
Assigned to IXM for resolution

[2019-09-26 19:03] paige-kiecker commented on #1720
Assigned to IXM for resolution

[2019-09-26 19:03] paige-kiecker commented on #1667
Assigned to IXM for resolution

[2019-09-26 19:04] paige-kiecker commented on #1660
Assigned to IXM for resolution

[2019-09-26 19:05] paige-kiecker commented on #1728
Assigned to IXM for resolution

[2019-09-27 06:15] podarok commented on #1742
@anpolimus
This looks really great ![image](https://user-images.githubusercontent.com/3023950/65706619-7f2d4b80-e093-11e9-80bc-d9c65bc65839.png)
We just need to have 2 links - one for all programs and another for home branch ( in the message itself )
I'd like to hear feedback from Ben McCoy - in case if any concerns. @paige-kiecker

[2019-09-27 12:06] anpolimus commented on #1742
@podarok as I told at slack - we need to organize dev sync meeting and discuss how two system could alter each other.

[2019-09-27 13:34] hamrant commented on #1742
@anpolimus @podarok we already have home branch plugin for AF - https://github.com/ymcatwincities/openy/blob/8.x-2.x/modules/custom/openy_home_branch/js/hb-plugins/hb-activity-finder-location.js

But it works only on the location selection step.

[2019-09-27 13:43] konservax commented on #1738
@paige-kiecker cc
additional bugs for activity finder:
1. in the keywords search field - if user will insert short word up to 4 symbols - no result will be shown.
Better to let users show all result according to word or letter what was inserted in the field.
Or User at least should be notified about this field validation.

2. If no result page is shown for some reason, Day filter became grey (like

[2019-09-27 13:44] podarok commented on #1742
@paige-kiecker definitely need feedback from Ben

[2019-09-27 13:48] hamrant commented on #1742
As for an additional button - it's hard to inject this to AF application from the separated module. We can try to do this, but without results count.

[2019-09-27 13:52] paige-kiecker commented on #1742
@podarok I will get the group together to discuss this and https://github.com/ymcatwincities/openy/issues/1738

[2019-09-27 14:00] konservax commented on #1738
5.  layout issue for search result page (activity-finder)
mobile version. Android 8. Device : Huawei P20pro
![image](https://user-images.githubusercontent.com/49909896/65775147-4bf8c400-e148-11e9-93de-0641a30d2595.png)

6. Activity popup  in landscape mode can be scrolled so that mean can not be closed.
![image](https://user-images.githubusercontent.com/49909896/65775979-da217a00-e149-11e9-95ac-a7

[2019-09-27 14:22] anpolimus commented on #1742
@hamrant since, general strategy is to move all to webpack apps, we need to discuss how other subsytems could alter data and look of our applications

[2019-09-27 14:22] konservax commented on #1738
8. EDGE browser (latest version). missed loupe icon for activity finder page
![image](https://user-images.githubusercontent.com/49909896/65776690-4b156180-e14b-11e9-9f0b-fd2992a384f3.png)