[2019-09-27 15:18] paige-kiecker commented on #1673
This has been resolved

[2019-09-27 15:18] #1673 closed, assigned to AndreyMaximov

[2019-10-01 14:49] anpolimus opened #1746 "Classes at new alerts are hard-coded for Bootstrap 4"
Hi.
Is it possible to make array of classes for Alerts component to be configurable?
https://github.com/ymcatwincities/openy/blob/8.x-2.x/modules/openy_features/openy_node/modules/openy_node_alert/js/openy-alerts/src/components/FooterAlertItem/FooterAlertItem.js#L64

We've faced that this hard-coded list of classes conflicts with our clients request.
We made a temporary tricky fix for now, but if

[2019-10-01 14:49] anpolimus commented on #1746
@podarok , @paige-kiecker , please review.

[2019-10-01 14:49] anpolimus commented on #1746
@ivan-berezhnov , FYI

[2019-10-01 15:09] podarok commented on #1746
@anpolimus well. it is possible. Instead of using hardcoded classes there is a way to replace them by some css class that will do theming.
I'm not sure how this should be configurable and how this is conflicting in your case
It's pretty easy to change classes and recompile alerts for your case or better to analyse what is the conflict and how it could be avoided

[2019-10-02 08:15] anpolimus commented on #1746
@podarok in this case we need to give OpenY users ability to alter core changes according to their project needs.
Right now I see that our team and 5Jars team have to use patches for such customization, which is not comfortable solution.

[2019-10-02 08:17] anpolimus commented on #1746
Probably this problem is equal to AF + Home Branch.

[2019-10-02 08:18] anpolimus commented on #1746
Lets add it to the discussion for that call.

[2019-10-04 13:28] anpolimus commented on #1740
@paige-kiecker PR is merged, please close the ticket.

[2019-10-04 14:25] paige-kiecker commented on #1740
@anpolimus
![image](https://user-images.githubusercontent.com/48487047/66215258-d0879d00-e688-11e9-8c6f-36759ec241c1.png)

[2019-10-04 14:25] #1740 closed, assigned to nobody

[2019-10-08 10:02] anpolimus commented on #1693
@paige-kiecker we are planning this to our list of Carnation refactoring

[2019-10-09 06:37] podarok commented on #1741
Feel free to reopen this issue in case if you still having issues

[2019-10-09 06:37] #1741 closed, assigned to nobody

[2019-10-09 06:38] podarok commented on #1722
This is done in 2.2.3

[2019-10-09 06:38] #1722 closed, assigned to nobody

[2019-10-09 06:38] podarok commented on #1707
Thanks

[2019-10-09 06:38] #1707 closed, assigned to nobody

[2019-10-09 12:57] anpolimus commented on #1667
@paige-kiecker it was fixed and released at this PR:
https://github.com/ymcatwincities/openy/pull/1754

[2019-10-10 14:05] paige-kiecker commented on #1728
this has been resolved in 2.2.3

[2019-10-10 14:05] #1728 closed, assigned to nobody

[2019-10-10 14:06] paige-kiecker commented on #1720
This has been resolved in https://github.com/ymcatwincities/openy/pull/1752

[2019-10-10 14:06] #1720 closed, assigned to nobody

[2019-10-10 14:15] paige-kiecker commented on #1667
thanks @anpolimus closing out

[2019-10-10 14:15] #1667 closed, assigned to nobody

[2019-10-11 11:56] anpolimus opened #1761 "Google Translate widget end of life problem."
Hi.
According to this message: https://translate.google.com/intl/en/about/website/
We have to think about alternative solution.

After some searching I've found that this service could be a good alternative for us.
https://gtranslate.io/

[2019-10-11 11:58] podarok commented on #1761
[code]
Looks like we should be fine stil, correct?

[2019-10-11 13:29] anpolimus commented on #1761
I hope so, but I've created this issue to double check it with you.

[2019-10-14 13:00] ddrozdik opened #1762 "Landing page layout switcher does not hide sidebar area"
For some reason when we select one column layouts we still see the sidebar area. Previously it was hidden for one column layouts and become visible when I choose two columns layout.
![image](https://user-images.githubusercontent.com/6285570/66753057-9180f500-ee9b-11e9-819b-6bda1a832867.png)

[2019-10-14 13:00] ddrozdik commented on #1762
cc @paige-kiecker

[2019-10-14 13:50] ddrozdik opened #1763 "Hide Drupal themes from the list of available themes on the Appearance page"
It would be nice to hide Drupal themes from the list of available themes on the Appearance page http://sandbox.openymca.org/admin/appearance. At this moment we have a few Open Y themes and some Drupal themes like Bartik, Seven, Stark. I f you try to enable them the site will be completely broken because they are not designed to work with Open Y components.

![image](https://user-images.githubuserc

[2019-10-14 13:59] ddrozdik commented on #1299
In the current Carnation theme, the microsites menu is working and displaying on the page only if this paragraph is not the first one on the list.
![image](https://user-images.githubusercontent.com/6285570/66756939-b4afa280-eea3-11e9-975e-ffd6ce220e1a.png)
![image](https://user-images.githubusercontent.com/6285570/66757018-e1fc5080-eea3-11e9-8cb0-e21eecbb40a9.png)

The look is not perfect but it w

[2019-10-14 14:00] ddrozdik opened #1764 "Hide Main menu in the Microsites menu for Carnation does not work"
Microsites menu paragraph has a checkbox to hide the main menu. In Carnation it does not work. Probably because the theme is so specific and different from Lily and Rose, but anyway it should support such a feature.

There is another [issue](https://github.com/ymcatwincities/openy/issues/1299) related to the microsites menu which should be taken into consideration as well.

[2019-10-15 11:02] anpolimus opened #1766 "Activity Finder + Home Branch is not working in case of Daxko backend"
Hi.
We noticed that Activity Finder + Homebranch connection is not working, since there is no daxko location id mapping in code.

We need to add this logic to make this connection working.

[2019-10-16 08:51] anpolimus commented on #1763
Subscribe

[2019-10-16 08:53] anpolimus commented on #1762
@paige-kiecker, @ddrozdik  we have fixed this issue across multiple client's project.
We can backport our fix here.

[2019-10-16 08:57] anpolimus commented on #1761
Since this is not an urgent problem for us - lets make it minor

[2019-10-16 08:58] anpolimus commented on #1660
@paige-kiecker that issue was connected to dedicated project and is not present at OpenY
Please, close it.

[2019-10-16 10:43] ddrozdik commented on #1762
@anpolimus good news. What are you waiting for then :)? let's backport it

[2019-10-17 14:15] paige-kiecker commented on #1761
Let's schedule a solution for this for the February release

[2019-10-17 14:16] paige-kiecker commented on #1762
@anpolimus can that be backported for November?
cc: @podarok

[2019-10-17 14:16] podarok commented on #1761
We just need to have an option similar as we have for openy maps with Google and Leaflet plugins

[2019-10-17 14:23] paige-kiecker commented on #1763
Agreed, this functionality should not be disabled, but should definitely be buried within the /appearance page so prospective Y's reviewing Open Y on Sandbox do not become confused.

[2019-10-17 14:27] paige-kiecker commented on #1764
Thanks, @ddrozdik, we will take this into consideration as we work on moving Carnation out of beta

[2019-10-17 14:28] paige-kiecker commented on #1766
@podarok and @ymcagtc if you are not already aware^

[2019-10-18 10:32] anpolimus opened #1769 "Activity FInder: keywords are not populated from wizard to results screen"
Given: I'm trying to search activities by entering search phrase on initial screen of Activity Finder
Expected result: search results page should use search phrase in search
Actual result: search phrase is not used in search.

![image](https://user-images.githubusercontent.com/3023950/67087469-ac10e200-f1ab-11e9-98e4-e80a730709ca.png)

![image](https://user-images.githubusercontent.com/3023950/670

[2019-10-18 10:33] anpolimus commented on #1769
@paige-kiecker  we found this issue during testing of one of our project.
This is in our list for November release of Activity Finder 3.0

[2019-10-18 18:29] paige-kiecker opened #1770 "Location Amenities Filter Logic is Broken"
Currently when 2 or more amenities boxes on a Locations page are checked, all locations that have AT LEAST ONE of the amenities selected display. Instead, the results should show you only locations that have all the amenities selected.

The logic should be changed to AND instead of the current OR function.

[2019-11-01 13:23] anpolimus commented on #1769
@podarok , @paige-kiecker this issue was fixed during AF 3.0 PR.
Please close this issue once you will test it at your projects.

[2019-11-01 14:56] paige-kiecker commented on #1769
Thanks @anpolimus

[2019-11-04 09:01] anpolimus commented on #1762
@paige-kiecker on review now.

[2019-11-05 18:42] ddrozdik commented on #1764
Steps to reproduce on the Sandbox:
1. Login as admin
2. Go to http://sandbox.openymca.org/locations/downtown-ymca
3.  Edit the page and add the microsites menu paragraph as the second paragraph to the Header area. "Hide the Main menu" checkbox should be disabled/unchecked.
![image](https://user-images.githubusercontent.com/6285570/68235794-eafcbf80-0014-11ea-8649-49abe1fbab77.png)

4. Go to Appear

[2019-11-05 19:05] ddrozdik opened #1780 "[Carnation] Branch Amenities block on the page is hardcoded"
There are two issues with this block:
![image](https://user-images.githubusercontent.com/6285570/68237317-f56c8880-0017-11ea-9fea-785572a26136.png)
1. Icons do not work out of the box.
2. Block is hardcoded. There is no way to move it to another place, hide or replace it with another one.

Steps to reproduce:
1. Login as admin on the Sandbox
2. Change theme to Carnation
3. Go to http://sandbox.ope

[2019-11-05 19:07] ddrozdik opened #1781 "[Carnation] Address & Branch hours block is hardcoded"
Block is hardcoded. There is no way to move it to another place, hide or replace it with another one.
![image](https://user-images.githubusercontent.com/6285570/68237632-8c394500-0018-11ea-980e-e5058e29127f.png)

Steps to reproduce:
1. Login as admin on the Sandbox
2. Change theme to Carnation
3. Go to http://sandbox.openymca.org/locations/downtown-ymca
4. Verify you can't hide, move or replace th

[2019-11-12 10:27] anpolimus commented on #1770
Hi, @paige-kiecker.
This issue is fixed at PR: https://github.com/ymcatwincities/openy/pull/1778/files
Please check this issue on new build and close this issue if your test would be successful.

[2019-11-12 10:28] anpolimus commented on #1764
This issue is fixed at carnation refactoring PR: https://github.com/ymcatwincities/openy/pull/1783

[2019-11-12 10:32] anpolimus opened #1785 "Add styling for Branch Amenities with Icons block at Rose and Lily"
During our work at carnation refactoring tickets we've added new paragraph type, called Branch Amenities with Icons that represent list of amenities with svg icons, attached to each.

We have to add styling for rose and lily themes to make this block available for all themes.

Carnation Refactoring PR: https://github.com/ymcatwincities/openy/pull/1783

[2019-11-12 10:35] podarok commented on #1785
Probably this should wait for backporting of Skins subsystem from YGTC https://github.com/ymcatwincities/ymca/pull/3975 + https://github.com/ymcatwincities/ymca/pull/3978
In that case, we'd need just to decouple component style into Skin for becoming covered in all themes

/cc @dmytrolavrinenko

[2019-11-12 10:38] dmytrolavrinenko commented on #1785
Backporting of Skins module is in our todo list: https://github.com/ymcatwincities/ymca/issues/4153

[2019-11-12 14:05] #1692 closed, assigned to nobody

[2019-11-12 15:51] podarok opened #1786 "Fix cropper library configuration"
Let's introduce openy_focal_point.install with setting config /admin/config/media/crop-widget for image_widget_crop from CDN
https://cdnjs.com/libraries/cropper
This should eliminate requirements error
![image](https://user-images.githubusercontent.com/563412/68686850-f0a65800-0574-11ea-8977-0a915856b76b.png)

[2019-11-12 15:53] podarok opened #1787 "Carnation Banner in 2.3 Open Y should display image"
![image](https://user-images.githubusercontent.com/563412/68687001-306d3f80-0575-11ea-9ed3-50f8a615008b.png)

Steps to reproduce
- Create Landing Page
- Add Banner in Content Area
- Save
- View page in Carnation theme

Same node working well in Lily
![image](https://user-images.githubusercontent.com/563412/68687102-627ea180-0575-11ea-97f7-2095562549df.png)

[2019-11-12 16:21] podarok commented on #1786
![image](https://user-images.githubusercontent.com/563412/68689568-38c77980-0579-11ea-997e-8397b345fc09.png)

[2019-11-12 16:33] podarok commented on #1787
Small Banner is also not working
Standard OpenY

![image](https://user-images.githubusercontent.com/563412/68690603-f2731a00-057a-11ea-8f56-601586f3302a.png)

[2019-11-12 17:54] ygerasimov commented on #1786
We need to stick to 3.1.6 version instead of 4.0.0. Our js crashes on 4.x. I am testing installation and preparing a pull request.

[2019-11-13 09:27] anpolimus commented on #1787
We are working on it.

[2019-11-13 17:45] ygerasimov opened #1791 "Focal point is reset after node's form save"
After we set new focal point it is saved. But once node's form is saved -- focal point is reset.

https://www.loom.com/share/7b089a4558514093953d018ecdcaf017

[2019-11-13 20:50] ygerasimov opened #1793 "Clean installation. Activity finder settings throws an Error"
On a clean installation (search is not enabled) I open Activity Finder settings page and getting an error
![image](https://user-images.githubusercontent.com/294265/68803192-20f10380-0614-11ea-9b2e-33503c242133.png)

[2019-11-13 20:56] podarok commented on #1793
Looks like dependency issue.
Missed search api?

[2019-11-13 20:57] ygerasimov commented on #1793
@podarok it should not require search_api as we could use Daxko as a backend

[2019-11-13 21:01] ygerasimov opened #1795 "Ages, Days gets expanded and then collapsed in Activity Finder"
https://www.loom.com/share/e6abf9cfc1e34603bc4ca82bb9e840c5

Activity Finder configured with Daxko. Once I select Program I get Ages / Days expanded and then collapsed back. We should keep them collapsed instead.

[2019-11-14 09:30] anpolimus opened #1797 "Special characters at Groupex titles"
We need to add code that fix issue with special chars at groupex title in PEF
![image](https://user-images.githubusercontent.com/3023950/68844252-2ad93c00-06d2-11ea-9d53-d9f466bb61c4.png)

[2019-11-14 09:31] anpolimus commented on #1797
@paige-kiecker we are back porting this fix from our client's project to OpenY

[2019-11-14 10:07] anpolimus commented on #1797
Pull request is ready to review

[2019-11-14 10:08] #1793 closed, assigned to anpolimus, paige-kiecker

[2019-11-14 10:08] anpolimus commented on #1793
@paige-kiecker we've fixed it during testing of new release.

[2019-11-14 17:47] ygerasimov opened #1799 "No programs demo content when installing Extended profile"
I am installing "extended" profile with UI, I am not getting any Programs related demo content and Programs feature is not enabled at all.

Please confirm if it is desirable behavior

![image](https://user-images.githubusercontent.com/294265/68882262-b4354200-06c3-11ea-8ffd-1797a0d9b478.png)

[2019-11-14 19:58] ygerasimov opened #1800 "Programs search. FULL while it has 26 spots left"
Default demo content with Solr backend for Activity Finder.

Family Swim shows in the listing as FULL but if I click on it -- there are 26 spots left.

![image](https://user-images.githubusercontent.com/294265/68891606-00897d80-06d6-11ea-9625-048faa006959.png)

![image](https://user-images.githubusercontent.com/294265/68891622-0bdca900-06d6-11ea-9d5b-033f40bdc760.png)

https://www.loom.com/share/9

[2019-11-15 16:24] Elenamarchenkova opened #1803 "[Rose theme] Half size image alignment"
I faced the issue in the Rose theme while I was trying to embed the image with the options of half size and center alignment in the Header area. After saving the page, the image was not centered in the header.

The steps how to reproduce

1. Add content of some kind. I did Landing Page.
2. Choose Layout - One column Full width
3. Expand Header Area and add 1 column
4. Embed Image in WYSIWYG editor

[2019-11-18 12:53] Elenamarchenkova opened #1804 "Style element issue with the fields Background and Text color"
The Background color and Text color are not displayed in the Style area in the admin panel.

Steps to reproduce:

1. Go to the Admin Panel - Content
2. Add Content -> Blog Post content type
3. Expand Style Area

**Expected result**: there are Background color and Text color fields.

![text and background](https://user-images.githubusercontent.com/57805241/69053861-030c1000-0a13-11ea-950d-cfcb85d3e

[2019-11-18 12:55] ddrozdik commented on #1804
сс @paige-kiecker , @podarok

[2019-11-18 13:06] Elenamarchenkova opened #1805 "Membership: Title Field"
The title is not output on the Membership content type page.
Instead of it the title Description is visible.

Steps to reproduce:

1. Go to the admin panel -> Content
2. Add content -> Membership
3. Fill in Title field and Description field
4. Save

**Expected result:**
The title field should output the filled information on the page.

**Actual result:**
The word Description is displayed.

![descr

[2019-11-18 13:28] podarok commented on #1805
This is a very simple task - view mode for the CT should be changed and the label of the field should be hidden.

[2019-11-18 15:21] anpolimus commented on #1797
@paige-kiecker additional PR that fixes special characters at filters section:
https://github.com/ymcatwincities/openy/pull/1806

[2019-11-18 15:44] Elenamarchenkova opened #1807 "Membership: Membership info output"
Membership info is not output on the page in the Membership content type.

Steps to reproduce:

1. Go to Admin panel -> Content
2. Add Content -> Membership content type
3. Add membership info
4. Save

**Expected result**:
Membership info is output on the page.

**Actual result:**
No membership info on the page

![membership info](https://user-images.githubusercontent.com/57805241/69067024-07dcbe0

[2019-11-19 16:15] podarok commented on #1800
We have no this in YGTC, so could be fixed in https://github.com/ymcatwincities/openy/pull/1802

[2019-11-19 16:16] #1797 closed, assigned to anpolimus, paige-kiecker

[2019-11-19 16:16] paige-kiecker commented on #1791
This will be fixed in 2.3.1

[2019-11-19 16:16] #1791 closed, assigned to nobody

[2019-11-19 16:25] paige-kiecker commented on #1786
This will be fixed in 2.3.1

[2019-11-19 16:25] #1786 closed, assigned to paige-kiecker

[2019-11-21 07:27] afi13 opened #1810 "Activity FInder: pagination allows a user to go to 0 page"
AF pagination displays the' previous page' button on the first page of search results, so a user can go to page number 0.

![Screenshot from 2019-11-21 10-22-06](https://user-images.githubusercontent.com/2179416/69315974-dc371f00-0c48-11ea-98c5-6772a455a4eb.png)

[2019-11-21 07:31] afi13 opened #1811 "PEF: openy_repeat_nodes module uses RepeatActualizeBatch class which is not defined in Open Y"
`openy_repeat_nodes` module uses RepeatActualizeBatch class, but the class doesn't exist in Open Y.

https://github.com/ymcatwincities/openy/blob/8.x-2.x/modules/custom/openy_repeat/modules/openy_repeat_nodes/openy_repeat_nodes.module#L9
https://github.com/ymcatwincities/openy/blob/8.x-2.x/modules/custom/openy_repeat/modules/openy_repeat_nodes/openy_repeat_nodes.module#L113

[2019-11-21 11:58] anpolimus opened #1813 "Groupex: bug with the same session at different room"
In case if we have 2 equal name of sessions at different rooms, at PDF render session would be shown at wrong place.

Example:

[2019-11-21 12:00] anpolimus commented on #1813
@paige-kiecker we already fixed it for our client and backporting it to OpenY, since this bug is sensitive.

[2019-11-21 12:49] anpolimus opened #1814 "Activity Finder: bug in case 2 equal categories."
When filtering activities it seems to be only looking at the subcategory rather than the main category and subcategory.

[2019-11-21 13:45] anpolimus commented on #1814
@paige-kiecker , this is backport of bug fixed for one of our client.

[2019-11-21 14:57] paige-kiecker commented on #1813
@anpolimus you are so kind! I will monitor the issue and close it once it's merged

[2019-11-21 15:00] paige-kiecker commented on #1814
Great, thanks @anpolimus

[2019-11-21 15:38] alexschedrov opened #1816 "Carnation: impossible to close error on join page"
- Open http://sandbox.openymca.org/join in carnation
- Click next without selecting membership option
- Whole screen becomes not clickable

![image](https://user-images.githubusercontent.com/1316234/69352472-ae240000-0c85-11ea-837d-5250b44a63b1.png)

[2019-11-22 19:52] #1787 closed, assigned to anpolimus, paige-kiecker

[2019-11-22 19:52] paige-kiecker commented on #1770
@podarok can you look into this Monday?

[2019-11-22 19:55] paige-kiecker commented on #1769
@podarok please check this

[2019-11-26 18:36] paige-kiecker opened #1822 "Correct Sandbox Site Issues"
Currently, images do not display within the tiles on the Sandbox homepage. Also, there is a typo in the Parents' Night Out card that affects both the Sandbox and new OY site installs that use the demo content.

![image](https://user-images.githubusercontent.com/48487047/69662060-42f17980-1049-11ea-956e-d55aae2148e3.png)

[2019-11-28 09:44] afi13 opened #1824 "PEF: Activity details popup is broken after filtering by location"
Steps to reproduce:

- Check activity details popup without any filters
- Verify the popup contains the only description.
- Apply filter by a location.
- The popup contains the list of sessions inside with an infinite loader. And the layout is broken.

![Peek 2019-11-28 12-42](https://user-images.githubusercontent.com/2179416/69795196-c394af00-11dc-11ea-8912-740a021914fe.gif)

[2019-11-29 10:09] afi13 commented on #1824
Looks like a regression after merge of https://github.com/ymcatwincities/openy/pull/1779

[2019-11-29 10:09] podarok commented on #1824
@denysfilatov  could you check if reproducible in YGTC site, please?
/cc @shuklina @dmytrolavrinenko
If no(fixed) - let's backport fix and notify this thread in OpenY GitHub that we are working on backporting it.
Thank you

[2019-11-29 10:34] podarok commented on #1822
FIxed in dev
Will be tagged in next point release

[2019-11-29 10:34] #1822 closed, assigned to podarok

[2019-11-29 12:49] manachynskyi commented on #1824
#1827 should fix this.

[2019-12-03 12:01] anpolimus commented on #1804
We added it to our backlog.

[2019-12-03 12:03] anpolimus commented on #1816
We will take a look on this

[2019-12-04 09:04] afi13 commented on #1824
Fixed

[2019-12-04 09:04] #1824 closed, assigned to podarok, anpolimus, jediandrey

[2019-12-04 13:31] anpolimus opened #1831 "Focal Point: fatal error during work with existed images."
Hi.
We've found this issue during update of our project to latest OpenY

[2019-12-04 13:31] anpolimus commented on #1831
This issue is fixed here: https://github.com/ymcatwincities/openy/pull/1829

[2019-12-04 13:33] anpolimus commented on #1831
@paige-kiecker @podarok

[2019-12-04 15:53] paige-kiecker commented on #1814
This has been merged. Closing the ticket

[2019-12-04 15:53] #1814 closed, assigned to anpolimus, paige-kiecker

[2019-12-04 16:02] #1813 closed, assigned to anpolimus, paige-kiecker

[2019-12-04 16:06] paige-kiecker commented on #1799
@podarok can you look into this? If it doesn't affect the Sandbox Demo content, we can downgrade the severity

[2019-12-04 16:10] #1660 closed, assigned to anpolimus, atiupa, jediandrey

[2019-12-06 12:01] anpolimus commented on #1804
@ddrozdik , @Elenamarchenkova, @paige-kiecker  this is working as expected.
According to implemented logic, color field should be displayed once editor select color card
![image](https://user-images.githubusercontent.com/3023950/70321761-dfc5cb00-1830-11ea-8aa9-2301d3af3fb1.png)

[2019-12-09 13:30] podarok opened #1838 "Change custom code related to usr_alias table to get support for Drupal 8.8+ core"
An initial branch is here https://github.com/ymcatwincities/openy/pull/1834

We have a code that does SQL query against the table which doesn't exist in 8.8 Drupal core https://www.drupal.org/project/drupal/releases/8.8.0 .

We must replace it with a new, based on the entity system. See change record https://www.drupal.org/node/3013865.

We should use `path_alias` entity now.
Once this is resolved

[2019-12-10 16:06] #1795 closed, assigned to nobody

[2019-12-11 17:26] jwtechdesign opened #1844 "Header Image Broken on Program Content Type"
Steps to recreate:

- Log In to the sandbox site
- Change default theme to Carnation
- Edit any Program page & add an image to the "Image" field under the "Header Area"
- Save & View the page

Visually, the image should be showing like a "Small Banner".  However, it's not printing out to the correct area in the HTML, and therefore, styling is not being inherited.  This seems to be an issue arising

[2019-12-12 14:04] #1811 closed, assigned to podarok, anpolimus, jediandrey

[2019-12-12 15:04] anprok commented on #1844
We have a similar problem in Carnation theme for class page
https://github.com/ymcatwincities/openy/blob/8.x-2.x/themes/openy_themes/openy_carnation/templates/node/class/node--class--full.html.twig#L89

Landing page
https://github.com/ymcatwincities/openy/blob/8.x-2.x/themes/openy_themes/openy_carnation/templates/node/node--landing-page--full.html.twig#L111
https://github.com/ymcatwincities/openy/

[2019-12-13 14:13] podarok opened #1851 "Release 8.2.3.4"
Apply reverted code after tagging openy https://github.com/ymcatwincities/openy-project/commit/1454a6723bad98fd0f2ff671276a0a9d8236a488

[2019-12-16 17:05] podarok commented on #1799
@paige-kiecker I guess I won't be able to check it next 1-2 weeks.
Maybe we can assign it to some core-partner to get fixed sooner

[2019-12-17 16:14] podarok commented on #1851
done, tagged 2.0.10 openy-project release.

[2019-12-17 16:14] #1851 closed, assigned to podarok

[2019-12-17 17:03] podarok opened #1856 "Install is broken in 8.2.3.4"
Install OpenY 8.2.3.4 by using composer
Run web install
Profile - Standard
Carnation theme
Import demo content
On some step, you'll see an error

[code]

[2019-12-19 09:19] AndreyMaximov commented on #1856
The temporary solution is to use Drush 8 not Drush 9

[2019-12-19 16:17] #1831 closed, assigned to anpolimus

[2019-12-19 16:17] #1816 closed, assigned to anpolimus

[2019-12-19 16:17] #1810 closed, assigned to anpolimus

[2019-12-19 17:23] #1856 closed, assigned to nobody

[2019-12-20 11:52] afi13 opened #1861 "Block field cannot be used"
Steps to reproduce:

- Go to any paragraph type (or create new one)
- Add a block field
- Set a custom block plugin as a default value for the field, ex. `Repeat Schedules Block`
- Submit the field settings form

AR: Fatal error:
[code]

[2019-12-20 21:35] paige-kiecker opened #1863 "Demo Content Not Rendering Correctly"
Demo content for Grid Content block in Carnation and "What's happening at the Y?" block in Lily are not displaying with proper padding.

![image](https://user-images.githubusercontent.com/48487047/71294446-268de780-233e-11ea-9423-b98a1f8282ec.png)

![image](https://user-images.githubusercontent.com/48487047/71294416-12e28100-233e-11ea-93ca-dc3b65770da9.png)

[2019-12-27 15:30] akaleMulder commented on #1638
I still see the issue with the SELECT LANGUAGE menu item duplicates every time a menu on mobile is opened. Seems like the issue is specific to the Carnation theme.

Steps to reproduce:

1. Open http://sandbox.openy.org/ from a mobile phone (can be reproduced using the developer console of a browser as well). I used Google Chrome Version 79.0.3945.88 on macOS Catalina version 10.15.2 and Google Chr

[2019-12-28 09:54] konservax opened #1867 "[mobile version] Can not scroll Locations page {Carnation}"
specific for **Carnation** theme
steps to reproduce:

- go (via mobile device) to http://sandbox.openymca.org/locations
- scroll page

**Actual result**: scroll is not working because of map zooming, so user can scroll only if holding and scrolling via header
Need to find some solution to make scrolling easier than now

[2020-01-02 21:17] paige-kiecker commented on #1770
@anpolimus the amenities issue still persists so I do not believe your PR resolved it. I will escalate to IXM officially

[2020-01-04 04:20] dwells-tn opened #1870 "Color field does not work for banner in Carnation"
For Carnation, the color for the banner on Carnation is always green, unlike in Rose, which allows you to change the color behind your text.

Two ways to reproduce:
**A. Banner with background color only on desktop and mobile.**
1. Create a landing page.
2. Add a banner to any region and select blue.
3. Hit save.

**B. Banner with image on mobile**
1. Repeat 1-2 from A.
2. Add an image.
3. Hit sav

[2020-01-04 04:24] dwells-tn commented on #1870
You can find the `.banner--green` on `line 58` of
[themes/openy_themes/openy_carnation/templates/paragraph/paragraph--banner.html.twig](https://github.com/ymcatwincities/openy/blob/8.x-2.x/themes/openy_themes/openy_carnation/templates/paragraph/paragraph--banner.html.twig)

[2020-01-06 10:02] anpolimus commented on #1770
@paige-kiecker - we will look to it and adding this issue to our Feb release scope.

[2020-01-06 10:05] anpolimus commented on #1870
@dwells-tn we will look to it.

[2020-01-06 18:35] paige-kiecker commented on #1844
@anprok did the PR you submitted only fix this issue for the Program content type, or did it also resolve the issues you mentioned above for Class pages, Landing pages and all small banner paragraph types?

[2020-01-07 20:53] paige-kiecker opened #1872 "Closing quotation mark does not appear for Story Card"
When using the story card paragraph type in a webpage's sidebar, the closing quotation mark for the story is missing

![image](https://user-images.githubusercontent.com/48487047/71928469-3d657400-315d-11ea-9315-ffeed45f8ddc.png)

[2020-01-07 20:59] paige-kiecker commented on #1872
![image](https://user-images.githubusercontent.com/48487047/71929002-4a369780-315e-11ea-91a5-2cc7751f3bfa.png)

This issue applies to Rose and Lily. The Story card is not supported in Carnation at this time.

[2020-01-08 09:20] anprok commented on #1844
@paige-kiecker I submitted fix only for Program content type at Carnation theme. Actually, I was waiting for approval that to resolve issues on these pages as well

[2020-01-10 21:18] dwells-tn opened #1874 "Table Cell Padding Doesn't Work for Content Editors Using WYSIWYG in Rose/Lily"
**Issue**
- When you try to use the out-of-the-box table widget in WYSIWYG, the cell padding field does not do anything in Lily or Rose.

**Steps to Reproduce**

1.  Go to sandbox.openymca.org
2. Create a landing page with simple content
3. Add a table with 100 pixels of padding. Hit save.

The table is not effected by these changes.

**Potential Issue**
`line 222` in themes/openy_themes/openy_ros

[2020-01-10 21:21] dwells-tn commented on #1874
The path to the issue in Lily: themes/openy_themes/openy_lily/css/vendor/bootstrap/bootstrap.css

[2020-01-20 19:43] #1844 closed, assigned to AndreyMaximov

[2020-01-21 16:15] paige-kiecker commented on #1874
Thanks @dwells-tn, this is a complex issue we are working on a bigger solution to fix. We are exploring our broader strategy for our new design approach for Open Y, which Bootstrap would be a part of.
cc: @podarok

[2020-01-21 16:17] podarok commented on #1861
@afi13 what version of
- plugin
- drupal
- entity_reference_revisions
module do you have?

[2020-01-24 18:40] jwtechdesign opened #1878 "Aligned Images Disappear"
**[Carnation Theme]
[openy-8.x-2.3.5]**

-------

Whenever an embedded image is aligned, it appears in the editor, but does not show at all on the saved page.  I've tested this on multiple WYSIWYG enabled editors, and the issue happens in all instances an embedded image is aligned to anything besides "none".

<img width="527" alt="image" src="https://user-images.githubusercontent.com/32372465/7309

[2020-01-24 20:38] dwells-tn commented on #1638
@akaleMulder @anpolimus  I ran into this at iPhone X/XS resolution on Firefox inspector and on Chrome on my Pixel 3 independent of this issue. Adding screenshots

![Carnation](https://user-images.githubusercontent.com/52217125/73102243-0d390780-3eb7-11ea-92e1-30e3286e89cc.png)

![Lily](https://user-images.githubusercontent.com/52217125/73102260-1924c980-3eb7-11ea-98e5-13e126957aaf.png)

![Rose](ht

[2020-01-24 20:44] dwells-tn commented on #1638
I was sometimes seeing this after just one tap of the nav.

[2020-01-24 21:16] jwtechdesign opened #1879 "Whitespace in Program Header"
**[Carnation Theme]
[openy-8.x-2.3.5]**

-------

There is strange extra whitespace in the header of Program content type pages, with or without an image in the banner.

<img width="1678" alt="image" src="https://user-images.githubusercontent.com/32372465/73104279-aa963a80-3ebb-11ea-80f4-a2f9789af943.png">

This appears to be coming from the CSS on element `.layout-container`:

[code]

I'm not sur

[2020-01-24 21:26] jwtechdesign opened #1880 "No Breadcrumbs on Program Pages"
[Carnation Theme]
[openy-8.x-2.3.5]

----------

The Breadcrumb section seems to be missing on all pages of Program Content Type.

<img width="1268" alt="image" src="https://user-images.githubusercontent.com/32372465/73105148-d87c7e80-3ebd-11ea-887d-b133c5b306ec.png">

They appear on Program Subcategory types, as expected:

<img width="1677" alt="image" src="https://user-images.githubusercontent.c

[2020-01-27 12:07] anpolimus commented on #1838
@podarok , we've made first round of investigation and prepared next plan:

1. Update pathauto contrib module to the last version.
2. Fix OpenY use of url_alias table:
https://github.com/ymcatwincities/openy/blob/8.x-2.x/modules/openy_features/openy_location/modules/openy_loc_camp/src/CampService.php#L193
3. Fix problem at lndr, optimizely and metatags module
    For this purpose, I've created tas

[2020-01-28 12:43] podarok commented on #1838
I'm fine with removing optimizely and lndr from distribution as unsupported
@paige-kiecker @ymcagtc what do you think?

[2020-02-04 11:33] anpolimus commented on #1880
Hi, @jwtechdesign.
In last releases we've fixed feature, called "hide breadcrumbs" which was not working at Carnation before.
Can you verify that Hide breadcrumbs is unchecked at this page?

[2020-02-04 14:11] anpolimus opened #1899 "Twig |render filter produce Twig fatal error."
We are expecting a lot of Twig Fatal error after update to Drupal 8.8.
This is connected to new render logic at Drupal 8.8
I've noticed that this bug is connected to some fields and could appear unexpectedly.

We have to replace |render checks to twig_tweak rule field.isEmpty() to make everything worked.
Carnation has 91 item where this logic is used.

We have to add this message to release notes,

[2020-02-04 14:11] anpolimus commented on #1899
Our team is working on fixes for Carnation right now.

[2020-02-04 14:11] anpolimus commented on #1899
cc @paige-kiecker , @podarok

[2020-02-04 16:11] paige-kiecker commented on #386
This has been resolved via Blazy image loader and some other minor enhancements to improve this issue

[2020-02-04 16:11] #386 closed, assigned to podarok, ivan-berezhnov

[2020-02-04 16:12] paige-kiecker commented on #406
Given low demand and other priorities, this backport was never completed and the platform has since evolved beyond what these paragraph types offer

[2020-02-04 16:12] #406 closed, assigned to podarok, danylevskyi

[2020-02-04 16:14] paige-kiecker commented on #411
This enhancement will be integrated within a larger email integration feature that is compatible with a variety of email platforms

[2020-02-04 16:14] #411 closed, assigned to danylevskyi

[2020-02-04 16:15] paige-kiecker commented on #431
No demand for this feature.

[2020-02-04 16:15] #431 closed, assigned to danylevskyi

[2020-02-04 16:17] paige-kiecker commented on #444
Completed in 2019

[2020-02-04 16:17] #444 closed, assigned to nobody

[2020-02-04 16:18] paige-kiecker commented on #472
This modal has been abandoned by the platform, other media enhancements will be delivered in the February 2020 release

[2020-02-04 16:18] #472 closed, assigned to danylevskyi

[2020-02-04 16:19] paige-kiecker commented on #573
Introduced alternative sub-menu in 2018 that solves for this

[2020-02-04 16:19] #573 closed, assigned to nobody

[2020-02-04 16:20] paige-kiecker commented on #597
Reusable content now exists for multiple paragraph types

[2020-02-04 16:20] #597 closed, assigned to nobody

[2020-02-04 16:21] paige-kiecker commented on #603
@podarok look into backport of YGTC version

[2020-02-04 16:24] paige-kiecker commented on #679
Some organizations may choose to link to these options and we are choosing to not stifle creative approaches to site menus

[2020-02-04 16:24] #679 closed, assigned to nobody

[2020-02-04 16:25] paige-kiecker commented on #719
We will revive this ticket for the May 2020 release

[2020-02-04 16:28] paige-kiecker commented on #805
This issue doesn't appear to affect php 7.2 / drupal 8.8 and we have not heard updates from Yuriy in 2 years

[2020-02-04 16:28] #805 closed, assigned to nobody

[2020-02-04 16:29] paige-kiecker commented on #880
needs more research from Community before action can be taken

[2020-02-04 16:30] paige-kiecker commented on #897
@AndreyMaximov @Sanchiz is this still an active issue? We know you did some work enhancing these types of styling in 2019

[2020-02-05 07:37] duozersk opened #1902 "[Policy] Externalize Vue and related libraries"
We need to put some order into how we use the Vue and related libs (vue-router, vuex, etc.) across the distribution. We already have several Vue-powered applications that include these libs in a variety of ways:
- Activity Finder has 2 separate Vue implementations - one for wizard steps, another one for results listing (https://github.com/ymcatwincities/openy/tree/8.x-2.x/modules/custom/openy_acti

[2020-02-05 11:05] ddrozdik commented on #1902
I like this approach. +1

[2020-02-05 11:09] podarok commented on #1902
Thank you for the suggestions, guys.

approved

approved

approved

approved

approved ( can be made within Multiparticipan Online Registration )

approved

[2020-02-10 15:28] jwtechdesign commented on #1880
Hello @anpolimus - thank you for the update!

However, I do not see this checkbox or feature.  Is there meant to be a checkbox at the node edit level?  Is it on the Content Type settings?

[2020-02-11 16:08] paige-kiecker commented on #898
@podarok please review if this is still an open item

[2020-02-11 16:09] paige-kiecker commented on #950
This has been resolved with the introduction of the Focal Point tool

[2020-02-11 16:09] #950 closed, assigned to nobody

[2020-02-11 16:15] #1085 closed, assigned to podarok

[2020-02-11 16:15] #1086 closed, assigned to podarok

[2020-02-11 16:15] #1087 closed, assigned to podarok

[2020-02-11 16:15] #1088 closed, assigned to podarok

[2020-02-11 16:15] #1089 closed, assigned to AlexNetman

[2020-02-11 16:18] paige-kiecker commented on #1096
@podarok let's add this to the list of May enhancements

[2020-02-11 16:20] paige-kiecker commented on #1158
This has been resolved with the enhanced Focal Point tool in 2.3.0

[2020-02-11 16:20] #1158 closed, assigned to nobody

[2020-02-12 07:43] alexschedrov commented on #897
hi @paige-kiecker! I do not think that the issue is relevant anymore.

[2020-02-12 16:03] #1638 closed, assigned to anpolimus, SanyokMedved

[2020-02-12 16:03] #1764 closed, assigned to anpolimus

[2020-02-12 16:03] #1766 closed, assigned to nobody

[2020-02-12 16:03] #1769 closed, assigned to podarok

[2020-02-12 16:03] #1770 closed, assigned to nobody

[2020-02-12 16:03] #1780 closed, assigned to nobody

[2020-02-12 16:03] #1838 closed, assigned to podarok

[2020-02-12 16:03] #1867 closed, assigned to anpolimus

[2020-02-12 16:03] #1870 closed, assigned to anpolimus

[2020-02-12 16:04] paige-kiecker commented on #1742
Resolved by IXM

[2020-02-12 16:04] #1742 closed, assigned to nobody

[2020-02-12 16:04] paige-kiecker commented on #1644
Resolved by IXM

[2020-02-12 16:04] #1644 closed, assigned to nobody

[2020-02-12 16:06] paige-kiecker commented on #897
Okay, I will close it out then thanks!

[2020-02-12 16:06] #897 closed, assigned to nobody

[2020-02-13 14:28] podarok opened #1916 "Move/regenerate and describe usage of composer.lock file"
In order to have less confusion we need
- remove composer.lock from openy repository and maintain openy-project instead
- describe the usage for upgrade path and maintenance analysis

Slack reference https://openy.slack.com/archives/C6G4ZTLVC/p1581601906267900

[2020-02-18 08:57] ddrozdik commented on #901
@podarok We would like to bring this topic up and discuss how we can help with adding code sniffer to Open Y builds. Our team noticed some PRs are creating with small issues that could be found by code sniffer.

[2020-02-18 09:19] ddrozdik commented on #467
@podarok   you created many docs during the last year. Please review this issue which may be outdated already.

[2020-02-18 12:54] Elenamarchenkova opened #1918 "console error after alert closing (incognito mode)"
When you close an alert, you get the error in the console.

**Steps to reproduce:**

1. Open an incognito mode
2. Go to sandbox: http://sandbox.openymca.org/
3. Set up Lily theme as a default theme
4. Close any alert
5. Check console

**Expected result**: no errors

**Actual result**: there is the error. Please look at the screenshot below:

![incognito mode](https://user-images.githubusercontent.

[2020-02-18 13:22] podarok commented on #901
@ddrozdik we are rebuilding CI, so let's return to this topic in Q3 2020
Thank you

[2020-02-18 16:44] alexschedrov opened #1920 "MyY throws fatal error after installation"
When I go to the fresh Open Y installation/Sandbox and try to enable "OpenY MyY" it throws fatal error after installation.

Also would be nice to have documentation/demo on how to use the MyY feature.

[2020-02-19 14:54] paige-kiecker commented on #1705
This was completed by Five Jars in version 2.4.0

[2020-02-19 14:54] #1705 closed, assigned to nobody

[2020-02-19 14:54] paige-kiecker commented on #1705
This was completed by Five Jars in version 2.4.0

[2020-02-19 14:55] paige-kiecker commented on #1706
This was completed by IXM in Version 2.3.0

[2020-02-19 14:55] #1706 closed, assigned to nobody

[2020-02-19 15:18] paige-kiecker commented on #1920
MyY is in alpha state and
- we need to know which error it is throwing ( probably memory limit, which is acceptable as for alpha )
- this will be fixed in a scope of adopting MyY for YGTC

[2020-02-19 16:43] alexschedrov commented on #1920
@paige-kiecker sounds good! 👍

The error is pretty generic:

![image](https://user-images.githubusercontent.com/1316234/74854224-b6a0db00-5347-11ea-852f-f6dc3f16a750.png)

[2020-02-21 22:25] mattshoaf opened #1928 "GroupExScheduleFetcher cache not validated correctly"
When a user visits a page using the Groupex Pro `group_schedules` block, once they've made the initial selection, changing the form does not update the results.

After some debugging, I discovered that by commenting out
[code]
line 127 in `docroot/profiles/contrib/openy/modules/custom/openy_group_schedules/src/GroupexScheduleFetcher.php` the results will update correctly.

Suggestion: we need to c

[2020-02-24 10:12] #1874 closed, assigned to nobody

[2020-02-24 10:13] podarok commented on #1874
Fixed today in dev.
Thank you

[2020-02-24 11:03] podarok commented on #1021
HI @ddrozdik
With @danylevskyi we need to check what is left after CMS optimization project 5Jars did for YGTC and what was improved by our team during AB test of Schedules for YGTC. We should verify if "New Schedules" from YGTC backported fully or not and backport it into OpenY. Then I'll record a video tutorial how to set Syncer service for proper classes pulling from GroupEx PRO into OpenY.

Re

[2020-02-24 17:12] #1902 closed, assigned to podarok, danylevskyi, anpolimus, AndreyMaximov, ddrozdik, atiupa

[2020-02-24 22:30] #1345 closed, assigned to anpolimus

[2020-02-25 09:32] anpolimus commented on #1738
Hi, @konservax.
I'm trying to review your requests and have some comments.

I've tried **age** keyword search and can see results.
This issue is connected to the configuration of your Apache Solr index and search engine.
Activity Finder works as an interface for your search backend. You could improve your search index at YMCAGBW and get better results. Activity Finder ships with a basic installati

[2020-02-25 09:36] anpolimus commented on #1738
We will discuss it and return back to you.

[2020-02-25 09:44] anpolimus commented on #1738
P20pro

@konservax
_View registration info for our next session._ - this text is added by your team at your project.
This means that this issue should be fixed in the scope of your project. This is not AF issue.
Here is the place where this code is stored:
https://github.com/YMCA-GBW-ORG/ymcabrandywine/blob/4317cb1e5ae1c256a720a6fb95d5102c4427e08a/docroot/themes/custom/ymca_seattle/templates/custo

[2020-02-25 09:47] anpolimus commented on #1738
@konservax, could you please add some details to this issue?

[2020-02-25 11:40] anpolimus commented on #1781
@ddrozdik, @podarok  this is hard-coded across all themes now.

### Links:
https://github.com/ymcatwincities/openy/blob/8.x-2.x/themes/openy_themes/openy_rose/templates/node/node--branch--full.html.twig#L142
https://github.com/ymcatwincities/openy/blob/8.x-2.x/themes/openy_themes/openy_lily/templates/node/node--branch--full.html.twig#L124
At previous release, we've fixed carnation styling of its b

[2020-02-25 11:45] anpolimus commented on #1880
@jwtechdesign nevermind. I've forgot that Programs CT doesent have this feature.
We will fix it.

[2020-02-25 11:50] anpolimus opened #1930 "Activity finder number of weeks bug"
The number of weeks on program search is calculating incorrectly. I have checked several examples and they are all one week short. This was originally reported by Silicon Valley and I checked on Houston and Tampa to confirm. I also made sure no exception dates were present in these examples. I guess the calculation that is working out the number of weeks needs to be fixed.

Example:

![image](http

[2020-02-25 16:15] podarok commented on #1930
Let's verify if weeks calculation is correct in YGTC @danylevskyi @dmytrolavrinenko . Seems like there is a bug, and we need to know if we have rthis fixed or not to backport to OpenY as a bug fix
Could be good task for @shuklina

[2020-02-25 21:36] anpolimus commented on #1781
Scope:
1. Style Branch Contact block not only for Carnation but for Rose and Lily.
2. Delete hard-coded branch address data for all themes.
3. Add new block to Demo content migration

[2020-02-25 21:36] anpolimus commented on #1781
Approved by @paige-kiecker

[2020-02-26 09:11] podarok commented on #1930
Hi @anpolimus
This was fixed a while ago in OpenY and successfully backported to YGTC, that's why we have no issue in AF.
See https://github.com/ymcatwincities/openy/pull/1855 fix.
We recommend updating to latest OpenY or pulling a fix from above PR
Let us know if the issue still there.

[2020-02-26 11:25] anpolimus commented on #1930
Change to 3weeks 2days

[2020-02-27 15:38] YMCA-GTC commented on #1738
Hi @anpolimus We are working on AFv4 for May 2020 and much of these items will be addressed in that release. The bugs above will be resolved, and we will bring in the Age option for the null results experience. Our hope is to have this in the May release. More info will be shared soon by the Five Jars team who are taking this on. No need to duplicate efforts. Thank you!

[2020-02-27 16:55] duozersk commented on #1738
Hi @anpolimus ! As mentioned above by Craig (I believe it was Craig ;)) we are actively working on the AFv4 - which is in general some enhancements on the backend side and completely re-written frontend code. I've skimmed through the bugs reported here and all of them are not present in this new version.
Let's connect in Slack if you want to have more details about it and we can also setup a call

[2020-02-27 17:08] anpolimus commented on #1738
@duozersk, I know.
We are communicating now for holding this until v4 release

[2020-03-06 16:01] #1096 closed, assigned to podarok, anpolimus

[2020-03-06 16:01] #1879 closed, assigned to anpolimus

[2020-03-10 16:04] #1781 closed, assigned to anpolimus

[2020-03-10 16:04] #1880 closed, assigned to nobody

[2020-03-10 21:35] anprok commented on #1918
Let's close this issue

[2020-03-11 12:26] NadyaRudenko opened #1939 "Zip and street address search works not properly on Rose and Lily themes"
If try to search location by zip currently indicated for branches
![image](https://user-images.githubusercontent.com/62060358/76415512-018b9c80-63a2-11ea-898d-37819b829c95.png)
on 5 miles distance it shows nothing, for 10 miles it shows only East YMCA
![image](https://user-images.githubusercontent.com/62060358/76415555-1405d600-63a2-11ea-9c7f-fbac05ae7d5e.png)
![image](https://user-images.githubus

[2020-03-11 13:50] vitalii-stepaniuk opened #1940 "Broken update (openy_loc_branch)"
I get the following on database update:

ArgumentCountError: Too few arguments to function Drupal\openy_upgrade_tool\ConfigParamUpgradeTool::update(), 2 passed in                                                                                                   [error]
/var/www/docroot/profiles/contrib/openy/modules/openy_features/openy_location/modules/openy_loc_branch/openy_loc_branch.install on

[2020-03-12 23:43] mattshoaf opened #1943 "Update drupal-composer/drupal-scaffold to drupal/core-composer-scaffold"
According to https://www.drupal.org/docs/develop/using-composer/using-drupals-composer-scaffold and https://www.palantir.net/blog/guide-drupal-8-8-update the dependency `drupal-composer/drupal-scaffold` should be updated to `drupal/core-composer-scaffold`. The last update to https://github.com/drupal-composer/drupal-scaffold/tree/2.6.1 was over a year ago, so it is probably abandoned as well.

[2020-03-16 14:55] afi13 commented on #1443
The issue has been fixed already.

[2020-03-16 14:55] #1443 closed, assigned to podarok, alexschedrov

[2020-03-16 20:04] afi13 commented on #1861
@podarok I can reproduce it on the sandbox, so it's about default versions. We are preparing the PR with the fix.

[2020-03-17 09:02] #1940 closed, assigned to nobody

[2020-03-17 13:52] Elenamarchenkova opened #1946 "Fix carnation's buggy modal closing behaviour"
A modal with Drupal messages has issues in Carnation:

1. The overlay is not removed after closing the modal. Step to reproduce:

- Go to /userand use invalid credentials for the login form

- Verify the modal with an error is displayed.

- Click modal close button

**AR:** The modal is closed but the black overlay is not removed.
**ER:** The modal is closed and the overlay is removed.

2. The clo

[2020-03-17 15:10] mattshoaf commented on #1943
I created the related issue in the openy-project, both will need to update at the same time: https://github.com/ymcatwincities/openy-project/issues/75

[2020-03-17 16:17] podarok commented on #1943
Thank you @mattshoaf
We already working on this

[2020-03-18 09:19] ddrozdik commented on #1762
Hi @anpolimus. I don't remember if this issue was fixed already, but the issue is still open. Please update the status of this issue. Thank you.

[2020-03-18 09:22] anpolimus commented on #1762
Hi.
It was fixed during November release.

[2020-03-18 09:22] ddrozdik commented on #1133
the fix has been merged already here https://github.com/ymcatwincities/openy/pull/1925. Closing this issue as completed.

[2020-03-18 09:22] #1133 closed, assigned to nobody

[2020-03-18 09:28] #1762 closed, assigned to podarok

[2020-03-18 09:28] #1918 closed, assigned to nobody

[2020-03-18 10:44] Elenamarchenkova commented on #1763
Five Jars starts working on this :)

[2020-03-18 10:49] Elenamarchenkova commented on #1197
Five Jars starts working on this issue.

[2020-03-18 10:52] Elenamarchenkova commented on #1946
Five Jars starts working on this issue.

[2020-03-18 10:58] Elenamarchenkova commented on #1939
Five Jars starts working on the issue.

[2020-03-18 11:11] Elenamarchenkova commented on #1863
Five Jars starts working on the issue.

[2020-03-18 15:04] jwtechdesign opened #1951 "Link Field not displaying in Grid Column paragraph on Lily Theme"
[On Lily Theme]

When using the Grid Content paragraph section, and the link field is filled out, it does not display to the page.  Steps to recreate:

1)  Set theme to Lily
2)  Place a Grid Content paragraph in the page.
3)  Be sure to fill out the Link Field & Hit Save.
4)  The link does not show in the grid column

![image](https://user-images.githubusercontent.com/32372465/76975327-65611880-69

[2020-03-19 12:28] #1951 closed, assigned to nobody

[2020-03-23 13:54] podarok opened #1959 "Drupal 9 upgrade_status fixes"
YGTC team started to prepare code for the Drupal 9 and in coming weeks we'll be posting backports from YGTC codebase to OpenY
Priorities
- YGTC legacy code - first
- OpenY modules - second with backports
- contrib modules

@paige-kiecker for you to be aware
No issues for us for other teams to work on the same for OpenY modules. Just let's coordinate for avoiding possible duplicated efforts.

[2020-03-23 14:09] podarok commented on #1959
@dmytrolavrinenko FYI

[2020-03-23 14:18] #1943 closed, assigned to nobody

[2020-03-24 10:15] dchubar-fj opened #1962 "Branch Contacts Info block is broken in Carnation"
URL: https://sandbox-carnation-cus.openy.org/locations/downtown-ymca

[2020-03-24 13:57] podarok commented on #1962
conversation https://openy.slack.com/archives/C6G4ZTLVC/p1585048171191800?thread_ts=1585046657.190200&cid=C6G4ZTLVC

[2020-03-30 11:37] Elenamarchenkova commented on #1872
Five Jars starts working on this issue.

[2020-03-30 11:40] Elenamarchenkova commented on #1807
Five Jars starts working on this issue.

[2020-03-30 11:53] Elenamarchenkova commented on #1805
Five Jars starts working on the issue.

[2020-03-30 12:21] podarok commented on #1863
Merging, fixed in https://github.com/ymcatwincities/openy/pull/1963

[2020-03-30 12:21] #1863 closed, assigned to nobody

[2020-03-31 10:30] Elenamarchenkova opened #1979 "Theme errors in console"
When you go to the sandbox home page https://sandbox-rose-std.openy.org/, you get the following in the dev console:

![open y](https://user-images.githubusercontent.com/57805241/78016640-c0a8f700-7353-11ea-9826-eb1b65736cbd.png)

Steps to reproduce:

1. Go to https://sandboxes.openy.org/
2. Choose Rose Standard
3. Log in as an admin
4. Get the home page https://sandbox-rose-std.openy.org/
5. Find

[2020-03-31 10:33] ddrozdik commented on #1804
I confirm it works as expected. It can be closed.
cc @paige-kiecker.

[2020-03-31 10:33] #1804 closed, assigned to anpolimus

[2020-03-31 12:40] dchubar-fj commented on #1564
@podarok I think this one can be closed, behat tests have been removed in https://github.com/ymcatwincities/openy/commit/4cb72ad358e4ca0ba453ca55161a430af7cc844a

[2020-03-31 15:21] #1564 closed, assigned to nobody

[2020-04-01 12:54] anprok opened #1981 "Fix config import for OpenY Focal Point module"
During OpenY upgrade on Seattle I found a some Upgrade tool conflict appeared and the reason was incorrect config import in hook updates of some features. There are hook updates to enable using of OpenY Focal Point module where configuration was imported completely, and not the peculiar parameters with the changes imported. This situation led to overwriting the configurations changes made on the p

[2020-04-01 13:14] anprok opened #1982 "Config update after enable media folders"
After adding media folders changes appeared in `core.entity_form_display.media.image.default.yml` that not added to openy_media_image feature.
![image](https://user-images.githubusercontent.com/16559938/78141208-d2fa6200-7433-11ea-95c7-7c50dc93e027.png)

That leads to conflict in OpenY upgrade tool.
We should update config and hook update with import this directory field to avoid conflict in Open

[2020-04-02 11:52] rahulusagility commented on #1928
Adding patch file

[2020-04-06 10:14] #1803 closed, assigned to nobody

[2020-04-06 22:04] mattshoaf opened #1988 "Alert dismissal functionality"
With the new alerts, we've noticed that dismissing an alert on one page prevents alerts displaying on subsequent pages.

Observed cookie values:
`Expires / Max-Age:"Session"`
[code]
The user might not have seen the second alert before dismissing both, and won't see any alerts on subsequent pages, even if it's a different alert than on the ones that were dismissed.

Recommendations:
- Allow each al

[2020-04-14 14:55] #1872 closed, assigned to nobody

[2020-04-14 15:05] paige-kiecker commented on #1939
This was resolved in 8.2.4.4

[2020-04-14 15:05] #1939 closed, assigned to nobody

[2020-04-14 15:07] paige-kiecker commented on #1930
Resolved in 8.2.4.4

[2020-04-14 15:07] #1930 closed, assigned to anpolimus

[2020-04-14 15:08] paige-kiecker commented on #1899
Resolved in 8.2.4.4

[2020-04-14 15:08] #1899 closed, assigned to anpolimus

[2020-04-14 15:10] paige-kiecker commented on #1878
@podarok please investigate

[2020-04-14 15:11] podarok commented on #1878
@dmytrolavrinenko @shuklina to provide an update on this from YGTC

[2020-04-14 15:11] paige-kiecker commented on #1916
This has been resolved with the removal of composer.lock

[2020-04-14 15:11] #1916 closed, assigned to podarok

[2020-04-14 15:13] paige-kiecker commented on #1799
This was resolved with the new Sandbox experience launch

[2020-04-14 15:13] #1799 closed, assigned to podarok

[2020-04-14 15:14] paige-kiecker commented on #1785
this will be fixed in an upcoming Membership enhancement project using skins

[2020-04-14 15:14] paige-kiecker commented on #1763
This was resolved in 8.2.4.4

[2020-04-14 15:14] #1763 closed, assigned to nobody

[2020-04-14 15:16] paige-kiecker commented on #1761
This was determined to not be an issue. Closing and we will monitor any new information from Google

[2020-04-14 15:16] #1761 closed, assigned to podarok, paige-kiecker

[2020-04-14 15:17] paige-kiecker commented on #1708
@anpolimus do any IXM clients currently use these paragraph types or should we deprioritize this task off our roadmap?

[2020-04-14 15:54] #1946 closed, assigned to nobody

[2020-04-21 10:22] dchubar-fj commented on #1962
Fixed on sandbox, can be closed.

[2020-04-21 10:22] #1962 closed, assigned to anpolimus

[2020-04-22 11:03] #1805 closed, assigned to nobody

[2020-04-22 11:09] #1861 closed, assigned to nobody

[2020-04-22 11:21] ddrozdik commented on #1807
I think we can close this issue since the page described above is visible only to the content editor and not supposed to be an independent page.
cc @paige-kiecker, @podarok

[2020-04-23 14:36] paige-kiecker commented on #1981
Assigned to Five Jars, they will backport fix after Seattle upgrade

[2020-04-27 12:32] dchubar-fj opened #2001 "Plugin system for Activity Finder back-ends"
**Problem/Motivation**
Currently Activity Finder works only with 2 default back-ends (solr and daxko) . And we can’t implement custom back-end without Open Y hacks.

**Proposed resolution**
Implement a plugin system for back-ends, so custom back-ends can be easily added with a new plugin. Backend plugins in the `search_api` module is a good example of the idea.

- Implement a new plugin (Annotatio

[2020-04-28 15:16] paige-kiecker commented on #2001
@dchubar-fj this is a great idea! Can you give us an idea of the demand for this feature? Is it for a client of yours?

[2020-04-30 17:34] ugintl opened #2004 "Installing on pantheon"
Is it possible to install it on pantheon?

Currently I am using Acquia Dev Desktop windows 10 for development and using the open y composer template

The reason of using pantheon is that it allows to host 2 free dev sites. So it is easier for me to show the work to the client without paying for the hosting.

[2020-04-30 17:44] podarok commented on #2004
Hi @ugintl
Thank you for your question.

OpenY is just a very very powerful version of Drupal. It is the biggest and most extended Drupal profile in the world.
But it still Drupal

When you do composer create project as described in our docs - you'd get a tree of codebase you'd need to deploy to Pantheon
Docroot folder is a folder where vhost of Webserver should be serving your site from
If Panthe

[2020-04-30 18:12] ugintl commented on #2004
What about the vendor directory? It is outside the docroot folder. Dont we need that?

[2020-04-30 18:14] ugintl commented on #2004
Some D8 projects have a different pantheon template because of the structure.

[2020-05-01 03:03] aaronjchristian opened #2005 "Moving Landing Page "Tab"(s) into a "Tabs" fieldgroup throws error."
When moving the various Tab fieldgroups inside of a Tabs fieldgroup throws an error.

`Notice: Undefined index: #group_name in openy_node_landing_field_group_form_process_alter() (line 12 of profiles/contrib/openy/modules/openy_features/openy_node/modules/openy_node_landing/openy_node_landing.module).`

![Screen Shot 2020-04-30 at 8 00 17 PM](https://user-images.githubusercontent.com/16310921/8077

[2020-05-01 03:08] aaronjchristian commented on #2005
https://www.drupal.org/project/openy/issues/3132760

[2020-05-01 14:34] ugintl commented on #2004
I think the solution is this https://pantheon.io/docs/nested-docroot

but the problem is that the "docroot" folder needs to be converted to "web". How can I do it?

[2020-05-01 16:11] ddrozdik opened #2006 "Undefined index: #group_name in openy_node_landing_field_group_form_process_alter"
While testing Open Y I noticed the following notice. The notice should be fixed.

`Notice: Undefined index: #group_name in openy_node_landing_field_group_form_process_alter() (line 12 of /var/www/openy/modules/openy_features/openy_node/modules/openy_node_landing/openy_node_landing.module)
#0 /var/www/docroot/core/includes/bootstrap.inc(600): _drupal_error_handler_real(8, 'Undefined index...', '/va

[2020-05-01 16:12] ddrozdik opened #2007 "Undefined property: stdClass::$region in field_group_form_process"
While testing Open Y I noticed the following notice. The notice should be fixed.

`Notice: Undefined property: stdClass::$region in field_group_form_process() (line 366 of modules/contrib/field_group/field_group.module).
field_group_form_process(Array, Object, Array)
call_user_func_array('field_group_form_process', Array) (Line: 999)
Drupal\Core\Form\FormBuilder->doBuildForm('node_alert_edit_form'

[2020-05-01 16:15] ddrozdik commented on #2006
Closing this one as a duplicated issue https://github.com/ymcatwincities/openy/issues/2005

[2020-05-01 16:15] #2006 closed, assigned to nobody

[2020-05-07 07:17] akaleMulder commented on #1878
We have encountered the same issue on Carnation on [openy-8.x-2.4.4]. It seems that the only way to get the image displayed is to leave alignment untouched (so align is 'none'). But the problem is that the image is displayed as really large.

On this screenshot the image that I uploaded is just 256x256px.
<img width="1440" alt="Screen Shot 2020-05-07 at 13 14 42" src="https://user-images.githubuse

[2020-05-07 07:50] akaleMulder opened #2011 "Buttons icons"
When I try to add an icon to the button, I can't seem to have icons displayed properly.

Steps to Recreate:

- Log into Sandbox
- Edit any Page that contains a WYSIWYG editable field. (http://sandbox.openymca.org/about - for example)
- Add a button to the page content by clicking the 'button' icon in WYSIWYG
- Go to the Icons tab in the modal window
- Add Fontawesome icon code, i.e. fa-ad or fa-am

[2020-05-14 12:18] #1982 closed, assigned to nobody

[2020-05-14 13:26] podarok commented on #2004
@ugintl you can create a link from docroot to web once `composer create-project` finished

[2020-05-18 19:10] ugintl commented on #2004
How to create a link?

[2020-05-19 15:13] podarok commented on #1959
YGTC dev team planning to upgrade YGTC related OpenY modules next couple of weeks. PRs will be posted right away during that time

[2020-05-19 15:30] paige-kiecker commented on #2011
Thanks @akaleMulder, this seems to be an issue affecting the Fontawesome instance on the Sandbox. we will resolve this internally!

cc: @podarok

[2020-05-20 06:23] #1688 closed, assigned to nobody

[2020-06-10 18:03] aaronjchristian opened #2035 "Advanced Help Block requires jquery.cookie"
https://www.drupal.org/project/openy/issues/3150659

[2020-06-16 15:20] podarok commented on #2035
Thank you, merged

[2020-06-16 15:20] #2035 closed, assigned to podarok

[2020-06-17 19:28] anpolimus commented on #2004
@ugintl you could create a symlink from docroot to web or change composer setting.
Here you can see how do they do it at the official pantheon composer.json example:
https://github.com/pantheon-systems/example-drops-8-composer/blob/master/composer.json#L98

[2020-06-23 21:20] aaronjchristian opened #2043 "Integrate Camp Finder with Daxko V2 Live API Calls"
https://www.drupal.org/project/openy/issues/3154350

[2020-06-23 22:27] aaronjchristian commented on #2043
Patch included on drupal.org against the 8.x-2.x branch.

[2020-06-23 22:42] aaronjchristian commented on #2043
Another attached against 8.2.5.0

[2020-06-25 12:42] podarok opened #2044 "Virtual Y doesn't work for OpenY Rose theme"
![image (5)](https://user-images.githubusercontent.com/563412/85721929-7a68f700-b6fa-11ea-816c-9483d3d02268.png)

[2020-06-30 21:48] froboy commented on #2007
I ran into this as well. It's possibly related to [this issue on drupal.org](https://www.drupal.org/project/field_group/issues/3059614), but I haven't been able to confirm yet.

[2020-07-06 15:04] hamrant commented on #1738
Looks like the issue can be closed, thanks to all!

[2020-07-06 15:04] #1738 closed, assigned to anpolimus, paige-kiecker

[2020-07-07 14:56] paige-kiecker commented on #2044
@podarok @anpolimus can you confirm this is resolved?

[2020-07-09 21:19] sbaker-ymcashr opened #2048 "Embedded YouTube videos do not have a title attribute"
When embedding a video on a landing page through the Drupal YouTube embed entity tool, there is no place to enter video title, and no title attribute is created in the rendered iFrame code. This is being flagged on the YMCA of South Hampton Roads site as a Level A accessibility issue.

[2020-07-09 21:33] sbaker-ymcashr opened #2049 "Embedded YouTube video uses HTML to format content"
HTML code is being used to format content (Level A accessibility issue) for all of my embedded YouTube videos. The rendered HTML from embedding the YouTube video through the Drupal embed entity tool has the following attributes: <iframe width="854" height="480" frameborder="0" allowfullscreen="allowfullscreen" src="YOUTUBE VIDEO LINK">

[2020-07-21 15:07] podarok commented on #2049
@sbaker-ymcashr could you clarify what is the issue here? Is this a duplication of https://github.com/ymcatwincities/openy/issues/2048 ?

[2020-07-21 15:24] sbaker-ymcashr commented on #2049
Hi @podarok, this is related to #2048 but flagging as a separate issue in SiteImprove.

I'm not 100% certain which tag is being considered formatting, but I am thinking that could be the "frameborder=0" tag, but maybe also the width and height tags as well? Here is the help text from SiteImprove regarding this issue:

**Description of this issue:**
Presentational attributes such as 'border', 'alig

[2020-07-22 14:40] christianguitarfreak opened #2055 "Feature Request: Smart Banner App for mobile view in Safari"
Could we add a way for associations to fill out a field (app-id) and automatically populate a Meta Tag in the header for their app. Doing so would populate a banner on mobile devices in Safari that references the app. The code below is an example for YMCA of Greater Fort Wayne.

There is a similar way to do this for Google Chrome/Android apps, but it requires scripting and a little bit more work.

[2020-07-22 14:46] podarok commented on #2055
Hi
Thank you for the request
There is a way to manage tags via metatag subsystem which is already exists in Open Y out of the box
Adding dedicated functionality would create maintenance overhead.

These metatags from different vendors usually evolve overtime, which could also cause regressions.

So I vote for working on a tutorial for how to add this meta information via metatag Admin UI.

[2020-07-23 14:55] paige-kiecker commented on #2048
@sbaker-ymcashr after initial investigation, we determined this is an issue rooted in Drupal itself, and will have to develop a custom fix for it within Open Y. We have scheduled that fix for our November 2020 release.

[2020-08-05 18:32] froboy opened #2073 "Carnation/Lily: Small Banner image is output full size"
As seen on both:
https://sandbox-lily-std.openy.org/
https://sandbox-carnation-std.openy.org/

See [PageSpeed Insights for Carnation](https://developers.google.com/speed/pagespeed/insights/?url=https%3A%2F%2Fsandbox-carnation-std.openy.org%2F)

The first image in the "Small Banner" paragraph is output directly instead of being passed through an image style. This can result in massive payloads for

[2020-08-05 22:05] froboy opened #2074 "Lily: Location finder on homepage should render conditionally"
https://github.com/ymcatwincities/openy/blob/99563ebb03e43716c3153ce9e0c78333315cac44/themes/openy_themes/openy_lily/templates/page/page--front.html.twig#L14-L33

If the locations page is disabled, this block still renders in the header on the homepage. It'd be good to check to make sure `/locations` exists before sending people there.

[2020-08-06 11:30] podarok opened #2075 "Upgrade drupal/search_api_solr - in Drupal 8"
drupal/search_api_solr current version 1.3 - should become ^4.1
Accordingly to search_api_solr documentation 4.x version supports 4-8 versions of Solr.
search_api_solr 1.x is not supported and outdated.
Let's upgrade it in OpenY Drupal 8 in order to unblock Drupal 9 and provide support for decent versions of Solr

We also need upgrade path for existing users

TIP: In Drupal 9 there is a change tha

[2020-08-06 11:32] podarok opened #2076 "Upgrade migrate_* contribs - in Drupal 8"
We have old versions of migrate_* contribs.
In order to unblock us for Drupal 9 we should have them upgraded
drupal/migrate_plus | ^4.0 => ^5
drupal/migrate_source_csv | 2.2 => ^3
drupal/migrate_tools | ^4.4 => ^5

Let's upgrade these in Drupal 8 first

We need to ensure Demo content and Virtual Y demo content remains working after upgrade.

[2020-08-06 11:34] podarok opened #2077 "Upgrade paragraphs module - in Drupal 8"
In order to become ready for Drupal 9 we should get this module upgraded
drupal/paragraphs 1.6 => 1.12
After upgrade we need to ensure our paragraphs remain working

Let's upgrade these in Drupal 8 first

PS. All demo content was successfully imported with 1.12 Paragraps in Drupal 9.

[2020-08-06 11:37] podarok opened #2078 "Fix alias_manager dependency to unblock OpenY Extended/Custom"
Fix alias_manager dependency to unblock OpenY Extended/Custom

Drupal 9 : In CheckExceptionOnInvalidReferenceBehaviorPass.php line 86:

[code]
See https://www.drupal.org/node/3092086
We can fix it in Drupal 8 in order to unblock Drupal 9 Extended/Custom profile installation

[2020-08-06 11:39] podarok opened #2079 "Upgrade drupal/webform - in Drupal 8"
in composer
drupal/webform ~5.12 => ^6
+ testing needed for current webforms remain working

[2020-08-06 11:42] podarok opened #2080 "Upgrade some contribs - in Drupal 8"
In order to become ready for Drupal 9, we should upgrade and test for regressions modules below
(checkbox = Tested in Drupal 9)
- [x] drupal/better_exposed_filters  ~3.0-alpha5 => ^5
- [x] drupal/recaptcha  ~2.5 => ^3
- [ ] drupal/simple_menu_icons  1.x-dev => 2.x-dev
- [x] drupal/slick_views  1.0-rc2 => ^2

[2020-08-06 12:06] podarok opened #2081 "Fix jQuery.ui not in the core"
While installing 9.x-2.x

![image](https://user-images.githubusercontent.com/563412/89530000-6aaef900-d7f6-11ea-88bd-94007a8386ff.png)

See https://www.drupal.org/node/3067969 and https://github.com/ymcatwincities/openy/blob/9.x-2.x/openy.libraries.yml#L9

And https://github.com/ymcatwincities/openy/search?l=YAML&q=jquery.ui

[2020-08-06 12:13] podarok opened #2082 "Fix jquery_colorpicker / switch to colorapi"
this module is abandoned
Here is a fork https://github.com/ymcatwincities/jquery_colorpicker with changes made but still not working, due to alpha version which is far from being finished.
See https://github.com/ymcatwincities/jquery_colorpicker/blob/8.x-2.x/jquery_colorpicker.install#L35
There is another fork https://github.com/ymcatwincities/colorapi which could be enabled after all changes

Cur

[2020-08-13 14:33] froboy opened #2089 "`npm-assets` not installing on `composer install --no-dev`"
https://github.com/oomphinc/composer-installers-extender is required to get `npm-asset/*` packages installed properly, but it's a dependency of `ymcatwincities/openy-cibox-build` , `openy-cibox-vm`, and `openy-docksal`. All of those are in `require-dev` of `openy-project` but not here so they don't get included in `composer install --no-dev` or if the platform is built without `composer create-pro

[2020-08-18 15:33] #2089 closed, assigned to nobody

[2020-08-20 09:32] podarok opened #2096 "Twig replace filter is changed in Drupal 9"
Use https://github.com/ymcatwincities/openy/tree/9.x-2.x branch for reproducing

Any Landing Page from Demo content
[code]

[2020-08-20 09:42] podarok opened #2097 "Render #lazy_builder callbacks must be methods of a class that implements \Drupal\Core\Security\TrustedCallbackInterface"
Use https://github.com/ymcatwincities/openy/tree/9.x-2.x branch for reproducing

Visit demo /programs/youth-programs/academic-success

[code]

[2020-08-20 09:44] podarok opened #2098 "Call to undefined function Drupal\openy_system\Form\system_rebuild_module_data()"
Use https://github.com/ymcatwincities/openy/tree/9.x-2.x branch for reproducing

Visit admin/openy/extend/list

[code]

[2020-08-20 09:45] podarok opened #2099 "Call to undefined method Drupal\Core\Entity\Sql\SqlContentEntityStorage::getFieldStorageDefinitions"
Use https://github.com/ymcatwincities/openy/tree/9.x-2.x branch for reproducing

Visit admin/openy/extend/uninstall

[code]

[2020-08-20 09:48] podarok opened #2100 "Call to undefined method Drupal::entityManager"
Use https://github.com/ymcatwincities/openy/tree/9.x-2.x branch for reproducing

Visit /locations

[code]

[2020-08-20 10:47] podarok opened #2101 "Menu links are not imported in Demo content"
Use 9.x-2.x as starting branch

![image](https://user-images.githubusercontent.com/563412/90761166-b0d28500-e2eb-11ea-9bce-a84160022c0a.png)

See https://github.com/ymcatwincities/openy/pull/2032#issuecomment-677505730

[2020-08-20 11:18] podarok commented on #2078
This is done and merged in both Drupal 8 and 9.
Thank you

[2020-08-20 11:18] #2078 closed, assigned to nobody

[2020-08-20 11:18] podarok commented on #2076
Could be connected to https://github.com/ymcatwincities/openy/issues/2101

[2020-08-26 13:23] #2076 closed, assigned to nobody

[2020-08-26 13:29] #2077 closed, assigned to nobody

[2020-08-27 09:40] #2096 closed, assigned to nobody

[2020-08-27 13:34] podarok opened #2114 "Amenities checkboxes are not processed by JS"
![image](https://user-images.githubusercontent.com/563412/91448707-e266c580-e882-11ea-905f-31029f8b9f90.png)

Could be related to #2081

[2020-08-27 14:20] podarok commented on #2100
This is fixed now

[2020-08-27 14:20] #2100 closed, assigned to nobody

[2020-08-27 15:25] podarok opened #2116 "Error: Call to undefined method Drupal\Core\Database\Query\Select::rightJoin()"
See https://www.drupal.org/node/2765249

/schedules/get-pdf?categories=&date=2020-08-27&limit=Cardio%2CStrength%2CForever%20Well&locations=&rooms=

[code]

[2020-08-28 13:16] #2116 closed, assigned to podarok, danylevskyi

[2020-08-28 13:27] #2097 closed, assigned to podarok

[2020-08-31 18:39] ddrozdik opened #2129 "Alerts "Visibility Pages" field does not work for <front> path"
When I add <front> to the Visibility Pages field I expect that alert will be displayed only on the homepage. But at the moment it does now work.
![image](https://user-images.githubusercontent.com/6285570/91754207-b5434b80-ebd1-11ea-9e3b-a50b08caa411.png)

Also, I noticed that the description field does not render the needed token \<front>
![image](https://user-images.githubusercontent.com/6285570/

[2020-08-31 18:39] ddrozdik commented on #2129
cc @paige-kiecker

[2020-09-02 10:25] podarok opened #2132 "Call to a member function getDefinition() on nul"
Edit `program-search` or any branch from demo

[code]

[2020-09-02 14:21] podarok commented on #2098
Backported from https://github.com/ymcatwincities/openy/commit/1b39f4d8582ba5f5d6ee726fbb8ae52c3a08a91a

[2020-09-02 14:22] #2098 closed, assigned to podarok

[2020-09-02 14:30] podarok commented on #2132
Try 1 https://github.com/ymcatwincities/openy/commit/ec4d35d2e7c9abdab293cb31d23ea7e95971e969

[2020-09-02 14:54] podarok opened #2135 "All themes visual regressions"
1. Membership calculator images are hidden:

https://sandbox-carnation-cus.openy.org/join

![Screenshot from 2020-09-02 17-47-35](https://user-images.githubusercontent.com/13733670/92000008-b4cbc180-ed45-11ea-9c3b-18c1ba2f2a32.png)

2. Gallery/banner is broken on the sandbox

- https://sandbox-carnation-cus.openy.org/about
- https://sandbox-carnation-cus.openy.org/give
- https://sandbox-carnation-

[2020-09-02 15:04] podarok commented on #2132
fixed

[2020-09-02 15:12] #2132 closed, assigned to podarok

[2020-09-02 16:07] jwtechdesign opened #2136 "Alerts placed in Header appear in Pre-Footer of Program & Program Subcategory nodes [Carnation]"
Steps to Recreate:

1) Create an Alert
2) Select Placement as "Header" on all pages
3) View a Program Subcategory Node

The alert will appear in the footer of the page.  Here's the HTML structure:

<img width="614" alt="image" src="https://user-images.githubusercontent.com/32372465/92007968-2a1aa080-ed0c-11ea-986f-193e926426be.png">

This is most likely an issue with the twig templates, but have n

[2020-09-02 16:15] jwtechdesign commented on #2135
Also noticed that the images are broken in "program subcategory listing" paragraphs:

https://sandbox-lily-cus.openy.org/programs/health-and-fitness
https://sandbox-rose-cus.openy.org/programs/health-and-fitness
https://sandbox-carnation-cus.openy.org/programs/health-and-fitness

[2020-09-02 16:39] hamrant commented on #2135
Gallery/banner issue reproduced in Open Y 8.2.6.1, works fine in current dev.

The rest of the issues with images related to blazy, but I can't reproduce it in dev release or in 8.2.6.1. Continue investigation

[2020-09-02 17:39] hamrant commented on #2135
On local I have Blazy 8.x-2.0-alpha1 (No issue)
On sandbox Blazy 8.x-2.1 (With issue)

I tested dev version of blazy, here same issue, and looks like there no patch for this.
Fast solution - rollback previous version for new point release (after this we can investigate and fix this problem in blazy to have drupal 9 support with this module).
For gallery fix in carnation we need this commit - https

[2020-09-03 12:10] podarok opened #2138 "TypeError: Argument 1 passed to Drupal\Core\Cache\CacheableMetadata::applyTo() must be of the type array, null given,"
Adding Social List paragraph to Landing Page
[code]

[2020-09-04 13:22] podarok commented on #2081
This is fixed

[2020-09-04 13:22] #2081 closed, assigned to podarok

[2020-09-04 14:16] hamrant commented on #2135
Both issues fixed in the current dev branch, @podarok feel free to close this one

[2020-09-07 13:08] #2099 closed, assigned to podarok

[2020-09-07 14:30] #2101 closed, assigned to podarok

[2020-09-07 15:07] podarok opened #2148 "InvalidArgumentException: Invalid values given. Values must be represented as an associative array."
Visit `/admin/structure/menu/item/13/edit?destination=%2Fbuild2525%2Fnode%2F36`

[code]

[2020-09-07 16:44] dwells-tn opened #2151 "Drupal 9 - Adding a Date Block breaks Landing Pages and throws "Website encountered an unexpected issue""
**Issue description:** When a content editor tries to add a date block to a landing page on any D9 Open Y theme, Drupal throws the white "unexpected error" page.

### Steps to Recreate:

1. Go to any theme (both extended and custom; date block doesn't come on standard install.
2. Add new landing page and add date block.
3. Put any content inside the three paragraph fields (I tested with simple con

[2020-09-07 22:15] dwells-tn opened #2152 "Inline Editing Disabled on Open Y Sandboxes"
**Issue Description:** The Inline editors developed in Open Y 2.4 is not currently enabled on the sandboxes, both in Drupal 9 alphas and public Drupal 8 sandboxes.

**How to reproduce**

- Go to sandboxes.openy.org and login
- Click on a landing page. None of the inline tools show up.

[2020-09-07 22:17] dwells-tn opened #2153 "Focal Point Crop and Manual Crop Not Enabled on Sandboxes"
**Issue Description:** Cropping tools for Open Y are not available on the sandboxes.

**How to reproduce**

- Visit the media browser tab and click "Quickedit media(s)" on any photo.
- Click "Edit in new tab."
- None of the editing tools demoed in OY 2.3 are enabled in sandbox.

[2020-09-08 06:34] podarok commented on #2152
It's not disabled. Now you need to click on "Geysir" in a top right corner in order to enable contextual links for inline editing https://www.youtube.com/watch?v=w_k6az6pwnI
This came with contrib module updated

[2020-09-08 06:34] #2152 closed, assigned to nobody

[2020-09-08 07:06] podarok commented on #2151
[code]

[2020-09-08 07:58] podarok commented on #2151
fixed
Thanks for reporting

[2020-09-08 07:58] #2151 closed, assigned to nobody

[2020-09-08 08:02] #2079 closed, assigned to podarok

[2020-09-08 09:29] podarok opened #2156 "ArgumentCountError: Too few arguments to function Drupal\Core\Config\ConfigImporter::__construct(), 9 passed in /var/lib/jenkins/jobs/PR_BUILDER_COMPOSER/workspace/build2529/openy-profile/modules/custom/openy_upgrade_tool/src/OpenyUpgradeLogManager.php on line 496"
When clicking on "Install OpenY version" in Upgrade dashboard

[code]

[2020-09-08 10:27] podarok opened #2158 "Restore media_directories settings"
https://github.com/ymcatwincities/openy/blob/8.x-2.x/modules/openy_features/openy_media/config/install/media_directories.settings.yml was removed because it was blocking Drupal 9 from installation. But now we have a regression in Media settings, which should be fixed

[2020-09-08 12:47] podarok opened #2163 "Write hook_update_N for all changed configs between 8->9 branches"
https://github.com/ymcatwincities/openy/compare/8.x-2.x...9.x-2.x

A bunch of configs was updated, we should take care of the upgrade path

[2020-09-08 14:18] podarok commented on #2153
Module upgraded from 8.x-1.0-beta6 to 8.x-1.5 https://git.drupalcode.org/project/focal_point/-/compare/8.x-1.0-beta6...8.x-1.5#c11fe6755541e0364fc8bb6cf24e0ea1fff2d700
So we should upgrade our code respectively

[2020-09-09 06:43] #2114 closed, assigned to nobody

[2020-09-09 10:11] podarok opened #2168 "Place Secondary Tabs block for Claro become usable"
![image](https://user-images.githubusercontent.com/563412/92585619-de34a200-f29d-11ea-8696-8e609b478229.png)

[2020-09-09 11:35] podarok opened #2169 "Fix Branch amenities block"
We should fix Custom Formatters https://www.drupal.org/project/custom_formatters/issues/3169904

No Labels and Types displayed
![image](https://user-images.githubusercontent.com/563412/92593253-7b490800-f2a9-11ea-9fc4-daa37ae1fa7e.png)
Editing formatter returns

[code]

[2020-09-09 12:02] podarok opened #2171 "header.html/footer.html in Rose error 500"
Location | https://sandbox-rose-cus-d9.openy.org/header.html
-- | --
[code]

[2020-09-10 09:38] podarok commented on #2080
drupal/simple_menu_icons 1.x-dev => 2.x-dev doesn't work in Drupal 8
[code]

[2020-09-10 09:56] #2080 closed, assigned to podarok

[2020-09-10 12:36] podarok opened #2178 "Fix review comments from merged PR"
Thanks to @AndreyMaximov

TODO: https://github.com/ymcatwincities/openy/pull/2142#pullrequestreview-482660759

[2020-09-10 13:32] podarok opened #2180 "Update contrib modules in Drupal 8 Open Y"
![image](https://user-images.githubusercontent.com/563412/92736701-2f6a9180-f383-11ea-848d-c18242a18e64.png)

[2020-09-10 13:42] sarah-halby commented on #2075
@podarok Julia checked this off in Basecamp. Can you please review, test, and determine whether or not we can close this item out?

[2020-09-10 21:18] sarah-halby commented on #467
@podarok let's review this item and see if we need to update it for the move to Drupal 9 or if this should be closed out as an outdated item.

[2020-09-10 21:19] sarah-halby commented on #598
@podarok is this still a bug? Checking in since the last comment was over a year ago.

[2020-09-11 12:47] sarah-halby commented on #1645
@podarok are we ready to retest this issue given the recent upgrades with solr from the Drupal 9 upgrade work?

[2020-09-11 12:49] sarah-halby commented on #2135
@podarok per @hamrant's comment above, is this issue ready to be closed, or are there next steps needed?

[2020-09-11 12:51] sarah-halby commented on #1421
@podarok confirming that this has been added to your testing log for Drupal 9 work per your comment on Aug 29, 2019? Have dependencies been tested and we are confirmed to remove this as a part of the Drupal 9 upgrade?

[2020-09-11 13:17] podarok commented on #2158
@sarah-halby to add a reference to Media upgrade task for @ymcatwincities/five-jars

[2020-09-11 13:21] podarok commented on #2138
TODO: to check usage in DIstro - if not used any more - we can deprecate this and remove from distribution, but after community approval

[2020-09-11 13:24] #2135 closed, assigned to nobody

[2020-09-11 13:25] podarok commented on #2135
this is fixed in both 8/9 Drupal
/cc @hamrant

[2020-09-11 13:32] podarok commented on #2073
Here is a fix for Carnation https://github.com/ymcatwincities/openy/pull/2134 @froboy
Let us know if this works for you

[2020-09-11 15:22] podarok opened #2182 "Membership calculator step 2 is broken - Locations Filter has a bug"
It supposed to display list of branches for the user to select a needed one.
![image](https://user-images.githubusercontent.com/563412/92943594-a1aea500-f45b-11ea-9e68-c783bea14bd4.png)

[2020-09-11 17:07] sarah-halby commented on #2077
@podarok can you review the commits added after you closed this issue?

[2020-09-11 17:10] sarah-halby opened #2183 "Upgrade/Depreciate Media"
As an Open Y product manager, I would like to upgrade or depreciate media_* and tested in Drupal 8 so that that other Drupal 9 work for Open Y extended and custom can be tested.

Done when:
media_* is upgraded & tested in Drupal 8

@podarok please add more detail on Monday when you return.

FiveJars team, this corresponding to the work in Basecamp as previously discussed.

[2020-09-11 17:12] sarah-halby commented on #2080
@podarok has this item been tested? drupal/simple_menu_icons 1.x-dev => 2.x-dev - it is not checked off above. This item is also one of the items assigned to the Five Jars team. Does this need to be reopened?

[2020-09-11 20:44] froboy commented on #2073
@podarok #2134 looks great. Thank you! Is there a plan to do the same for Lily?

[2020-09-11 21:36] dwells-tn opened #2184 "WYSIWYG - Entity Embed Image Link Doesn't Work"
**Issue Description:** The entity image embed link field doesn't work online.[See https://sandbox-lily-ext-d9.openy.org/news/photo-link-test](https://sandbox-lily-ext-d9.openy.org/news/photo-link-test) for a demo (picture should link to /locations).

**Steps to recreate**

- Add a blog post/news post/Virtual Y blog post
- In the body/content area, embed an image
- Add a link
- Save content

[2020-09-14 12:04] podarok commented on #2183
We have media in core and a bunch of contrib modules named media_* - let's investigate if there is a way to reuse core and get rid of contribs

[2020-09-14 17:55] sarah-halby commented on #2076
@podarok can you please review the commits that came in after you closed this item?

[2020-09-15 07:21] podarok commented on #2077
@sarah-halby no need to review commits there. Those were fivejars team references to this issue during sync of the code between their branches in their forks.

[2020-09-15 07:21] podarok commented on #2076
@sarah-halby no need to review commits there. Those were fivejars team references to this issue during sync of the code between their branches in their forks.

[2020-09-17 12:51] podarok opened #2191 "Vue Applications are not loading in Rose content region"
Example: Activity Finder in content section for Rose

https://sandbox-rose-cus.openy.org/activity-finder#/

![image](https://user-images.githubusercontent.com/563412/93472623-98ab5100-f8fd-11ea-8a9e-958817bf41d0.png)

[2020-09-18 10:28] NightHunterSV opened #2193 "Remove reference to a non-existing CT "location" from configs"
While upgrading to the latest version of Open Y I noticed a warning that reports there is a reference in the `repeat_schedules` paragraph to a not existing content type `location`. I believe it should be removed from configs.

The following config contains this broken reference:
field.field.paragraph.repeat_schedules.field_prgf_repeat_loc.yml

Below is the example of its presence:

https://github.

[2020-09-18 12:50] #2183 closed, assigned to nobody

[2020-09-18 12:51] #2075 closed, assigned to nobody

[2020-09-18 14:48] sarah-halby commented on #2153
@podarok user story has been opened for FiveJars in Basecamp and Julia has been notified. Once I get a time estimate for completion and due date, I will add a comment to this issue.

[2020-09-18 15:49] podarok commented on #2082
This is fixed now

[2020-09-18 15:49] #2082 closed, assigned to nobody

[2020-09-18 20:42] sarah-halby opened #2196 "Branches Popup All & Classes"
Issue in Rose, Lily & Carnation - the only option in Branches pop up is all - individual location is not available. @podarok please add more details and steps to test & review.

Time estimate to fix: 8 - 16 hours

Lines 19 & 20 in testing/tracking document for Drupal 9, available on developers slack channel.

[2020-09-19 15:38] akaleMulder opened #2197 "'Add to calendar' on the Schedules page creates an incorrect event"
Steps to reproduce:
1. Go to https://www.ymcanorth.org/y-schedules
2. Move 3-4 days forward from the current date (I moved from Sep 19 to Sep 22)
3. Click the 'Add to Calendar' link next to any class and select 'Google Calendar' (or any other Calendar of your choice, I know the issue can also be reproduced in Outlook)

ER: Event will be added to the calendar with the title of the class I selected,

[2020-09-21 12:49] podarok commented on #2197
Fixed on YN https://github.com/ymcatwincities/yn/pull/4827
To be backported by @svicervlad soon

[2020-09-21 19:16] sarah-halby commented on #2197
@podarok per our Slack conversation, we will hold on adding this to the distribution until the October or November release, depending on the timing. Due to its severity and label as a bug, it will not be pushed into the 9/23 release.

[2020-09-22 09:27] ddrozdik commented on #2193
@podarok, @sarah-halby ^^

[2020-09-22 11:26] #2197 closed, assigned to nobody

[2020-09-22 13:55] sarah-halby opened #2199 "Google Search - Drupal 9"
Google Search needs to be tested in Lily, Rose, and Carnation against mod creation. @podarok please add additional details as needed. Corresponds to row 37 in Drupal 9 testing & tracking document.

[2020-09-22 13:57] sarah-halby opened #2200 "Group Schedules - Group Ex Pro"
No content is showing in Drupal 9 for Rose & Carnation. Live testing is needed for Group Ex pro data.

[2020-09-22 13:59] sarah-halby opened #2201 "Latest Blog Post - Lily Picture Taller than No Picture"
This Picture Block is taller than the No Picture Block in Lily. Andrii to investigate if that is intentional and if not, how to address.

[2020-09-22 14:26] sarah-halby opened #2202 "Latest News Posts (Branch) - Image/Text Overlap"
In Lily, the image overlaps the text below it in Drupal 9. @podarok to add additional testing and replication steps.

[2020-09-22 14:35] sarah-halby opened #2203 "Daxko Program Registration - Testing Needed"
Daxko Program Registration needs to be tested to ensure testing and compatibility with Drupal 9. @podarok to provide additional details.

[2020-09-22 14:44] sarah-halby opened #2204 "Active Net Helper Module Testing"
Corresponds to line #155 in the Drupal 9 testing & tracking document. The helper module for Active Net needs to be tested to ensure functionality in Drupal 9 and ensure there are no regressions during the upgrade process. @podarok to provide additional testing steps and needs here.

[2020-09-22 15:07] sarah-halby commented on #2191
This is not working when configured in specific regions within Rose - a layout issue.

[2020-09-22 15:22] sarah-halby commented on #2044
@paige-kiecker Andrii says this is resolved for Virtual Y, but it has not been resolved for Open Y yet.  We are keeping this open in the meantime.

[2020-09-22 15:23] #1959 closed, assigned to podarok, danylevskyi

[2020-09-22 15:26] sarah-halby commented on #1800
Once Activity Finder from Y of the North is backported into Open Y, this issue should be reviewed and revisited, but @podarok believes the backport will fix this issue. Potential for February 2021 release.

[2020-09-22 15:29] sarah-halby commented on #1645
This is still a hardcoded issue - still to be reviewed in the future, severity reduced to minor due to length of issue and lack of impact.

[2020-09-23 15:38] #2169 closed, assigned to podarok

[2020-09-23 15:39] #2148 closed, assigned to podarok

[2020-09-23 15:40] sarah-halby opened #2207 "Repeat Schedules Locations - Carnation"
Design glitches in Carnation. @podarok to provide additional details.

[2020-09-23 15:42] sarah-halby opened #2208 "Cachet Font Testing on Drupal 9"
Cachet Font needs to be tested on Drupal 9 in Lily, testing needs to be done in Carnation. @podarok to add additional details.

[2020-09-23 15:45] sarah-halby opened #2209 "Content Type: Events in Rose & Lily"
Testing needed for Event Content type in Rose & Lily themes for Drupal 9. @podarok to provide additional details.

[2020-09-23 16:08] podarok commented on #2209
I already did testing, it was connected to jQuery part which is fixed now

[2020-09-25 10:41] podarok commented on #2196
This is fixed in both 9.x and 8.x branches

[2020-09-25 10:41] #2196 closed, assigned to podarok

[2020-09-25 10:44] podarok commented on #2182
This is fixed

[2020-09-25 10:44] #2182 closed, assigned to podarok

[2020-09-25 10:45] podarok commented on #2178
This is fixed https://github.com/ymcatwincities/openy/commit/b0d332dbd25b89d700d63f8eff66a4d457d46594

[2020-09-25 10:45] #2178 closed, assigned to podarok

[2020-10-02 07:07] dchubar-fj commented on #2203
Activity Finder with Daxko back-end works fine with the Open Y Lily and Carnation themes.

But it doesn’t work with the Open Y Rose theme with any back-end - Activity Finder is not loaded at all. **The problem is not related to the Daxko integration or to Drupal 9**. And is reproducible even with the current stable version of Open Y. You can see it on sandbox https://sandbox-rose-cus.openy.org/pro

[2020-10-02 14:57] sarah-halby commented on #2203
@podarok please review the above and outline the next steps for the FiveJars team here.

[2020-10-02 22:14] sarah-halby opened #2219 "All News Category Pages in Carnation Open Y sandbox are broken"
An issue raised by @froboy on October 2, 2020. All news category pages in the Carnation Open Y sandbox are broken. Experience can be recreated here: https://sandbox-carnation-std.openy.org/news/category/summer-day-camp

@podarok low priority given how buried it is in the sandbox.

[2020-10-02 22:18] sarah-halby opened #2220 "Maximum Upload Size causes Silent JS Error"
Thanks to @froboy for identifying this issue via Drupal: https://www.drupal.org/project/dropzonejs/issues/2924425

This alleviates the issue, but does not solve the root cause: https://www.drupal.org/docs/7/managing-site-performance-and-scalability/increase-upload-size-in-your-phpini

@podarok please investigate options to truly address the issue.

[2020-10-05 13:49] podarok commented on #2203
@dchubar-fj could you test if Activity Finder is loading in Rose in Bottom content region?
If it does - then this is a known issue for Rose that  is also true for Virtual Y and any vuejs app in Content region of Rose

[2020-10-05 15:49] dchubar-fj commented on #2203
@podarok I can't add the Activity Finder to the bottom region for testing because this issue blocks me https://www.drupal.org/project/plugin/issues/3174110
I will let you know if I find a solution.

[2020-10-06 08:18] podarok commented on #2207
This is how they look in Carnation in Drupal 8 / 9
![image](https://user-images.githubusercontent.com/563412/95176483-9c781800-07c5-11eb-91a4-87e1b9bde7fe.png)

[2020-10-06 09:01] podarok commented on #2153
Fixed and verified on D9 sandbox
![image](https://user-images.githubusercontent.com/563412/95181183-a3098e00-07cb-11eb-99d0-24b5af9216df.png)

[2020-10-06 09:01] #2153 closed, assigned to nobody

[2020-10-06 09:03] #2209 closed, assigned to podarok

[2020-10-06 15:14] sarah-halby commented on #383
Continues to be a low priority - primarily to the development experience. Revisit in December 2020 for a fix in 2021.

[2020-10-06 15:16] sarah-halby commented on #423
Continues to be a low priority - will revisit in December for 2021 review.

[2020-10-06 15:19] #427 closed, assigned to podarok, danylevskyi

[2020-10-06 15:20] sarah-halby commented on #427
Closing due to low demand and length of time passed since the original request. cc @danylevskyi

[2020-10-06 15:22] sarah-halby commented on #467
@ddrozdik we are closing this item based on current documentation and recommendations for migration as we are moving to Drupal 9.

[2020-10-06 15:22] #467 closed, assigned to podarok, ddrozdik

[2020-10-06 15:25] sarah-halby commented on #468
@Sanchiz we are going to close this due to the change in approach to Open Y. If you have questions about this, let's connect via Slack. Instead of decoupling, we are creating products already decoupled.

[2020-10-06 15:25] #468 closed, assigned to podarok

[2020-10-06 15:28] sarah-halby commented on #598
Needs to stay as open - need to determine if the paragraph is still used. Review scheduled after activity finder version 4 is backported - slated for 2021.

[2020-10-06 15:31] sarah-halby commented on #603
@paige-kiecker we will close this ticket as a Y can use the FAQ functionality to achieve the same result.

[2020-10-06 15:31] #603 closed, assigned to nobody

[2020-10-09 14:59] sarah-halby opened #2232 "Automatically check all paragraph checkboxes"
It is related to the Cloning module that is usually installed by default with the Open Y (some of our clients encountered that bug already). If a user clones a source page, edits the cloned page, and saves the changes, the source page with all its content disappears. The issue arises only in case some of the Paragraphs are missed while cloning (so you can avoid the issue if you tick all the Paragr

[2020-10-13 15:12] sarah-halby commented on #719
@AndreyMaximov @paige-kiecker this is complete & works in Drupal 8 & Drupal 9 per discussion with @podarok today.

[2020-10-13 15:12] #719 closed, assigned to nobody

[2020-10-13 15:14] sarah-halby commented on #665
Item is still open - due to edge case and low severity, we will keep on the roadmap but at a low priority.

[2020-10-13 15:15] sarah-halby commented on #792
Adding this issue to the Drupal 9 Daxko testing with FiveJars.

[2020-10-13 15:17] sarah-halby commented on #803
This item still a work in progress - demand is low for the fix, but we will keep it on the roadmap.

[2020-10-13 15:23] sarah-halby commented on #898
@paige-kiecker confirming that this is still an open item as an accessibility issue.

[2020-10-13 15:25] sarah-halby commented on #901
Confirming that this is still an issue - pushing out this discussion topic due to ongoing global pandemic and the prioritization of other priorities - pushing out to Q1 2021 @ddrozdik

[2020-10-13 15:28] sarah-halby commented on #980
Need to have a document of the list of components & links next to each paragraph types. @Sanchiz update for you.

[2020-10-13 15:32] sarah-halby commented on #1021
More information is needed to create a business case for this item due to its size and complexity. @podarok would like to discuss this as a future addition for Activity Finder enhancements in Q2 - Q3 of 2021. @ymcagtc FYI for Activity Finder planning.

[2020-10-13 16:01] sarah-halby commented on #880
@froboy per your slack message: https://openy.slack.com/archives/C6G4ZTLVC/p1601916015121000 - we have added the need for explicit documentation for these roles and definitions.

[2020-10-13 17:40] sarah-halby commented on #792
@podarok added this to the request for FiveJars in Basecamp.

[2020-10-14 14:09] sarah-halby commented on #2203
@dchubar-fj - @podarok is working on solving this blocker to release Activity Finder.

[2020-10-15 06:50] manachynskyi commented on #792
As described in the issue, if we don't have cookies for https://operations.daxko.com (never visited before) and if safari has checked option **Try to prevent cross-site tracking** (checked by default) https://i.imgur.com/9HoxNEp.png, we can't fix this thing in safari. Also checked @AlexNetman solution with the iframe, but https://operations.daxko.com doesn't allow framing.The easiest solution will

[2020-10-16 01:25] duozersk opened #2246 "The "field_prgf_repeat_loc" at "paragraph:repeat_schedules" references the "node:location" entity type that does not exist."
```[warning] The "field_prgf_repeat_loc" at "paragraph:repeat_schedules" references the "node:location" entity type that does not exist. Please take action. ResourceTypeRepository.php:474```

Apparently this is due to the error in this config file - https://github.com/ymcatwincities/openy/blob/8.x-2.x/modules/openy_features/openy_prgf/modules/openy_prgf_repeat_schedules/config/install/field.field.

[2020-10-16 09:10] podarok commented on #2246
It should be converted to openy_er field type

[2020-10-16 13:32] podarok commented on #2203
@dchubar-fj this is fixed now https://github.com/ymcatwincities/openy/pull/2230
You may proceed

[2020-10-19 00:36] duozersk opened #2247 "FAQ field render is hidden in Bootstrap 3 themes"
https://github.com/ymcatwincities/openy/blob/8.x-2.x/modules/custom/openy_field_faq/templates/openy-faq-item.html.twig#L15

The class "hide" has "display: none !important;" rule in Bootstrap 3. It renders the whole FAQ paragraph render invisible in the browser.
![image](https://user-images.githubusercontent.com/2128648/96390228-4d19ea80-11bc-11eb-97c9-e00fd95fb05c.png)

[2020-10-19 10:46] podarok commented on #2247
FAQ item is supported only in Carnation. This is a known issue.
There was no demand on using FAQ in other themes

[2020-10-19 10:54] duozersk commented on #2247
It is definitely in use on YGBW, which is on Rose - https://ymcagbw.org/soccer

[2020-10-19 15:21] NightHunterSV commented on #2203
Checked:
The **Activity Finder Search** paragraph can be used in the bottom region of the **Landing Page** and seems it is correctly rendered in the **Rose** theme.

But in all the themes there is an error in the logs:

`Undefined offset: 1 in Drupal\openy_activity_finder\OpenyActivityFinderBackend->getWeeks() (line 68 of /var/www/docroot/profiles/contrib/openy/modules/custom/openy_activity_finder

[2020-10-20 15:10] #2191 closed, assigned to nobody

[2020-10-20 15:16] sarah-halby commented on #1056
Current demand is low, estimate to fix is 4 hours. Holding on this item for the moment.

[2020-10-20 15:20] sarah-halby commented on #1063
Leaving ticket open for now until migration to Confluence is complete. Only action item is to create a page in Confluence and tie to specific modules for solution and ticket can be closed. ETA is Q1 2021.

[2020-10-20 15:22] sarah-halby commented on #1164
Due to the low volume of usage, we will keep this item in the backlog for now.

[2020-10-20 15:24] sarah-halby commented on #1197
Item completed on March 27, 2020.

[2020-10-20 15:24] #1197 closed, assigned to podarok

[2020-10-20 15:26] sarah-halby commented on #1292
@AndreyMaximov can we get a status update on this item? If we need more details, I can add the above user story for the work currently in Basecamp.

[2020-10-20 15:29] podarok commented on #1299
This is fixed now
![image](https://user-images.githubusercontent.com/563412/96608613-3da4b980-1302-11eb-8b98-8480f55aa544.png)

[2020-10-20 15:30] sarah-halby commented on #1299
@ddrozdik confirming with screenshot above from @podarok

[2020-10-20 15:30] #1299 closed, assigned to podarok

[2020-10-21 09:16] NightHunterSV commented on #2232
The fix is provided in https://github.com/ymcatwincities/openy/pull/2240

[2020-10-27 14:52] vitalii-stepaniuk opened #2259 "Reference to missing config file"
Current version is 8.2.1.3.
I'm updating it to 8.2.6.4
The error I'm getting happens on 'drush updb'

On updates I'm getting the following:

`file_get_contents(profiles/contrib/openy/modules/openy_features/openy_prgf/modules/openy_prgf_featured_highlights/config/install/core.entity_view_display.block_content.featured_highlights_block.default.yml): failed to   [warning]
open stream: No such file or

[2020-10-27 14:55] podarok commented on #2259
@vitalii-stepaniuk could you provide more details about what are you trying to do?

Which version of OpenY are you using?
Which version you are trying to upgrade to?
Which command you are running prior to this error message?>

[2020-10-27 15:06] vitalii-stepaniuk commented on #2259
@podarok I've updated the description with the following:

Current version is 8.2.1.3.
I'm updating it to 8.2.6.4
The error I'm getting happens on 'drush updb'

[2020-10-27 15:06] sarah-halby commented on #1266
Demand is low and effort is high. Holding on this item until we have a higher demand.

[2020-10-27 15:09] sarah-halby commented on #1307
@mikemuller this item will continue to stay in our backlog until we are able to get more details from you on the issue. @podarok recalls that the theme was removed from CSS classes and that this issue was possible addressed through that update. We will revisit in 3 months and we'll close out if we cannot replicate the issue.

[2020-10-27 15:10] podarok commented on #2259
https://github.com/ymcatwincities/openy/wiki/OpenY-upgrade-how-to-for-Developers
I'd recommend trying to upgrade to 8.2.2.1 before going to 8.2.6.4

[2020-10-27 15:13] sarah-halby commented on #1323
Sarah to verify that David Wells does not have a documented video on the subject; if he does not, @podarok will work on completing this wiki in November 2020.

cc @YMCA-GTC

[2020-10-27 15:18] sarah-halby commented on #1344
This has not been backported to Open Y. This could be a high effort task to backport into Open Y with low demand. Let's hold on closing for now until Sarah can have a conversation with content managers about need/solutions.

[2020-10-27 15:19] sarah-halby commented on #1421
This was completed for Drupal 8 & Drupal 9. It's already in the release. We will close this issue per @podarok.

[2020-10-27 15:19] #1421 closed, assigned to podarok

[2020-10-27 15:20] sarah-halby commented on #1446
@YMCA-GTC per @podarok this is a Drupal core best practice and the documentation is available via Drupal.

[2020-10-27 15:20] #1446 closed, assigned to podarok

[2020-10-27 15:23] sarah-halby commented on #1448
If we implement this change, there could be regressions due to the change. Medium effort to fix with low demand - can investigate options in Q1 2021 @podarok

[2020-10-27 15:29] sarah-halby commented on #1512
@ddrozdik we'd like you to investigate if these libraries have versions in composer and could be replaced by official maintainer versions (instead of the custom build). jquery_colorpicker has changed to colorapi and will be removed in Q2 2021. I will connect with Julia on this item for technical debt work in late 2020.

[2020-10-27 15:32] sarah-halby commented on #1543
@Sanchiz was this completed in the Carnation refactoring work recently completed? If so, could you comment & close out of this issue, please? @aaronjchristian did you contribute this previously? We are following up after @paige-kiecker's comment above.

[2020-10-28 13:14] podarok commented on #2203
Great. Thank you

[2020-10-28 13:14] #2203 closed, assigned to nobody

[2020-10-28 13:15] podarok commented on #2232
Thank you

[2020-10-28 13:15] #2232 closed, assigned to nobody

[2020-10-28 14:17] podarok commented on #2247
@sarah-halby seems like this is a good candidate for backporting from YGBW support for FAQ component

[2020-10-28 14:55] sarah-halby commented on #2247
@podarok what is the time estimate for the backport, testing, QA for Rose and/or Lily? @duozersk do you have any clients using it on Lily as well?

[2020-10-28 15:10] duozersk commented on #2247
@sarah-halby I don't think we have other clients on Lily except YMCA of the North.

[2020-10-29 10:59] dchubar-fj commented on #1512
**Jstree** library is a requirement for the media_directories_ui module and is installed with a custom repository. We can replace custom repo in 2 ways:

1. Use asset packagist and composer package bower-asset/jstree https://asset-packagist.org/package/bower-asset/jstree
2. The library is available in CDNJS and a small patch can connect the library to the module without downloading any files. The

[2020-11-02 14:10] sarah-halby commented on #1547
Will review again in Q1 2021 - due to edge case and inability to reproduce, we will likely close this issue.

[2020-11-02 14:13] sarah-halby commented on #1589
Currently no request to backport feature; will review in Q1 2021.

[2020-11-02 14:15] sarah-halby commented on #1605
Sarah to connect with Open Y community & content managers about demand.

[2020-11-02 14:19] podarok commented on #1615
@dmytrolavrinenko - let's get information from Y North about future campaigns, if any planned.

[2020-11-02 14:21] sarah-halby commented on #1615
Andrii to decouple the campaign theme/component in Q1 2021 - the only user is YMCA of the North for Y of the North to maintain - timing is the end of the year 2020 or early 2021 for the usage of the code.

[2020-11-02 14:23] sarah-halby commented on #1631
Reference to this item: https://github.com/ymcatwincities/openy/issues/1307 - once 1307 is closed, this item can be closed as well.

[2020-11-02 14:25] dmytrolavrinenko commented on #1615
@podarok as far as I know, there are no retention campaigns planned for 2020 or 2021.

[2020-11-02 14:28] sarah-halby commented on #1645
Activity Finder V4 is going to be backported by FiveJars to their customers and then it will be added to Open Y. There may be the capacity to fix as a part of this upgrade. Holding on this issue as it does work, but it is not as flexible as we'd like it to be.

[2020-11-02 14:30] sarah-halby commented on #1666
@podarok to try and reproduce this issue based on the latest upgrades to blazy. If he cannot reproduce, Andrii will close this ticket.

[2020-11-02 15:27] aleevas commented on #1543
I've added a PR with fix https://github.com/ymcatwincities/openy/pull/2270
Needs to review

[2020-11-03 09:18] podarok commented on #1666
This is fixed in latest blazy
![image](https://user-images.githubusercontent.com/563412/97967691-40091800-1dc6-11eb-9970-f9d1b276a437.png)

[2020-11-03 09:18] #1666 closed, assigned to podarok

[2020-11-03 09:57] AndreyMaximov commented on #1981
@paige-kiecker @sarah-halby @podarok

We analyzed this issue, and while it’s legit, we should not fix it. The reasons for such conclusion:

1. the code changes mentioned in the issue are related to the 8.2.3 release (Nov 12, 2019); there are not many web-sites that haven’t updated yet to 8.2.3 or newer Open Y.
2. it’s a bad practice to change the old database update hooks - we must avoid doing suc

[2020-11-03 15:26] podarok commented on #1981
I agree we shouldn't change old DB hooks. @AndreyMaximov thank you for the investigation.

I guess we can close this issue as outdated

[2020-11-03 15:53] ddrozdik commented on #2129
assigned this one to @ymcatwincities/five-jars team.
cc @sarah-halby

[2020-11-03 15:53] ddrozdik commented on #2007
assigned this one to @ymcatwincities/five-jars team.
cc @sarah-halby

[2020-11-03 16:05] ddrozdik commented on #2193
@podarok , @sarah-halby we can prepare a fix. However, I believe it can be an issue for the YMCA of the North since they still use the old content type called `location`.

So, it would be nice to get approval before starting work on it.

Thanks.

[2020-11-04 15:35] sarah-halby commented on #1981
@podarok what are your thoughts about the documentation request?

[2020-11-05 15:53] #2158 closed, assigned to podarok

[2020-11-05 15:53] #2156 closed, assigned to podarok

[2020-11-05 15:53] #2138 closed, assigned to podarok

[2020-11-05 16:07] podarok commented on #2168
[code]

[2020-11-06 08:00] afi13 commented on #1307
The issue is not fixed, the selectors by IDs still used. Here just a few examples, but in fact, there are more of them
https://github.com/ymcatwincities/openy/blob/8.x-2.x/themes/openy_themes/openy_lily/sass/misc/_header.scss#L227
https://github.com/ymcatwincities/openy/blob/8.x-2.x/themes/openy_themes/openy_lily/sass/misc/_header.scss#L314
https://github.com/ymcatwincities/openy/blob/8.x-2.x/them

[2020-11-06 12:45] podarok commented on #2007
Will be added to post November first point release.
Fixed in #2275

[2020-11-06 12:45] #2007 closed, assigned to nobody

[2020-11-06 12:47] podarok commented on #2129
Will be added to post November first point release.
Fixed in #2277

[2020-11-06 12:47] #2129 closed, assigned to nobody

[2020-11-06 12:53] podarok commented on #2163
done in a bunch of other pull requests past month

[2020-11-06 12:53] #2163 closed, assigned to podarok

[2020-11-09 14:43] podarok commented on #2247
@shuklina is working on getting FAQ fixed for Lily in Y North codebase. To be backported afterward
/cc @dmytrolavrinenko @sarah-halby

[2020-11-12 15:34] sarah-halby commented on #1693
@anpolimus & @ddrozdik was this item completed as a part of the Carnation refactoring? Was this added as a part of one of the point releases in 2020?

[2020-11-12 15:36] podarok commented on #1708
As per our conversation with @KylieAldridge @anpolimus ping-pong block is a duplication of already existing components in Open Y, so instead of introducing a new component, let's think about just adding a Skin for paragraph_skins module we already have in our arsenal

[2020-11-12 15:39] sarah-halby commented on #1732
This was addressed in Q1-Q2 of 2020. Closing ticket.

[2020-11-12 15:39] #1732 closed, assigned to nobody

[2020-11-12 15:42] sarah-halby commented on #1746
@anpolimus - this is an item that is still up for discussion. We'll add to our discussion with the ImageX team @KylieAldridge

[2020-11-12 15:44] sarah-halby commented on #1785
@KylieAldridge was this addressed during the Membership enhancement? If so, could we get the steps to reproduce this item so we can test and close this item?

[2020-11-12 15:47] sarah-halby commented on #1800
@ddrozdik was this item addressed already? With Brandywine Activity Finder v3 - was this item already fixed or is it still an issue on their site? If it was fixed, could it be backported to Open Y?

[2020-11-12 15:49] sarah-halby commented on #1807
@podarok agrees with @ddrozdik on your comment above. Closing out ticket.

[2020-11-12 15:49] #1807 closed, assigned to nobody

[2020-11-12 15:51] sarah-halby commented on #1878
@akaleMulder was this item addressed with the Carnation refactoring? @jwtechdesign is this still an issue for you or was this addressed for you in the most recent release?

[2020-11-12 16:16] sarah-halby opened #2291 "Upgrade 1-click install script to support php 7.4"
Php 7.4 will be actively supported until November 2021, therefore we'd like all of Open Y to be compatible and supported using 7.4 by Q1 2021 Major Release to ensure that YMCAs have the time to test and upgrade before active support ends. PHP upgrade schedule available here: https://www.php.net/supported-versions.php

PHP 7.3 active support ends early December 2020 and security support ends in ear

[2020-11-12 17:39] ddrozdik commented on #1693
@sarah-halby it has been completed more than a year ago as a part of this commit https://github.com/ymcatwincities/openy/commit/20871d745bc41ab941de6d1a60e720c3516f2dd2#diff-646b573991b154c0886650caa4178624fb923c1517406ec843e84a8a03f336de
The issue can be closed.

[2020-11-12 17:50] sarah-halby commented on #1693
Thanks for confirming @ddrozdik and helping us clean up this backlog. cc @podarok FYI - closing this item.

[2020-11-12 17:50] #1693 closed, assigned to nobody

[2020-11-12 18:54] ddrozdik commented on #1800
@sarah-halby this issue was assigned to IXM, not sure we worked on it. But I will check was it fixed on Brandywine or other Open Y websites we have built.

[2020-11-12 19:09] sarah-halby commented on #1800
Thank you @ddrozdik - we want to confirm if it is fixed on a Y site we know is using this feature. I appreciate you checking on it. :-)

[2020-11-12 23:00] jwtechdesign commented on #1878
@sarah-halby - I've tested it on the Carnation Sandbox (running 8.2.7) and it looks like this is resolved in the latest release!  Thank you!

![image](https://user-images.githubusercontent.com/32372465/99006690-78b49a00-2508-11eb-885d-1f2fc5fffc03.png)

[2020-11-12 23:00] #1878 closed, assigned to podarok

[2020-11-13 13:21] ddrozdik commented on #1800
@sarah-halby team said they had not seen this issue this year, so I assume it is fixed. I tried to check it on the Sandbox environment, as @ygerasimov mentioned; however, Activity Finder does not work there with demo content.

I think we can close it, and if anybody reports a similar issue, we can review it on the latest versions of Open Y.

[2020-11-13 14:46] sarah-halby commented on #1800
Thanks @ddrozdik. We'll close the issue and we can review/reopen if it is raised again.

cc @podarok

[2020-11-13 14:46] #1800 closed, assigned to nobody

[2020-11-13 14:47] sarah-halby commented on #2259
@vitalii-stepaniuk please review @podarok recommendation above. Can you confirm the upgrade path recommended or are you still facing issues?

[2020-11-13 17:59] sarah-halby opened #2292 "Issue on Rose - half size image showing as full size"
In the Rose theme, when you choose the half-size option, the image is showing as full size. This can be reviewed here: https://sandbox-rose-cus-dev.openy.org/imx-qa

[2020-11-17 14:48] sarah-halby commented on #2201
#2292 is linked to this issue per discussion last week. @podarok

[2020-11-17 14:51] sarah-halby commented on #2202
Connected to #2201
![image (5)](https://user-images.githubusercontent.com/68397223/99405126-03ebb200-28b2-11eb-975d-ee2a68fcff54.png)
![image (6)](https://user-images.githubusercontent.com/68397223/99405127-04844880-28b2-11eb-92ea-a9c20efe8292.png)
![IMG_C7D6BDA00474-1](https://user-images.githubusercontent.com/68397223/99405129-051cdf00-28b2-11eb-9e3a-3e25fe38a7ed.jpeg)

Title is hidden on cards

[2020-11-17 14:55] sarah-halby opened #2296 "Carnation Issue: News Tag Alters Landing Page Design"
![Carnation News Alert Design Issue](https://user-images.githubusercontent.com/68397223/99405447-647aef00-28b2-11eb-8931-17d2d94fa5cb.png)

Corresponds to Basecamp Ticket #2: [https://3.basecamp.com/3608022/buckets/9444393/todos/3178611215](url)

When you click the news tag you go to another page which looks not the same as all pages with banner and alerts cut on the sides

[2020-11-17 14:57] sarah-halby commented on #1543
@podarok since this item was added to the PR above, can it be closed out? Does this also fix this issue: Logo disappears on scroll on IE 11 on Carnation (again, this is a known issue, but my task is to list what I have found)? (Found during QA of last major release).  https://3.basecamp.com/3608022/buckets/9444393/todos/3178611215

[2020-11-17 14:59] sarah-halby opened #2297 "Sandbox Default Font Size is Too Small"
Per the QA process from the last major release (Nov 2020), the default font size for the sandbox environment is too small, believed to be 10pt font.
![Sandbox Font Size](https://user-images.githubusercontent.com/68397223/99406074-1a463d80-28b3-11eb-972d-95994f59ff81.png)

[2020-11-17 15:13] dchubar-fj opened #2298 "Duplicate ID openy_alerts_header_placeholder in the HTML markup"
**Problem**
The elements with the same IDs are used for alerts placeholders:
* In header https://github.com/ymcatwincities/openy/blob/8.x-2.x/themes/openy_themes/openy_carnation/templates/node/include/header-default.html.twig#L59
* In footer https://github.com/ymcatwincities/openy/blob/8.x-2.x/themes/openy_themes/openy_carnation/templates/page/page.html.twig#L180

So we have invalid HTML markup on

[2020-11-17 16:09] sarah-halby commented on #1920
@ymcagtc our recommendation for this module is to decouple from the main repository due to low demand from customers and lack of demo and documentation from Y North. Once My Y is ready and it is approved by the Product Committee, we can move this item out of the backlog. What are your thoughts? cc @Sanchiz & @paige-kiecker @podarok

[2020-11-17 16:18] sarah-halby commented on #1979
Checking with Julia about the estimate for 5J to fix this item.

[2020-11-17 16:23] podarok commented on #1988
This is fixed recently https://github.com/ymcatwincities/openy/pull/2264

[2020-11-17 16:23] #1988 closed, assigned to nobody

[2020-11-17 16:23] podarok commented on #1988
@mattshoaf ^^^ FYI

[2020-11-17 16:25] sarah-halby commented on #2001
@dchubar-fj do you have an idea of the demand for this feature? Is it still needed by a client of yours?

[2020-11-17 16:27] sarah-halby commented on #2004
Once @podarok will add documentation to FAQ, then this item can be closed. Thanks for your help @podarok & @anpolimus

[2020-11-17 16:31] sarah-halby commented on #2005
@podarok is going to double-check this item - to verify that this is still an issue and apply the patch from Aaron.

[2020-11-18 08:51] podarok commented on #2005
Fixed in https://github.com/ymcatwincities/openy/pull/2056

[2020-11-18 08:51] #2005 closed, assigned to podarok

[2020-11-18 21:24] sarah-halby opened #2299 "Visual Issues for Webform 5 in Rose, Lily, Carnation"
**Visual issues:**
1. on Carnation and Rose some fields are longer than the other
![Carnation   Rose Spacing Issue](https://user-images.githubusercontent.com/68397223/99589681-f87fb000-29b1-11eb-9601-d31a3c3e47e0.png)

2. On Carnation a big free space before the form (seen on the first screenshot). On Rose strange dividing line before the first field (seen on the second screenshot)
![Carnation   R

[2020-11-18 21:31] sarah-halby opened #2300 "Visual Issues: Mobile Branch Info for Lily, Rose, and Carnation"
Also, I created branch pages and there are some visual issues on mobiles with the 'Branch info' paragraph:
1. Carnation: the title is not seen and no 'back to all locations' link
![Carnation - Branch Info](https://user-images.githubusercontent.com/68397223/99590387-e5211480-29b2-11eb-9c0c-bbcaf7e201fa.png)

2. Rose: no 'back to all locations' link
![Rose - Branch Info](https://user-images.githubus

[2020-11-18 21:39] sarah-halby opened #2301 "Visual Issue: Coming Soon Banner Rose & Lily"
![Coming Soon Label Rose   Lily](https://user-images.githubusercontent.com/68397223/99591220-19490500-29b4-11eb-88e6-b9367e37dbb2.png)

On Carnation looks good.
Just want to make sure, that you were aware of how it looks on Rose and Lily (on desktop).

The original issue for Carnation:
#https://github.com/ymcatwincities/openy/pull/2127

[2020-11-19 10:57] dmytrolavrinenko commented on #2301
Just to confirm.
Would it be okay to move the label to the upper right corner of the tile for Rose and Lily, in order to avoid overlapping with the location title?

[2020-11-19 17:19] sarah-halby commented on #1979
Update from Julia - the estimate is 6 hours of testing  & development.

[2020-11-20 09:59] podarok commented on #1979
This is not a blocking issue @sarah-halby - only for Content Managers this is in console
We have inline editing via verf module, developed by IMX back in a while. Quick edit from the core, which is causing us issues - functional, but we should understand if this is needed for content managers.

[2020-11-20 11:13] podarok commented on #2004
Thank you all
Added to our FAQ https://github.com/ymcatwincities/openy/wiki/Development-FAQ#how-to-install-open-y-on-pantheon-hosting

[2020-11-20 11:13] #2004 closed, assigned to nobody

[2020-11-20 11:21] podarok commented on #1981
I've added referenced documentation to our WIKI and mentioned the preferred way of maintaining the upgrade path.
https://github.com/ymcatwincities/openy/wiki/Code-Review-Quality-Best-Practices#how-to-support-upgrade-path
Thank you @AndreyMaximov for suggestions.
Considering this as closed

[2020-11-20 11:21] #1981 closed, assigned to nobody

[2020-11-20 11:45] podarok commented on #1979
@sarah-halby I see this bug is in a backlog for Y North - let's wait for it to be backported from there
/cc @dmytrolavrinenko

[2020-11-23 09:34] podarok commented on #1543
IE11 definitely another task @sarah-halby
This one considered as closed.
Thanks all!

[2020-11-23 09:34] #1543 closed, assigned to aaronjchristian

[2020-11-23 14:05] podarok commented on #2291
The [script](https://github.com/ymcatwincities/openy-project/blob/8.2.x/scripts/openyonclickinstall.sh) is deployed and verified on
- Ubuntu 16.04LTS x64 - End of Life April 2021 - ( PHP7.3, MySQL 5.7, Apache 2)
- Ubuntu 18.04LTS x64 - End of Life April 2023 - ( PHP7.4, MySQL 5.7, Apache 2)
- Ubuntu 20.04LTS - End of Life April 2025 - ( PHP7.4, MySQL 8, Apache 2)

TODO: Record a video tutorial

[2020-11-23 20:04] sarah-halby opened #2304 "Carnation Visual Issue: Logo disappears during scrolling in IE 11"
Logo disappears on scroll on IE 11 on Carnation (again, this is a known issue, but my task is to list what I have found)? (Found during QA of last major release). https://3.basecamp.com/3608022/buckets/9444393/todos/3178611215

[2020-11-23 22:40] froboy opened #2305 "Add "Remove Format" button to Full HTML editor"
https://github.com/ymcatwincities/openy/blob/6ba3ed6931110464b184cd1dcb65f48df5bb3d4a/modules/openy_features/openy_editor/config/install/editor.editor.full_html.yml#L16

add:
[code]
which will add the "Remove Format" button the the WYSIWYG editor, allowing editors to clean up `<span>` nastiness when pasting code from Word or other editors.

![Edit_Virtual_Y_Video_Introducing_Your_Virtual_Y___The_W

[2020-11-24 11:37] #2301 closed, assigned to podarok

[2020-11-24 11:38] podarok commented on #2301
Thank you @dmytrolavrinenko and @shuklina

[2020-11-24 13:54] #2300 closed, assigned to podarok

[2020-11-24 16:08] sarah-halby commented on #2011
@akaleMulder we tested this in Rose & Lily and we were able to add an icon to a button. However, we were not able to get this to save in Carnation. Was this also your experience or did you experience it on Rose & Lily as well? We believe it is actually an issue with the Bootstrap version, but Fontawesome is also a potential root cause.

[2020-11-24 16:10] sarah-halby commented on #2043
@podarok to verify the patch.

[2020-11-24 16:12] sarah-halby commented on #2044
This was updated in the November 2020 major release. This item is closed. cc @paige-kiecker

[2020-11-24 16:12] #2044 closed, assigned to nobody

[2020-11-24 16:15] podarok commented on #2049
Could be fixed in latest entity_embed which should land in OpenY in Drupal 9 https://github.com/ymcatwincities/openy/pull/2222

[2020-11-24 16:17] podarok commented on #2048
Could be fixed in latest entity_embed which should land in OpenY in Drupal 9 https://github.com/ymcatwincities/openy/pull/2222

[2020-11-24 16:23] podarok commented on #2073
https://github.com/ymcatwincities/openy/issues/2073 to verify if this was done for Lily and if so - backport it @shuklina and @dmytrolavrinenko

[2020-11-24 16:27] podarok commented on #2298
Related #2136

[2020-11-24 16:28] sarah-halby commented on #2136
This also needs to be reviewed on Lily as well before closing this ticket.

[2020-11-24 16:29] sarah-halby commented on #2168
To be worked on this week and next week.

[2020-11-24 16:31] sarah-halby commented on #2171
Changing to bug because the functionality to available in other themes, but not in Rose.

[2020-11-24 16:32] sarah-halby commented on #2180
@podarok to double-check these contrib modules before closing this ticket.

[2020-11-25 09:33] #2247 closed, assigned to nobody

[2020-11-26 13:22] podarok commented on #2184
Added Deprecation notice for the form
See https://youtu.be/yYD44eTtv-E
Functionality is already on Drupal 9 sandboxes
![image](https://user-images.githubusercontent.com/563412/100355899-322c6880-2ffb-11eb-829e-58a3db19da21.png)

[2020-11-26 14:04] podarok commented on #2184
@sarah-halby User Story

Given: I'm the content manager of Open Y instance and I need to add link wrapper over embedded image entity in WYSIWYG

Solution pre entity_embed upgrade: I can add Image by clicking the Image button in WYSIWYG and use the "Link to" field to provide a link over the image.

Solution after entity_embed upgrade: I can't use the "Link to" functionality because it is deprecated

[2020-11-27 11:26] #2292 closed, assigned to podarok

[2020-11-30 13:31] #2136 closed, assigned to nobody

[2020-11-30 14:40] aleevas opened #2315 "Map pins overlapping each other when it placed too close"
Sometimes when the map pins are placed too cose to each other we can see this picture:
![INOYI-33PinsOverlapping](https://user-images.githubusercontent.com/744406/100623110-5f925280-332a-11eb-9faf-40f81c6a3bd9.png)

As solution we can use clustering for map.
For Gmap it standard functionality
For Leaflet we can use this lib https://github.com/Leaflet/Leaflet.markercluster

[2020-12-01 09:19] podarok commented on #2298
This is fixed in #2317

[2020-12-01 09:19] #2298 closed, assigned to nobody

[2020-12-01 14:26] dmytrolavrinenko commented on #2299
Hello @sarah-halby !

@shuklina has fixed the issue of the required mark in Rose and Lily
We've tested the issue on sandboxes with standard I Openy with Carnation, Lily, and Rose themes, and we couldn't reproduce the bug with different width of the fields in the webform on Carnation and Lily theme (1. on Carnation and Rose some fields are longer than the other)

Here are our test steps:
	1. Go to

[2020-12-01 14:26] #2171 closed, assigned to nobody

[2020-12-01 15:29] sarah-halby commented on #2074
Update to ticket: Find Y & Camp Locations input search field should be optional - right now it is hardcoded in the template. Disable/enable - example - if you are working on a location page but it is not ready for the customer yet, you could disable locations until you are ready to launch that page (then check to enable). The checkbox should be on the theme layer. Time estimate is 2 hours.

[2020-12-01 15:32] #2180 closed, assigned to podarok

[2020-12-01 15:33] podarok commented on #2180
We are good. The change was made in https://github.com/ymcatwincities/openy/pull/2285

[2020-12-01 15:36] sarah-halby commented on #2193
@ddrozdik the Y North team will take a look at this and @podarok will take a look at this with @dmytrolavrinenko. Thank you for raising this issue.

[2020-12-01 15:44] sarah-halby commented on #2204
Discussion with 5Jars - they do not use this module with Brandywine, they have a repository with the modules that they do use. JW & One Each follows the work from 5Jars; they do not use this module as well.

[2020-12-01 15:45] sarah-halby commented on #2207
@sarah-halby to connect with Julia from 5Jars to get an estimate to fix this bug.

[2020-12-01 15:46] sarah-halby commented on #2208
@podarok will test on sandbox with contrib from @froboy.

[2020-12-01 17:55] sarah-halby commented on #2299
Thank you @dmytrolavrinenko for the update and the steps to reproduce. We appreciate your help! @podarok can you please retest with the steps above tomorrow when you return?

[2020-12-01 17:56] podarok commented on #2299
@sarah-halby this is already tested.

[2020-12-02 19:21] sarah-halby commented on #2299
@podarok can this item be closed then?

[2020-12-02 19:28] podarok commented on #2299
@sarah-halby would be cool to get steps to reproduce from IMX QA . If can't be reproduced - we are good then and can be closed as fixed

[2020-12-03 11:43] podarok commented on #2202
This is fixed

[2020-12-03 11:43] #2202 closed, assigned to podarok

[2020-12-03 11:43] podarok commented on #2201
This is fixed, thanks @shuklina and @dmytrolavrinenko

[2020-12-03 11:43] #2201 closed, assigned to podarok

[2020-12-03 12:22] podarok commented on #2291
@sarah-halby I've recorded a new tutorial for Ubuntu 20 https://www.youtube.com/watch?v=9fq5kaEmIkE
Review it, please and let's publish and share with the community

[2020-12-03 12:22] podarok commented on #2291
This is resolved now

[2020-12-03 12:22] #2291 closed, assigned to podarok

[2020-12-03 13:23] podarok commented on #2168
Fixed in core
![image](https://user-images.githubusercontent.com/563412/101023449-75e31d00-357b-11eb-8576-c7022530346a.png)

[2020-12-03 13:23] #2168 closed, assigned to podarok

[2020-12-03 13:41] #2193 closed, assigned to podarok

[2020-12-03 14:25] podarok commented on #2297
This is fixed now.
To be populated to all other sandbox indexes by @podarok
Thank you @shuklina

[2020-12-03 14:25] #2297 closed, assigned to podarok

[2020-12-03 15:04] podarok commented on #2297
Population is done
https://github.com/ymcatwincities/sandboxes_html/pull/10
https://github.com/ymcatwincities/sandboxes_html/pull/11
https://github.com/ymcatwincities/sandboxes_html/pull/12
https://github.com/ymcatwincities/sandboxes_html/pull/13
https://github.com/ymcatwincities/sandboxes_html/pull/14
https://github.com/ymcatwincities/sandboxes_html/pull/15

[2020-12-03 15:29] sarah-halby commented on #2299
@podarok I've asked Nadiia for steps to reproduce. If we get them, I will add them here. If not, we can close this.

[2020-12-03 15:54] sarah-halby commented on #2204
@podarok  https://github.com/YMCA-GBW-ORG/openy-activenet/tree/8.x-2.x - here is the repository link to review.

[2020-12-03 16:10] sarah-halby commented on #2299
@podarok Nadiia confirms that she still sees these issues in the Sandbox. Here are the steps to reproduce:

For the first one, I indicated a link, checked just now and it is the same, titles are hidden under images on news cards. You can see that they are there while the page is loading. https://sandbox-lily-std-dev.openy.org/news

2. Issue can be found on:
https://sandbox-carnation-std-dev.openy.

[2020-12-07 15:04] dwells-tn opened #2326 "D9 Compatibility - Help Tooltip in Webform Doesn't Work"
Help tooltip busts when you hover over it in D9. Causes the whole element to be pushed down, and there's no tooltip visible to the user.

See - https://sandbox-carnation-std-d9.openy.org/form-page https://sandbox-carnation-std-d9.openy.org/form/dw-t

Steps to reproduce:

- Add any webform element
- Enter a value into the element's help field
- Save the elements
- Hover over the tooltip/question ma

[2020-12-07 15:08] podarok commented on #2326
Seems like a theme issue. Content is in place, just hidden
![image](https://user-images.githubusercontent.com/563412/101367431-d42b3b00-38ae-11eb-8b4e-b06689885527.png)

[2020-12-07 15:41] podarok commented on #2326
It's carnation only issue @dwells-tn @sarah-halby

[2020-12-07 15:44] podarok commented on #2326
Lily
![image](https://user-images.githubusercontent.com/563412/101371835-e360b780-38b3-11eb-88a0-679238f4555f.png)

[2020-12-07 23:08] jwtechdesign opened #2327 "New Branches not filtered on Locations page (Location Finder Paragraph) when lat/lon are empty"
**Description:**
Found this bug on a live Open Y site (https://www.ymcagreenville.org/locations).

On the default locations page, when you use the "filter by amenities" in the sidebar, the Map filters correctly.  However, branches do not filter correctly in the content area - the "cards" coming from the Location Finder paragraph.  **This appears to only be happening to newly created branch pages.*

[2020-12-08 08:07] podarok commented on #2327
@jwtechdesign you should provide lat/lon values in order to get filtering working properly
This is definitely a bug, because lat/lon should be required fields @sarah-halby

Thank you

[2020-12-08 14:14] sarah-halby commented on #2011
@podarok there are some missing icons on Rose & Lily. This was reported in VY as well. Can we move this up in our priority?

![image](https://user-images.githubusercontent.com/68397223/101494787-62de9d00-392d-11eb-9c32-c28dba12a741.png)

[2020-12-08 14:33] podarok commented on #2011
@sarah-halby this was fixed in Drupal 9 - I'll check for backport to Drupal 8

[2020-12-08 15:23] #2011 closed, assigned to podarok

[2020-12-08 15:24] podarok commented on #2011
@akaleMulder I tested with
![image](https://user-images.githubusercontent.com/563412/101502874-24bb9a80-397a-11eb-89c0-604885590156.png)
![image](https://user-images.githubusercontent.com/563412/101503131-749a6180-397a-11eb-8d81-a0943a89a747.png)

and it does work. So seems like fa-ad or fa-amazon are not included in free version of fontawesome.

Regarding WYSIWYG entity icons, https://github.com/

[2020-12-08 16:07] sarah-halby commented on #2199
@podarok to work on this week and next week to prepare for February 2021 release.

[2020-12-08 16:09] sarah-halby commented on #2200
This works, but syncher needs to be verified in Open Y. There are no API changes. We need to ensure that this works out of the box; the example Y (Y North) is using their own syncher.

[2020-12-08 16:12] sarah-halby commented on #2204
Julia from 5Jars confirmed that 5Jars will take a look. This item is not a part of the Open Y core, and as the custom module owner, 5Jars will review the module in order to ensure stability for the repository. Example Y that uses this repository is Brandywine Y.

[2020-12-08 16:14] sarah-halby commented on #2207
To connect with IXM and 5Jars about this item to see if they have fixed and can backport it.

[2020-12-08 16:15] sarah-halby commented on #2208
@podarok to test this week for this item.

[2020-12-08 16:19] sarah-halby commented on #2219
This is a duplication of issue #2296 - when 2296 is closed, this item can be closed as well. Added to backlog due to the low severity of the issue. To check with partners to determine if they have fixed for any of their sites and get an estimate for a backport.

[2020-12-08 16:24] sarah-halby commented on #2220
IT Care team has tested the patches from Drupal - the issue is on the server-side and how the server capacity should be configured.

[2020-12-08 16:28] sarah-halby commented on #2220
@froboy - for Open Y, we recommend that developers use the Drupal documentation for server hosting & set-up requirements due to the number of variables involved with the set-up, which are unique to each YMCA. This is the recommended link to review: https://www.drupal.org/node/2608620

[2020-12-08 16:29] #2220 closed, assigned to nobody

[2020-12-08 16:30] #2246 closed, assigned to nobody

[2020-12-08 16:31] podarok commented on #2246
This is fixed in https://github.com/ymcatwincities/openy/pull/2323

[2020-12-10 20:44] ddrozdik opened #2330 "Alerts on location related pages are not working"
On the latest version of Open Y (2.7.0 & 2.7.1), there is a problem with the Location field, which part of the Alert content type. This field has no options while branch and camps exist on the website
![image](https://user-images.githubusercontent.com/6285570/101827276-284d4e00-3b41-11eb-914a-14922fcd856f.png)

Without options, there is no way to create an alert that will be associated with all br

[2020-12-10 20:58] ddrozdik opened #2331 "Scheduler is not enabled for some content types"
While working with the latest version of Open Y (2.7.0 & 2.7.1) we noticed that Scheduler is not enabled for some content types while similar content types have the ability to schedule the date of publishing.

Find below the list of content types that should support scheduling the date of publishing:
- Event
- News Post
- Social Post

[2020-12-10 21:06] ddrozdik opened #2332 "Alerts Improvements"
**Preconditions:**
Open Y 2.7.0
Theme: Carnation
Type: Fresh custom installation

**Improvements:**
1. The left and right arrow can be hidden when there are no alerts to show, so the user can understand this is the first or last alert in the list
![image](https://user-images.githubusercontent.com/6285570/101829695-76178580-3b44-11eb-877e-a28f4e50a944.png)

2. Call to action button has no hover and

[2020-12-10 21:13] ddrozdik opened #2333 "Remove Open Y Admin & Provide Upgrade Path to Claro"
**Environment:**
Environment: https://sandboxes-d9.openy.org/
Open Y Type: Custom
Version: 2.7.1

**Description:**
The latest Drupal 9 Open Y version has no tabs in the admin UI. Without tabs, there is no way to find important pages.
![image](https://user-images.githubusercontent.com/6285570/101830464-972ca600-3b45-11eb-89db-4bd009fe79e2.png)
(the screenshot was made on the Open Y 2.7.0)

Also, br

[2020-12-10 21:37] ddrozdik opened #2334 "Scheduler is not working properly"
**Environment:**
Environment: https://sandboxes-d9.openy.org/
Open Y Type: Custom
Version: 2.7.1

**Steps to test:**
1. Login as Admin
2. Go to Content
3. Create a new Alert
4. Fill the form
5. In the Scheduling options specify publish/unpublish on date and time
6. Go to the page Content -> Scheduled (tab) or /admin/content/scheduled
7. Verify you can see just created alert in the list
8. Verify a

[2020-12-11 07:58] podarok commented on #2333
Hi, @ddrozdik
We have Claro theme in Drupal 9
Tabs are in place
![image](https://user-images.githubusercontent.com/563412/101877672-0f6f8780-3b97-11eb-99f1-a5a1103b8a6a.png)
it was recently fixed by core and tracked in https://github.com/ymcatwincities/openy/issues/2168

I don't think we will have the bandwidth to support all themes for Admin UI - I see you are using the Seven theme.
@sarah-halby

[2020-12-11 08:22] podarok commented on #2332
Hi @ddrozdik
I believe QA is confused with timezone settings
Please, have a look at the smoke test I've created just now https://youtu.be/MH4BwMowlic

In order to have Scheduler working for you
- ensure your site timezone set properly
- ensure your user timezone(if allowed) set properly
- create unpublished Alert with a time in the future
- wait for the time to arrive
- run cron
- verify Alert is

[2020-12-11 08:23] podarok commented on #2334
Hi @ddrozdik
I believe QA is confused with timezone settings
Please, have a look at the smoke test I've created just now https://youtu.be/MH4BwMowlic

In order to have Scheduler working for you
- ensure your site timezone set properly
- ensure your user timezone(if allowed) set properly
- create unpublished Alert with a time in the future
- wait for the time to arrive
- run cron
- verify Alert is

[2020-12-11 08:46] podarok commented on #2331
@ddrozdik is this a request from associations? @sarah-halby let's ensure this enhancement meets enough demand and we have the bandwidth for it.
We also have some content types in Virtual Y and Membership Framework could be enabled for scheduling, but this is an enhancement.
Scheduler is shipped with Open Y so Content Managers can enable it easily without asking Open Y team to develop this in the c

[2020-12-11 09:33] ddrozdik commented on #2331
@podarok, yes, we enable it for events and news posts almost every time. Since this is not a part of Open Y yet we have to treat and support such changes as customizations.

But I would set the priority to minor since this is not a critically important thing however still would be nice to have in core.

[2020-12-11 09:36] ddrozdik commented on #2333
@podarok in our tests we were using the Open Y Admin theme since Claro a bit unstable. But if the Open Y team is going to switch from the Open Y Admin theme to Claro we will need to mark it as deprecated or even delete it from the core.

[2020-12-11 09:37] ddrozdik commented on #2334
@podarok thanks, we will check one more time.

[2020-12-11 10:49] podarok commented on #2330
Confirmed as a bug

[2020-12-11 10:56] podarok commented on #2333
Yes, for sure we'll deprecate Seven, due to it was developed for Drupal 8 ( even the description says that ).
Here is the communication we had about Claro will be default in Drupal 9. https://openy.slack.com/archives/C6G4ZTLVC/p1599231092155400

Regarding unstable - feel free to share any bugs and concerns for Claro.
The decision was made due to Claro is way more accessible and mobile-friendly tha

[2020-12-11 11:14] ddrozdik commented on #2333
@podarok I confirm tabs are in place for the Seven theme, however in the Open Y Admin, as I mentioned above, tabs are missing.
![image](https://user-images.githubusercontent.com/6285570/101896840-a568d980-3bba-11eb-8031-ca468b3532ab.png)

But as I see Open Y Admin theme is not used as a default admin theme, so I guess we can ignore this issue and close it.

By the way, do we need an Open Y Admin t

[2020-12-11 11:25] ddrozdik commented on #2333
@podarok Take a look at this theme https://www.drupal.org/project/gin it was built on the foundation of Claro from one of the lead designers of Claro & Drupal Design System. It is still alpha however looks very promising.

[2020-12-11 12:16] ddrozdik commented on #2334
@podarok I've got a confirmation that the scheduler is working correctly. The issue was related to the timezone setting on the user level. Our steps in the test case were updated accordingly.

Thank you for your help.
Closing this issue.

[2020-12-11 12:16] #2334 closed, assigned to podarok

[2020-12-11 12:18] podarok commented on #2334
Thank YOU @ddrozdik and your team
As a result, we have confirmed Scheduler is working as well as the first video smoke test arrived on the YouTube channel.

[2020-12-11 14:31] sarah-halby commented on #2330
Approved to include on Dec 22, 2020 point release due to needs from YMCAs.

[2020-12-11 20:33] sarah-halby commented on #1292
@podarok do you want this to remain with 5Jars to investigate or is it an item that you could work on while they are focused on smoke tests for Drupal 9?

[2020-12-11 20:37] sarah-halby commented on #1547
@vitaly-malashevsky are you still experiencing this issue? We cannot reproduce the issue and we will move to our backlog unless we hear from you.

[2020-12-14 13:04] podarok commented on #1292
@sarah-halby I'm not sure we should spend time on this right now. As the smallest effort, we could create a demo webform in OpenY and replace the placeholder block with a webform's input field. This would take probably 3-5 Story Points to implement, but in the end majority of the Ys would use an external email marketing system.

[2020-12-15 15:15] sarah-halby commented on #2259
@vitalii-stepaniuk following up one more time on @podarok recommendation above. If we do not hear back from you, we will close this issue and reopen it if need be in the future.

[2020-12-15 15:17] sarah-halby commented on #2296
Sarah to connect with 5J & IXM team about backporting fix for this issue.

[2020-12-15 15:20] sarah-halby commented on #2299
All items complete on this with the exception of IE 11. We determined that we will not support the IE 11 changes due to the end of life for IE 11 and the edge cases for this browser.

[2020-12-15 15:20] #2299 closed, assigned to podarok

[2020-12-15 15:21] sarah-halby commented on #2304
Sarah to ask 5Jars if this item was fixed - if so, we can backport the fix.

[2020-12-15 15:26] sarah-halby commented on #2305
@podarok is going to create a short video on how content managers can enable this on their own and then we will share with @froboy for review. We will keep this item as an issue to determine if it should be prioritized in 2021.

[2020-12-15 15:28] sarah-halby commented on #2315
This is tested and works fine. This is an optional feature that can be enabled or disabled. Recommending to merge in February 2021 release, but waiting for approval.

[2020-12-15 15:30] sarah-halby commented on #2326
For Carnation, the layout is broken for tool tips (it's white on white).

[2020-12-15 15:33] sarah-halby commented on #2330
This item is an exception to our code freeze for the Dec 2020 point release due to the importance of the alerts for YMCAs (both for 2020 and the holiday season). Approved by @sarah-halby & @podarok - Open Y Core team informed via call.

[2020-12-15 15:43] sarah-halby commented on #2331
Sarah to reach out to IXM, OneEach, JWTech to determine how they approach enabling for events & news posts with the goal to determine whether we should include this in the core and/or create documentation on how to enable this yourself without adding to the core. FYI @ddrozdik

[2020-12-15 15:45] sarah-halby commented on #2332
Discussed this as minor UX improvements - we will add to the to-do list and prioritize with the Core Team in 2021.

[2020-12-15 15:49] sarah-halby commented on #2333
Task: remove Open Y Admin Theme & provide upgrade path in the documentation before closing this issue.

[2020-12-15 18:38] #2330 closed, assigned to podarok

[2020-12-17 09:56] ddrozdik commented on #2330
@podarok thank you for a quick fix

[2020-12-17 10:58] ddrozdik opened #2339 "Consider enabling webform ui module by default"
In the past module, webform_ui was enabled by default for all Open Y installation types
https://github.com/ymcatwincities/openy/blob/2a5debf4c8146f93382ee9b8c92768f6a9d92629/openy.install#L337

However, now it is disabled by default. It can be enabled easily by adding into the list of dependencies for the Webform package https://github.com/ymcatwincities/openy/blob/8.x-2.x/openy.packages.yml#L297

[2020-12-17 11:17] podarok commented on #2339
UI modules in Drupal - modules as candidates for keeping disabled due to performance reasons.
We all know how tough is cache clear - almost 0 sites could clear cache from Admin UI, almost 0 sites could enable a module from Admin UI and router(menu) contributes to this majority of the weight.
UI modules are tough in terms of performance for admin interface.

I would keep them disabled and keep reco

[2020-12-17 11:20] ddrozdik opened #2340 "Open Y Demo webform is not working"
**Test Environment:**
Environment: | https://sandboxes-d9.openy.org/
Drupal version | 9.0.10
Open Y version | 8.x-2.7.1
Open Y installation type | Custom
Open Y theme | Carnation

**Description:**
There is a demo webform module that should create a webform for demo purposes https://github.com/ymcatwincities/openy/blob/8.x-2.x/modules/openy_features/openy_demo_content/modules/openy_demo_webform/ass

[2020-12-17 11:23] podarok commented on #2330
NP, thank you for finding this bug. It was a nasty one, especially now...

[2020-12-17 11:23] ddrozdik commented on #2339
@podarok, @sarah-halby Webform UI module is the only way to add anything to existing webforms or create a new one via the admin interface. All YMCA associations who work with Five Jars frequently create webforms on their own and they need access to this part of the admin interface.

Until then we handle this as customization.

[2020-12-17 12:40] podarok commented on #2333
@ddrozdik thank you for the gin theme suggestion. Our goal is to provide 99% maintenance stability and Claro looks more reliable because supported by Drupal core. Adding a dependency to contrib theme - possible, but we should have more demand, I guess
/cc @sarah-halby

[2020-12-17 13:11] podarok commented on #2208
Tested and created a Tutorial https://youtu.be/Kl1lwYSg3ww
All works great.

[2020-12-17 18:20] jwtechdesign opened #2341 "Membership Calculator (Choose Location Step) Broken"
Tested on all 3 themes - seems to be the same for all.  Branches do not show as Radio element options in the second step of the Membership Calculator.  This causes an error where a user cannot complete the process to see Step 3 and register.

Steps to Recreate:

1)  Navigate to the default Join page where the Membership Calculator lives: https://sandbox-carnation-cus.openy.org/join
2)  Select a Me

[2020-12-17 18:24] podarok commented on #2341
@jwtechdesign it's not broken. Please visit Locations Filter and enable locations to be displayed

[2020-12-17 18:52] podarok commented on #2341
Addressed in https://github.com/ymcatwincities/openy/pull/2210
https://github.com/ymcatwincities/openy/pull/2212
First time seen https://github.com/ymcatwincities/openy/issues/2196

[2020-12-17 18:52] #2341 closed, assigned to nobody

[2020-12-17 22:26] sarah-halby commented on #2208
@podarok Great! We've sent this to @froboy for review and I've asked him if there is specific copy (text) he'd like us to use, as well as direct links for Ys to access cachet without paying for it independently. Until this update has been made, I'm going to reopen this issue and it can be closed once we have received that information and the documentation has been completed.

[2020-12-17 22:49] sarah-halby commented on #2208
@podarok here is the proposed copy from Avi - we can discuss it tomorrow morning: "To help Ys incorporate the Cachet font into their online applications, Y-USA is now licensing the web font version of Cachet for all YMCAs. Previously, Ys could only access the desktop version of the font from the Brand Resource Center (BRC)." The links are:  https://theybrand.org/wordpress/cachet (link to download)

[2020-12-18 15:08] froboy commented on #2208
Here's what's on the [installer page](https://github.com/ymcatwincities/openy/blob/8.x-2.x/src/Form/UploadFontMessageForm.php#L32) currently:

To use Cachet fonts on the Open Y website go to the <a href=\'@config_url\'>Open Y Font Settings page</a> and upload the font files there.

I think it'd make sense to change this to:

Subbing in the video or maybe a text version of the instructions that And

[2020-12-21 11:43] podarok commented on #2199
This is done, tested - all working good. https://www.youtube.com/watch?v=ek1jk2DJU8M

[2020-12-21 11:43] #2199 closed, assigned to podarok

[2020-12-21 16:40] sarah-halby commented on #2208
@podarok just confirming that you saw the updates from @froboy above.

[2020-12-22 10:52] #2208 closed, assigned to podarok

[2020-12-22 14:39] aleevas opened #2344 "In the openy hours formatter we always use hardcorded default values"
Looks like we have some logical issue in [openy_hours_formatter.js](https://github.com/ymcatwincities/openy/blob/f06361f1f8b96aee9c1e60acc177e40cdcb70047/modules/custom/openy_hours_formatter/js/openy_hours_formatter.js#L53)

[code]

And as result we always use default values that hardcorded in that file.
That's mean even if we use another timezone for the Open Y site, anyway for user we display wo

[2020-12-22 14:46] podarok commented on #2344
How come this is America/New York @aleevas ?
Does the code use default timezone from Drupal?

[2020-12-22 15:06] aleevas commented on #2344
@podarok in the code below we use that defaults value if we don't have values that we should be sent through drupalSettings array.
But in the condition that I show you in issue description, if we sent this values -> we make this settings empty object
Please see:
[code]

So I've fixed this condition to correct one

[2020-12-22 16:12] sarah-halby commented on #2333
Update: to include in February 2021 release or beyond. Notes: we can stay as-is - for associations that use seven for the admin interface, they can keep using it. For new installations, Claro will be the default. If we provide documentation, then the upgrade path will be Claro and there will be a UI change for content managers.

[2020-12-22 16:14] sarah-halby commented on #2339
@sarah-halby to check with ImageX about their clients to determine how they use with their clients. This is a feature request. Would need to provide documentation and upgrade path.

[2020-12-22 16:18] #2344 closed, assigned to nobody

[2020-12-22 16:21] podarok commented on #2259
We've updated the document with a key version of Open Y which developers should not skip during upgrades from old Open Y versions. See https://github.com/ymcatwincities/openy/wiki/Important-versions-for-upgrade-path

[2020-12-22 16:21] #2259 closed, assigned to nobody

[2020-12-22 19:54] ddrozdik commented on #2339
@sarah-halby it may look like a regression because this module was enabled by default at some point in the past, but then for some reason, it became disabled.

[2020-12-22 19:56] podarok commented on #2339
@ddrozdik webform_ui was introduced by webform community. Before it was a part of webform core

[2020-12-23 21:04] sarah-halby commented on #1547
Closing out this issue due to lack of response. We can reopen this ticket if we can reproduce the issue or we receive additional information from the requestor.

[2020-12-23 21:04] #1547 closed, assigned to podarok

[2020-12-23 23:23] froboy opened #2347 "Teaser image style is too small (Carnation)"
At mobile viewpoints on Carnation, `prgf_teaser` images can display at up to 510px wide but the image style is only outputting `260×220`. The style should be at least doubled to output 520x440, possibly 2x that (if we're accounting for high-density displays).

![Health_and_Fitness___YMCA_of_Greensboro_—__Private_Browsing_](https://user-images.githubusercontent.com/238201/103043687-5cfad580-4543-11

[2020-12-24 17:48] froboy opened #2350 "Open Y Map - Change default base layer"
See https://sandbox-carnation-cus.openy.org/locations?type=ymca,camps&amenities ![Locations___Site-Install](https://user-images.githubusercontent.com/238201/103101563-d2b37f80-45dd-11eb-8909-866bd9e9c20f.png)

As per https://phabricator.wikimedia.org/T261694 and https://github.com/geopython/pygeoapi/issues/567, Wikimedia is now:

I'd recommend:
- (easy) changing the default base layer to OpenStree

[2020-12-25 13:18] akaleMulder opened #2351 "Improve UX for Menu Editing in Admin"
When editing menu items, a user gets redirected to the first level of menus, not to the list of menu items in a menu they edited. This makes editing a bunch of menu items or setting up a new website a bit more complicated.

* Go to /admin/structure/menu
* Click the' Edit menu' button next to a menu you want to edit, i.e., Main navigation
* Select a menu item you want to edit, i.e., Membership
* (o

[2020-12-25 13:55] akaleMulder opened #2352 "Enhancement Location Selector - Multiple Options"
Add instructions on how to select multiple locations. Not everyone knows they should use Cmd+Mouse click to select multiple options.

Create a new landing page, scroll the page down.
![image](https://user-images.githubusercontent.com/2506214/103136282-3f677080-46e9-11eb-89be-739e056b746f.png)

It is probably a good idea to change the presentation of this field to a multi-select checkbox.

[2020-12-25 14:44] akaleMulder opened #2353 "Fix menu items spacing in footer on mobile"
The spacing in the footer on the mobile layout should be improved.
Example:
![Screenshot from 2020-12-08 20-21-28](https://user-images.githubusercontent.com/2506214/103137273-aee15e00-46f1-11eb-9ffa-65a6bb088076.png)

Improved version:
![image](https://user-images.githubusercontent.com/2506214/103137302-0089e880-46f2-11eb-94f4-a5f6fcfeb059.png)

[2020-12-28 19:50] sarah-halby commented on #2184
@podarok feedback from @dwells-tn: It looks fixed. Can't test on Virtual Y, but it looked like it worked on News and Blog Post. One thing, though - I think if the field is deprecated, it needs to be hidden. I completely missed the helper text underneath the field, and I assume most folks will miss that. Once we address that, we can close this item.

[2020-12-28 22:12] sarah-halby commented on #2207
Update: reached out to Julia at FiveJars to determine if they have fixed this issue and what the estimate is for backporting.

[2020-12-29 09:26] podarok commented on #2184
@sarah-halby and @dwells-tn
In order to deliver an upgrade path, we can't hide a field just now. Think about the amount of content we have on a field of associations to date. Due to providing automated upgrade path is almost impossible given how stretched our time is and how complex this task would be, we are relying on content managers to work with changing their content over time. Which means
-

[2020-12-29 16:16] sarah-halby commented on #2347
Story point = 1

[2020-12-29 16:24] sarah-halby commented on #2350
The easy option is a story point 1. The medium option would a story point 2 due to the need for the upgrade path. We will separate these into two user stories to be able to address the immediate need of option 1 and pursue option 2 in the future. cc @froboy

[2020-12-29 16:29] sarah-halby commented on #2351
Next steps for this item are to search Drupal.org to see if this has already been discussed/addressed, as well as discuss the impact with Ben McCoy.

[2020-12-30 14:03] #2350 closed, assigned to podarok

[2021-01-04 11:08] #2327 closed, assigned to podarok

[2021-01-05 15:38] sarah-halby commented on #2296
@podarok per 5Jars, this was initially within scope to fix but then they ran out of hours. It would take 4-8 hours to fix this issue.

[2021-01-05 15:40] ddrozdik opened #2360 "Carnation: Location finder listing improvements"
**Test Environment:**
Environment: | https://sandboxes-d9.openy.org/
Drupal version | 9.0.10
Open Y version | 8.x-2.7.1
Open Y installation type | Custom
Open Y theme | Carnation

**Description:**
1. Not obvious that a phone number is clickable until you try and click. I recommend changing styles for them.
![image](https://user-images.githubusercontent.com/6285570/103665723-d0113c80-4f84-11eb-9078

[2021-01-05 16:21] sarah-halby commented on #2351
Storypoint: 1. To discuss after Q1 2021 release.

[2021-01-05 16:29] sarah-halby commented on #2352
@akaleMulder this needs additional testing due to concerns around regressions for pages that rely on the single drop-down vs. the checkbox field. Could you provide additional insights for business requirements for this enhancement?

Story point estimate: 8.

[2021-01-05 16:30] sarah-halby commented on #2353
Story point estimate: 2

[2021-01-06 10:40] ddrozdik opened #2362 "Description for the background color in the microsite menu paragraph is not correct"
**Test Environment:**
Environment: | https://sandboxes-d9.openy.org/
Drupal version | 9.0.10
Open Y version | 8.x-2.7.1
Open Y installation type | Custom
Open Y theme | Carnation

**Description:**
When you create a new menu block using the Microsite menu paragraph, you can specify colors used to create a gradient background of the menu.
![image](https://user-images.githubusercontent.com/6285570/10

[2021-01-06 11:17] ddrozdik opened #2363 "Suggestion for the Microsites Menu UX improvement"
**Test Environment:**
Environment: | https://sandboxes-d9.openy.org/
Drupal version | 9.0.10
Open Y version | 8.x-2.7.1
Open Y installation type | Custom
Open Y theme | Carnation

**Description:**
After creating a new or adding an existing block to the Microsites menu paragraph, I see a draggable icon on the block level
![image](https://user-images.githubusercontent.com/6285570/103762508-74e55580-

[2021-01-06 11:42] ddrozdik opened #2364 "Suggestion to improve description for the color field in the Small banner & Banner paragraphs"
**Test Environment:**
Environment: | https://sandboxes-d9.openy.org/
Drupal version | 9.0.10
Open Y version | 8.x-2.7.1
Open Y installation type | Custom
Open Y theme | Carnation

**Description:**
When I add a new small banner or banner to the page there is a field to specify the color of the banner that will be used if the image was not selected. This color will be used as a background color for

[2021-01-11 14:56] sarah-halby commented on #2304
@podarok this item was not fixed by the 5Jars team. Given the low priority, I have not asked them to fix it.

[2021-01-11 19:56] ddrozdik opened #2367 "Group Schedules (GroupEx Pro) paragraph does not work"
**Test Environment:**
Environment: | https://sandboxes.openy.org/
Open Y installation type | Custom
Open Y theme | Carnation

**Description:**
There is a paragraph called "Group Schedules (GroupEx Pro)", it can be found on the demo page (/schedules/group-schedules) which is not working at the moment. While trying to edit paragraph settings nothing happens.
![image](https://user-images.githubuserco

[2021-01-11 20:07] ddrozdik opened #2368 "Hide GroupEx Pro menu item if this integration is not enabled."
In the Open Y menu, there is a menu item called GroupEx Pro which is always visible even if you don't use this integration.
![image](https://user-images.githubusercontent.com/6285570/104232629-add65d80-5461-11eb-9216-d6a3e566cc40.png)

 If you try to open it you will get a message `You do not have any administrative items`.
![image](https://user-images.githubusercontent.com/6285570/104232192-0bb67

[2021-01-11 20:12] ddrozdik opened #2369 "Daxko module looks outdated"
It seems daxko module(the first version) is outdated already and can be deleted from the distribution. Could you check it?

[2021-01-11 22:18] sarah-halby commented on #2369
@ddrozdik is this in regards to Activity Finder or just in general? I want to make sure @podarok has the information he needs to move forward.

[2021-01-12 10:02] ddrozdik commented on #2369
@sarah-halby in general, the module https://github.com/ymcatwincities/openy/tree/9.x-2.x/modules/custom/daxko was created 4 years ago. There are some dependencies to this module however, they are not relevant anymore.
On the other hand, there is a module https://github.com/ymcatwincities/openy/tree/9.x-2.x/modules/custom/openy_daxko2 that works with API v2 and seems the most used across all Ys.

I

[2021-01-12 14:40] podarok commented on #2369
I agree that if we are not using it anymore - it is a good candidate for deprecation and decoupling to a dedicated repository just in case if needed
I guess due to this is a change, functional change, we should be careful and we need to notify the community this is coming in the same way as we do for the media_*, openy_autocomplete_path, and some other modules, described in the upcoming February r

[2021-01-12 14:44] podarok commented on #2367
Seems like this bug https://github.com/ymcatwincities/openy/issues/2138 is back

[2021-01-12 15:59] podarok commented on #2367
I've tested this on Drupal 9 and latest Open Y
https://youtu.be/24DwB8694NI
Seems like working well

@ddrozdik

[2021-01-12 16:10] sarah-halby commented on #2367
The impact seems to be for Drupal 8 only - @podarok to continue to investigate this bug. There is a patch available - Andrii to review for Drupal 8 to confirm. This edit is for the interface for the dropdown. If so, we'd need to release a hotfix for this issue - only applicable to users who are upgrading to the current Open Y in Drupal 8.

[2021-01-12 16:12] sarah-halby commented on #2360
Adding this to the discussion with Ben around UX enhancements.

[2021-01-12 16:16] sarah-halby commented on #2362
1. Description needs to be improved
2. Widget for the field - no consistency between drop-down and autocomplete. Drop-down makes sense but needs review from Ben - how it looks now and decide what would be better.

Add to conversation with Ben.

[2021-01-12 16:20] sarah-halby commented on #2363
This a Drupal core item - by default, it is included. For this particular item, you can only have one item and cannot drag and drop. This change should go to Drupal core.

[2021-01-12 16:24] sarah-halby commented on #2364
This is for content management experience - should provide understanding for content managers. This is used differently across the three themes, which makes it challenging to update the description. Suggestion: add a link to Wiki page for the different themes.

@ddrozdik do you have a suggestion for description based on the above considerations or what are your thoughts on a Wiki Page with more de

[2021-01-12 16:26] sarah-halby commented on #2368
This is not in the module that is responsible for the settings. Story Point: 2.

[2021-01-12 16:32] sarah-halby commented on #2369
@ddrozdik can you confirm that your clients are not using this module? I will connect with OneEach, JW Tech, and ImageX. The plan is that the code is not removed and not decoupled, however, it will not be tested in new releases.

[2021-01-12 16:36] podarok commented on #2367
I see the issue
![image](https://user-images.githubusercontent.com/563412/104343817-132f5a80-5505-11eb-8467-61db71abc3a6.png)

[2021-01-12 17:04] podarok commented on #2367
Just a reference to external issue I rised for composer patches package https://github.com/cweagans/composer-patches/issues/351

[2021-01-12 18:45] ddrozdik commented on #2369
@sarah-halby yes, I confirm we do not use it across all our clients.

[2021-01-12 18:56] ddrozdik commented on #2364
@sarah-halby The logic behind this field is similar for all Open Y themes, and the idea is that in this field content manager can specify a background color that will be used in both banners in case the image is not added.

In terms of description, I think something like this should be much more helpful.
`Choose a color from the list of predefined colors which will be used as a background color fo

[2021-01-12 19:45] ddrozdik opened #2370 "Draggable icon appears 3 times"
**Test Environment:**
Environment: | https://sandboxes-d9.openy.org/
Drupal version | 9.0.10
Open Y version | 8.x-2.7.1
Open Y installation type | Custom
Open Y theme | Carnation

**Description:**
The issue is very similar to this one https://github.com/ymcatwincities/openy/issues/2363 however for the Grid Content paragraph this icon appears 3 times, see screenshot
![image](https://user-images.git

[2021-01-12 20:10] ddrozdik opened #2371 "Grid content visual issues"
**Test Environment:**
Environment: | https://sandboxes-d9.openy.org/
Drupal version | 9.0.10
Open Y version | 8.x-2.7.1
Open Y installation type | Custom
Open Y theme | Carnation

**Description:**
1. If I create grid content with a style of 4 items per row and add a long headline text, it does not look good on the page. See screenshot below. probably we need to develop a better design that will wo

[2021-01-13 12:12] podarok commented on #2367
This is fixed now. Thank you

[2021-01-13 12:12] #2367 closed, assigned to podarok

[2021-01-18 10:32] hamrant opened #2377 "Missed alert nid in draggableviews"
## Steps to reproduce

- Login as admin
- Go to `/admin/content/alerts-rearrange`
- Change order
- Go to `/node/add/alert`
- Create an alert in the header and assign it to the branch
- Go to the branch page and check that alert not displayed

## Issue reason

In `AlertsRestResource` we have DB select from the `draggableviews_structure` table, by default on sandbox result of this DB query empty bec

[2021-01-18 10:36] podarok commented on #2377
@danylevskyi @dmytrolavrinenko
The bug we had an issue with a while ago on Y North

[2021-01-18 12:01] #2377 closed, assigned to hamrant

[2021-01-18 18:08] ddrozdik opened #2380 "Module "OpenY PEF GXP Sync" is not part of the "Integration: GroupEx Pro" package"
**Test Environment:**
Environment: | https://sandboxes-d9.openy.org/ & https://sandboxes.openy.org/
Open Y version | 8.x-2.8.0 & 8.2.7.3
Open Y installation type | Custom

**Description:**
There is a module, `OpenY PEF GXP Sync`, which is responsible for the integration of Open Y PEF with GroupEx Pro. This module, by default, is disabled because it is not included in the `Integration: GroupEx Pro`

[2021-01-19 15:34] #2340 closed, assigned to podarok

[2021-01-21 14:52] ddrozdik opened #2384 "GroupEx Pro -> PEF: GroupEx pro integration requires module "Open Y Mappings Feature""
**Test Environment:**
Environment: | https://sandboxes-d9.openy.org/
Open Y version | 8.x-2.8.0
Open Y installation type | Custom

**Description:**
If you wish to run GroupEx pro integration with PEF you need to install the module called "OpenY PEF GXP Sync", however, to configure integration itself you need to install the module "Open Y Mappings Feature" which will not be installed while enabling

[2021-01-21 15:01] ddrozdik opened #2385 "Redirect to the listing of mappings instead of mapping view page would be better"
**Test Environment:**
Environment: | https://sandboxes-d9.openy.org/
Open Y version | 8.x-2.8.0
Open Y installation type | Custom

**Description:**
When I add a new mapping to configure synchronization between GroupEx Pro and PEF on the page /admin/openy/settings/mappings/mapping after saving I stay on the view entity page which is completely useless instead of redirecting to the list of mappings.

[2021-01-21 15:59] sarah-halby commented on #2380
Now that this is a known issue, our recommendation is to fix this in Q2 after the February release due to the fact that this has been the default for quite some time and is not an urgent issue. The fix would impact new installations, and the recommendation is to not provide an upgrade path for old installations. cc @ddrozdik

[2021-01-21 16:05] sarah-halby commented on #2384
Storypoint: 1

[2021-01-21 16:05] ddrozdik opened #2386 "There is no way to run GroupEx -> PEF integration from the admin panel."
**Test Environment:**
Environment: | https://sandboxes-d9.openy.org/
Open Y version | 8.x-2.8.0
Open Y installation type | Custom

**Description:**
At the moment, the module for GroupEx Pro -> PEF integration, https://github.com/ymcatwincities/openy/tree/9.x-2.x/modules/custom/openy_pef_gxp_sync provides a drush command only. However, if I need to run the sync from the admin panel, there is no way

[2021-01-21 16:06] sarah-halby commented on #2385
Demand for this feature is currently low. We will add this to our discussion with Ben on UX.

[2021-01-21 16:10] ddrozdik opened #2387 "GroupEx Pro -> PEF: All imported sessions are unpublished by default."
**Test Environment:**
Environment: | https://sandboxes-d9.openy.org/
Open Y version | 8.x-2.8.0
Open Y installation type | Custom

**Description:**
According to the module logic, all newly created sessions are unpublished https://github.com/ymcatwincities/openy/blob/9.x-2.x/modules/custom/openy_pef_gxp_sync/src/syncer/Saver.php#L190 and due to this, they do not appear on the Schedules page.

We ha

[2021-01-21 17:10] ddrozdik opened #2388 "GroupEx Pro -> PEF: Critical error while changing status of the session"
**Test Environment:**
Environment: | https://sandboxes-d9.openy.org/
Open Y version | 8.x-2.8.0
Open Y installation type | Custom

**Description:**
This issue was identified while trying to change publish status for the newly created node of type session (see more details about publish status here https://github.com/ymcatwincities/openy/issues/2387).

While saving the node of type session (created

[2021-01-21 17:43] ddrozdik commented on #2387
On one of Five Jars' projects we added a custom hook to publish sessions. The code looks like this

[code]

[2021-01-21 18:04] ddrozdik opened #2389 "GroupEx Pro -> PEF: Documentation on how to configure syncronization is not full"
Module https://github.com/ymcatwincities/openy/tree/9.x-2.x/modules/custom/openy_pef_gxp_sync provides a Readme file on how to configure and run synchronization. However, it does not contain the required steps on how to enable the sync method and configure mappings.

The full instruction might look like this:
1. Login as Admin
2. Go to Extend (/admin/modules)
3. Install modules `OpenY PEF GXP Sync

[2021-01-22 15:00] ddrozdik opened #2390 "GroupEx pro integration: Consider refactoring of GroupEx integration settings forms"
Currently, Open Y provides a few ways of displaying data from GroupEx pro, embedded iframe, and pulling data via API, and displaying them on the Schedules page. At the moment, two different modules provide these functionalities, and both provide settings form where client id should be specified.
1. GroupEx Pro Account Settings
![image](https://user-images.githubusercontent.com/6285570/105506697-5f

[2021-01-22 15:56] ddrozdik opened #2391 "Search: Enabling/disabling search in Carnation does not work"
**Test Environment:**
Environment: | https://sandboxes-d9.openy.org/
Drupal version | 9.0.10
Open Y version | 9.x-2.8.0
Open Y installation type | Custom
Open Y theme | Carnation

**Steps to reproduce:**
1. log in as Admin
2. Go to Appearance -> Installed themes
3. Find "Open Y Carnation" (it should be default theme) and open settings
4. Verify there is a collapsible search fieldset and "Display t

[2021-01-22 19:50] ddrozdik opened #2392 "Documentation on how to configure Search using Solr is needed"
There is a module https://github.com/ymcatwincities/openy/tree/9.x-2.x/modules/custom/openy_search/openy_search_api that provides configs needed to use the search with Solr server but there are no instructions on how to configure this search.

[2021-01-22 20:17] ddrozdik opened #2393 "Search: Keep one Solr server instead of two"
**Test Environment:**
Environment: | https://sandboxes-d9.openy.org/
Drupal version | 9.0.10
Open Y version | 9.x-2.8.0
Open Y installation type | Custom
Open Y theme | Carnation

**Description:**
In the sandbox environment, I noticed there are two Solr servers with almost the same name. The first one added via the Activity Finder v4 module https://github.com/ymcatwincities/openy_activity_finder/b

[2021-01-25 14:29] podarok commented on #901
This is fixed now

[2021-01-25 14:29] #901 closed, assigned to nobody

[2021-01-25 14:32] podarok commented on #2393
@sarah-halby we have a bunch of dependencies we need to resolve before working on this one
Virtual Y Solr search
Open Y upgrade to decent Solr ( 8 )
Open Y Solr search
Open Y Blogs search
Activity Finder v3
Activity Finder v4

Also, we have some related issues which could be merged into one epic with current one
- https://github.com/ymcatwincities/openy/issues/1645
- https://github.com/ymcatwincit

[2021-01-26 16:08] sarah-halby commented on #2386
@podarok to create documentation on how to test without the integration (see the linked ticket).

cc @ddrozdik - we will work on the documentation linked here so that dev could test this item (rather than QA). Due to the upcoming Daxko API transition from GroupEx Pro, we need to determine whether or not this transition should be prioritized or if it will be solved by the Daxko transition.

[2021-01-26 16:18] sarah-halby commented on #2391
Note for a future fix: need to also test on Lily & Rose themes to determine if the issue is replicated using the settings for those themes.

[2021-01-26 16:20] sarah-halby commented on #2392
@podarok to search for documentation and to add this ticket.

[2021-01-26 19:06] fyaconiello commented on #2388
I am also having this issue on my install. Additionally, I encountered this when trying to manually add a location reference as my session imported without a Location being set.

[2021-01-27 10:48] podarok commented on #2388
Accordingly to the code
[code]

Line 199  is checking if there are referenced entities and seems like ```field_category_program``` is not an object. Which is weird, right? @ddrozdik
Why it is not an object? Is this field available?

In regards to published/unpublished state
[code]
We have an option in config to allow the use of unpublished nodes https://github.com/ymcatwincities/openy/commit/0575c

[2021-01-27 10:50] podarok commented on #2387
See https://github.com/ymcatwincities/openy/issues/2388#issuecomment-768200715 @ddrozdik

[2021-01-27 10:58] podarok commented on #2388
My guess is that there is a confusion how PEF works
We have a requirement of strong bonding between nodes
Program -> Program Subcategory -> Activity -> Class -> Session
Session must reference Class
Class Must reference Activity
Activity Must reference Program Subcategory
Program Subcategory must reference Program

If one of these references is lost - PEF won't work for the whole chain.

[2021-01-27 13:55] fyaconiello commented on #2388
![image](https://user-images.githubusercontent.com/227515/106000291-aa0b2380-607c-11eb-9f68-b282f6075e7d.png)
I see the sync creating Activity > Class > Session
Activity is associated with the Group Exercise Program Subcategory referenced in the configuration admin
![image](https://user-images.githubusercontent.com/227515/106000494-e048a300-607c-11eb-9920-e491b1ef8fe0.png)

As far as I can tell, m

[2021-01-28 09:23] podarok commented on #2388
@fyaconiello could you also verify you have Program Subcategory and Program in a chain up from Group Excersize node ( 349 )

[2021-01-28 15:16] fyaconiello commented on #2388
Following the chain identified some maybe strange behavior:

**Session: Gentle Yoga**
![image](https://user-images.githubusercontent.com/227515/106157046-48b48480-6150-11eb-9a9c-fa081eb8967b.png)

**Class: Gentle Yoga**
![image](https://user-images.githubusercontent.com/227515/106157152-67b31680-6150-11eb-8bb4-afca19113ca3.png)

**Activity: Yoga**
![image](https://user-images.githubusercontent.com

[2021-01-28 17:26] sarah-halby commented on #1323
@podarok David confirmed that he has not created documentation on this. ImageX handled their GXP integration. Let's add this to our Q2 2021 work.

[2021-01-29 16:42] fyaconiello commented on #2388
confirmed, https://github.com/ymcatwincities/openy/pull/2395.diff patch fixes the issue for me!

[2021-01-29 16:43] sarah-halby commented on #1330
@AndreyMaximov & @Sanchiz - it doesn't look like the user story was provided for this item. We're working on our backlog refinement, and I'd like to get this added. Can you please provide the user story if this issue is still relevant?

[2021-01-29 17:04] sarah-halby commented on #1512
@podarok please add to your list review for after the Feb 2021 release.

[2021-01-29 18:43] fyaconiello commented on #2388
@podarok I spoke too soon.

the patch above allowed me to save individual sessions from the drupal admin, but when I run the sync command and then execute the cron the issue crops back up:

[code]

then

[code]

this has a slightly different stack trace than the original, but im pretty sure its the same root cause.

[2021-01-29 18:54] sarah-halby commented on #2388
@podarok reopening for you to address when you return on Monday.

[2021-02-01 13:34] podarok commented on #2388
@fyaconiello try this patch
https://github.com/ymcatwincities/openy_activity_finder/pull/32/files
And let me know if helped.

In my guts, I feel this is an issue with data setup in Groupex, but with this patch, you should get the code run till the end of the loop.

[2021-02-03 15:42] podarok commented on #2393
@sarah-halby  this is our path short term. Let's discuss this on our scrum

[2021-02-05 12:10] podarok commented on #2389
Added to wiki and updated accordingly to Drush 10 support https://github.com/ymcatwincities/openy/wiki/GroupEx-PRO-quick-start

[2021-02-05 12:10] podarok commented on #2389
I guess we can close this one @sarah-halby
@ddrozdik let us know if anything missed here

[2021-02-05 13:56] ddrozdik commented on #2389
Perfect. Thanks.

[2021-02-05 14:14] sarah-halby commented on #2393
@ddrozdik please see @podarok comment above. Timing on this fix will be after the February release so we can address this and the upgrade path.

[2021-02-05 14:50] sarah-halby commented on #2389
Thanks, @podarok & @ddrozdik! Closing ticket.

[2021-02-05 14:50] #2389 closed, assigned to podarok

[2021-02-08 10:38] #2326 closed, assigned to podarok

[2021-02-08 14:45] podarok commented on #2184
@sarah-halby this one is fixed. We can close it, I guess

[2021-02-15 15:06] podarok commented on #2388
This was fixed and confirmed by Francis

[2021-02-15 15:06] #2388 closed, assigned to nobody

[2021-02-16 16:04] podarok commented on #2384
This is fixed in the latest 9.x-2.x

[2021-02-16 16:04] #2384 closed, assigned to nobody

[2021-02-22 17:09] froboy opened #2406 "prgf_teaser image is too small"
![Health_and_Fitness](https://user-images.githubusercontent.com/238201/108743225-3125ad00-74fe-11eb-99e8-44bc924b9c3a.png)
https://github.com/ymcatwincities/openy/blob/0bd6ad954588c3f702c6e472dd705cf6de31fbd9/modules/openy_features/openy_prgf/modules/openy_prgf_teaser/config/install/crop.type.crop_260_220.yml#L10

In Carnation, the Teaser Paragraph can render the `prgf_teaser` image style at wider

[2021-02-23 14:28] froboy commented on #2341
I've documented this requirement [on the message board](https://community.openymca.org/t/membership-calculator-paragraphs-open-y-user-docs/908#troubleshooting). It would be nice if this worked out of the box (on the Sandboxes as well) but hopefully this will help for now.

[2021-02-23 14:38] froboy opened #2410 "Indicate that Membership Calculator will not work until Location settings are updated"
As per #2341, the Membership Calculator will not work until the **Open Y Location Filter Settings** are updated (I've documented this [on the message board](https://community.openymca.org/t/membership-calculator-paragraphs-open-y-user-docs/908#troubleshooting)). This results in what looks like "broken" functionality on the sandbox and Open Y "out-of-the-box" installs.

In order to reduce that conf

[2021-02-23 16:11] sarah-halby commented on #2410
Story point 3 to update the documentation. @froboy, @podarok and I met today to discuss this and we are going to move forward with option 2. The membership framework is on the list to update for Q2 if approved by Y-USA.

[2021-02-23 16:15] sarah-halby commented on #2406
@froboy this is a duplicate for #2347 and this has been created in Jira in the Maintenance board: https://openy.atlassian.net/browse/MAINTAIN-35 - the 5Jars team is working on it and it should be completed by March 5th. If there is something we missed and this is not a duplicate, please let me know.

[2021-02-23 16:39] froboy commented on #2406
@sarah-halby ugh. not only a dupe but a self-dupe. 🤦  feel free to revoke my issue-creating privileges. Thanks for the catch.

[2021-02-23 16:39] #2406 closed, assigned to nobody

[2021-02-23 21:18] sarah-halby commented on #2406
Consider this your final warning @froboy ;-)

[2021-02-23 21:30] sarah-halby commented on #2410
@froboy added to Jira with this ticket: https://openy.atlassian.net/browse/PRODDEV-246

[2021-02-24 17:27] jwtechdesign opened #2413 "News Posts only show "Image & Description" Fields in Content Area"
**Issue Description:**
This issue was brought to my attention by ymcagreenville.org.  When adding any paragraph to the "Content Area" of a News Post, it doesn't actually display on the node.  The Image & Description fields show, but nothing else in the Content Area.

Using the sandbox website as an example: https://sandbox-carnation-cus.openy.org/news/learn-about-camp-terrys-history. I have only t

[2021-02-24 20:35] podarok commented on #2368
This is fixed. Will be in next point release

[2021-02-24 20:35] #2368 closed, assigned to nobody

[2021-02-26 12:36] podarok opened #2415 "Make Fontawesome version consistent across the codebase"
We have different versions of Fontawesome icons/chars and it's adding additional maintenance effort in order not to lose any.
Long term we should
- use fontawesome based on contrib module https://www.drupal.org/project/fontawesome
- update all code and use icons from one version

Initial context
Initial issue comment https://github.com/ymcatwincities/openy/pull/2414#issuecomment-786551252
If we wa

[2021-02-26 12:39] podarok commented on #2415
@sarah-halby for us to discuss

[2021-03-01 17:04] sarah-halby commented on #2347
@froboy this has been completed and will be added into the next Open Y point release.

[2021-03-01 17:04] #2347 closed, assigned to nobody

[2021-03-01 21:13] sarah-halby commented on #2413
@podarok please review this ticket for us to talk through during our weekly review.

[2021-03-02 15:55] #2387 closed, assigned to podarok

[2021-03-02 17:16] sarah-halby commented on #2413
@jwtechdesign - assigned this to @podarok to determine if it is a feature request or a bug fix. We've created a ticket in Jira to prioritize: https://openy.atlassian.net/browse/MAINTAIN-56

[2021-03-02 17:17] sarah-halby commented on #2296
Completed with this PR: https://github.com/ymcatwincities/openy/pull/2417

[2021-03-02 17:17] #2296 closed, assigned to podarok

[2021-03-02 17:19] sarah-halby commented on #2332
This issue was addressed in this PR: https://github.com/ymcatwincities/openy/pull/2414 Closing ticket.

[2021-03-02 17:19] #2332 closed, assigned to nobody

[2021-03-02 17:20] sarah-halby commented on #2073
@froboy we believe this issue is completed. Can you please take a look and see if you are still having this issue? https://github.com/ymcatwincities/openy/pull/2134 & https://github.com/ymcatwincities/openy/blob/96f56d862f27cc279ed2756f937182ca2fbd6b92/themes/openy_themes/openy_lily/openy_lily.theme#L108

[2021-03-03 11:00] podarok commented on #2219
Closed as #2296 is a duplicate and fixed already

[2021-03-03 11:00] #2219 closed, assigned to podarok

[2021-03-03 11:54] podarok commented on #2413
This is Carnation only issue.
I'm not sure why this wasn't added to Carnation. I see this field was added 4 years ago.

For Lily it was enabled 4 years ago during decoupling from YMCA of Long Island - back in 2018 https://github.com/ymcatwincities/openy/pull/920
For Rose it was done a bit earlier back in 2017 - https://github.com/ymcatwincities/openy/pull/79
Events were introduced in May 2018 http

[2021-03-03 12:02] podarok commented on #2413
@jwtechdesign please review https://github.com/ymcatwincities/openy/pull/2419

[2021-03-03 13:04] podarok commented on #1979
This is fixed in 9.x-2.x

[2021-03-03 13:05] #1979 closed, assigned to podarok

[2021-03-03 14:53] sarah-halby commented on #2219
@froboy this has been fixed ^^

[2021-03-03 16:44] #2413 closed, assigned to podarok

[2021-03-05 16:50] danylevskyi opened #2421 "Possible issue with Repeat Manager (OpenY Repeat) and CLI mode"
We just faced an issue with Time Zone conversion in OpenY Repeat module while using CLI mode. Effectively, we are getting different timezones on repeat_event entity while creating session instance through the web interface and CLI.

**What's the actual impact?** Session nodes created by CLI scripts will not be shown in the Schedules interface if the session ends on the next day by UTC time.

### H

[2021-03-09 16:14] sarah-halby commented on #2421
Once Y North has a fix, @podarok will backport the fix into Open Y. The issue lies with issues in the old GroupExPro API.

[2021-03-15 15:42] #1164 closed, assigned to nobody

[2021-03-16 15:08] sarah-halby commented on #2421
Update from Y North: ITCare will deploy fix to Y North on 3/18. Next week @podarok will backport to Open Y.

[2021-03-23 11:27] vitalii-stepaniuk opened #2424 "openy_prgf_gallery and openy_prgf_banner get disabled due to entity_reference dependency (Drupal 9)"
On upgrading of a site to Drupal 9, during run of system_post_update_uninstall_entity_reference_module(), where entity_reference is getting uninstalled, openy_prgf_gallery and openy_prgf_banner modules get disabled too, due to this dependency:

https://github.com/ymcatwincities/openy/blob/7f01e9a3d7438f1abd37b9568ce0e2e83469d053/modules/openy_features/openy_prgf/modules/openy_prgf_gallery/openy_pr

[2021-03-23 14:30] podarok commented on #2424
I'll work on getting this fixed soon

[2021-03-23 16:54] #2424 closed, assigned to podarok

[2021-03-24 14:26] podarok commented on #2421
Deploy will happen tomorrow, 24 March. Backport afterwards

[2021-03-30 15:12] sarah-halby commented on #2421
This issue is still being fixed - scheduled to be fixed on April 1, 2021. After this is complete, this will be backported to Open Y.

[2021-03-30 15:22] sarah-halby commented on #792
@podarok please review the comment above in preparation for the weekly review next week (April 6).

[2021-04-01 16:20] froboy opened #2427 "Footer Alerts do not display in Rose & Lily"
As reported in Slack, with Open Y 8.2.7.3 footer alerts do not display in Rose and Lily, but still function in Carnation.

An error in the console is also thrown:
[code]

This seems to be a regression introduced in https://github.com/ymcatwincities/openy/pull/2317. I'll be submitting a PR shortly.

[2021-04-01 19:19] sarah-halby opened #2430 "Small Banner Styling Issue for Button"
Issue reported by Silicon Valley Y, using Carnation Standard on 8.9.11

By using the icon within the WYSIWYG editor for a button that you could use to still feature a button in that paragraph type; however, the styling is off when you do so. The button link within small banner styling does not work as intended.

Needs to be tested in D8 & D9.

Original request reported by Amber R:
If my memory ser

[2021-04-02 07:09] podarok commented on #2430
Not clear how to reproduce the issue @sarah-halby
Let's discuss on our scrum

[2021-04-02 10:23] #2427 closed, assigned to nobody

[2021-04-02 14:59] sarah-halby commented on #2430
Ticket has been updated with additional details via conversation in scrum.

[2021-04-20 16:32] froboy opened #2438 ""Events Post Listing" and "Upcoming Events" Paragraph should filter out past events"
The views powering both of these don't have a filter to exclude events that have ended. I believe the proper filter is "End date >= today"

[2021-04-22 13:24] sarah-halby commented on #2438
Jira ticket for this issue: https://openy.atlassian.net/browse/MAINTAIN-64

[2021-04-27 17:13] kairamkondarajesh opened #2442 "Contextual menu is not accessible on Lily main nav"
**Repro Steps**

- Visit https://sandbox-rose-cus.openy.org/
- Disable one of the main nav items
- Go back to any page
- observe the quick edit link is not accessible (see attached gif)

**Expected Behavior**
While hovering over the main navigation, the pencil icon should display. Moving your cursor to the pencil icon should keep it accessible. Clicking the pencil icon reveals a small menu, with "

[2021-04-27 19:01] jwtechdesign opened #2443 "[Carnation] Icons no longer appearing in Grid Content Paragraph"
Steps to Recreate:

1) In Carnation theme, add a Grid Content paragraph to any page
2) Add an icon class in the "Icon Class" field (any free FontAwesome icon class should do)
3) Save the page.

The icon does not show.  It does not print out in the code under `div.inner > span.d-block`.  I've just noticed this after updating one of our Y sites to Open Y (openy-8.x-2.7.3).  However, it behaves the s

[2021-04-27 20:32] froboy commented on #2442
@kairamkondarajesh please attempt to reproduce this on https://sandbox-rose-cus.openy.org and provide notes on how to reproduce.

[2021-04-28 06:10] kairamkondarajesh commented on #2442
@froboy We don't have site owner role on https://sandbox-rose-cus.openy.org So reproduced with admin user.
Steps :
After login with admin/site owner role, Hover on the header section and able to see the pencil icon display. When user try to click on pencil icon it disappear immediately.
![image](https://user-images.githubusercontent.com/6428296/116354704-6d370000-a816-11eb-9a41-fcea59f39c3f.png)

[2021-04-28 17:39] TomScarboroughYMCA opened #2444 "Cloning a recurring event does not set the roles correctly."
**Repro Steps**

- Log into Virtual Y site as a Site Owner
- Edit an Event
- Click the Clone tab
- After verifying form is complete, scroll to the bottom to observe no Virtual Y Permissions section present.
- Save the cloned event
- View the event in the Schedule
- Edit the cloned event, scroll down to view the Virtual Y Permissions.
- Note that Virtual YMCA and Virtual YMCA Premium roles are not

[2021-04-29 14:10] froboy commented on #2444
@TomScarboroughYMCA I believe this should be opened on ymcatwincities/openy_gated_content, not here.

[2021-04-29 14:14] TomScarboroughYMCA commented on #2444
Will move this - thanks

[2021-04-29 14:15] #2444 closed, assigned to nobody

[2021-04-29 19:32] jwtechdesign opened #2445 "Open Y Location Filters Broken"
"Step 2" of the built in Membership Calculator is populated by the following config page (/admin/config/content/location-filter-settings).  I believe this is meant to allow site owners to be able to include or exclude the branches / camps from the filtering system.

I'm working with a YMCA who has multiple branches that are not "full service membership" branches, and so, would only like to show a

[2021-04-30 09:27] podarok commented on #2443
Not an issue in Lily
![image](https://user-images.githubusercontent.com/563412/116676158-4f50d300-a9af-11eb-9601-29c10e8d271d.png)

Not an issue in Rose
![image](https://user-images.githubusercontent.com/563412/116676299-7c9d8100-a9af-11eb-88b6-2f6522c71bf1.png)

[2021-04-30 09:35] podarok commented on #2443
Seems like a bug was introduced in https://openy.atlassian.net/browse/MAINTAIN-33 in PR #2414

[2021-04-30 12:11] podarok commented on #2445
By importing config with "selected" locations I was able to made system react
![image](https://user-images.githubusercontent.com/563412/116693230-43244000-a9c6-11eb-910f-75716a017016.png)
So issue is with Form submit handler. For some reason it doesn't respect user's settings

[2021-04-30 13:06] froboy commented on #2442
![openy_menu_quick_edit](https://user-images.githubusercontent.com/238201/116699259-fbcc8e00-a98a-11eb-8325-d0a510218ab8.gif)

I was able to find the same when removing a link from the main nav menu

[2021-05-01 13:23] kairamkondarajesh commented on #2442
Raised PR : https://github.com/ymcatwincities/openy/pull/2448

[2021-05-05 08:18] #2445 closed, assigned to podarok

[2021-05-19 11:01] podarok opened #2453 "Deprecate openy_campaign. Decouple it to external repo."
We have disabled openy_campaign module in our distribution which was used only by Y North

Code is disabled 3 years ago by https://github.com/ymcatwincities/openy/commit/01adc634ce428cecbc9ca1ae619530c221509348

We need
- remove code from Open Y distribution becuase it is not updated for Drupal 9, thus it is broken
- decouple it in external repository for possible future usage

[2021-05-19 11:16] podarok opened #2455 "Update contrib modules to the latest versions"
We have these modules outdated in the core
[code]

Let's get them updated in order do not face with security/stability issues down the road in 2021

[code]

[2021-05-26 07:54] podarok opened #2457 "Incorporate Drupal 9.1 core lazy loading and get rid of blazy subsystem"
Starting from 9.1 in Drupal core there is a lazy loading enabled https://www.drupal.org/node/3173719
In OpenY we have blazy, which had a bunch of issues and is contrib https://github.com/ymcatwincities/openy/blob/9.x-2.x/composer.json#L14

We should work towards sunsetting blazy in favor of core's solution.

Issue on drupal.org https://www.drupal.org/project/blazy/issues/3215769 -> https://www.dru

[2021-05-26 09:35] anpolimus commented on #2457
I'll be very happy to get rid of Blazy since it is usually our pain during each Open Y upgrade.
Can help with development and testing efforts.

[2021-05-27 07:38] podarok commented on #898
THis one is fixed, will be tagged in upcoming point release

[2021-05-27 07:38] #898 closed, assigned to podarok

[2021-05-28 20:04] froboy opened #2462 "openy_loc_branch has undeclared dependency to openy_node_alert"
https://github.com/ymcatwincities/openy/blob/40cabc3298e64297660f7a1ddcdb6bafc8137654/modules/openy_features/openy_location/modules/openy_loc_branch/src/BranchAlertBuilder.php#L6

This line references `openy_node_alert`, but https://github.com/ymcatwincities/openy/blob/40cabc3298e64297660f7a1ddcdb6bafc8137654/modules/openy_features/openy_location/modules/openy_loc_branch/openy_loc_branch.info.yml#