[2017-02-03 07:26] ygerasimov opened #110 "Can't install using composer command"
When I try to run

[code]

I get error

[code]

I am happy to write documentation if you provide instructions how to install the site.

[2017-02-03 09:16] alexschedrov commented on #110
Thank you for a good catch!

Installation instructions has been updated:
- https://github.com/ymcatwincities/openy#installation
- https://www.drupal.org/project/openy

[code]

[2017-02-03 13:36] #110 closed, assigned to nobody

[2017-03-01 10:55] Robert201-zz opened #190 "Fatal error on location page from unexpected phone-number"
When I add a branch and specify some phone number there like "12345"
Save and publish
And go to /locations
You will see fatal error there:
InvalidArgumentException: The URI 'tel:12456' is invalid. You must use a valid URI scheme. in Drupal\Core\Url::fromUri() (line 280 of /var/www/demo/core/lib/Drupal/Core/Url.php).

[2017-03-01 11:05] Robert201-zz opened #191 "Fix Footer Menu editing links position"
When I hover on the footer menu items the edit block menu item in some cases overflows into the adjacent footer menu. See https://goo.gl/e7VrKQ Chrome, MacOs

Fix positioning

[2017-03-01 11:10] Robert201-zz opened #192 "Blog node: Title is not aligned with sidebar"
if you have installed demo content goto [sitename]/blog/nourish-yourself-healthy-fats

Check the blog post with sidebar
Note that title is not aligned with sidebar

![image-2017-02-13-17-49-13-551](https://cloud.githubusercontent.com/assets/25036221/23457375/902cef0c-fe6f-11e6-95f2-8783a71e17a8.png)

[2017-03-01 11:23] Robert201-zz opened #193 "add Camp content type to the Tour for content types"
Go to [sitename]/node/add?tour=1
Click through the steps:
and see there is no tour step for camps

Proposed description:
"""
Here a user can add Camps. This content type is used for creation of the Camp primary pages similar to Branches. Camp teasers will also appear in Location finder page and you can associate blogs with your camp.
"""

[2017-03-01 11:32] Robert201-zz opened #194 "fix text in search placeholder for locations to ensure the text fits"
Let's make sure the text in the search placeholder fits.

![image-2017-02-24-17-09-58-411](https://cloud.githubusercontent.com/assets/25036221/23458116/b6e54326-fe72-11e6-9a09-245a85690d93.png)

[2017-03-01 11:38] Robert201-zz opened #195 "make sure there is faded text in the search placeholder for blogs that reads search the blog.."
make sure there is faded text in the search placeholder for blogs that reads search the blog..

[sitename]/blogs

![without text](https://cloud.githubusercontent.com/assets/25036221/23458275/8417b342-fe73-11e6-8ac3-ca087081d409.png)
![with text](https://cloud.githubusercontent.com/assets/25036221/23458282/86f588e6-fe73-11e6-980c-302d5126b3e8.png)

[2017-03-01 11:53] Robert201-zz opened #196 "if there are more then 3 items in a camp menu that as the screen size gets smaller menu items disappear"
Given I have camp menu setup on the page
And I have more than 4+ links there
When I see the menu on mobile
Then I see only 3 links displayed.
make this menu a slider so user can scroll to the other items

![camp menu on mobile appear](https://cloud.githubusercontent.com/assets/25036221/23458897/f8ae3b3e-fe75-11e6-836d-851e5ffd9076.png)
![camp menu on mobile no longer appears](https://cloud.githubu

[2017-03-01 12:21] Robert201-zz opened #197 "if there are no menu items in the footer and just social icons then the styling is broken"
if there are no menu items in the footer and just social icons then the styling is broken/

![image-2017-01-27-18-14-00-276](https://cloud.githubusercontent.com/assets/25036221/23459716/80703eb6-fe79-11e6-9f4a-64eb2660d4fe.png)

[2017-03-01 12:23] Robert201-zz opened #198 "Admin/Content Tour - 3rd step focus is wrong is should point to the content listing"
Admin/Content Tour - 3rd step focus is wrong is should point to the content listing

Go to /admin/content
Start the tour
navigate to the 3rd step
It should point to content table
But now it is pointing to undefined area

![image-2017-02-07-20-02-21-868](https://cloud.githubusercontent.com/assets/25036221/23459776/d65193b6-fe79-11e6-99be-b76096ce5f06.png)

[2017-03-01 15:50] Robert201-zz opened #199 "anonymous users should not be able to navigate the node page for certain content types"
anonymous users should not be able to navigate to pages for certain content types. These content types are listed below
Branch with the coming soon check box selected
A Session CT full view
Alert CT full view
Activity CT full view
Membership CT full view

[2017-03-03 18:38] podarok opened #207 "2 modules as submodule by default"
![_999 081](https://cloud.githubusercontent.com/assets/563412/23563874/46938160-0051-11e7-8133-cb241103d7a1.png)

When openy initiated these 2 modules are initiated as submodules which makes them not convenient to use

[2017-03-06 11:28] podarok opened #208 "Initial install Accessibility issues for frontpage"
[code]

Clean OpenY profile install https://github.com/propeoplemd/yd/pull/3#issuecomment-284369986

[2017-03-07 21:41] ygerasimov opened #216 "Buttons colors after color change"
We have set up http://openy.ixm.ca/ and changed the button color to red. It changed the color of "Start guided tour" to red but it didn't for the "Load more" in the bottom of the page.

Please change the styling so theme button color got applied sitewide.

https://monosnap.com/file/birNySNVQEzHM41zz7o8ActZsNHBD8

[2017-03-13 19:05] podarok opened #230 "No upgrade path for openy_loc_camp in 8.0.3"
There are added fields
[code]
for openy_loc_camp but there is no hook_update_N for it

[2017-03-14 12:43] podarok opened #232 "Security issue"
http://sandbox.openymca.org/admin/config/development/openy-upgrade-dashboard accessible by anonymous

[2017-03-22 10:33] alexschedrov commented on #232
Fixed https://github.com/ymcatwincities/openy/pull/241.

[2017-03-22 10:33] #232 closed, assigned to alexschedrov, hamrant

[2017-03-23 15:55] ygerasimov opened #259 "Demo content for Classes"
Currently we have Programs (i.e. Swimming), Categories (i.e. Drop-In Swimming) but no Classes, Lessons nor Activities.

Let's add those to demo content as well so it will be easier to show the content structure around lessons and classes.

[2017-03-23 16:52] ygerasimov opened #260 "Two images plugins WYSIWYG"
We need to have one images plugin for CKEditor instead of two. I believe we are going to go with the one coming from Media.

https://monosnap.com/file/taOPQHp2mrwrJrpVvmIYvPioUN5yEL

Also currently in Media plugin we have three image displays. We need instructions how to add more. Shame on me, but I was not able to find these settings from UI. https://monosnap.com/file/RR3H8WX6LrRDWArQdOa1Qai0zLaQ

[2017-03-23 17:53] ygerasimov opened #263 "CKEditor source code highlighting and autoformatting"
CKEditor has plugin to highlight HTML when you switch to Source mode. For example this one http://ckeditor.com/addon/codemirror

Also it should be possible to autoformat HTML in CKEditor so it will be easier to work with it in Source mode.

[2017-03-24 14:54] podarok opened #265 "Create issues for codesprintua"
@danylevkyi

[2017-03-24 16:07] idsem opened #266 "Create a development workflow documentation"

[2017-03-24 16:12] idsem opened #267 "Setup Dev environment"

[2017-04-01 23:57] siadw opened #279 "Can not install drupal core on Drupal VM"
[code]

[2017-04-04 10:33] podarok opened #282 "Backport openy_socrates from YGH"
https://raw.githubusercontent.com/propeoplemd/ymcahouston/master/docroot/modules/custom/openy_socrates/src/OpenyRepositoryTrait.php?token=AAiY1EjpAEFU0Z3t_yE_qOl494TAv_TDks5Y7LCawA%3D%3D

[2017-04-11 13:28] hamrant opened #289 "Move footer blocks from theme to module"
On YGS project I have issue with enabling openy_rose theme from openy.
[code]
This blocks already exist on our project. It would be great to move this blocks configs to separate module (openy_menu_footer for example):
- openy/config/optional/block.block.openy_rose_fmenu_center.yml
- openy/config/optional/block.block.openy_rose_fmenu_left.yml
- openy/config/optional/block.block.openy_rose_fmenu_rig

[2017-04-19 05:10] munavlakshmi opened #302 "Urlinfo deprecated method removed from code base."
Removed the deprecated method from the Open Y module.

[2017-04-21 08:13] alexschedrov commented on #302
Merged both PRs:
- https://github.com/ymcatwincities/openy/pull/307
- https://github.com/ymcatwincities/openy/pull/306

[2017-04-21 08:14] #302 closed, assigned to nobody

[2017-04-21 13:42] ivan-berezhnov commented on #260
This issue resolved
PR https://github.com/ymcatwincities/openy/pull/310 merged.

[2017-04-21 13:43] #260 closed, assigned to ivan-berezhnov

[2017-04-24 19:08] YMCA-GTC opened #315 "Make /user/register so that user registration disabled in default installs of Open Y"
As a YMCA team member, when I install Open Y I want registration at /user/register to be disabled by default so that I don't have spam accounts appearing on my new Open Y site.

Done when: Using the Open Y install bash script results in an install of Open Y that has user registration disabled by default. A site administrator can always re-enable this feature in the future if desired.

[2017-04-26 11:52] alexandar87 opened #316 "This site can’t be reached occasional error."
As i developer using Mac im getting occasional problems opening a website.

It usually happens around 2 times per hour, and i need to refresh page until it starts working again. Downtime lasts anywhere between 1min and 10min.

Is anyone else experiencing same issues, is there any solution?

First i thought it happens when i do **drush cr** but its not actually correct, i did not found exact trigge

[2017-04-26 21:21] alexschedrov commented on #193
Fixed.

[2017-04-26 21:21] #193 closed, assigned to ivan-berezhnov

[2017-04-27 16:00] alexschedrov commented on #230
Seems this was a time when we haven't started support for the upgrade path.

[2017-04-27 16:00] #230 closed, assigned to alexschedrov

[2017-04-27 16:01] alexschedrov commented on #259
Demo content has been added here #313.

[2017-04-27 16:01] #259 closed, assigned to nobody

[2017-04-27 16:02] alexschedrov commented on #263
This has been fixed in #310.

[2017-04-27 16:02] #263 closed, assigned to nobody

[2017-04-27 16:03] alexschedrov commented on #266
This should be done after #267.

[2017-04-27 16:06] alexschedrov commented on #316
hi @alexandar87,

Are you using CIBox VM? If yes, this probably happens because of collisions between two different instances. Would be great if you can file issue to https://github.com/cibox/cibox.

Thanks!

[2017-04-28 14:33] xcf33 commented on #315
https://github.com/ymcatwincities/openy/pull/320

[2017-04-28 14:55] xcf33 opened #321 "Admin menu is hidden on mobile"
On mobile smart phones, the admin menu is hidden in a portrait view. Please see screenshots below:

This can be reproduced on the sandbox (sandbox.openymca.org)
1. login as admin
2. resize the browser window to a mobile portrait view

![image](https://cloud.githubusercontent.com/assets/253281/25534169/f6fbaf48-2c00-11e7-9681-a3f0bd3b7fcc.png)

![image](https://cloud.githubusercontent.com/assets/25

[2017-04-28 15:33] alexschedrov opened #322 "Upgrade path for the tour updates"
Let's add upgrade path for the updates #319.

[2017-04-28 19:41] #315 closed, assigned to nobody

[2017-04-28 19:48] xcf33 commented on #321
https://github.com/ymcatwincities/openy/pull/323

[2017-04-28 19:50] xcf33 opened #324 "Remove search bar"
On mobile and tablet viewpoint, there is the search bar which we should remove completely. Please see screenshot below:

![image](https://cloud.githubusercontent.com/assets/253281/25544838/588fb974-2c2a-11e7-97aa-20fcfbdaa4e3.png)

![image](https://cloud.githubusercontent.com/assets/253281/25544851/67a0679c-2c2a-11e7-875a-6734b6c88f3b.png)

[2017-04-28 19:57] xcf33 opened #325 "Mobile menu loads weird"
When clicking to open the mobile menu, the animation is not smooth, please see video attached.

[menu_expand.zip](https://github.com/ymcatwincities/openy/files/965402/menu_expand.zip)

[2017-05-04 07:32] SanyokMedved commented on #192
Title's markup is fixed. Please check and close issue.

[2017-05-04 08:58] alexschedrov commented on #192
This has been fixed in https://github.com/ymcatwincities/openy/pull/330.

[2017-05-04 08:58] #192 closed, assigned to SanyokMedved

[2017-05-04 09:24] alexschedrov commented on #267
This has been done. See documentation here https://github.com/ymcatwincities/openy-project.

[2017-05-04 09:24] #267 closed, assigned to alexschedrov, danylevskyi

[2017-05-04 13:36] alexschedrov opened #334 "Upgrade to Plugin module to ^2.5"
Let's figure out way how to upgrade Plugin module and still support rendered blocks in paragraphs.

[2017-05-05 08:49] alexschedrov opened #337 "Admin menu in header template"
When you're authenticated admin user and open http://sandbox.openymca.org/header.html, you see admin menu without styles.

Admin menu should be hidded/removed.

![image](https://cloud.githubusercontent.com/assets/1316234/25739063/df9c270a-3188-11e7-8067-774b39c26016.png)

[2017-05-08 08:31] alexschedrov commented on #322
Fixed in #339.

[2017-05-08 08:31] #322 closed, assigned to nobody

[2017-05-08 10:39] alexschedrov opened #340 "CIBox VM and upgrade path + install steps environment"
Let's check and adjust if needed.

[2017-05-08 14:40] ygerasimov opened #341 "views_block_filter_block remove patch 2790505"
Remove https://www.drupal.org/files/issues/empty_exposed_forms-2790505-10.patch patch from composer file as it has been committed already.

Currently, composer throws a warning https://monosnap.com/file/3W9rOeiR9P1lYtp5JhndQd6bx2wp5b

[2017-05-10 07:09] alexschedrov commented on #341
Thank you!

Fixed in #342.

[2017-05-10 07:09] #341 closed, assigned to nobody

[2017-05-10 13:51] alexschedrov opened #347 "Taxonomy page design fixes"
1. Let's update styles for the taxonomy page pager. Should be like here http://www.seattleymca.org/search?query=test.
![image](https://cloud.githubusercontent.com/assets/1316234/25901961/e453a72a-35a0-11e7-92d1-3dc87b0ea55c.png)
![image](https://cloud.githubusercontent.com/assets/1316234/25901998/f4eda220-35a0-11e7-9cbf-e9161865a0eb.png)

2. Too small padding from top
![image](https://cloud.github

[2017-05-10 19:27] david-hernandez commented on #190
I get "Website encountered an unexpected error" when entering a phone number like 1234. But this is on the branch creation form, so there is definitely something up with the phone number validation for the form itself. That is the thing that should be preventing non-phone number like data from being entered.

[2017-05-10 20:46] david-hernandez commented on #195
This was fixed some time ago.

[2017-05-10 20:46] #195 closed, assigned to nobody

[2017-05-10 20:48] david-hernandez commented on #197
This was fixed a couple weeks ago. Either just before, or during DrupalCon.

[2017-05-10 20:48] #197 closed, assigned to nobody

[2017-05-11 13:21] Kerby70 commented on #199
See https://github.com/ymcatwincities/openy/pull/351

[2017-05-12 07:45] alexschedrov opened #352 "GroupEx Pro sandbox and demo content"
We need to have test account and demo page with GroupEx Pro schedule - #344.

[2017-05-12 08:04] ivan-berezhnov commented on #324
PR https://github.com/ymcatwincities/openy/pull/353

[2017-05-12 08:48] alexschedrov opened #354 "Add some basic styles for the 404 and 403 pages"
404 and 403 pages view should be improved.
![image](https://cloud.githubusercontent.com/assets/1316234/25990556/d42cf310-3708-11e7-8298-c7fe2dc9f4ba.png)
![image](https://cloud.githubusercontent.com/assets/1316234/25990571/e333616e-3708-11e7-9c74-ce30867baf7c.png)

[2017-05-12 08:50] alexschedrov opened #355 "Adjust membership individual page"
This page is not available for anonymous users, but it would be great to have a little bit better view mode.
![image](https://cloud.githubusercontent.com/assets/1316234/25990641/2032c172-3709-11e7-9fc9-2509041496d8.png)

[2017-05-12 13:22] alexschedrov commented on #199
Merged.

[2017-05-12 13:22] #199 closed, assigned to Kerby70

[2017-05-12 15:22] Robert201-zz opened #358 "Left and right arrows are not visible on white picture background"
Left and right arrows are not visible on white picture background

![arrows not visible](https://cloud.githubusercontent.com/assets/25036221/26004876/2df3a6d4-372f-11e7-9f41-d878634299f7.png)

[2017-05-12 15:41] david-hernandez commented on #216
Can you recheck this? Lots of theme setting enhancements were made more recently.

[2017-05-12 18:27] david-hernandez commented on #358
Created JIRA issue OYPD-409

[2017-05-12 18:27] #358 closed, assigned to nobody

[2017-05-12 19:14] david-hernandez commented on #198
Can you verify this is still a problem? It seems positioned correctly for me.

![screen shot 2017-05-12 at 3 14 03 pm](https://cloud.githubusercontent.com/assets/1504038/26013297/b6c23f98-3725-11e7-9beb-81b85427854a.png)

[2017-05-13 08:21] #324 closed, assigned to ivan-berezhnov

[2017-05-15 11:29] alexschedrov opened #361 "openy_loc_camp.camp_service ServiceNotFoundException"
If camp module disabled you can get next error:
[code]
It seems that code from openy/themes/openy_themes/openy_rose/openy_rose.theme not work:
[code]
drupal.org issue: https://www.drupal.org/node/2871830

[2017-05-15 11:31] alexschedrov opened #362 "Several galleries per page"
If second Gallery is added click on '<' or '>' makes slide change for first gallery.
drupal.org issue: https://www.drupal.org/node/2871505

[2017-05-16 09:45] ivan-berezhnov commented on #354
@Sanchiz what do you like see on 403 and 404 page?
Maybe you have some example?

[2017-05-16 11:50] alexschedrov commented on #354
404
![image](https://cloud.githubusercontent.com/assets/1316234/26104495/c5e865aa-3a46-11e7-9d31-b65184def5a0.png)

403
![image](https://cloud.githubusercontent.com/assets/1316234/26104519/e10469ec-3a46-11e7-87d4-623c9b9788ab.png)

[2017-05-16 12:09] ddrozdik opened #366 "Add textfield to the "Small Banner""
Currently, there is a block "Small banner" which provides the possibility to enter a title, select an image and color scheme.
I suggest adding an extra field for description, which will provide the possibility enter a few lines of text.
An example of such a banner:
![openy 2017-05-16 15-08-02](https://cloud.githubusercontent.com/assets/6285570/26105127/7d14faca-3a49-11e7-959c-1f6b8d1ce6b5.png)

Th

[2017-05-16 12:52] ivan-berezhnov commented on #355
@Sanchiz what do you like see on this page?
Maybe you have some example?

[2017-05-16 12:53] alexschedrov commented on #355
Just make it cool :)

1. Update layout to be 12 columns instead of full width
2. Display image thumbnail
3. Re-arrange fields, so they will look good

[2017-05-17 08:51] ivan-berezhnov commented on #355
@Sanchiz I run reinstall and after I can see here https://monosnap.com/file/MCOVqqo5RmsL7kAjWxpzzRmf7M5uzH
I don't see the page as you attached with description and image.
Could you give a link to the page?

[2017-05-17 08:55] Sanchiz commented on #355
@ivan-berezhnov http://sandbox.openymca.org/join

[2017-05-17 13:12] ivan-berezhnov commented on #354
PR #368

[2017-05-17 13:12] #354 closed, assigned to ivan-berezhnov

[2017-05-18 11:28] goranmiric opened #372 "Extended theme config error."
If we extend openy_rose theme "openy_rose_preprocess_page()" throws a warning.

Here is a PR: https://github.com/ymcatwincities/openy/pull/373

[2017-05-18 15:17] ivan-berezhnov commented on #347
PR #367 merged

[2017-05-18 15:17] #347 closed, assigned to ivan-berezhnov

[2017-05-18 15:18] ivan-berezhnov commented on #355
PR #369 merged

[2017-05-18 15:46] hamrant opened #374 "Cleanup location_finder"
Check usage of openy/modules/custom/location_finder/js/location_finder.js and location_finder_element
it seems that it is not being used (instead we use openy/modules/custom/openy_map/js/map.js)

**TODO** delete this files if location_finder_element from this module not used:
-  openy/modules/custom/location_finder/js/location_finder.js
-  openy/modules/custom/location_finder/img
-  openy/modules/

[2017-05-19 13:39] AlexNetman opened #375 "Groupex Calendar paragraph issues"
further improvements to be more usable.
Given I have specified id:3 for Twin Cities.
1) By default I can see too much entries. That are loading pretty long time.
I think that we should allow to see only one location at once. And only one day by default. We need to came up with wise limitations.
2) For empty results I still can see the grid without any explanations

![image](https://cloud.githubuse

[2017-05-19 14:26] alexschedrov opened #376 "Taxonomy page in sitemap"
Taxonomy pages, like "/blog/category/adults" are not listed in the `sitemap.xml`.

[2017-05-19 14:27] alexschedrov opened #377 "Taxonomy page no results behaviour"
When there's no results on the taxonomy page, it shows nothing. We should display some text that there are no content.

[2017-05-19 14:28] alexschedrov opened #378 "Close access to the taxonomy pages"
Please close access to following taxonomy pages:
![image](https://cloud.githubusercontent.com/assets/1316234/26252297/8d1d2250-3cb8-11e7-988f-46f8b27ba92c.png)

[2017-05-22 08:57] alexschedrov commented on #372
Merged. Thank you!

[2017-05-22 08:57] #372 closed, assigned to nobody

[2017-05-22 09:36] alexschedrov opened #379 "Sidebar area in tour"
Seems sidebar area is not accesible by default when tour is triggered, because layout is not selected. Let's find a workaround how to fix that.
![image](https://cloud.githubusercontent.com/assets/1316234/26301890/32159fe2-3eeb-11e7-86e8-18a8b455a6c4.png)

[2017-05-22 09:41] alexschedrov opened #380 "Menu icons are lost in subfolder until cache is rebuilt"
Menu icons are not displayed when website is installed in subfolder because folder prefix is lost until cache is rebuilt.
![image](https://cloud.githubusercontent.com/assets/1316234/26302131/ec832b9c-3eeb-11e7-8e00-233f68ce02c7.png)

[2017-05-22 10:08] alexschedrov opened #381 "Hide messages during installation process"
A few messages appear during installation process. They should be visible only on homepage after installation process.
![image](https://cloud.githubusercontent.com/assets/1316234/26303265/c061da6e-3eef-11e7-9d35-49bd68a412a0.png)

[2017-05-22 10:09] alexschedrov opened #382 "Add placeholders for 3rd party services"
Please add placeholders to the 3rd party services configuration form.
![image](https://cloud.githubusercontent.com/assets/1316234/26303285/debe8cfa-3eef-11e7-8bf3-8b9bd519e4c9.png)

[2017-05-22 10:12] alexschedrov opened #383 "Alternative homepage and tour link"
Prerequisite:
- Site installed into subfolder
- Site installed without demo content

As result "Start Guided Tour" link leads to 404 page without subfolder in the URL.
![image](https://cloud.githubusercontent.com/assets/1316234/26303426/4add8850-3ef0-11e7-9a5d-87ba82d4eea0.png)

[2017-05-23 06:52] alexschedrov opened #385 "Do not render colors where there is nothing to render"
For blog posts teasers(check other places as well) we shouldn't render style with color where there's no color.
![image](https://cloud.githubusercontent.com/assets/1316234/26341659/88e81702-3f9d-11e7-9e3f-6f2eae8d0c2c.png)

[2017-05-23 06:55] alexschedrov opened #386 "Content placeholders"
Whenever we load images or some content that is not renderend right away, we should display placeholders like Facebook does.
http://cloudcannon.com/deconstructions/2014/11/15/facebook-content-placeholder-deconstruction.html

![image](https://cloud.githubusercontent.com/assets/1316234/26341734/d6c1c5cc-3f9d-11e7-9c45-19c28cd110db.png)

![image](https://cloud.githubusercontent.com/assets/1316234/263

[2017-05-23 06:57] alexschedrov opened #387 "Location demo coordinates"
- Open http://ci.openymca.org/public/locations
- In listing we see 4 branches
- On map we see only 3

Please fix coordinates in demo content, so we'll see all 4 branches on map.
![image](https://cloud.githubusercontent.com/assets/1316234/26341845/37a76acc-3f9e-11e7-8a7b-954b6849b186.png)

[2017-05-23 07:51] alexschedrov opened #388 "The theme implementations may not be rendered until all modules are loaded"
Please try to apply patch or update `simple_menu_icons` module if patch has bee commited.
drupal.org issue - https://www.drupal.org/node/2880544#comment-12098527

[2017-05-23 09:29] ddrozdik opened #389 "Documentation: Hide paragraph from the list in content types"
We need to describe how to "correctly/better" alter list of paragraphs which should not be available in regions of content types. For example currently, there is a config file https://github.com/ymcatwincities/openy/blob/8.x-1.x/modules/openy_features/openy_prgf/config/install/openy_prgf.settings.yml which has a list of paragraphs which should not be available.
And there is a `hook_form_alter` htt

[2017-05-23 10:29] ddrozdik opened #390 "Edit text of the 403 and 404 pages"
We would like to have the ability manage text shown on the 404 and 403 pages.
Currently, we have text in the templates `page--system--404` and `page--system--403` .
But I think it would be great to have the ability manage text from admin panel.

[2017-05-23 12:44] alexschedrov commented on #325
Fixed in #359.

[2017-05-23 12:44] #325 closed, assigned to ivan-berezhnov

[2017-05-23 13:44] alexschedrov commented on #390
@ddrozdik I think you can manage this from the content editing workflow.
1. Create two landing pages
2. Go to "/admin/config/system/site-information" and specify them as 404 and 403 pages
![image](https://cloud.githubusercontent.com/assets/1316234/26357157/1c4af26a-3fd7-11e7-8c58-25c5ace625a0.png)

[2017-05-23 13:53] ivan-berezhnov commented on #390
I can do it when I finish assigned issues.
For me it interesting and I thought about it.
@ddrozdik @Sanchiz

[2017-05-23 13:58] alexschedrov commented on #390
@ivan-berezhnov I don't think that this should be part of the OpenY out of the box. It's just default Drupal feature that may be used.

[2017-05-23 14:00] ddrozdik commented on #390
Thanks, I will double-check why we did not use this approach, seems there were some issues.

[2017-05-23 15:19] alexschedrov commented on #390
@ddrozdik there may be issues if you're using page manager as a page renderer. Andriy Maximov fixed this for Seattle, so reach out to him to check this.

[2017-05-23 20:59] ivan-berezhnov commented on #366
@ddrozdik @Sanchiz
Please look:
https://monosnap.com/file/SAxpPbXXKT2XDmKnzFGcju0DqMCwwp
Could you please explain:

Checkbox must be in admin and when we click on "Show description" checkbox:
1. Show Description textarea in the form when we edit and in the template show description
or
2. Show Description in the template but Description textarea always shows in form when we edit.
What should be?

[2017-05-24 10:40] alexschedrov commented on #366
@ddrozdik @ivan-berezhnov I would add only description field like on your screenshot. It could have help text - "Leave empty to hide".
- When it's poppulated - display description
- When it's empty - don't display description

What do you think?

[2017-05-24 10:45] ddrozdik commented on #366
@ivan-berezhnov , @Sanchiz I think would be better to add a checkbox "I want to add a description", and when this checkbox is checked then a user can see a field and fill something it. But when the checkbox is not checked then we can't see a field and nothing will be displayed on the page.
Using this approach we will display the field only when it should be displayed and it will be easier control

[2017-05-24 13:09] alexschedrov commented on #337
Merged.

[2017-05-24 13:09] #337 closed, assigned to ivan-berezhnov

[2017-05-24 13:49] alexschedrov opened #396 "Webform submission confirmation page"
Related to #286.
1. Add some padding on top
2. Make "Back to form" as button
3. Make "New submission added to Demo Form." more prominent(maybe bigger bold text with gray color).
![image](https://cloud.githubusercontent.com/assets/1316234/26406381/cb0fb53c-40a0-11e7-94ab-db1df47ee5aa.png)

[2017-05-25 07:15] alexschedrov opened #398 "Filters consistency"
1. Please update labels from `- ANY -` to `ALL` on "Subcategory"(/programs/swimming/drop-swim?location=1) page to match filters on "Schedules"(/schedules) page.
![image](https://cloud.githubusercontent.com/assets/1316234/26439892/ac1b84f2-4132-11e7-8b78-a819163b5197.png)

2. Please group values in filter by Location on "Subcategory"(/programs/swimming/drop-swim?location=1) page to match filters on

[2017-05-25 08:46] ivan-berezhnov commented on #366
I think both variants good, but:
- https://github.com/ymcatwincities/openy/issues/366#issuecomment-303686907 - More functional and my estimate ~20 m
- https://github.com/ymcatwincities/openy/issues/366#issuecomment-303688351 - More beautiful for the user and my estimate 1~2h
@ddrozdik @Sanchiz

[2017-05-25 10:47] alexschedrov commented on #366
@ddrozdik well, we the logic of optional(not required) fields in the same. For me this field seems redundant. I'm fine with both solutions @ddrozdik @ivan-berezhnov

[2017-05-29 15:01] ygerasimov opened #403 "admin_toolbar cannot apply patch"
After running composer update got https://goo.gl/XVT4NM

[code]

[2017-05-29 15:23] podarok opened #404 "Backport autologin module from YD"
@danylevskyi

[2017-05-29 15:24] podarok opened #405 "Backport Google Translate approcah from YD"

[2017-05-29 15:32] podarok opened #406 "Backport Houston paragraphs"

[2017-05-29 15:34] podarok commented on #406
![image](https://cloud.githubusercontent.com/assets/563412/26555371/5e3321e6-449d-11e7-99c7-9d04fd34b37f.png)

[2017-05-29 15:35] podarok opened #407 "Backport Facebook Events sync + Event CT from Houston"

[2017-05-29 15:35] podarok opened #408 "Backport Testimonials CT from Houston"

[2017-05-29 15:36] podarok opened #409 "Backport Panoramas from Houston"

[2017-05-29 15:37] podarok opened #410 "Backport SVG formatter"
https://github.com/propeoplemd/ymcahouston/tree/master/docroot/modules/custom/openy_svg_formatter

[2017-05-29 15:38] podarok opened #411 "Backport EMMA integration"
https://github.com/propeoplemd/ymcahouston/tree/master/docroot/modules/custom/emma_block

[2017-05-29 15:39] podarok commented on #282
And backport cron service https://github.com/propeoplemd/ymcahouston/blob/master/docroot/modules/custom/openy_socrates/src/ExampleSocratesCronService.php

[2017-05-29 15:40] podarok opened #412 "Backport openy_tour"
https://github.com/propeoplemd/ymcahouston/tree/master/docroot/modules/custom/openy_tour

[2017-05-30 12:57] alexschedrov commented on #362
Approved & merged.

[2017-05-30 12:57] #362 closed, assigned to ivan-berezhnov

[2017-05-30 15:27] ddrozdik opened #415 "[Experimental Feature] News Content type"
We would like to see a new content type News as part of openY. This could be an optional module, which will be enabled only if a client wants to have News on their website.
The module should provide next features:
- News content types, similar to Blog but without Style options.
- Paragraph to list all news
- Paragraph to show the latest news
- Paragraph to show the latest news by a branch
- Paragr

[2017-05-31 11:02] alexschedrov opened #417 ""Home" link leads to 404"
In the demo content for main menu "Home" item has link to `/openy`. It should lead to `<front>`.
![image](https://cloud.githubusercontent.com/assets/1316234/26629155/bb0d82ae-4609-11e7-8dcd-7625cd6e1406.png)

[2017-05-31 12:47] tolichka commented on #194
Found this issue and it will be fixed for this page: /locations

Size of text can not be changed, just made input box more wider on large screen devices.

Also found that similar structure in this file: modules\custom\location_finder\templates\location-finder-element.html.twig

If someone will provide link where this file is rendering than i can check that page and make changes on that page also i

[2017-05-31 14:27] AlexNetman commented on #355
Now it is displayed like this:
![image](https://cloud.githubusercontent.com/assets/4558228/26636715/49ddc3a6-4626-11e7-9c91-f8cd86bcea5c.png)

I suggest to display it same as in view mode.
![image](https://cloud.githubusercontent.com/assets/4558228/26636755/5efdfe72-4626-11e7-9b5c-7c14ceb0c3a2.png)

So that user see how actually card will be displayed.

[2017-05-31 14:28] ddrozdik commented on #403
this issue has been fixed here https://github.com/ymcatwincities/openy/pull/402 It will be in core soon

[2017-05-31 15:49] alexschedrov opened #419 "Location popup default value"
Whenever you see location popup - 1st branch is default option. Even when you're viewing all branches.

![image](https://cloud.githubusercontent.com/assets/1316234/26640963/ea5d8ba8-4631-11e7-82ee-405eaed9305a.png)

[2017-06-01 07:56] alexschedrov commented on #191
Fixed in #418.

[2017-06-01 07:56] #191 closed, assigned to tolichka

[2017-06-01 07:57] alexschedrov commented on #194
Fixed in #418.

[2017-06-01 07:57] #194 closed, assigned to tolichka

[2017-06-01 08:24] alexschedrov commented on #196
- Login to site as admin
- Go to "/camps/camp-colman" and edit camp page
- Add more menu items
- Check tablet/mobile layout

[2017-06-01 09:12] ddrozdik opened #423 "Refactoring: Move code from openy_data_wrapper to location_finder"
I found that there is a method `getPins()` in the class `DataWrapper` located in the module `openy_data_wrapper` - https://github.com/ymcatwincities/openy/blob/8.x-1.x/modules/custom/openy_data_wrapper/src/DataWrapper.php#L124. This method preparing information about locations for the location finder page. To show an icon on a map module use image from the module `location_finder`.
It looks like b

[2017-06-01 09:57] ddrozdik commented on #423
We discussed this issue with @hamrant internally, and next steps are to prepare better description what to do and how to do, identify all dependencies and prepare notes how to build better architecture.

[2017-06-01 10:14] podarok commented on #407
and from Dayton

[2017-06-01 10:33] ivan-berezhnov commented on #355
@Sanchiz Change view as suggested by @AlexNetman ?

[2017-06-01 10:35] ddrozdik commented on #316
this is an issue for https://github.com/cibox/cibox project - https://github.com/cibox/cibox/issues/576

[2017-06-01 11:15] tolichka commented on #196
@Sanchiz I propose to avoid slider because user should know that he need to drag element to see rest of menus.

But i propose 2 classic variants

1)http://take.ms/vOA9k - show menu list by default, not in 1 row only. Because if a lot menu elements will be added they will fit in blue zone and will be visible and clickable.

2)http://take.ms/RZKPw - make vertical list. But in such case we need to de

[2017-06-01 12:04] podarok opened #424 "Backport google translation block from Dallas"
https://github.com/propeoplemd/yd/pull/113

[2017-06-01 14:31] ddrozdik commented on #423
As a team who is using openY on a project, we would like to have the ability to:
- change color of icons
- change location where an icon is located.
- change titles(Camps, Facilities, YMCA)

[2017-06-01 15:51] podarok opened #427 "Create Event Paragraph for addtocalendar feature for all site pages"
Add ability to create icon with Dropdown for addtocalendar service from YGTC site
![_999 235](https://cloud.githubusercontent.com/assets/563412/26688378/253b494e-46fb-11e7-9ca8-dd7904910d34.png)
This is requested by Houston.

Architecture
Create paragraph to the reusable block with list of fields needed for iCal format

[2017-06-01 15:55] podarok commented on #427
![_999 236](https://cloud.githubusercontent.com/assets/563412/26688625/dab139a0-46fb-11e7-8741-2217be0bdc72.png)

[2017-06-01 16:02] podarok commented on #415
YMCAs decided to use Blog for news. Having additional content type could be overengineering

[2017-06-01 16:14] ddrozdik commented on #415
@podarok, @Sanchiz let's discuss, I want to hear your thoughts because YLI really wants to have it as a separate thing.
And as I mentioned in the description, this could be an optional module and disabled by default.

[2017-06-01 17:07] ddrozdik opened #428 "Backport + Refactoring YMCA Retention module from Twin Cities"
https://github.com/propeoplemd/ymca/tree/master/docroot/modules/custom/ymca_retention
Currently, module is not ready to just copy and use.

[2017-06-02 09:32] #403 closed, assigned to nobody

[2017-06-02 10:01] podarok opened #431 "Backport timeline from Houston instance"
https://github.com/propeoplemd/ymcahouston/pull/544

[2017-06-02 12:07] alexschedrov commented on #196
@tolichka let's re-use approach from this website(OpenY prototype). In this case with shadow user will understand that he have to slide to get rest of menu items.
http://www.seattleymca.org/camps/orkila

![image](https://cloud.githubusercontent.com/assets/1316234/26725036/25e529d2-47a5-11e7-899e-0e71f235dce5.png)

[2017-06-02 16:10] tolichka commented on #196
@Sanchiz I have added js and it works great. But on example page you can see that active state for menus is removed. And on mobile they also dont have hover. They did it to avoid of overlapping gradients and hover states. So my question is do we need also remove active state and hover for mobile screen sizes on menus. As in example?

[2017-06-05 13:58] podarok opened #435 "Backport microsites menu component from YGH"
https://github.com/propeoplemd/ymcahouston/tree/master/docroot/modules/features/openy_prgf/modules/openy_prgf_microsites_menu

[2017-06-05 14:07] podarok opened #436 "Backport GroupEx PRO classes component fixes from Dallas"
We've fixed a bunch of bugs at Dallas
Let's backport them to OpenY

[2017-06-05 14:29] podarok opened #437 "How to make sprint work possible for closed source projects"
We have a bunch of tasks, created with ["Backport"](https://github.com/ymcatwincities/openy/issues?utf8=%E2%9C%93&q=is%3Aissue%20is%3Aopen%20Backport) in the title by FFW team and most of them lead to closed repositories.
For the ability to work on them for non-FFW guys we should follow the steps:
 * AGENCY guy should pull the code without any changes with saving attributions from closed project t

[2017-06-05 14:39] podarok opened #438 "Backport generic migrations from Dallas to be reused as demo content for paragraphs"
Related https://github.com/ymcatwincities/openy/issues/406

![image](https://cloud.githubusercontent.com/assets/563412/26788454/e066f5de-4a15-11e7-918c-9124f45542cb.png)

[2017-06-06 07:04] alexschedrov commented on #196
@tolichka let's have active state and hover. Seems they're missed in Seattle's site. Since shadow is for general element, I think it's fine to keep active state and hover for elements itself.

[2017-06-06 07:09] alexschedrov commented on #355
@ivan-berezhnov No, it's fine to stick to current version.

[2017-06-06 07:09] #355 closed, assigned to ivan-berezhnov

[2017-06-06 07:49] podarok opened #439 "Backport SOLR search from YGH"

[2017-06-06 07:51] hamrant opened #440 "Remove dependency to openy_node_mbrshp from openy_loc_branch"
This is an unnecessary dependency:

https://github.com/ymcatwincities/openy/blob/8.x-1.x/modules/openy_features/openy_location/modules/openy_loc_branch/openy_loc_branch.info.yml#L19

[2017-06-06 07:51] #366 closed, assigned to ivan-berezhnov

[2017-06-06 07:54] hamrant opened #441 "Error: Config core.entity_view_display.paragraph.membership_info.default does not exist."
Add core.entity_view_display.paragraph.membership_info.default  config to openy_node_mbrshp:
https://github.com/ymcatwincities/openy/tree/8.x-1.x/modules/openy_features/openy_node/modules/openy_node_mbrshp/config/install

[2017-06-06 07:58] hamrant opened #442 "Blog teaser Image - Rendered as node_program_subcategory_teaser"
In this case openy_node_blog dependence on node_program_subcategory module.

TODO:
- [ ] create separate media view mode and image style for Blog teaser Image
- [ ] put new configs to openy_node_blog feature

[2017-06-06 08:21] ddrozdik opened #443 "Upgrade to paragraphs 8.x-1.1"
Currently, we use https://www.drupal.org/project/paragraphs version 1.0. almost 4 months ago was published a version 1.1 with new features and bugfixes.

[2017-06-06 08:33] ddrozdik opened #444 "[Backport] YLI - Add style button to wysiwyg editor"
The code for this should come from YMCA twin cities

*Additional requirements*

* Add inline member icon
* add inline calendar icon

See image
https://api.monosnap.com/rpc/file/download?id=I93Q06a3IYtbKb4s7L0qdf882kabVu

https://www.ymcamn.org/about/volunteer

https://propeople-us.atlassian.net/browse/YLI-197

[2017-06-06 12:32] ddrozdik commented on #444
@goranmiric Here is what we need:
1. Create a module openy_wysiwyg
2. Move configs to the module
- https://github.com/ymcatwincities/openy/blob/8.x-1.x/config/install/editor.editor.full_html.yml
- https://github.com/ymcatwincities/openy/blob/8.x-1.x/config/install/filter.format.full_html.yml
3. Add module as a dependency to openY
4. Add hook_update_N to enable module
5. Update configs to add neede

[2017-06-06 14:09] hamrant opened #448 "Add views_block_filter_block to openy_prgf_classes_listing dependencies"
Please add views_block_filter_block to module dependencies in openy/modules/openy_features/openy_prgf/modules/openy_prgf_classes_listing/openy_prgf_classes_listing.info.yml
This module used in views.view.classes_listing.yml:
[code]

[2017-06-07 10:41] alexandar87 opened #457 "[Backport] Incorrect spacing on locations page section titles"
Steps to reproduce:

- As a user i visit `/locations` page, by default all filters are off and first section title is YMCA
- Turn on Camps filters only, now only visible title is Camps, but its lower on the page than initially YMCA
- Turn off Camps and turn on Facilities, now Facilities title is even more lower on the page than Camps

![locations site-install 2017-06-07 12-16-14](https://user-imag

[2017-06-07 13:16] ddrozdik commented on #457
Backport fix from https://github.com/propeoplemd/ymcali-openy/pull/129

[2017-06-07 14:46] podarok opened #459 "Backport openy_latest_news paragraph from Houston"
https://github.com/propeoplemd/ymcahouston/tree/master/docroot/modules/features/openy_latest_news

[2017-06-07 15:11] podarok opened #460 "Extend documentation"
* Let's have section in every .md file with screenshot from openy_rose
https://github.com/ymcatwincities/openy/tree/8.x-1.x/docs/Content%20structure/Paragraphs
 * Extend all paragraphs, fields within them with descriptions

[2017-06-07 15:13] podarok commented on #460
This is a 1000+ subtasks task
Every field, every config should have the description.

[2017-06-07 15:14] alexschedrov commented on #417
Fixed.

[2017-06-07 15:14] #417 closed, assigned to nobody

[2017-06-07 15:15] podarok opened #461 "Write PHP sniffer rule to scan .yml files for wrong style"
In case if there is a ```description: ''``` within yml - ping developer with an error

[2017-06-07 16:41] ymcagtc commented on #412
URL above goes to 404

[2017-06-07 17:21] podarok commented on #412
@ymcagtc fixed

[2017-06-08 08:47] ddrozdik opened #462 "Change URL alias for classes"
Open Y build alias for classes based on the whole hierarchy `Program -> Program Subcategory -> Activity -> Class` but in this hierarchy content type `Activity` does not have own page.
In result, we can have URL alias like this `http://openy-dev.ffwua.com/demo/programs/youth-programs/academic-success/academic-success/academic-success`

As you can see part of the URL `academic-success` present three

[2017-06-08 10:02] alexschedrov commented on #462
@ddrozdik good catch!

Totally agree.

I like `class-times` at the end of URL.

[2017-06-08 10:44] podarok opened #463 "Configs namespacing"
We've faced issue with lazy re-platform to OpenY

When adding OpenY as a dependency in composer there are cases when field names are equal with the current available site. In our case - ```field_content```
So when trying to enable openy_node:
```Unable to install OpenY node package, field.storage.node.field_content, metatag.metatag_defaults.node already exist in active configuration.```
Metatag is

[2017-06-08 12:07] podarok opened #466 "Composer didn't apply patches from OpenY"
When added OpenY as a dependencies to require section - no patches, described in https://github.com/ymcatwincities/openy/blob/8.x-1.x/composer.json#L134 extra section aren't applied

[2017-06-08 12:11] atiupa commented on #466
[code]

[2017-06-08 15:32] podarok opened #467 "Create docs about how to add OpenY to existing project"
Starting point https://github.com/propeoplemd/ymca/pull/2368

[2017-06-08 15:43] alexschedrov opened #468 "Tests to test decoupling"
Let's generate approach how we can test decoupling.

[2017-06-08 15:44] hamrant opened #469 "Backport classes listing search from YGS version"
Example on YGS https://www.seattleymca.org/programs/swimming/swim-lessons?location=16

Upgrade from
![example1](https://user-images.githubusercontent.com/13733670/26937548-5880c3cc-4c7a-11e7-99f9-0e22e342fdf3.png)

TO

![example2](https://user-images.githubusercontent.com/13733670/26937554-5e73e872-4c7a-11e7-9519-68231c8a0846.png)

[2017-06-09 08:20] ivan-berezhnov commented on #379
@Sanchiz I think we can improve module openy_tour and add action select which click on a specific option in select.

[2017-06-09 09:58] podarok opened #472 "Backport mass media_upload module from YGH"
We've fixed https://github.com/propeoplemd/ymcahouston/tree/master/docroot/modules/patched/media_upload with
patches
Let's have it for OpenY
Sometimes users need to bulk import assets without migrating content.

[2017-06-09 14:19] #443 closed, assigned to nobody

[2017-06-09 14:19] #196 closed, assigned to ivan-berezhnov

[2017-06-09 14:24] #385 closed, assigned to nobody

[2017-06-09 16:07] podarok commented on #472
Use https://github.com/cibox/cibox/blob/decouple_script/core/cibox-project-builder/files/drupal8/scripts/decouple.yml to save log

[2017-06-09 16:07] podarok commented on #469
Use https://github.com/cibox/cibox/blob/decouple_script/core/cibox-project-builder/files/drupal8/scripts/decouple.yml to save log

[2017-06-09 16:08] podarok commented on #459
Use https://github.com/cibox/cibox/blob/decouple_script/core/cibox-project-builder/files/drupal8/scripts/decouple.yml to save log

[2017-06-09 16:09] podarok commented on #457
Use https://github.com/cibox/cibox/blob/master/core/cibox-project-builder/files/drupal8/scripts/decouple.yml to save log

[2017-06-09 16:09] podarok commented on #444
Use https://github.com/cibox/cibox/blob/decouple_script/core/cibox-project-builder/files/drupal8/scripts/decouple.yml to save log

[2017-06-09 16:09] podarok commented on #439
Use https://github.com/cibox/cibox/blob/decouple_script/core/cibox-project-builder/files/drupal8/scripts/decouple.yml to save log

[2017-06-09 16:09] podarok commented on #438
Use https://github.com/cibox/cibox/blob/decouple_script/core/cibox-project-builder/files/drupal8/scripts/decouple.yml to save log

[2017-06-09 16:09] podarok commented on #436
Use https://github.com/cibox/cibox/blob/decouple_script/core/cibox-project-builder/files/drupal8/scripts/decouple.yml to save log

[2017-06-09 16:09] podarok commented on #437
Use https://github.com/cibox/cibox/blob/decouple_script/core/cibox-project-builder/files/drupal8/scripts/decouple.yml to save log

[2017-06-09 16:09] podarok commented on #435
Use https://github.com/cibox/cibox/blob/decouple_script/core/cibox-project-builder/files/drupal8/scripts/decouple.yml to save log

[2017-06-09 16:10] podarok commented on #431
Use https://github.com/cibox/cibox/blob/decouple_script/core/cibox-project-builder/files/drupal8/scripts/decouple.yml to save log

[2017-06-09 16:10] podarok commented on #428
Use https://github.com/cibox/cibox/blob/decouple_script/core/cibox-project-builder/files/drupal8/scripts/decouple.yml to save log

[2017-06-09 16:10] podarok commented on #427
Use https://github.com/cibox/cibox/blob/decouple_script/core/cibox-project-builder/files/drupal8/scripts/decouple.yml to save log

[2017-06-09 16:10] podarok commented on #424
Use https://github.com/cibox/cibox/blob/decouple_script/core/cibox-project-builder/files/drupal8/scripts/decouple.yml to save log

[2017-06-09 16:10] podarok commented on #412
Use https://github.com/cibox/cibox/blob/decouple_script/core/cibox-project-builder/files/drupal8/scripts/decouple.yml to save log

[2017-06-09 16:10] podarok commented on #411
Use https://github.com/cibox/cibox/blob/decouple_script/core/cibox-project-builder/files/drupal8/scripts/decouple.yml to save log

[2017-06-09 16:10] podarok commented on #410
Use https://github.com/cibox/cibox/blob/decouple_script/core/cibox-project-builder/files/drupal8/scripts/decouple.yml to save log

[2017-06-09 16:10] podarok commented on #409
Use https://github.com/cibox/cibox/blob/decouple_script/core/cibox-project-builder/files/drupal8/scripts/decouple.yml to save log

[2017-06-09 16:10] podarok commented on #408
Use https://github.com/cibox/cibox/blob/decouple_script/core/cibox-project-builder/files/drupal8/scripts/decouple.yml to save log

[2017-06-09 16:10] podarok commented on #407
Use https://github.com/cibox/cibox/blob/decouple_script/core/cibox-project-builder/files/drupal8/scripts/decouple.yml to save log

[2017-06-09 16:10] podarok commented on #406
Use https://github.com/cibox/cibox/blob/decouple_script/core/cibox-project-builder/files/drupal8/scripts/decouple.yml to save log

[2017-06-09 16:11] podarok commented on #405
Use https://github.com/cibox/cibox/blob/decouple_script/core/cibox-project-builder/files/drupal8/scripts/decouple.yml to save log

[2017-06-09 16:11] podarok commented on #404
Use https://github.com/cibox/cibox/blob/decouple_script/core/cibox-project-builder/files/drupal8/scripts/decouple.yml to save log

[2017-06-11 07:42] AlexNetman opened #475 "Accessibility: Gallery next/previous buttons are not keyboard operable"
Steps to reproduce bug:
Go to http://openy-dev.ffwua.com/demo/locations/west-ymca

When you start typing "TAB" button several times to move through links
Note, that focus is never put on Gallery buttons.

Note: this is fix for Gallery paragraph.

[2017-06-11 07:59] ygerasimov commented on #444
Lets build this feature using CKEditor plugin http://ckeditor.com/addon/glyphicons. It allows to add icons (any icons from bootstrap) with ability to choose the color and size.

[2017-06-11 08:31] ddrozdik commented on #467
@podarok already started based on YLI experience

[2017-06-11 08:34] alexschedrov opened #477 "Banner paragraph descriptions & placeholders"
Please add descriptions & placeholers for paragraph fields.

![image](https://user-images.githubusercontent.com/1316234/27009544-e07d9914-4e99-11e7-9e0c-f5179fa18154.png)

[2017-06-11 08:35] alexschedrov opened #478 "Small banner paragraph descriptions & placeholders"
Please add descriptions & placeholers for paragraph fields.

![image](https://user-images.githubusercontent.com/1316234/27009554-09d43afc-4e9a-11e7-8da7-f06ef80a6f16.png)

[2017-06-11 08:36] podarok commented on #406
Source https://github.com/propeoplemd/ymcahouston/tree/master/docroot/modules/features/openy_prgf/modules
Destination https://github.com/ymcatwincities/openy/tree/8.x-1.x/modules/openy_features/openy_prgf/modules

[2017-06-11 08:38] alexschedrov opened #479 "Simple content paragraph descriptions & placeholders"
Please add descriptions & placeholers for paragraph fields.

![image](https://user-images.githubusercontent.com/1316234/27009569-3c231852-4e9a-11e7-91fe-10747832bbfd.png)

[2017-06-11 08:39] alexschedrov opened #480 "Gallery paragraph descriptions & placeholders"
Please add descriptions & placeholers for paragraph fields.
![image](https://user-images.githubusercontent.com/1316234/27009586-9e62feb0-4e9a-11e7-86c2-77e50bf19f67.png)

[2017-06-11 08:40] alexschedrov opened #481 "Location finder filters paragraph descriptions & placeholders"
Please add descriptions & placeholers for paragraph fields.

![image](https://user-images.githubusercontent.com/1316234/27009599-d4becc1e-4e9a-11e7-83e5-ae6242168170.png)

[2017-06-11 08:43] alexschedrov opened #482 "Teaser paragraph descriptions & placeholders"
Please add descriptions & placeholers for paragraph fields.

![image](https://user-images.githubusercontent.com/1316234/27009610-15c2d2dc-4e9b-11e7-9ba5-2f0b777a115c.png)

[2017-06-11 08:44] alexschedrov opened #483 "Featured content paragraph descriptions & placeholders"
Please add descriptions & placeholers for paragraph fields.
![image](https://user-images.githubusercontent.com/1316234/27009619-565b2ab0-4e9b-11e7-9e01-83e2ff8f2029.png)

[2017-06-11 08:46] alexschedrov opened #484 "Featured Blog Posts paragraph descriptions & placeholders"
Please add descriptions & placeholers for paragraph fields.

![image](https://user-images.githubusercontent.com/1316234/27009627-8896077a-4e9b-11e7-8bd8-6fd9cad7ae45.png)

[2017-06-11 09:01] alexschedrov opened #485 "Grid paragraph descriptions & placeholders"
Please add descriptions & placeholers for paragraph fields.

![image](https://user-images.githubusercontent.com/1316234/27009706-a0264d62-4e9d-11e7-8597-a9790f3bb07f.png)

[2017-06-11 09:30] ddrozdik opened #492 "Blog CT hide fields in styles"
Currently, there are settings in the content type `Blog Post` which allow specifying how a card should look on the listing.
Fields `Background color` and `Text color` should be displayed only when option `Color Card` is selected otherwise they should be hidden.

Please use `#states` for this.
![edit blog post start training now for the y run 7c site-install 2017-06-11 12-57-15](https://user-images

[2017-06-11 09:36] atiupa commented on #406
skip next prgfs, need to check latest version:
#openy_prgf_camp_menu
#openy_prgf_loc_finder
#openy_prgf_simple_content
#openy_prgf_small_banner

[2017-06-11 09:48] alexschedrov opened #495 "Remove DataLayer from field instances"
Originally, when DataLayer feature has been added to the OpenY, it was disconnected from the other feature by manual clean up.

With a few PRs, dependency on data layer has been added and missed during review. We should cleanup all field instanced from datalayer dependency.

Related to #465.

[2017-06-11 09:52] ddrozdik commented on #415
All pull requests related to this issue should go to a repository **8.x-1.x-exp-news**

[2017-06-11 10:20] nikunj1222 opened #498 "Installation error"
**I have tried many different ways. I am receiving following error :+1:**

An AJAX HTTP error occurred.
HTTP Result Code: 200
Debugging information follows.
Path: /openy/docroot/core/install.php?rewrite=ok&profile=openy&langcode=en&continue=1&id=1&op=do_nojs&op=do
StatusText: OK
ResponseText: Drupal\Core\Database\DatabaseExceptionWrapper: SQLSTATE[HY000]: General error: 2006 MySQL server has gone

[2017-06-11 10:30] ddrozdik opened #499 "Fix description in the module openy_block_basic"
There is a module `openy_block_basic`. This module has an empty description in configuration files.

We need to add a description.

See for details https://github.com/ymcatwincities/openy/blob/8.x-1.x/modules/openy_features/openy_block/modules/openy_block_basic/config/install/block_content.type.basic_block.yml#L7
https://github.com/ymcatwincities/openy/blob/8.x-1.x/modules/openy_features/openy_blo

[2017-06-11 10:39] alexschedrov commented on #467
Plugin that should allow to keep repositories for libraries on one place https://github.com/wikimedia/composer-merge-plugin.

[2017-06-11 10:39] ddrozdik opened #500 "Fix description in the module openy_media_image"
There is a module `openy_media_image `. This module has an empty description in configuration files(4 files).

We need to add a description.

See for details
https://github.com/ymcatwincities/openy/blob/8.x-1.x/modules/openy_features/openy_media/modules/openy_media_image/config/install/field.field.media.image.field_media_caption.yml#L12
and many other files in the same module

We need to understan

[2017-06-11 10:41] alex-poletaev opened #501 "Page 403 hasn’t corporate styles"
Link: http://sandbox.openymca.org/sites/

[2017-06-11 10:43] ddrozdik opened #502 "Fix description in the module openy_media_video"
There is a module `openy_media_video `. This module has an empty description in configuration files(15 files).

We need to add a description.

See for details
https://github.com/ymcatwincities/openy/blob/8.x-1.x/modules/openy_features/openy_media/modules/openy_media_video/config/install/field.field.media.video.field_media_in_library.yml#L12
and many other files in the same module

We need to under

[2017-06-11 10:43] ddrozdik opened #503 "Fix description in the module openy_media_document"
There is a module `openy_media_document`. This module has an empty description in configuration files(12 files).

We need to add a description.

See for details
https://github.com/ymcatwincities/openy/blob/8.x-1.x/modules/openy_features/openy_media/modules/openy_media_document/config/install/field.field.media.document.field_media_tags.yml#L13
and many other files in the same module.

We need to un

[2017-06-11 10:47] ddrozdik commented on #499
Steps to find a block:
1. Open openY
2. Login as admin
3. Go to Administration -> Structure -> Block layout -> Custom block library -> Manage fields or Go to Administration  -> Structure -> Block layout -> Add Block

[2017-06-11 10:49] ddrozdik commented on #500
Steps to find a bundle:
1. Open openY
2. Login as admin
3. Go to Administration  -> Structure  -> Media bundles -> Image

[2017-06-11 10:49] alex-poletaev opened #505 "Handshake ico too close to title"
Media ~1017<. “Volunteers nedeed!” title.
Link: http://sandbox.openymca.org
![screenshot from 2017-06-11 13 48 46](https://user-images.githubusercontent.com/29352405/27010428-d1c1345e-4eac-11e7-9fa3-4fc0a453dcc8.png)

[2017-06-11 10:49] ddrozdik commented on #502
Steps to find a bundle:
1. Open openY
2. Login as admin
3. Go to Administration  -> Structure  -> Media bundles -> Video

[2017-06-11 10:50] ddrozdik commented on #503
Steps to find a bundle:
1. Open openY
2. Login as admin
3. Go to Administration -> Structure  -> Media bundles -> Document

[2017-06-11 11:00] ddrozdik opened #507 "Fix description in the module openy_node_activity"
There is a module `openy_node_activity`. This module has an empty description in configuration files(3 files).

We need to add a description.

See for details
https://github.com/ymcatwincities/openy/blob/8.x-1.x/modules/openy_features/openy_node/modules/openy_node_activity/config/install/field.field.node.activity.field_activity_category.yml#L13

and documentation
https://github.com/ymcatwincities/

[2017-06-11 11:03] ddrozdik commented on #507
Steps to find the content type:
1. Open openY
2. Login as admin
3. Go to Administration -> Structure -> Content types -> Activity

[2017-06-11 11:10] ddrozdik opened #508 "Fix description in the module openy_node_alert"
There is a module `openy_node_alert`. This module has an empty description in configuration files(6 files).

We need to add a description.

See for details
https://github.com/ymcatwincities/openy/blob/8.x-1.x/modules/openy_features/openy_node/modules/openy_node_alert/config/install/field.field.node.alert.field_alert_color.yml#L13

and documentation
https://github.com/ymcatwincities/openy/blob/8.x-

[2017-06-11 11:14] ddrozdik opened #509 "Fix description in the module openy_node_blog"
There is a module `openy_node_blog`. This module has an empty description in configuration files(6 files).

We need to add a description.

See for details
https://github.com/ymcatwincities/openy/blob/8.x-1.x/modules/openy_features/openy_node/modules/openy_node_blog/config/install/field.field.node.blog.field_blog_category.yml#L17

and documentation
https://github.com/ymcatwincities/openy/blob/8.x-1

[2017-06-11 11:17] ddrozdik opened #510 "Fix description in the module openy_node_category"
There is a module `openy_node_category`. This module has an empty description in configuration files(9 files).

We need to add a description.

See for details
https://github.com/ymcatwincities/openy/blob/8.x-1.x/modules/openy_features/openy_node/modules/openy_node_category/config/install/field.field.node.program_subcategory.field_category_program.yml#L13

and documentation
https://github.com/ymcat

[2017-06-11 11:19] ddrozdik opened #512 "Fix description in the module openy_node_class"
There is a module `openy_node_class `. This module has an empty description in configuration files(7 files).

We need to add a description.

See for details
https://github.com/ymcatwincities/openy/blob/8.x-1.x/modules/openy_features/openy_node/modules/openy_node_class/config/install/field.field.node.class.field_class_description.yml#L14

and documentation
https://github.com/ymcatwincities/openy/bl

[2017-06-11 11:21] ddrozdik opened #514 "Fix description in the module openy_node_landing"
There is a module `openy_node_landing `. This module has an empty description in configuration files(6 files).

We need to add a description.

See for details
https://github.com/ymcatwincities/openy/blob/8.x-1.x/modules/openy_features/openy_node/modules/openy_node_landing/config/install/field.field.node.landing_page.field_content.yml#L14

https://github.com/ymcatwincities/openy/blob/8.x-1.x/docs/C

[2017-06-11 11:22] ddrozdik opened #515 "Fix description in the module openy_node_mbrshp"
There is a module `openy_node_mbrshp`. This module has an empty description in configuration files(7 files).

We need to add a description.

See for details
https://github.com/ymcatwincities/openy/blob/8.x-1.x/modules/openy_features/openy_node/modules/openy_node_mbrshp/config/install/field.field.node.membership.field_mbrshp_info.yml#L15

and documentation
https://github.com/ymcatwincities/openy/bl

[2017-06-11 11:25] ddrozdik opened #516 "Fix description in the module openy_node_program"
There is a module `openy_node_program`. This module has an empty description in configuration files(7 files).

We need to add a description.

See for details
https://github.com/ymcatwincities/openy/blob/8.x-1.x/modules/openy_features/openy_node/modules/openy_node_program/config/install/field.field.node.program.field_meta_tags.yml#L19

and documentation
https://github.com/ymcatwincities/openy/blob/

[2017-06-11 11:26] idsem opened #517 "Blog CT - turn off the color options after blog style change."
**Actual behavior.**

Steps to reproduce:

1. Go for Blogpost node editing page (example /node/11/edit)
2. Pick the Style type "Color card" (https://monosnap.com/file/FIVsytzHEW9juhItORFNcOJVAdoMtk)
3.  Save the changes.
4. Change Style type to any other from the list and hit save. (But don't change the color options)
5. Color options values will be available for any other Style type

**Expected b

[2017-06-11 11:27] ddrozdik opened #518 "Fix description in the module openy_node_session"
There is a module `openy_node_session`. This module has an empty description in configuration files(17 files).

We need to add a description.

See for details
https://github.com/ymcatwincities/openy/blob/8.x-1.x/modules/openy_features/openy_node/modules/openy_node_session/config/install/field.field.node.session.field_session_description.yml#L14

and documentation
https://github.com/ymcatwincities/

[2017-06-11 11:39] dimb commented on #415
News content types, similar to Blog but without Style options - done
New Taxonomy vocabulary - done

[2017-06-11 12:29] #398 closed, assigned to alexschedrov

[2017-06-11 12:38] SanyokMedved commented on #516
Fixed here:
https://github.com/ymcatwincities/openy/pull/522

[2017-06-11 12:39] alexschedrov opened #524 "Upgrade path for CodeSprint updates"
#511
#496
#513
#520
#525
#523
#522
#526
#527
#528
#532
#535
#539
#544
#546
#548
#550
#551
#552
#553
#563
#564

[2017-06-11 12:41] #516 closed, assigned to ddrozdik

[2017-06-11 12:44] #500 closed, assigned to sudarikovvadim

[2017-06-11 13:29] ddrozdik commented on #515
part of the fix - https://github.com/ymcatwincities/openy/pull/531

[2017-06-11 13:32] ddrozdik commented on #507
fixed.

[2017-06-11 13:40] #510 closed, assigned to anprok

[2017-06-11 13:48] SanyokMedved commented on #518
Fixed here https://github.com/ymcatwincities/openy/pull/526

[2017-06-11 14:10] podarok commented on #406
https://github.com/ymcatwincities/openy/pull/506

[2017-06-11 14:23] SanyokMedved commented on #505
PR is here https://github.com/ymcatwincities/openy/pull/538

[2017-06-11 14:36] ddrozdik opened #541 "Field Meta Tags is not present in the documentation"
There is a new field `Meta Tags` in some content types like `class`, 'session' etc but the field is not present in the documentation.
We need to add this field to the documentation and also update description in config files provided by modules.

[2017-06-11 14:38] #512 closed, assigned to alex-poletaev

[2017-06-11 14:48] #518 closed, assigned to ddrozdik

[2017-06-11 14:52] #509 closed, assigned to yuraonuferko

[2017-06-11 15:15] AlexNetman opened #542 "Small banner, Banner, Gallery should have H1 title"
1) Modify the template so that H1 is used for heading.
2) Make sure that styling for paragraphs is fixed. And they are looking as before.
3) Add line to the description of the Header field:
"""
Every page should have one and only one paragraph with H1 heading: Small banner, Banner, Gallery.
"""

[2017-06-12 12:15] #505 closed, assigned to alexschedrov

[2017-06-13 05:23] vasilyyaremchuk commented on #492
It doesn't work due to incorrect hook name :-)

I'm going to fix it in the scope of bug 517

[2017-06-13 07:16] vasilyyaremchuk commented on #517
https://github.com/ymcatwincities/openy/pull/549

[2017-06-13 10:14] hamrant commented on #515
Fix - #546

[2017-06-13 10:16] #515 closed, assigned to yasik78

[2017-06-13 12:33] yasik78 commented on #502
Fix https://github.com/ymcatwincities/openy/pull/496

[2017-06-13 12:33] #502 closed, assigned to yasik78

[2017-06-13 12:55] #503 closed, assigned to osab

[2017-06-13 14:22] AlexNetman opened #555 "Locations page: Change Heading weights"
On /locations page we should have correct order of Headings.

![image](https://user-images.githubusercontent.com/4558228/27086983-7ab70dee-505c-11e7-8dab-88b074b36368.png)

Keep styles of those heading same as they are looking now.
While may be we can use other style for "Branch Hours" h4. (Let's discuss this while you get to the task)

[2017-06-14 09:38] alexschedrov opened #558 "Remove media image from dependency"
Remove openy_media_image from dependencies https://github.com/ymcatwincities/openy/blob/8.x-1.x/modules/openy_features/openy_media/openy_media.info.yml

[2017-06-14 10:13] yasik78 commented on #478
Fix https://github.com/ymcatwincities/openy/pull/548

[2017-06-14 10:13] #478 closed, assigned to yasik78

[2017-06-14 11:26] #479 closed, assigned to yasik78

[2017-06-14 11:27] #483 closed, assigned to yasik78

[2017-06-14 11:28] #499 closed, assigned to kristolukky

[2017-06-14 11:30] #508 closed, assigned to andriibuda

[2017-06-14 11:31] #482 closed, assigned to yasik78

[2017-06-14 11:31] #477 closed, assigned to yasik78

[2017-06-14 11:32] #484 closed, assigned to yasik78

[2017-06-14 11:44] #507 closed, assigned to anprok

[2017-06-14 11:45] #514 closed, assigned to alex-poletaev

[2017-06-14 11:47] alexschedrov commented on #501
It has http://sandbox.openymca.org/node/add. `sites` is a directory.

![image](https://user-images.githubusercontent.com/1316234/27130793-64963008-5110-11e7-8599-a67907aa5a36.png)

[2017-06-14 11:47] #501 closed, assigned to nobody

[2017-06-14 11:56] #517 closed, assigned to vasilyyaremchuk

[2017-06-14 12:43] podarok opened #561 "Improve Image Embed within WYSIWYG with resize functionality."
Houston team is not happy with impossibility to have resize for the media images, embedded to WYSIWYG.
At this moment we have opportunity to add view modes to images, like Half or Full, but it is not possible to resize embedded image to the size, required by Content Manager.
Let's investigate this and create an approach to resize images in place without overloading content managers with additional

[2017-06-15 09:02] podarok opened #567 "Hybrid Docker SQL + profile flow"
Andriy Podanenko
[11:38]
not experimental if
- there is a tour for user
- dependencies are not tough and checked on clean drupal install
- some behat tests
- theming decoupled into the module

Andriy Podanenko
[11:56]
Introduce modules
- openy_stable - > empty module for adding dependencie to not experimental OpenY modules
- openy_contribs -> all dependencies to contribs live here
- openy_experime

[2017-06-15 09:39] yasik78 commented on #558
Fix  https://github.com/ymcatwincities/openy/pull/560

[2017-06-15 09:40] #558 closed, assigned to yasik78

[2017-06-15 10:38] #481 closed, assigned to yasik78

[2017-06-15 10:41] #485 closed, assigned to yasik78

[2017-06-15 12:04] goranmiric opened #570 "Join page"
If you are on the `/join` page and you select something and click `Next` then `Prev` and then `Next` you get infinite js errors related to `maps.googleapis.com`.
![screen shot 2017-06-15 at 10 06 53](https://user-images.githubusercontent.com/1763492/27180373-7bc07e46-51d3-11e7-89b4-ace0738e67b6.png)

[2017-06-15 12:41] hamrant opened #571 "ConfigParamUpdaterService checking of existing key, not value"
Check this issue on drupal.org - https://www.drupal.org/node/2886443

Add this fix here - https://github.com/ymcatwincities/openy/blob/8.x-1.x/modules/custom/openy_upgrade_tool/src/ConfigParamUpgradeTool.php#L79

[2017-06-15 13:14] alexschedrov commented on #387
Potentially a few branches have the same coordinates.

[2017-06-15 14:46] podarok opened #573 "Backport global_nav paragraph from YD"
https://github.com/propeoplemd/yd/pull/143

ATM it is not yet themed, but the idea is that when ```global_nav``` added to header field (rename field name during backporting, because YGH is not OpenY) - block global_navigation, which is placed by layout_plugin, skipped from rendering.

[2017-06-16 07:25] #387 closed, assigned to yasik78

[2017-06-16 07:29] #480 closed, assigned to eliasbrat, yasik78

[2017-06-18 10:49] nikunj1222 commented on #498
Additional uncaught exception thrown while handling exception.

Original

Drupal\Core\Config\UnmetDependenciesException: Configuration objects provided by <em class="placeholder">openy</em> have unmet dependencies: <em class="placeholder">block.block.openy_rose_fmenu_center (system.menu.footer-menu-center), block.block.openy_rose_fmenu_left (system.menu.footer-menu-left), block.block.openy_rose_fm

[2017-06-19 07:38] #571 closed, assigned to yasik78

[2017-06-19 13:02] alexschedrov opened #582 "Add Class, Program Subcategory to sitemap"
Please add Class CT and Program Subcategory CT to sitemap.

[2017-06-19 14:11] #555 closed, assigned to tolichka

[2017-06-20 11:04] #396 closed, assigned to ivan-berezhnov

[2017-06-20 12:17] ddrozdik opened #588 "[Backport] YLI - FAQ paragraph"
Backport FAQ paragraph from YLI - https://github.com/propeoplemd/ymcali-openy/pull/138

https://propeople-us.atlassian.net/browse/YLI-237

[2017-06-20 12:28] #390 closed, assigned to nobody

[2017-06-21 08:47] podarok opened #593 "Include error while indexing solr"
```include_once(/mnt/www/html/yhouston/docroot/modules/custom/openy_webform/modules/contrib/webform/includes/webform.theme.inc):  [warning]\nfailed to open stream: No such file or directory ThemeManager.php:263```

[2017-06-21 09:41] AlexNetman opened #594 "Allow logo to be updated in admin interface"
When I updated footer logo in theme setting
Also alt text is saying YMCA when I hover over.
![image](https://user-images.githubusercontent.com/4558228/27377823-c093ed14-567e-11e7-838c-55a9c26cc927.png)

Let's put alt text as "Site-logo" by default. To make it more universal and clear in accessibility terms.

[2017-06-21 11:37] #524 closed, assigned to ivan-berezhnov

[2017-06-21 14:30] podarok opened #595 "Backport video player paragraph from YD"
https://github.com/propeoplemd/yd/pull/156

[2017-06-22 07:51] podarok opened #596 "Backport code component from YD"
https://github.com/propeoplemd/yd/pull/66/files

[2017-06-22 08:00] podarok opened #597 "Backport Reusable simple content component from YD"
https://github.com/propeoplemd/yd/pull/121/files

[2017-06-22 09:00] #405 closed, assigned to danylevskyi

[2017-06-22 09:39] alexschedrov opened #598 "Daxko: paragraph without credentials"
When credentials are not configured here `/admin/config/services/daxko` or here `/admin/config/services/daxko/programs-search` paragraph should be added to the page, just with some warning that credentials are not configured yet.

Currently there's no way to add paragraph. It thorws error in JS console.

![screen shot 2017-06-22 at 12 40 34 pm](https://user-images.githubusercontent.com/1316234/274

[2017-06-22 09:42] alexschedrov opened #599 "Daxko: hide default paragraph fields"
Please hide following fields:
- Program registration block
- Block description
- Title
- Display title

![image](https://user-images.githubusercontent.com/1316234/27427585-31242a52-5748-11e7-90d7-c1beef61e6eb.png)

[2017-06-22 10:52] alexschedrov opened #600 "Location finder spacing for admin"
When you login as admin and open location finder page, you'll see different spacing as anonymou user.
![image](https://user-images.githubusercontent.com/1316234/27430666-0ea8e666-5752-11e7-869b-5549994e2247.png)
![image](https://user-images.githubusercontent.com/1316234/27430668-106f0278-5752-11e7-94e7-19927d10cbd4.png)

[2017-06-22 13:00] podarok opened #602 "Backport OpenY Date Based Component from YD"
https://github.com/propeoplemd/yd/pull/67/files

[2017-06-22 13:04] podarok opened #603 "Backport Expander from YD"
https://github.com/propeoplemd/yd/pull/55

[2017-06-22 19:30] ymcagtc opened #606 "Any <a> tags added via the "Source" button on WYSIWYG editor are wiped out upon next edit"
A Content Admin wishes to add an image to a blog post and add a link on that image so when it is clicked a site visitor is sent to another page.

When the content editor adds the link to the image using the "Source" button in the WYSIWYG editor, saves the page, and attempts to edit the page again, the <a> tag is erased.

**Steps to reproduce:**

1. Add/Edit a blog content block (such as http://san

[2017-06-23 07:22] #440 closed, assigned to hamrant

[2017-06-23 07:23] podarok commented on #606
We did this already for Dallas and Houston
Here is a code needs to be backported https://github.com/propeoplemd/ymcahouston/pull/600/files

The idea is Image Component was extended with link wrapper. Feel free to backport it.

[2017-06-23 09:31] ddrozdik opened #610 "Warning on the theme settings page"
After fixing this issue https://github.com/ymcatwincities/openy/issues/372 we fixed warnings and errors, but themes which were created before and were not updated still produce a warning on the theme settings page.
`
Warning: Invalid argument supplied for foreach() in openy_rose_form_system_theme_settings_alter() (line 195 of profiles/contrib/openy/themes/openy_themes/openy_rose/openy_rose.theme).

[2017-06-23 09:48] ddrozdik commented on #610
drupal.org issue - https://www.drupal.org/node/2888725

[2017-06-23 15:58] Kerby70 commented on #606
@podarok I have posted a pull request #614 using a patch from https://www.drupal.org/node/2511404 wondering if this issue had come up before and was rejected for some reason?

[2017-06-23 20:02] yasik78 commented on #448
Fix https://github.com/ymcatwincities/openy/pull/540/

[2017-06-23 20:02] #448 closed, assigned to eliasbrat

[2017-06-25 01:29] yasik78 commented on #378
patch is ready for review https://github.com/ymcatwincities/openy/pull/616

[2017-06-26 10:15] #321 closed, assigned to nobody

[2017-06-26 11:55] #610 closed, assigned to nobody

[2017-06-26 15:53] AlexNetman opened #621 "Update help text for Session time"
Current help text is not valuable. And it is not clear how to use fields without proper description.
![image](https://user-images.githubusercontent.com/4558228/27547542-0747042a-5a9f-11e7-83f5-dfe6f09457ec.png)
Let's set it to:
1) For example dates from 01/01/2018 to 01/01/2019 will indicate that this session schedule is going to be displayed only during year 2018. Time set "from 1:00 PM to 2:00 P

[2017-06-26 19:18] AlexNetman commented on #606
As a result of work on this issue new field was introduced:
![image](https://user-images.githubusercontent.com/4558228/27556161-2f07ee70-5abd-11e7-8514-311c9bea88e6.png)
Now you can specify a link for image in the embedding dialog.
That is simple for editing and gives no errors on saving.

@ymcagtc Please, close the issue if your are OK with this.

[2017-06-26 21:54] ivan-berezhnov commented on #582
@Sanchiz This issue fixed in PR https://github.com/ymcatwincities/openy/pull/589
Probably we should close it, what do you think?

[2017-06-27 08:35] alexschedrov opened #626 "Add description for Color vocabulary"
Please add description for Color vocabulary.

"This vocabulary contains various colors that will be applicable to website components if they require color as a part of content."

![image](https://user-images.githubusercontent.com/1316234/27578412-ab4168d0-5b2c-11e7-8f16-0914e87c5479.png)

[2017-06-27 11:25] #626 closed, assigned to ivan-berezhnov

[2017-06-28 07:21] rahul23 commented on #498
**Please some help. What is the solution for this issues.**

An AJAX HTTP error occurred.
HTTP Result Code: 200
Debugging information follows.
Path: /MYPROJECTS/docroot/core/install.php?rewrite=ok&profile=openy&langcode=en&id=1&op=do_nojs&op=do
StatusText: OK
ResponseText:
Fatal error:  Call to a member function getConfigDependencyKey() on null in D:\xampp\htdocs\MYPROJECTS\docroot\modules\contrib

[2017-06-28 07:29] rahul23 commented on #498
**Please some help. What is the solution for this issues.**

Error
The website encountered an unexpected error. Please try again later.
Drupal\Core\Config\UnmetDependenciesException: Configuration objects provided by <em class="placeholder">openy</em> have unmet dependencies: <em class="placeholder">block.block.openy_rose_fmenu_center (system.menu.footer-menu-center), block.block.openy_rose_fmenu_

[2017-06-29 17:32] ddrozdik opened #634 "Close access to view Taxonomy term page"
We need to close access to view taxonomy term pages for vocabularies:
- Area
- Color
- Facility Type
- Media Tags

Example of the page http://sandbox.openymca.org/taxonomy/term/2

[2017-06-29 17:55] ddrozdik opened #635 "Errors while saving a new alert"
[code]
![openy distribution site-install 2017-06-29 20-55-01](https://user-images.githubusercontent.com/6285570/27702602-441122a8-5d0d-11e7-85e1-c0b09f4ae90d.png)

Steps to reproduce:
1. create a new alert
2. Specify in the field `Reference` reference to an internal page
3. Save

[2017-06-30 10:47] podarok commented on #444
I'd suggest to build glyphicons as additional feature. Because it is not simple, but we need YLI approach landed asap @ygerasimov @ddrozdik

[2017-06-30 10:53] podarok opened #636 "Hero Area component"
![_999 088](https://user-images.githubusercontent.com/563412/27732689-1cbc255c-5d9b-11e7-83d4-30ddbb6f75ec.png)

We need to have Hero Image component which will serve extended behaviour
- keep working hours as a field (we need it for teasers as well)
- Add component to be added to header area only with fields: hero image, hero link
- when Component is placed to page - design overrides standard out

[2017-06-30 11:27] ddrozdik commented on #444
@podarok there is a PR for Open Y https://github.com/ymcatwincities/openy/pull/464 but there is a problem with glyphicons:
@ddrozdik: We will not be able to use glyphicons as part of the open Y, there is a conflict with licenses: https://www.drupal.org/node/2889944#comment-12145655

are released under the Creative Commons Attribution 3.0 Unported (CC BY 3.0). The GLYPHICONS FREE can be used both c

[2017-06-30 21:43] ygerasimov opened #640 "UX improvement. Collapsible paragraphs"
Current, when on Landing Page I have multiple paragraphs added it is very hard to reorder them. Suggestion is to make them collapsible, so I could see the summary (type of the block). Then I would be able to reorder / delete them effectively.

Here is how it is done on distribution of boston.gov (it is drupal 7 but uses paragraphs as well).
![boston-collapsed-paragraphs](https://user-images.github

[2017-07-01 23:10] #266 closed, assigned to danylevskyi

[2017-07-03 07:43] ivan-berezhnov commented on #594
@AlexNetman We have some functionality for change logo in the header and footer.
Please look: https://monosnap.com/file/Qa77Vk52nPDntZvNBX0YxBZ5TDKX0b

Steps to change logo in the header:
- [ ] go to [sitename]/admin/appearance/settings/openy_rose
- [ ] find section "LOGO IMAGE"
- [ ] uncheck "Use the logo supplied by the theme"
Please look https://monosnap.com/file/qaNjsOn1buMRRRu5pAj0kyDCAgHBha

[2017-07-03 09:31] #495 closed, assigned to ivan-berezhnov

[2017-07-03 09:36] #621 closed, assigned to ivan-berezhnov

[2017-07-03 09:37] #600 closed, assigned to ivan-berezhnov

[2017-07-03 10:51] #541 closed, assigned to ivan-berezhnov

[2017-07-03 11:14] #382 closed, assigned to nobody

[2017-07-04 07:02] alexschedrov opened #647 "Add help text to header area field for all CTs"
Please add text `Page should contain one and only one paragraph with H1 heading: Small banner, Banner, Gallery` to the Header Area field as help text.

[2017-07-04 12:34] AlexNetman commented on #594
@ivan-berezhnov  OK. So we need only to update alt text for footer logo.

[2017-07-04 17:13] ygerasimov opened #650 "Membership CT Link field"
When I am editing Link field on Membership content type I can't see what is affected?

Where is this field used?

![openy-membership-link](https://user-images.githubusercontent.com/294265/27838739-5cf05824-60a1-11e7-8b37-46508dd7f97b.png)

[2017-07-04 17:34] ygerasimov opened #651 "Branch. Directions link"
There is a field Directions on Branch form. But I can't figure out where we display it. Please advise.

![openy-branch-directions](https://user-images.githubusercontent.com/294265/27839205-68dd8f82-60a4-11e7-81c5-ad24e5d96660.png)

[2017-07-04 18:14] ygerasimov opened #652 "Camp. Fax, Direction link"
Please advise where Fax number and Direction Link is displayed on Camp page?

http://sandbox.openymca.org/camps/camp-colman has these fields populated. But these are not displayed.

![openy-camp-fax](https://user-images.githubusercontent.com/294265/27839944-fae846ec-60a9-11e7-9098-f8bbad51088c.png)

[2017-07-04 18:20] ygerasimov opened #653 "Blog filters. Breakpoint 1040px"
Blog filter "Show me stories for:" looks broken on breakpoint 1040px.

Page http://sandbox.openymca.org/blog

![openy-blog-filters-1040](https://user-images.githubusercontent.com/294265/27840037-b9c8a0fc-60aa-11e7-8f91-74d0ce566df1.png)

[2017-07-04 18:34] ygerasimov opened #654 "Facility. How to use?"
There is a content type Facility. That as I understand should display all the facilities in the branch.

http://sandbox.openymca.org/facility/magnuson-park

What is the best way to put links to it? Do we just build some content block with listing of all facilities of the branch?

Please provide couple of examples.

[2017-07-05 07:45] alexschedrov commented on #650
@ygerasimov this link is displayed at the end of Membership form and depends on the selected membership type and branch.

In most cases this link leads to 3rd party CRM(e.g. ActiveNet, Daxko etc). Would be great if we can add description to this field.

![image](https://user-images.githubusercontent.com/1316234/27854290-efd99970-616e-11e7-939e-35d5ef546fc4.png)

[2017-07-05 07:57] alexschedrov opened #655 "Directions link on branch and camp pages"
Please make sure, when Directions link is specified, it's display on branch page in branch info header.
![image](https://user-images.githubusercontent.com/1316234/27854824-dd264f4c-6170-11e7-93c7-3fd7f424f1f0.png)
![image](https://user-images.githubusercontent.com/1316234/27854863-052adc06-6171-11e7-8f1e-296796d85e48.png)

[2017-07-05 07:58] alexschedrov commented on #651
It suppose to be displayed in 2 places.

**Branch teaser**
![image](https://user-images.githubusercontent.com/1316234/27854375-46d0cde8-616f-11e7-9ad2-fc43c880a4a5.png)

**Branch info**
Seems this link is missed from branch info block, should be fixed. Added separate issue to fix this #655.
![image](https://user-images.githubusercontent.com/1316234/27854855-ff450910-6170-11e7-93f5-aca6f0694c00.png

[2017-07-05 08:01] alexschedrov commented on #652
For directions link - https://github.com/ymcatwincities/openy/issues/651#issuecomment-313030634.

[2017-07-05 08:03] alexschedrov opened #656 "Fax on branch and camp pages"
Please make sure that we display fax number when it's specified below phone.

![image](https://user-images.githubusercontent.com/1316234/27855002-812f90a8-6171-11e7-9426-bc16c50685b3.png)

[2017-07-05 08:03] alexschedrov commented on #652
For fax added issue - #656.

[2017-07-05 08:05] alexschedrov commented on #654
Currently facilities are displayed on following pages:

**Location finder** - http://sandbox.openymca.org/locations
![image](https://user-images.githubusercontent.com/1316234/27855062-bafbb1d6-6171-11e7-8f28-929f9eb21d13.png)

**Facility page** - http://sandbox.openymca.org/facility/fauntleroy-ymca

I think you're right. We need new component that will display all facilities that are associated wi

[2017-07-05 13:20] ivan-berezhnov commented on #647
@Sanchiz This issue ready in PR https://github.com/ymcatwincities/openy/pull/660

[2017-07-05 17:06] #647 closed, assigned to ivan-berezhnov

[2017-07-05 17:07] #653 closed, assigned to tolichka

[2017-07-06 07:13] alexschedrov commented on #475
Done in PR #547.

[2017-07-06 07:13] #475 closed, assigned to ivan-berezhnov

[2017-07-06 08:49] #594 closed, assigned to ivan-berezhnov

[2017-07-06 14:23] #654 closed, assigned to nobody

[2017-07-06 14:24] #651 closed, assigned to nobody

[2017-07-06 14:24] #652 closed, assigned to nobody

[2017-07-06 14:25] #650 closed, assigned to nobody

[2017-07-07 12:28] alexschedrov opened #665 "Membership page: error "field is required""
1. Open /membership page
2. Click on 'Next button without choosing option
---> "Which option best describes the type of membership you need? field is required." error message on first step, 'field is required' should be removed or starts with capital 'F'

[2017-07-09 17:46] ivan-berezhnov commented on #656
PR https://github.com/ymcatwincities/openy/pull/670

[2017-07-09 17:47] ivan-berezhnov commented on #655
PR https://github.com/ymcatwincities/openy/pull/670

[2017-07-10 08:52] dimb commented on #415
News content types, similar to Blog but without Style options. - done
Paragraph to list all news - done
Paragraph to show the latest news - done
Featured News - done
New Taxonomy vocabulary - done

[2017-07-10 11:23] ddrozdik opened #675 "openy_upgrade_tool does not show information correctly."
After updating openY to the latest version using `openy_upgrade_tool` dashboard I can see a list of conflicts. For example, I have a conflict with the config `views.view.classes_listing`. And I see that conflict with property `display.search_form.cache_metadata.tags` but when I open diff I can see that there are much more conflicts in different places. So using service `openy_upgrade_tool.param_up

[2017-07-10 11:24] ddrozdik opened #676 "openy_upgrade_tool Allow to resolve conflicts via UI"
I would like to have an option to resolve conflicts with configs using UI. Currently, there is no way to do this.

[2017-07-10 11:53] ddrozdik opened #677 "openy_upgrade_tool Skip some changes"
The module should skip configs if there the only change inside is a `uuid` or `_core` property.

![openy upgrade dashboard 7c ymca of long island f0 9f 94 8a 2017-07-10 14-51-28](https://user-images.githubusercontent.com/6285570/28016936-4eafb5a6-657f-11e7-8689-4f41861d3860.png)
`

[2017-07-10 16:07] ddrozdik opened #678 "Warning while saving session node"
Appears when I save a new node type of session.

Steps to reproduce:
1. create a new session
2. add session time
3. add the second fieldset for the session time and leave it empty
4. save

[2017-07-10 16:43] ddrozdik opened #679 "Camp menu should not allow to select some content types"
While creating a camp you can specify menu items which could be linked to content type Alert/Session/Activity.
We should not allow selecting this content type.

[2017-07-10 17:15] ddrozdik opened #680 "Changing logo for camps in the theme settings does not work"
I changed the logo for camps in the theme settings but nothing happened. There is no implementation for this.

[2017-07-11 09:52] ddrozdik commented on #467
@Sanchiz I tried to use https://github.com/wikimedia/composer-merge-plugin, but it works only when you have different `composer.json` files in your project structure. It does not work with `composer.json` added as a requirement.

[2017-07-11 11:37] fandm opened #683 "Change camp_class variable to layout_class"
Please change `camp_class` variable to `layout_class` (in _page.html.twig_ and other templates), since we can define different CSS classes for different content types, not for _Camp_ only. So, the main idea: don't use the word "camp". Thanks!

[2017-07-11 11:45] ddrozdik opened #684 "Update from OpenY 8.1.2 to OpenY 8.1.3 is failed"
Performing openy_loc_branch_update_8006                              [ok]
Configuration <em                                                    [error]
class="placeholder">core.entity_view_display.node.branch.sidebar_teaser</em>
depends on the <em
class="placeholder">core.entity_view_mode.node.sidebar_teaser</em>

Failed: Configuration                                                [error]
core.ent

[2017-07-11 12:33] ddrozdik opened #686 "Update from OpenY 8.1.2 to OpenY 8.1.3 is failed due to content_moderation"
stderr: Drupal\Core\Entity\EntityStorageException: Exception thrown while    [error]
performing a schema update. SQLSTATE[42000]: Syntax error or access
violation: 1071 Specified key was too long; max key length is 767
bytes: ALTER TABLE {content_moderation_state_field_data} ADD UNIQUE
KEY `content_moderation_state__lookup` (`content_entity_type_id`,
`content_entity_id`, `content_entity_revision_i

[2017-07-11 13:30] #684 closed, assigned to nobody

[2017-07-11 13:49] ddrozdik opened #687 "OpenY 8.1.3: Module openy_programs_search requires Symfony component"
After update to OpenY 8.1.3 I see that there is a new module added `openy_programs_search`. This module fails because symfony component is absent:
`
Fatal error: Class 'Symfony\Component\DomCrawler\Crawler' not found in /var/www/docroot/core/lib/Drupal/Component/DependencyInjection/Container.php on line 264
`

After investigating, I did not find that this component was added.

[2017-07-11 15:00] AlexNetman commented on #634
@ddrozdik
Let's find some more details on requirements here.
If we just close the access to terms that will lead to some problems:
1) Go to http://ci.openymca.org/build1846/locations  and click on name of Facility.
For example: BELLEVUE .
You will get 404 page at http://ci.openymca.org/build1846/area/bellevue
2) On homepage click on Category name in Blog teaser.

[2017-07-11 16:38] ddrozdik opened #689 "Notice in the module openy_schedules"
`
Notice: Undefined index: tags in Drupal\openy_schedules\Form\SchedulesSearchForm->buildResults() (line 869 of profiles/contrib/openy/modules/custom/openy_schedules/src/Form/SchedulesSearchForm.php).
`

[2017-07-11 20:12] ddrozdik opened #690 "Use "Link text" as a title for "Directions" link on camps/branches"
If create a camp/branch and specify a link in the field `Directions`, for example, a link to an internal page
![edit camp camp orkila 7c site-install 2017-07-11 19-58-32](https://user-images.githubusercontent.com/6285570/28080103-67d56e8c-6673-11e7-9961-10522c9c8e06.png)
then on the Locations(`/locations`) page, you will see this url in the block
![locations 7c site-install 2017-07-11 23-09-33](ht

[2017-07-12 22:29] ivan-berezhnov commented on #656
Fixed in the PR #670

[2017-07-12 22:29] ivan-berezhnov commented on #655
Fixed in the PR #670

[2017-07-14 08:29] podarok opened #693 "Backport WYSIWYG colors button"
https://github.com/propeoplemd/ymcahouston/pull/686

[2017-07-15 13:57] ddrozdik opened #696 "OpenY installation is failing in case of unavailability of any library."
12:24:38 Unable to download panelbutton from                                  [error]
12:24:38 http://download.ckeditor.com/panelbutton/releases/panelbutton_4.7.0.zip.
12:24:38 Unable to download colorbutton from                                  [error]
12:24:38 http://download.ckeditor.com/colorbutton/releases/colorbutton_4.7.0.zip.

this happened due to maintenance on http://ckeditor.com/
![down

[2017-07-16 11:51] dimb opened #698 "Fatal error on edit field_prgf_block field."
Fatal error on edit field_prgf_block field.
Error message says:  "_TypeError: Argument 2 passed to Drupal\groupex_form_cache\GroupexFormCacheManager::setCache() must be of the type array, null given, called in /var/www/docroot/profiles/contrib/openy/modules/custom/openy_group_schedules/src/GroupexRequestTrait.php on line 94 in Drupal\groupex_form_cache\GroupexFormCacheManager->setCache()_."

Steps

[2017-07-17 12:10] ivan-berezhnov commented on #689
@ddrozdik Could you please explain how to it reproduce.

[2017-07-19 19:51] ddrozdik commented on #415
- **[fixed]** Paragraph "Latest news posts (branch)" - title should be changed, see screenshot https://monosnap.com/file/MEOdjN4dgutyfNgvu1qxJiQ1U1E8pl
- **[fixed]** Paragraph "Latest news posts (camp)" - title should be changed, see screenshot https://monosnap.com/file/PD6a23nm9Icp9ro6IcUsvPLQPeYUKo

[2017-07-19 21:22] #698 closed, assigned to dimb

[2017-07-19 21:22] ddrozdik commented on #698
fixed here https://github.com/ymcatwincities/openy/pull/700

[2017-07-19 21:24] ddrozdik commented on #693
colorbutton and panelbutton already part of the OpenY

[2017-07-20 10:30] ddrozdik opened #709 "openy_map: Add ability use map_location param in URL to search by ZIP or address"
PR is here https://github.com/ymcatwincities/openy/pull/702

[2017-07-20 10:31] #709 closed, assigned to nobody

[2017-07-20 10:32] fandm opened #710 "Notices about the not existing group and weight indexes in the tour JS library array."
Clear cache, go to the frontend (not admin) page, for example, /user/login, and see the notices on the page: https://monosnap.com/file/jQYRGUXTr8X8Ptkw9JVoIPD0jCO4Ze

[2017-07-20 10:34] #710 closed, assigned to nobody

[2017-07-24 10:00] fandm opened #712 "Block branch hours not updates"
Open the page `/schedules`
There is the issue related to block Branch hours - https://monosnap.com/file/zdrVt8x64BsAuC3Eqjz1J2yd2Redbd
When we open a page we do not see this block, then we can select a preferred branch in the popup. After selecting branch this block appears on the page. But when I change branch in the filter it not changes. Even if select "All" in the filter it still displays on t

[2017-07-24 11:02] #712 closed, assigned to nobody

[2017-07-24 13:40] ddrozdik commented on #462
We have tested the solution from PR on YMCA Long Island and found that we have to leave a class name in URL to avoid creating aliases like `/programs/youth-programs/academic-success/class-times-0`, `/programs/youth-programs/academic-success/class-times-1`, `...`.

based on our tests we can say that pattern should have a class name until we change the content hierarchy.

[2017-07-24 14:29] #462 closed, assigned to nobody

[2017-07-25 09:11] alexschedrov opened #716 "Move demo authentication details to separate module"
We should move credentials, authentication details for 3rd party services to separate module.

Example: https://github.com/ymcatwincities/openy/pull/668/files#diff-21dae246523ef3a57efc15d2751bf649R9

[2017-07-26 07:28] #634 closed, assigned to ivan-berezhnov

[2017-07-26 07:29] alexschedrov commented on #378
Duplicate of #634.

[2017-07-26 07:29] #378 closed, assigned to nobody

[2017-07-26 09:28] alexschedrov opened #717 "Directions link is missed on facility page"
![image](https://user-images.githubusercontent.com/1316234/28614266-dab31f7c-71fd-11e7-9d29-9daf6a354fcc.png)

[2017-07-26 09:35] alexschedrov commented on #655
Upgrade path is not working.
![image](https://user-images.githubusercontent.com/1316234/28614558-ea777876-71fe-11e7-9dca-9ddf48a6c277.png)

[2017-07-26 09:35] alexschedrov commented on #656
Upgrade path is not working.
![image](https://user-images.githubusercontent.com/1316234/28614565-f346b782-71fe-11e7-8288-4f20f75552b4.png)

[2017-07-26 09:36] alexschedrov commented on #655
Plus make sure it is displayed on facility page - #717.

[2017-07-26 09:36] alexschedrov commented on #717
Plus make sure it is displayed on facility page - #717.

[2017-07-26 13:36] artemdotsenko opened #718 "Bootstrap glyphicons fonts not found."
https://github.com/ymcatwincities/openy/blob/8.x-1.x/themes/openy_themes/openy_rose/css/vendor/bootstrap/bootstrap.css#L313

bootstrap.css has wrong path to glyphicons font files, which makes impossible to use it with open_rose theme.

[2017-07-26 14:49] ddrozdik opened #719 "[Backport YLI] Location Filter settings form"
We added a form in the admin panel which allows specifying what branches and what camps should be displayed in filters and popups. This could be useful in case client wants to hide some of them.
See for details:  https://github.com/propeoplemd/ymcali-openy/pull/266

[2017-07-27 21:50] ddrozdik opened #722 "Filter Sub-Program does not work"
http://sandbox.openymca.org/schedules
Try to filter by different options, if using filter `Sub-Program` you can see that nothing changes on the page.

[2017-07-28 08:33] alexschedrov commented on #722
![screen shot 2017-07-28 at 11 33 03 am](https://user-images.githubusercontent.com/1316234/28709332-8c3b88b6-7388-11e7-9125-07d7d452422f.png)

[2017-07-28 12:59] ddrozdik opened #726 "[Backport YLI] Paragraph Featured Highlights"
For YMCA Long Island we developed a new paragraph `Featured Highlights`.

The paragraph provides next fields:
- Title of the paragraph
- Style "Select list with following values: 2:2 items per row, 3:3 items per row, 4:4 items per row"
- Ability to add custom block or select existing(like in the paragraph Microsites menu from Houston)
- Each block has next fields:
-- Link and link text
-- Image
--

[2017-08-01 09:08] podarok opened #729 "Better widget for long select lists"
We've faced with issue when there is a long list in select widget and it is not that convenient to work with
Consider to add Select2 or competitor to the OpenY to get better UX

[2017-08-01 10:05] alexschedrov commented on #729
Let's add choosen module - https://github.com/propeoplemd/ymcaseattle/pull/281/files.

[2017-08-02 15:01] ddrozdik opened #733 "[Backport YLI] Sniffer notices in the openy_map/map.js"
We have copied this file for a couple of modifications, and our sniffer said there are some errors in js file.
Fix is here https://github.com/propeoplemd/ymcali-openy/pull/284/commits/ca27299c753092180e822ced49200d84f63569b6

[2017-08-02 20:17] #733 closed, assigned to nobody

[2017-08-03 15:10] AlexNetman opened #737 "Image can not be selected from library when filters applied"
Go to /node/add/blog
Expand Content area and click button to select image
In popup that appear go to tab "All images"
Type keyword for Image name: 'Swim'
And press Apply
![image](https://user-images.githubusercontent.com/4558228/28928682-88c78412-7876-11e7-85ce-0251d42c8d2e.png)
Click on one of the images
And then click "Select images"

Result:
Image can not be selected

[2017-08-04 08:10] #656 closed, assigned to ivan-berezhnov

[2017-08-04 09:02] #722 closed, assigned to nobody

[2017-08-04 10:05] fandm opened #739 "Revisions are not working"
Try to open some node's revision in view mode. You will get the error message:

In the log you will see the message:
`Error: Call to a member function getType() on string in Drupal\openy_popups\Plugin\Block\LocationPopupLink->build() (line 115 of /var/www/sandbox/profiles/contrib/openy/modules/custom/openy_popups/src/Plugin/Block/LocationPopupLink.php)...`
To fix this issue and other issues with a

[2017-08-07 07:54] #737 closed, assigned to nobody

[2017-08-07 07:59] #655 closed, assigned to ivan-berezhnov

[2017-08-07 13:19] AlexNetman opened #741 "Groupex Schedules could have timezone mismatch when adding event to calendar"
For example setup Houston Groupex account . https://propeople-us.atlassian.net/wiki/spaces/OYPD/pages/116229828/GroupExPro+Schedules
It is in CDT timezone. (GMT -5)

When I go to http://ci.openymca.org/demo/schedules/group-schedules?location=2575&filter_date=8/07/17
Then I see correct time for Houston
When I click on Calendar icon
And add event too Google calendar (or other)
Then I see my event ad

[2017-08-08 14:08] alexschedrov opened #742 "Filber by trainer who is sub for another one"
When I select "Melissa T (sub for Eric B)"
Then I should see 'Tabata class'
http://ci.openymca.org/build2054/schedules/group-schedules?location=204&filter_date=8/07/17&class=any&filter_length=week&category=any&groupex_class=groupex_table_instructor_individual&instructor=Melissa%20T.%3Cspan%20class=%22subbed%22%20style=%22color:%20#cc0000;"><br>(sub for Eric  B.)</span>
But it's not displayed (see

[2017-08-15 06:58] alexschedrov opened #748 "Blog category page renders all content types"
- Open http://sandbox.openymca.org/blog/category/community-outreach
- You will see a lot of broken content

- Only blog posts should be rendered on taxonomy page for blog category

[2017-08-15 11:41] alexschedrov opened #749 "Layout "Two column with fixed sidebar" doesn't work anymore"
- Create landing page
- Select "Two column with fixed sidebar" layout

Expected behaviour: sidebar should be sticky at the top when you scroll down the page.

[2017-08-15 11:42] alexschedrov opened #750 "Layout names"
Please update labels for following layouts:
- Two column with fixed sidebar -> Two columns with fixed sidebar(sticky at the top)
- Two column -> Two columns

[2017-08-17 08:51] Robert201-zz opened #752 "add image to the image editot screen in the cms so a user can see the image they have uploaded."
add image to the image editot screen in the cms so a user can see the image they have uploaded. See screen shot for details.
![gfcrggc](https://user-images.githubusercontent.com/25036221/29403912-941c20a0-8331-11e7-8bf0-cf4438396dce.png)

[2017-08-17 09:06] Robert201-zz opened #753 "provide placeholder teaser out lines on page load for assets listed, to avoid page looking scratched on load"
provide placeholder teaser out lines on page load for assets listed, to avoid page looking scratched on load.

Images
Buttons
blocks conaining images

[2017-08-17 18:23] AlexNetman opened #757 "Groupex Schedules: View by Trainer: Unexpected result for substitutes"
URL: http://ci.openymca.org/demo/schedules/group-schedules?location=204

![image](https://user-images.githubusercontent.com/4558228/29427137-9931b1c6-8391-11e7-8c31-d668a0cb518a.png)
Given I have substitutes trainer for some class
When I click on that trainer name
Then I see only class were Lucy is main trainer
But not where it work as substitute

![image](https://user-images.githubusercontent.com

[2017-08-22 09:07] AlexNetman opened #758 "groupex_form_cache entities is not removed correctly and make database grow"
openy_group_schedules/modules/groupex_form_cache/src/GroupexFormCacheManager.php

private function removeByChunk(array $ids, $count = 10) {
$storage = $this->entityTypeManager->getStorage(self::ENTITY_TYPE);
$chunks = array_chunk($ids, $count);
foreach ($chunks as $chunk)
{ $entities = GroupexFormCache::loadMultiple($chunk); $storage->delete($entities); }
}

See that old cachetags are not deleted

[2017-08-24 11:14] ddrozdik opened #760 "[Backport YLI] Fix for images inserted via text editor in a half mode"
We fixed issue with stretched images here
https://github.com/propeoplemd/ymcali-openy/pull/326/files

[2017-08-24 11:16] ddrozdik opened #761 "[Backport YLI] Add a template for a media page"
By default, Media page does not have a template and everything looks broken.
We added a template for our theme, but idea could be used the same as we did here https://github.com/propeoplemd/ymcali-openy/pull/327/files

[2017-08-24 11:39] ddrozdik opened #762 "Configure Default View mode for Media bundles Video and Document"
For video:
- hide everything and display the only name and rendered video, see example:
![newsday performing arts camp 2015 great south bay ymca 7c ymca of long island f0 9f 94 8a 2017-08-24 14-29-48](https://user-images.githubusercontent.com/6285570/29664563-bd61ebbe-88d8-11e7-935d-bb2d69baafc5.png)

For Document:
- hide everything and display the only name, mime type, and embedded document.

[2017-08-25 08:59] #741 closed, assigned to nobody

[2017-08-30 07:49] Fant0m771 opened #767 "Locations filtering issue when node title has spaces at the end or beginning and issue if Location title has been themed like text-transform"
https://github.com/ymcatwincities/openy/blob/173fe57c77971b0a4d387de92f05b64ab4f36abc/modules/custom/openy_map/js/map.js#L726

pull - https://github.com/ymcatwincities/openy/pull/768

[2017-09-01 11:16] #767 closed, assigned to nobody

[2017-09-05 12:19] alexschedrov opened #776 "Teaser, Promo Card and Story Card headings regression"
Please make sure they look good.
![image](https://user-images.githubusercontent.com/1316234/30060800-846476f0-924d-11e7-9133-e6808f32a5ce.png)

[2017-09-06 21:43] AlexNetman opened #783 "Group Schedules: Trainers not sorted alphabetically"
Example URL:  http://ci.openymca.org/demo/schedules/group-schedules?location=202&filter_date=9/06/17
![image](https://user-images.githubusercontent.com/4558228/30135820-1e4abe92-9365-11e7-9536-a34479637cee.png)
See that Trainers are not sorted in the filter

Note:
This test example has only 4 locations and not much trainers
On larger Ys there are much more trainers
And it's very hard to find neede

[2017-09-07 12:46] #748 closed, assigned to ivan-berezhnov

[2017-09-07 12:46] #542 closed, assigned to nobody

[2017-09-07 12:47] #749 closed, assigned to ivan-berezhnov

[2017-09-11 21:27] YMCA-GTC opened #790 "Social Sharing icons no longer showing on blog posts"
The social sharing icons (Facebook, etc) no longer display on blog posts.

Reproduction steps:
1) Sign in to http://sandbox.openymca.org as admin
2) Create blog post
3) Click "Social Share" icons
4) Ensure the checkbox under Social Share icons is checked
5) Save the blog
6) View the blog and note that the social sharing icons do not appear

See: https://ibb.co/kWBwwv and https://ibb.co/d5MPia

[2017-09-12 13:21] Robert201-zz commented on #790
![pasted image at 2017_09_12 08_49 am](https://user-images.githubusercontent.com/25036221/30327906-a455c22a-97c5-11e7-95d0-d3b5412ffcd4.png)
  just tested this and had no issue will it be possible to test again

[2017-09-12 13:23] Robert201-zz commented on #790
http://sandbox.openymca.org/blog/test

[2017-09-12 14:43] YMCA-GTC commented on #790
Re-tested, issue persists on Chrome Version 61.0.3163.79 (Official Build) (64-bit) Windows 10

The icons do appear in Firefox and some other browsers, however.

[2017-09-12 15:26] YMCA-GTC commented on #790
This issue is likely related to ad-block extensions which prevent these buttons from appearing.  More info here: https://www.addthis.com/blog/2013/04/09/honey-i-lost-the-buttons/

Longer term we will want to transition to a self-hosted social sharing component to avoid this and other related issues. For now, this will be closed and archived for anyone else experiencing the issue.

[2017-09-12 15:26] #790 closed, assigned to nobody

[2017-09-15 12:27] #783 closed, assigned to ivan-berezhnov

[2017-09-17 19:05] YMCA-GTC commented on #439
@podarok You have the severity on this set to Critical. Can you tell me more info on why this is critical, or can I change it to important?

[2017-09-17 19:06] YMCA-GTC commented on #412
@podarok Can you give me more info on why this is Critical please? Otherwise, can we change this to important if it's still needed? I'm cleaning up our backlog.

[2017-09-17 19:12] YMCA-GTC commented on #606
@AlexNetman Thank you for the work-around for linking images. The underlying issue is still there when any <a> tag added via source code editing in WYSIWIG getting removed when the content is re-edited. I will lower the severity, but keep the issue open.

[2017-09-17 19:14] YMCA-GTC commented on #561
Unfortunately this is not actually a bug, but a very good enhancement request. It is in the roadmap. I am also changing the severity from Critical to Important as the work-around is to resize the image in an image editor prior to uploading. I agree this is important, but not critical given other priorities. I, too, would like us to have this feature.

[2017-09-17 19:23] YMCA-GTC commented on #761
@ddrozdik URL above gives me a 404. Can you provide more information and I'll add this to the roadmap?

[2017-09-17 19:24] YMCA-GTC commented on #758
@podarok @Sanchiz This seems like a pretty significant issue - unless you help me understand otherwise, I am marking this as critical.

[2017-09-17 19:26] YMCA-GTC commented on #753
@Sanchiz Is this part of what we are doing to improve the perception of page load performance?

[2017-09-17 19:28] YMCA-GTC commented on #742
@Sanchiz Is this a duplicate of this issue? https://github.com/ymcatwincities/openy/issues/757

[2017-09-17 19:33] YMCA-GTC commented on #729
@Sanchiz @podarok this has now been added to the roadmap.

[2017-09-17 19:38] YMCA-GTC commented on #726
This has been added to the roadmap.

[2017-09-17 19:43] YMCA-GTC commented on #762
This is now added to the roadmap

[2017-09-17 19:44] YMCA-GTC commented on #718
Updated severity and level

[2017-09-17 19:48] YMCA-GTC commented on #716
Good idea - added this to the roadmap.

[2017-09-17 19:49] YMCA-GTC commented on #696
@ddrozdik @Sanchiz @podarok What's the level of effort on this one, and is there anything we can really do about it beyond a more friendly error message, if these are libraries that are required?

[2017-09-17 19:49] YMCA-GTC commented on #693
@podarok Based on Dima's note above, should we close this?

[2017-09-17 19:54] YMCA-GTC commented on #687
@ddrozdik @Sanchiz @podarok Can I get some help setting the severity on this one? I don't understand the customer impact, or if it's a blocker on a site install/upgrade. Thanks!

[2017-09-17 19:58] YMCA-GTC commented on #683
I have added this to the roadmap

[2017-09-17 20:01] YMCA-GTC commented on #680
Leaving this severity as important for now. As soon as more associations demand this I will increase to critical.

[2017-09-17 20:08] YMCA-GTC commented on #676
Agreed - this would be nice. I have added it to the roadmap.

[2017-09-17 20:09] YMCA-GTC commented on #665
I consider this a bug as the text should have been a capital F to begin with.

[2017-09-17 20:10] YMCA-GTC commented on #640
@podarok @Sanchiz Did this get added to the distro already, or is it just something we have discussed backporting from Dallas or Houston? If it needs backporting I will add it to the roadmap.

[2017-09-17 20:15] YMCA-GTC commented on #635
Upgrading the severity to Critical on this.

[2017-09-17 20:16] YMCA-GTC commented on #603
@podarok Can we get more details on this, please? The above returns a 404 for me.

[2017-09-17 20:17] YMCA-GTC commented on #602
@podarok Can we get more details on this please? I'm getting a 404 above.

[2017-09-17 20:21] YMCA-GTC commented on #597
@podarok Can we get more details on this please? The above is a 404. Depending on the details, I can add it to the roadmap.

[2017-09-17 20:21] YMCA-GTC commented on #596
@podarok Can we get more details on this please? The above is a 404. Depending on the details, I can add it to the roadmap.

[2017-09-17 20:21] YMCA-GTC commented on #595
@podarok Can we get more details on this please? The above is a 404. Depending on the details, I can add it to the roadmap.

[2017-09-17 20:22] YMCA-GTC commented on #593
@podarok Can you please help me understand the severity of this issue? What happens after the error occurs, and how does it impact the experience for an end user?

[2017-09-17 20:23] YMCA-GTC commented on #588
@ddrozdik  Can we get more details on this please? I can't access the links above. Depending on the details, I can add it to the roadmap.

[2017-09-17 20:23] ddrozdik commented on #761
@YMCA-GTC this issue is related to https://github.com/ymcatwincities/openy/issues/762 , and I see that PR for that issue already has needed template. Let's close this issue.

[2017-09-17 20:23] #761 closed, assigned to nobody

[2017-09-17 20:23] YMCA-GTC commented on #582
@Sanchiz Can we close this per @ivan-berezhnov 's comment above?

[2017-09-17 20:25] YMCA-GTC commented on #573
@podarok Can you help me write a user story for this one so I can add it to the roadmap? I'm not sure I understand exactly what is happening and how this will benefit a user. Thanks!

[2017-09-17 20:26] YMCA-GTC commented on #570
Unable to reproduce

[2017-09-17 20:26] #570 closed, assigned to nobody

[2017-09-17 20:26] YMCA-GTC commented on #567
@podarok Can you please help me draft a user story for this to add to the roadmap? Thank you!

[2017-09-17 20:28] YMCA-GTC commented on #498
@Sanchiz @podarok Is this still an issue? If so, it seems like a blocker and critical. If you can't reproduce it, please close after providing some feedback on how to help the user above.

[2017-09-17 20:36] YMCA-GTC commented on #468
@podarok @Sanchiz Can I get some help creating a user story for this one? I'm trying to figure out how to best add it to the roadmap.

[2017-09-17 20:50] YMCA-GTC commented on #467
@podarok @Sanchiz @ddrozdik Can someone please help me turn this into a user story for the roadmap if applicable?

[2017-09-17 20:52] YMCA-GTC commented on #461
@podarok Can you please help me turn this into a user story for the roadmap if applicable? Further, is this critical, or should it be changed to important?

[2017-09-17 20:53] YMCA-GTC commented on #459
@podarok Can you please help me write a user story for this one to be added to the roadmap? The links above are 404 for me. Thanks!

[2017-09-17 20:55] YMCA-GTC commented on #444
@ddrozdik @ygerasimov @podarok @Sanchiz Can I please get some help turning this into a user story for the roadmap? Thanks!

[2017-09-17 20:57] YMCA-GTC commented on #438
@podarok Can you please help me write a user story for this one to be added to the roadmap?

[2017-09-17 20:57] YMCA-GTC commented on #437
@podarok @Sanchiz How do we make this a standard best practice?

[2017-09-17 20:58] YMCA-GTC commented on #435
@podarok @Sanchiz Can this one be closed now?

[2017-09-17 20:59] YMCA-GTC commented on #431
We have this in the Open Y roadmap. The severity is reduced to normal.

[2017-09-17 21:00] YMCA-GTC commented on #428
This is currently being worked on by @ygerasimov 's team, I believe.

[2017-09-17 21:00] YMCA-GTC commented on #427
We have this in the roadmap

[2017-09-17 21:02] YMCA-GTC commented on #423
@ddrozdik @Sanchiz Is this one complete, or should I add it to the roadmap?

[2017-09-17 21:06] YMCA-GTC commented on #410
@podarok Can you please help me write a user story for this so I can add it to the roadmap? The link above goes to a 404 for me.

[2017-09-17 21:07] YMCA-GTC commented on #409
Added to roadmap

[2017-09-17 21:08] YMCA-GTC commented on #407
Added to roadmap

[2017-09-17 21:09] YMCA-GTC commented on #406
@Sanchiz @podarok Did this get integrated recently, or is this still something on our to-do list? If it's on our to-do list, can one of you please help me write the user story for this?

[2017-09-17 21:09] YMCA-GTC commented on #404
@podarok Can you please help me draft a user story for this for the roadmap?

[2017-09-17 21:11] YMCA-GTC commented on #388
@Sanchiz Can you please help me write a user story for this one so I can add it to the roadmap? Thanks!

[2017-09-17 21:12] YMCA-GTC commented on #386
@Sanchiz Is this part of what you are implementing in the next release?

[2017-09-17 21:14] YMCA-GTC commented on #375
@Sanchiz With the recent GroupEx integration, can this be closed?

[2017-09-17 21:16] YMCA-GTC commented on #352
Demo account has been provided. Closing this.

[2017-09-17 21:16] #352 closed, assigned to nobody

[2017-09-17 21:17] YMCA-GTC commented on #289
@Sanchiz @podarok Can I get some help writing a user story for this to be added to the roadmap?

[2017-09-17 21:18] YMCA-GTC commented on #282
@podarok Can I please get some help writing a user story for this so I can add it to the roadmap? I am a little bit familiar on Socrates, but could use help writing the user story for the abstraction layer backporting.

[2017-09-17 21:18] YMCA-GTC commented on #279
@Sanchiz @podarok Is this still an issue? If so, should it be critical?

[2017-09-17 21:19] YMCA-GTC commented on #216
@ygerasimov Please review and close if applicable.

[2017-09-17 21:20] YMCA-GTC commented on #208
@podarok @Sanchiz Is this still an open issue?

[2017-09-17 21:20] YMCA-GTC commented on #207
@podarok Can you please help me write the user story for this to be added to the roadmap? Thanks!

[2017-09-17 21:21] #198 closed, assigned to nobody

[2017-09-17 21:26] YMCA-GTC opened #791 "Blog Category Pages are not rendering properly"
Steps to reproduce:

1. - Go to http://sandbox.openymca.org/
2. - Scroll down to blog posts
3. - Click on the Category Name, such as "Community Outreach"
4. - Note that the blog category page such as http://sandbox.openymca.org/blog/category/community-outreach is not rendering properly.

![screen shot 2017-09-17 at 4 25 36 pm](https://user-images.githubusercontent.com/17653329/30525065-e2bdd478-9b

[2017-09-18 06:31] ddrozdik commented on #423
@YMCA-GTC this one is not complete, and at this point in time, this issue requires involvement of tech leads who use Open Y to discuss how to refactor better.

[2017-09-18 06:33] ddrozdik commented on #415
@YMCA-GTC this issue has not merged yet. It is in the separate branch, we want to complete it soon.

[2017-09-18 08:03] artemdotsenko opened #792 "iOS Safari. Daxko login iframe does not load."
The issue that Safari's default setting is to allow cookies from sites that it visits, since they never visited the https://operations.daxko.com site that is in the iFrame the cookie isn't set thus causing the loop inside of the iFrame.
E.g. (clear cookies before visit or use device on which you never visited https://operations.daxko.com before):
https://www.ymcahouston.org/myaccount
http://stage.

[2017-09-18 09:20] AlexNetman commented on #792
This is reproduced also in Desktop Safari.

As I googled for the solution - there is no correct way to override this Safari security policy.
Overworks might be:
* Open https://operations.daxko.com in popup window and close it
* Display button "Login" for safari (that navigate to daxko external)

[2017-09-18 15:05] podarok commented on #758
cachetags is not the table which is cleared by the cache clear. It is just a list of tags and stats about them. So no worries here.
It's even not a bug, but feature of drupal core.
Marking this as a low priority just to track in case if something arrived with a time

[2017-09-18 15:07] podarok commented on #758
Added status needs more info. Please share real data in case if cachetags table grows up a super fast for the any project on OpenY

[2017-09-18 15:09] podarok commented on #463
Well, removed critical Severity, because this is critical for Drupal Core, not for OpenY
Also, we are working on changing naming of the existing fields in components to be less collision affected

[2017-09-18 15:20] #466 closed, assigned to alexschedrov

[2017-09-18 15:20] podarok commented on #466
This was fixed already. Bad composer config on our end

[2017-09-18 15:28] podarok commented on #498
Hey @rahul23 or @nikunj1222
Could you please share a bit more context under which circumstances you are getting these types of errors? From your input, I see that you have issues with installation of OpenY, but I'd like to get more information, sort of

- OS used - Linux...
- PHP version
- MySQL version
- php.ini file... (memory limits, execution time etc)

And also
- on what step you are getting

[2017-09-18 15:34] podarok commented on #635
Just checked on today's sandbox and looks like all good, see no issues with saving or editing alert
Could you be more specific in which page should be referenced, @ddrozdik ?
![_999 235](https://user-images.githubusercontent.com/563412/30550356-e17a4c64-9c9f-11e7-91fb-ca6854445fe9.png)

[2017-09-18 15:36] podarok commented on #675
@hamrant could you please ensure this bug is not exists in your update tool, decoupled to drupal.org?

@ddrozdik is it possible to share more details about
- post configs from active and file storage to compare on a sandbox environment

[2017-09-18 15:39] podarok commented on #791
Confirmed. This is an issues with theming of taxonomy term page. Looks like some sort of regression. Probably missed template or something similar

[2017-09-19 11:53] podarok opened #793 "Make OpenY working on Simplytest.me"

[2017-09-19 19:56] chrisarusso opened #795 "Demo username/password no long works."
Per the [docs](https://github.com/ymcatwincities/openy#demo) the username/password combo of
`admin/openy` no longer works for the demo.

[2017-09-20 16:47] podarok commented on #207
@YMCA-GTC this was fixed a while ago. Closing

[2017-09-20 16:47] #207 closed, assigned to nobody

[2017-09-20 16:49] podarok commented on #208
Needs to be re-checked

[2017-09-20 16:52] podarok commented on #279
@YMCA-GTC sounds like issues with nfs configuration in drupal-vm
We do not officially support drupal-vm, so priority shouldn't be high. But drupal-vm pretty famous development environment, so let's keep the issue opened.
I'm assigning it to myself for tracking reasons

@siadw could you please share more information about drupal-vm version and nfs config you are using. I'd like to know what host ma

[2017-09-20 16:55] podarok commented on #282
@YMCA-GTC no need to add to roadmap - OpenY Socrates was backported already https://github.com/ymcatwincities/openy/tree/8.x-1.x/modules/custom/openy_socrates

[2017-09-20 16:55] #282 closed, assigned to danylevskyi

[2017-09-20 16:59] podarok commented on #289
@Sanchiz great module to test with decouple CI scripts which are in progress

Added to decouple first milestone to track.

[2017-09-20 17:01] podarok commented on #289
@YMCA-GTC
user story
as a developer, I want to be able to use part of the OpenY enabled on currently existing site without issues with conflicts of configs. This is a blocker for YGTC/YMCA of Brandywine/YMCA of Greater Houston when they are not initially created as OpenY instances and by following lazy migration delivery team decided to go with per component enabling flow.

[2017-09-20 17:07] podarok commented on #289
@YMCA-GTC added to roadmap with Planning status

[2017-09-20 17:11] podarok commented on #404
Added to roadmap

[2017-09-20 17:34] podarok commented on #406
Work in progress.
Basically - we should get a full list of not yet ported Houston features and add them to the roadmap one per item with later prioritization.

[2017-09-20 17:39] podarok commented on #410
This was done already https://github.com/ymcatwincities/openy/tree/8.x-1.x/modules/custom/openy_svg_formatter
Closing

[2017-09-20 17:39] #410 closed, assigned to danylevskyi

[2017-09-20 17:41] podarok commented on #435
Yes

[2017-09-20 17:41] #435 closed, assigned to danylevskyi

[2017-09-21 10:27] podarok commented on #438
added

[2017-09-21 10:35] podarok commented on #444
Hi, all
At this point we shouldn't use glyphicons packed into OpenY distribution because it creates a lot of complexity and licensing issues.
Initial issue was created for adding style button, which already exists in YGTC codebase and also highly extended by adding bootstrap button https://www.drupal.org/project/ckeditor_bootstrap_buttons module in Dallas project.
So, the user story for OpenY shou

[2017-09-21 10:36] podarok commented on #444
Added to roadmap

[2017-09-21 10:47] podarok commented on #696
I don't think we can do anything in regards to keep our external dependencies up and running
Making mirror is an option, but there could be licensing issues.
I'd like to close this issue.
Feel free to reopen it in case if external dependencies are unstable. We may discuss to drop their support or to replace with more stable ones

[2017-09-21 10:47] #696 closed, assigned to nobody

[2017-09-21 10:49] podarok commented on #687
@ddrozdik I believe you had to run ```composer update``` to get all newly added vendors downloaded before using any module from a new OpenY release. Could you please confirm the issue exists or already fixed?

[2017-09-21 10:57] ddrozdik commented on #687
@podarok I had done `composer update` and then could see that issue. But as far as I know, that issue has been fixed already. I will check one more time in a couple of weeks when I will be doing next update.

[2017-09-21 11:13] podarok commented on #687
@ddrozdik thanks for the update
Looking forward to getting from you this is not anymore a bug

[2017-09-21 11:28] artemdotsenko opened #796 "Landing Page Template: wrong classes in attributes."
In `node--landing-page--full.html.twig` file in header area to attributes added `header_classes`
`<div{{ attributes.addClass(header_classes) }}>` [#L91](https://github.com/ymcatwincities/openy/blob/8.x-1.x/themes/openy_themes/openy_rose/templates/node/node--landing-page--full.html.twig#L91)
next in content area to attributes in addition to `header_classes` added `content_classes`
`<div{{ attribute

[2017-09-21 17:51] YMCA-GTC commented on #795
Correct - please see this for more information. http://openymca.org/sandbox-details

[2017-09-21 17:51] #795 closed, assigned to nobody

[2017-09-21 17:52] YMCA-GTC commented on #796
@Sanchiz @podarok Can I please get help determining the severity of this?

[2017-09-22 09:45] podarok commented on #796
@artemdotsenko
Good catch
Basically, we shouldn't merge classes walking from the top to the bottom of template
We should use https://www.drupal.org/node/2818293 create_attribute for every section of template to be merged with respective header_classes, content_classes, and sidebar_classes

Severity is pretty high, not critical though

[2017-09-22 09:53] podarok commented on #439
Added critical by accident. This is important, but definitely not critical

[2017-09-22 09:54] podarok commented on #412
This is critical because without improved openy_tour makes no sense to use tours in OpenY

[2017-09-22 09:56] podarok commented on #603
This is in progress on me. During backporting, we are going to change theming architecture for OpenY - from theme based to component based

[2017-09-22 10:14] podarok commented on #593
As you can see - this is Houston related issues where SOLR searching service is used.
So this bug should be fixed whether by Houston team prior to backporting openy_webform module to OpenY or after Solr search backported to OpenY - recheck if it still exists

[2017-09-22 12:17] podarok commented on #606
I've changed this from bug to experimental feature because a lot of things can be broken via html source code editing. In case of entity_embed I don't foresee any simple solution to avoid issues with wrapping by blocks, tags of HTML entities. I think WYSIWYG editor does a great job to eliminate manually entered mistake and adding additional checkers could overcomplicate editor and introduce unexpe

[2017-09-22 12:22] podarok commented on #461
This issue is a big deal. I guess we need to postpone it and work on drupal.org with the community to bring best practices into some tool, like ```PHP Sniffer``` for scanning missed best practices.
As you might recall we were doing a lot of issues for adding descriptions to fields in the past. Because usually, top-notch developers are too lazy to add descriptions which are - better UX.

I've remov

[2017-09-22 12:28] podarok commented on #595
Added ```Local video assets player component``` to roadmap

[2017-09-22 12:30] #693 closed, assigned to nobody

[2017-09-22 12:33] podarok commented on #597
It is already in the roadmap. Linked there

[2017-09-22 12:37] podarok commented on #573
Added to roadmap

[2017-09-22 12:39] podarok commented on #596
This was already added to the roadmap. Linked it back to the issue there

[2017-09-22 12:48] podarok commented on #602
Fixed in roadmap.
See ```Date Based Block Component``` there

[2017-09-22 13:00] podarok commented on #459
This depends on ```SOLR Program Search Integration``` item in the roadmap. Added link there.
Also added as dedicated ```OpenY Latest News``` in case if we decide to break SOLR dependency

[2017-09-22 13:01] podarok commented on #640
No, this is not yet in the roadmap.

[2017-09-22 13:04] podarok commented on #640
Added user story there

[2017-09-22 13:05] podarok commented on #567
This is mostly the CI approach for https://github.com/ymcatwincities/openy/issues/468 issue
I believe it is in progress by @Sanchiz, but we need to regroup to understand the effort to be done.

[2017-09-22 13:08] podarok commented on #467
I believe this is too early.
I'd like to get feedback from @atiupa about how it was done on YGTC
Also, I have a bit of information in my head
Basically - after making possible https://github.com/ymcatwincities/openy/issues/468 and https://github.com/ymcatwincities/openy/issues/567 the documentation will happen

[2017-09-27 14:05] YMCA-GTC opened #797 "Fonts.com no longer will allow links to a font hosted by fonts.com - The Cachet font must be self hosted moving forward"
I received the following note from Jim at Brandywine:

To make a long story short, fonts.com no longer allows new customers to use the CDN network and all fonts need to be self-hosted. This is a change in implementation but I'm not sure if it will impact new Open Y users or not. (Are people using another service?)

For now fonts.com has activated the legacy option for us but we have had trouble ge

[2017-09-28 19:28] jwtechdesign opened #798 "Demo Content throwing error during Installation"
When installing the distribution using Composer, everything seems to be working great right up to the demo content installation script.  The install script stops and throws the following error:

The result is a 404 on the home page of the newly installed site, most likely because the landing page is not created.  Let me know if I need to manually configure anything in Symfony prior to running the

[2017-09-29 04:35] jwtechdesign commented on #798
I believe I found a solution that may work for other devs that may run into this during installation... I had a feeling it may be due to out of date dependencies in Composer.  Just navigate to the root folder of the project where "composer.json" is found and run:

`composer update` to all dependencies to latest versions, or `composer outdated` if you want to see what may have updates.  This also a

[2017-10-04 10:32] fandm opened #801 "Image media entity thumbnail update issue."
Login as admin. Go to the page `/admin/content/media`. Edit some Image media entity and change the image. Save. After return to the page `/admin/content/media` you will see the old thumbnail.

[2017-10-04 23:59] ygerasimov opened #803 "Subtheme openy_rose has to copy/paste templates"
I've created subtheme of openy_rose theme.

Some templates from parent theme do not get executed because they are named with name of parent theme:
[code]
The workaround is of course simply copy these templates to your subtheme and name them properly (with the name of your subtheme). But it is kind of ugly as you do not modify them.

Let's avoid naming templates in openy themes with theme name in t

[2017-10-05 09:03] #718 closed, assigned to yasik78

[2017-10-05 14:58] ygerasimov opened #805 "Clean installation Notices Undefined index: include_images"
I got following notices after clean installation via UI.

[code]

Here is screenshot https://goo.gl/eC1XmN

I am on php 7.1.0

[2017-10-06 16:02] YMCA-GTC commented on #798
@Sanchiz FYI ^^^

[2017-10-06 16:03] YMCA-GTC commented on #805
@Sanchiz ^^^

[2017-10-06 16:04] YMCA-GTC commented on #803
@Sanchiz @podarok ^^^

[2017-10-09 10:50] podarok opened #807 "Integrate lndr.co landing pages builder into OpenY"
See http://lndr.co for details

[2017-10-09 11:04] alexschedrov commented on #807
@podarok see #782.

[2017-10-09 11:37] podarok commented on #807
heh
ok, great

[2017-10-09 11:37] #807 closed, assigned to xcf33

[2017-10-09 15:56] podarok opened #808 "Translation directory should exist when non English installation"
```mkdir docroot/sites/default/files/translations```

[2017-10-10 11:51] ddrozdik opened #810 "Update core to 8.4"
Drupal 8.4 has been released. It's time to update to this version.
Here is a changelog https://www.drupal.org/project/drupal/releases/8.4.0

[2017-10-10 11:53] ddrozdik opened #811 "Update Optimizely to 8.3"
The current version of the module is 1.2 and it is no longer supported.
Time to update to 8.3 https://www.drupal.org/project/optimizely

[2017-10-10 18:31] AlexNetman opened #813 "Join page: Issues in special cases"
**Scenario 1:** Empty Destination URL
Given I Create a membership type and haven't specified URL destanation
When I go to /join
And I select that membership type
And click Next
And I try to select that location which not have destination URL (West YMCA)
And click "Next"
Then I am not redirected to the next step
And Ajax error appear in console
But I should be able to go the the final step and see

[2017-10-10 18:37] AlexNetman commented on #813
We have faced similar issue on YGH
when some membership type has come from API with no location one of the section
and whole membership type has stopped working.

[2017-10-11 10:17] artemdotsenko opened #815 "Feature Request: implement Lazy Load for Gallery paragraph."
Currently all images for Gallery paragraph loading simultaneously on page load, which slows down page load speed if you have a lot of images.
Adding some Lazy Load functionality to load first images on page load and the rest by Ajax request should increase page performance, especially on mobile devices through 3G.

[2017-10-11 14:49] podarok commented on #803
@Sanchiz we should firewall this on review level

[2017-10-17 09:28] alexschedrov commented on #762
Merged in #788.

[2017-10-17 09:28] #762 closed, assigned to nobody

[2017-10-24 08:48] ddrozdik commented on #588
@YMCA-GTC and @podarok, FAQ paragraph looks so:
![faq-frontend](https://user-images.githubusercontent.com/6285570/31933177-0f7fc828-b8b1-11e7-9cc7-73951229f869.png)

And on the backend
![faq-backend](https://user-images.githubusercontent.com/6285570/31933224-336b71ce-b8b1-11e7-88ca-246c45af70ff.png)

[2017-10-24 11:52] dimb opened #824 "Unify view modes for paragraphs columns fields as full"
View modes for column fields in paragraphs types were set differently from each other.
1c - default, 2c -trimmed, 3c- full, 4c - trimmed.
It would be good to have them all in the full view mode.

[2017-10-24 12:38] dimb opened #826 "Any new custom paragraph comes without wrapper tag"
If you try to add new custom paragraph type it will be rendered without wrapper tag.

[2017-10-25 07:57] artemdotsenko opened #829 "Feature Request: Daxko API configurable limit argument."
All Daxko requests can have limit argument (e.g. https://dev.daxko.com/docs#Association@Association Branches). By default this value is equal to 100 and currently there is no way to change it other than to patch module from the platform. After facing with issue then limit=100 is not enough, proposing to make this argument configurable. Globally for all kinds of Daxko calls or per each call.

E.g.

[2017-10-25 09:08] alexschedrov commented on #752
Fixed in #770.

[2017-10-25 09:31] #750 closed, assigned to ivan-berezhnov

[2017-10-25 17:16] AlexNetman opened #830 "Category Listing Images are stretched"
http://ci.openymca.org/demo/accelerator
![image](https://user-images.githubusercontent.com/4558228/32012673-515502de-b9c1-11e7-877f-d05563319773.png)

http://ci.openymca.org/demo/programs/swimming
![image](https://user-images.githubusercontent.com/4558228/32012516-c3e718d8-b9c0-11e7-839f-254fc107f2df.png)

"height: auto" added manually on example

[2017-10-26 10:09] artemdotsenko opened #831 "Open Media Document tries to import not existing video configs."
https://github.com/ymcatwincities/openy/blob/8.1.5/modules/openy_features/openy_media/modules/openy_media_document/openy_media_document.install#L96

`openy_media_document_update_8003` looking for file `core.entity_view_display.media.video.default.yml` inside it's own config/install folder, where this file doesn't exists.

![file_not_exist](https://user-images.githubusercontent.com/4688363/32047508

[2017-10-26 10:19] artemdotsenko opened #833 "logger_entity table error on update Data too long for column 'name'."
During update from platform version 8.1.4 to 8.1.5 faced with next error:
[code]

Looks like length in 50 characters is not enough:
![logged_entity](https://user-images.githubusercontent.com/4688363/32047915-819b9526-ba15-11e7-8aab-7731f19c9c42.png)

[2017-10-26 12:14] Sanchiz commented on #831
There was open PR to fix this error https://github.com/ymcatwincities/openy/pull/578, but it was never finished.

[2017-10-26 12:48] artemdotsenko commented on #833
There was open PR to fix this error https://github.com/ymcatwincities/openy/pull/578

[2017-10-26 15:07] AlexMBlink opened #834 ""Hide Main Menu" functionality on Microsites Menu paragraph menu doesn't work at all"
Issue is replicated on YMCA of South Hampton Roads project

![image](https://user-images.githubusercontent.com/12295993/32060753-69de6554-ba78-11e7-8d9e-1ef61b42f63c.png)

[2017-10-27 08:40] #826 closed, assigned to nobody

[2017-10-27 08:44] #831 closed, assigned to nobody

[2017-11-07 10:33] Fant0m771 opened #843 "Fatal error: Class 'Drupal\\openy_session_instance\\Drupal' not found when traing to unpublish program_subcategory node"
Fatal error:  Class 'Drupal\\openy_session_instance\\Drupal' not found in /var/www/docroot/profiles/contrib/openy/modules/custom/openy_session_instance/src/SessionInstanceManager.php on line 438

[2017-11-07 10:49] Fant0m771 commented on #843
add pull with fix - https://github.com/ymcatwincities/openy/pull/844

[2017-11-08 12:38] alexschedrov commented on #833
Related to #838.

[2017-11-08 12:38] alexschedrov commented on #833
Fixed in #838.

[2017-11-08 12:38] #833 closed, assigned to nobody

[2017-11-08 12:51] alexschedrov opened #846 "Breadcrumbs component"
https://www.drupal.org/project/easy_breadcrumb module is a great tool to generate bradcrumbs.

We should intall and configure it. In addition each CT should have an ability show/hide breadcrumbs if necessary. We can leverage same approach as we are using for Social Share Icons.

1. Install and configure module
2. Create Paragraph that will render breaadcrumbs
3. Each CT should have global settings

[2017-11-09 08:41] AlexNetman commented on #752
**Comment with Minor staff that we are not going to fix this time:**
Thumbnail on blog node is not aligned on the right as displayed in ticket description.
![image](https://user-images.githubusercontent.com/4558228/32595165-d0496704-c53f-11e7-8e83-dd29279902e2.png)
But that's making consistent behavior with other fields. And save spacing. For example in Slideshow paragraph when multiple images upl

[2017-11-09 08:54] AlexNetman commented on #752
*Nice to fix* this "Simple Block" which is only one that has no thumbnail
![image](https://user-images.githubusercontent.com/4558228/32596025-f67801bc-c542-11e7-9050-50948a502bd1.png)

[2017-11-14 08:12] Fant0m771 opened #856 "Add possibility to import redirects."
Often customer send to us request to create a hundred redirects from his old site to new one. It will be great if we have possibility import redirect which was provided by customer.
Attached as example piece of code which I used for import redirects.

`use Drupal\redirect\Entity\Redirect;
use Drupal\Core\Url;

$redirects_from = ["about-us/our-financials/annual-report"];
$redirects_to = ["/leadersh

[2017-11-14 08:20] fandm commented on #856
Good idea. I also propose to store the pairs `redirect_from: redirect_to` in the `.yml` file as we did on YMCA Long Island project.

[2017-11-14 09:49] fandm opened #857 "Image is not visible in WYSIWYG"
1. Open any node with Content field.
2. Add image. The image is not visible in WYSIWYG.
![1wusl](https://user-images.githubusercontent.com/4036323/32773416-c97dac14-c931-11e7-9d73-fa80fb77a5d9.png)

[2017-11-14 15:21] artemdotsenko commented on #857
Quick temporary solution/workaround to change view mode from Blazy to Image for image media "Full" and "Half" view modes.

[2017-11-14 15:30] fandm commented on #857
@artemdotsenko Yes, that's true. But in this case you will not have Blazy functionality for the image for which you applied the view mode Image instead Blazy in the node view mode. If it's ok, sure you can use this temporary solution.

[2017-11-15 09:13] podarok commented on #588
@ddrozdik could you add my account as read-only to ymcali github repo?
I'd like to see the code to get more precise roadmap ranking

[2017-11-15 10:35] ddrozdik commented on #588
@podarok I've sent you an invite.

[2017-11-15 11:57] podarok commented on #588
Component looks pretty simple to be added to OpenY
See https://trello.com/c/g3SsyK4t/96-faq-component-from-ymcali-score-9 in roadmap
@YMCA-GTC

[2017-11-21 13:44] #857 closed, assigned to fandm

[2017-11-21 13:58] AlexNetman opened #865 "Dropdowns are having Double arrows in Firefox"
All Examples are in FIREFOX

Example URL: http://ci.openymca.org/demo/schedules?location=3
![image](https://user-images.githubusercontent.com/4558228/33075726-8161cd0c-cedb-11e7-8bc2-005b5d14bfb1.png)

Example of working fine dropdowns:   /blog
![image](https://user-images.githubusercontent.com/4558228/33075944-3513ea9c-cedc-11e7-83a5-b6d5ca246910.png)

Other pages has different styles for dropdow

[2017-11-21 14:02] AlexNetman commented on #830
Fixed.

[2017-11-21 14:02] #830 closed, assigned to nobody

[2017-11-21 14:04] AlexNetman commented on #596
Fixed.

[2017-11-21 14:04] #596 closed, assigned to anprok

[2017-11-21 14:18] AlexNetman commented on #739
Fixed.

[2017-11-21 14:18] #739 closed, assigned to nobody

[2017-11-21 14:24] AlexNetman commented on #791
Not reproduced anymore. May be was fixed with something else.

[2017-11-21 14:24] #791 closed, assigned to nobody

[2017-11-22 14:57] david-hernandez commented on #758
I agree with Andrii here. But for investigation sake, can you provide an example of the tags you are seeing and how many?

[2017-11-24 14:38] AlexNetman commented on #811
Updated in latest dev.
https://github.com/ymcatwincities/openy/pull/871

[2017-11-24 14:38] #811 closed, assigned to nobody

[2017-11-25 06:12] ivan-berezhnov commented on #865
@AlexNetman  I checked on my laptop and with browserstack
All show correct.

![dashboard 2017-11-25 08-08-24](https://user-images.githubusercontent.com/10132087/33227978-660fd9ba-d1b8-11e7-94af-4ab9f107d8db.png)

[2017-11-29 17:20] AlexNetman opened #880 "Finalize setup of permissions for roles: Contributor and Editor"
We have Editor and Contributor roles in the distributive, but workflow is not setup for them perfectly.
Example:
Create a new user with Editor Role
Login as Editor
Go to admin/content?type=blog
See that you have no access to edit existing blogs

**Expected:**
Editor should be able to edit all blog posts, (he can edit landing pages)
Contributor should be able to propose changes for content (create

[2017-11-30 10:47] Fant0m771 opened #881 "Alert set cookie issue"
Alert set cookie issue for site path like /program/{some-alias}, /program/test/{some-alias}, cookies works relative for page arguments. If cookie has been set on page like {site}/program/{path-alias} it will not work for path like {site}/{path-alias}. Need specify 'path' in cookies set functionality to '/' .
To avoid multiple cookies like - https://monosnap.com/file/ZrxtRC1eNF2L8dVCusyjS4UtSX2mo7#

[2017-11-30 15:04] alexschedrov opened #883 "Update openy_media feature to Drupal Core API starting from 8.4.0"
Once Media Entity module provides upgrade path to Drupal Core 8.4, let's update our feature openy_media to use core API instead of contrib module.

Read project description for more information https://www.drupal.org/project/media_entity about upgrade path.

[2017-12-02 13:54] ppbot opened #887 "Updating favicon doesn't work in openy_rose theme"
Found by Jeff

[2017-12-04 09:58] podarok commented on #887
It works on sandbox, so looks like the bug in instance, not in OpenY

[2017-12-04 09:58] #887 closed, assigned to nobody

[2017-12-05 09:26] #752 closed, assigned to ivan-berezhnov

[2017-12-05 12:04] ddrozdik opened #889 "[Backport YLI] Migrate openy_lily theme to open Y"
YMCA of Long Island developed a new theme openy_lily that should be backported to Open Y as an independent theme.

[2017-12-11 08:12] alexschedrov opened #895 "Submenu without 3rd level"
- Go to /admin/structure/menu/manage/main
- Add a few sub menu items for "Schedules" and make in "Show as expanded"

We have a lot of extra space below items. Please remove it.

![image](https://user-images.githubusercontent.com/1316234/33821217-baa73608-de5b-11e7-922b-9c4e7523a37a.png)

[2017-12-11 08:13] alexschedrov opened #896 "Class page "Edit" link styles"
On class page:
- Filtered by location http://ci.openymca.org/demo/programs/swimming/swim-lessons/swim-lessons-teen/swim-lessons-teen-advanced?location=1&session=207
- Not filtered by location http://ci.openymca.org/demo/programs/swimming/swim-lessons/swim-lessons-teen/swim-lessons-teen-advanced?location=all

Please make sure that "Edit" button has the same styles as [on Seattle|https://www.seattle

[2017-12-11 08:14] alexschedrov opened #897 "Make outline solid on Windows Chrome"
Outline is hardly visible in some places when using Windows Chrome
Please *make outline solid in Chrome*  (or may be dotted will be asked by Accessibility testing team)
![image](https://user-images.githubusercontent.com/1316234/33821296-ff345422-de5b-11e7-9ebc-3051add9d85d.png)

Other browsers are seem to be fine:
MacOS Chrome has those borders solid enough already.
Firefox has them solid.
IE 11 h

[2017-12-11 08:15] alexschedrov opened #898 "Groupex Schedules: "Add to calendar" icon-link is not announced"
Example URL: http://ci.openymca.org/demo/schedules/group-schedules?location=202

Given I have VoiceOver enabled
When I follow to the icon
Screen reader just say "Link"
But should say "Add to calendar, Link"

Anyway I click on that link  -  nothing happening
I can't hear or get into that popup with options

![image](https://user-images.githubusercontent.com/1316234/33821368-3b77f0b0-de5c-11e7-98fd-

[2017-12-11 08:19] alexschedrov opened #899 "Upgrade path bettween 2 or more versions"
In order to prevent probme during updates between more than 2 versions(e.g. from 1.1 to 1.5), we need to setup additional environment, that will perform updates from 1.0 to current master.

In case if update on this environment has been failed, we have to fix it.

[2017-12-11 08:20] alexschedrov opened #900 "Sandbox rebuilding friendly message"
When http://sandbox.openymca.org is in the process of rebuilding, would be great to display friendly message that site will be up and running soon.

We can place `index.html` in the sandbox folder and remove it once build is finished.

[2017-12-11 08:21] alexschedrov opened #901 "Code sniffers on builds"
It seems that code sniffers are no longer works on CI builds. We need to research and fix the issue.

[2017-12-15 12:41] rahulm231 opened #904 "How to update OpenY drupal distribution from 8.3.2 to 8.4.3"
Hello All,

I want to update openy drupal distribution from 8.3.2 to newer version of drupal core. Please suggest how to do that. please help.....
Thanks..

[2017-12-20 15:40] #753 closed, assigned to nobody

[2017-12-28 13:38] #683 closed, assigned to anprok

[2017-12-28 14:00] #895 closed, assigned to anprok

[2018-01-03 16:30] YMCA-GTC commented on #776
Hi Alex - can we please get a bit more info on what you mean by "good"? Thank you!

[2018-01-03 16:31] podarok commented on #686
@ddrozdik As far as I remember you managed to fix this issue. Please confirm we can close it

[2018-01-03 16:32] YMCA-GTC commented on #904
Assigned to @podarok to provide some documentation, or links to documentation. Once documentation has been added we can close this ticket (but leave it in the history as a reference for others)

[2018-01-03 16:34] YMCA-GTC commented on #898
Nice find, Alex! I'm actually going to change the type from Enhancement to bug.

[2018-01-03 16:37] podarok commented on #190
Confirmed
```Uncaught PHP Exception InvalidArgumentException: "The URI 'tel:12345' is invalid. You must use a valid URI scheme." at /var/lib/jenkins/jobs/SANDBOX_FAST/workspace/build/docroot/core/lib/Drupal/Core/Url.php line 281, referer: http://sandbox.openymca.org/node/add/branch```

[2018-01-03 16:38] YMCA-GTC commented on #900
Agree. Added to roadmap.

[2018-01-03 16:42] YMCA-GTC commented on #899
Agree - added to roadmap

[2018-01-03 16:54] podarok commented on #208
Latest front page
[code]

[2018-01-03 16:57] podarok commented on #216
Fixed on latest OpenY version
![image](https://user-images.githubusercontent.com/563412/34530465-ee8ec404-f0b7-11e7-8a2d-f1df08049467.png)

[2018-01-03 16:57] #216 closed, assigned to ygerasimov

[2018-01-03 16:58] #265 closed, assigned to danylevskyi

[2018-01-03 17:00] podarok commented on #316
This is not related to OpenY
This is related to partial instability of xip.io service
Please add host to /etc/hosts file to get it stable, as described in CIBox docs

[2018-01-03 17:00] #316 closed, assigned to nobody

[2018-01-03 17:01] podarok commented on #334
This is already fixed

[2018-01-03 17:01] #334 closed, assigned to nobody

[2018-01-03 17:06] podarok commented on #375
This is a GroupEx PRO issue @YMCA-GTC
Not related to OpenY - we just embed their HTML

[2018-01-03 17:07] #375 closed, assigned to nobody

[2018-01-03 17:09] podarok commented on #376
![image](https://user-images.githubusercontent.com/563412/34531035-9b0dff28-f0b9-11e7-9c8f-7b83b6bb05b1.png)
FIxed in latest version

[2018-01-03 17:09] #376 closed, assigned to nobody

[2018-01-03 17:13] podarok commented on #377
This is already fixed

[2018-01-03 17:13] #377 closed, assigned to nobody

[2018-01-03 17:21] podarok commented on #388
@YMCA-GTC
User story -
Update simple_menu_icons module to version 8.x-2.0 to fix menu icons caching bugs

[2018-01-04 09:28] podarok commented on #389
Let me add my 2 kopecks
I guess as a distribution we should keep everything enabled by default for the sake of accessibility
But I agree we should add some sort of documentation - user and developer levels - to help instances to find out how to limit the number of paragraphs per reference field.

So I would start from creating tour to help site builders understand how to limit list
For the develop

[2018-01-04 09:30] podarok commented on #404
This module should be kept as disabled for security reasons.

[2018-01-04 09:48] podarok commented on #412
This is done

[2018-01-04 09:48] #412 closed, assigned to danylevskyi

[2018-01-04 09:58] podarok commented on #423
So
Basically, this is a first time when socrates created an issue, and I'm happy!!!
Sooo
Socrates gives us almost absolute freedom to create/use/introduce method whenever we want, because at a time of development we have to be aware we can break somebody else's work when creating it in "right" place.
But when the job is done - there is a refactoring needed to make a world a bit better place.
And I

[2018-01-04 09:59] podarok commented on #427
This intended to be a WYSIWYG button

[2018-01-04 10:00] podarok commented on #436
I believe this is fixed, just need to doublecheck

[2018-01-04 10:02] podarok commented on #437
@YMCA-GTC I've updated the description a little bit
This should land as a documentation. And we have to test this approach on one of the sprints.

[2018-01-04 10:16] podarok commented on #460
This was done

[2018-01-04 10:16] #460 closed, assigned to nobody

[2018-01-04 10:24] podarok commented on #468
@YMCA-GTC
As a OpenY core team developer, I want to be able to get protected by automated tests showing dependencies for all modules in OpenY build. This will help me to build decoupled features and make OpenY easy to be adopted

[2018-01-04 10:30] podarok commented on #498
Please reach us with information from above comment in case if the issue is still active

[2018-01-04 10:30] #498 closed, assigned to nobody

[2018-01-04 10:32] podarok commented on #567
Oh. This is CIBox issue
No need to keep it here.

[2018-01-04 10:32] #567 closed, assigned to nobody

[2018-01-04 10:33] #582 closed, assigned to nobody

[2018-01-04 10:37] podarok commented on #593
Closing this for now

[2018-01-04 10:37] #593 closed, assigned to nobody

[2018-01-04 10:41] podarok commented on #602
This is done

[2018-01-04 10:41] #602 closed, assigned to nobody

[2018-01-04 10:45] podarok commented on #635
Please reopen if this is still an issue

[2018-01-04 10:45] #635 closed, assigned to ddrozdik

[2018-01-04 11:27] podarok commented on #717
This is done

[2018-01-04 11:27] #717 closed, assigned to ivan-berezhnov

[2018-01-04 11:29] podarok commented on #742
This is a duplicate of #757

[2018-01-04 11:29] #742 closed, assigned to nobody

[2018-01-04 11:30] podarok commented on #758
This is closed. Reopen if you have any concerns yet

[2018-01-04 11:30] #758 closed, assigned to nobody

[2018-01-04 11:40] podarok commented on #793
Still there
![image](https://user-images.githubusercontent.com/563412/34561927-c7f0a324-f154-11e7-9fa7-3d712e466821.png)

[2018-01-04 11:42] podarok commented on #798
This is more like Docs. Closing for now

[2018-01-04 11:42] #798 closed, assigned to nobody

[2018-01-04 11:49] podarok commented on #810
Done https://github.com/ymcatwincities/openy/blob/8.x-1.x/composer.json#L166

[2018-01-04 11:49] #810 closed, assigned to nobody

[2018-01-04 11:50] podarok commented on #815
This was done in recent release

[2018-01-04 11:50] #815 closed, assigned to nobody

[2018-01-04 11:53] podarok commented on #824
@dimb could you please share more information and add a bit of context?

[2018-01-04 11:55] #843 closed, assigned to nobody

[2018-01-04 11:57] podarok commented on #856
We've made this for Dallas and, If I recall it right - for YGTC
Related to https://github.com/ymcatwincities/openy/issues/438

[2018-01-04 12:09] podarok commented on #897
You are perfection nazi, my friend )))) @Sanchiz

[2018-01-04 12:11] podarok commented on #900
Well
We just need to change the way sandbox is created - build should happen in background and when it is ready - replace the current one. So this is 100% availability approach instead of showing boring "Under construction"

[2018-01-04 20:32] YMCA-GTC commented on #379
Added to Open Y trello roadmap

[2018-01-04 20:35] YMCA-GTC commented on #388
Let's address this as part of the technical debt that we take on with each release. I'll change the type to bug.

[2018-01-04 20:36] YMCA-GTC commented on #404
Agreed with @podarok on Jan 4, 2018

[2018-01-04 20:37] YMCA-GTC commented on #406
Given org changes and the hurricane last year it may be a few months before we get a list of not-yet-ported features from Houston to integrate into Open Y, unless anyone reading this can supply a list here.

[2018-01-04 20:40] YMCA-GTC commented on #411
I'm not clear on what Emma is - we need more information on this to understand impact and add to the roadmap.

[2018-01-04 20:49] YMCA-GTC commented on #419
Good catch - added to roadmap

[2018-01-04 20:50] YMCA-GTC commented on #423
@podarok @ddrozdik Let me know when you have reached a consensus so we can add any relevant items to the roadmap associated with this. Thanks!

[2018-01-04 20:50] YMCA-GTC commented on #424
In roadmap

[2018-01-04 21:10] YMCA-GTC commented on #437
@podarok Makes sense to me, thank you!

[2018-01-04 21:11] YMCA-GTC commented on #438
Closing this one as it was specific to a single proprietary CMS used by two Y associations that have already migrated to Open Y. In the future, we should look at a 'site migration' module to easily migrate content into Open Y from other CMS systems such as Word Press.

[2018-01-04 21:11] YMCA-GTC commented on #439
@podarok Sounds good - thank you - added to roadmap.

[2018-01-04 21:22] YMCA-GTC commented on #472
Added to roadmap

[2018-01-04 21:27] YMCA-GTC commented on #588
Thanks guys - it's in the roadmap!

[2018-01-04 21:29] YMCA-GTC commented on #599
In roadmap - thanks!

[2018-01-04 21:30] YMCA-GTC commented on #606
Closing per @podarok 's feedback above given the workaround we now have.

[2018-01-04 21:30] #606 closed, assigned to ymcagtc

[2018-01-04 21:30] YMCA-GTC commented on #636
Added to roadmap

[2018-01-05 11:18] ivan-berezhnov commented on #636
Hi, @podarok could you please clarify next:
the component should be for a specific content type with fields contact info field and etc...
or the component like a reference to the same node?

[2018-01-08 06:08] rahulm231 commented on #498
Thanks. Sorry for late reply.
Resolved issue..

[2018-01-09 10:06] fandm opened #911 "Filters not being applied when the user uses the back button to the sub cat page from a class page."
Filters not being applied when the user uses the back button to the sub cat page from a class page.
![1bug6-2018-01-09-11-48-01](https://user-images.githubusercontent.com/4036323/34715834-a1ef1652-f536-11e7-8638-bc7ecc124d18.gif)

[2018-01-10 12:16] podarok commented on #411
@YMCA-GTC https://myemma.com/
It is an email marketing platform

[2018-01-10 12:19] podarok commented on #406
@YMCA-GTC
As per our agreement with Houston I have an access to their codebase so will do provide a full list. Added to my todo items

[2018-01-10 12:22] podarok commented on #636
@ivan-berezhnov the way it was developed for Dallas - if I recall it right, - this is a component(custom paragraph) which displays fields from Content Type in a specific region, where the component was added.

[2018-01-10 12:23] podarok commented on #498
@rahulm231 thanks
For the sake of consistency, in case if it is possible, could you share an information how it was resolved?

[2018-01-10 12:53] ddrozdik opened #913 "Unpublished content is still visible to users"
We created a new three Program -> Program Subcategories -> Activities -> Classes -> Sessions

Some of the Program Subcategories and Classes we unpublished, but they are still visible on the site for everyone.

[2018-01-10 13:00] ddrozdik commented on #846
**Note:**
Using easy_breadcrumb there is an issue with breadcrumbs on the `Class Times` page. For example URL to the `Class Times` page looks so:
`/programs/health-fitness/weight-loss/lose-weight-feel-great/class-times`
where the part `/lose-weight-feel-great/`is activity which does not have own page.
This part should be removed from breadcrumbs on the `Class Times` pages.

[2018-01-11 16:17] alexschedrov opened #914 "Multiple submissions of the same form on double-clicking "Select entities""
See https://www.drupal.org/project/dropzonejs/issues/2833965#comment-12415711 for reference.

[2018-01-12 18:20] #896 closed, assigned to anprok

[2018-01-14 15:01] ddrozdik commented on #492
this issue has been fixed already.

[2018-01-14 15:01] #492 closed, assigned to nobody

[2018-01-15 15:31] david-hernandez commented on #913
This looks to be an issue with the VERF module not the view itself. It does not do any kind of access check, which seems to be a known issue, and has not been fixed. The module seems to be abandoned. We'll need to probably patch it.

[2018-01-15 15:32] david-hernandez commented on #913
In the previous comment I'm specifically talking about the category still appearing in the exposed filter of the program search.

[2018-01-16 14:57] ddrozdik opened #918 "Support fonts with licences"
Currently, Open Y has a form to upload Cachet font in the only one format ttf, using the admin interface. But for a better support of all possible browsers, it's recommended to upload other formats as well.

Also, we faced a problem that Open Y Lily theme requires a set of Cachet fonts, that should be added outside of the theme to avoid hacking theme. Currently, there is no way to do this.

I sugg

[2018-01-16 15:49] alexschedrov opened #919 "Improved menu administration performance"
Whenever we create/edit menu item, `simple_menu_icons` module clears Drupal cache. Patch that was submitted to drupal.org allows to improved this experience https://www.drupal.org/project/simple_menu_icons/issues/2937058#comment-12423081.

[2018-01-22 19:09] AlexNetman commented on #919
Fixed. Tested.

[2018-01-22 19:09] #919 closed, assigned to anprok

[2018-01-23 15:54] AlexNetman opened #929 "Location finder: Dropdown styles inconsistency"
/locations vs /schedules/group-schedules?location=202&filter_date=1/23/18
![image](https://user-images.githubusercontent.com/4558228/35285259-eea8a5e8-006d-11e8-825b-9b14dd3ce826.png)

Add needed classes for location finder to make a dropdown look like this:
![image](https://user-images.githubusercontent.com/4558228/35285537-b330e3e4-006e-11e8-980e-2ebc73554606.png)

As I checked adding `class="fo

[2018-01-23 16:54] #929 closed, assigned to nobody

[2018-01-24 18:10] AlexNetman commented on #457
Fixed. And related css code refactored.

[2018-01-24 18:10] #457 closed, assigned to anprok

[2018-01-25 23:17] AlexNetman opened #931 "Adjust font sizes and refactor related styles"
1) Theme code Refactoring: remove usage of `px` and replace with `%`

base font for paragraphs should be specified in `pt` not in `px`. Because `pt` is resulting into inches. While `px` in pixels. So `pt` should be showing more correct on range of devices.
Second that - other element (titles, menu items)  would better have font size in  `em` or in `%`

2) Need to find base font size with maximum r

[2018-01-30 12:12] podarok opened #934 "Apply core patch for performance"
When there is a number of content blocks in database any Drupal 8 site performance is affected because of core bug
Backport https://github.com/propeoplemd/ymca/commit/ee49d732befa3369e2558b96a8e7a3e7bcfd9ff1 from YGTC site at a time when drupal.org issue created

[2018-02-02 11:32] ddrozdik commented on #881
this issue has been fixed.

[2018-02-02 11:32] #881 closed, assigned to nobody

[2018-02-02 11:44] anprok commented on #846
I don't think we need to add that checkbox with settings to toggle breadcrumbs render when using breadcrumbs paragraph. Just remove breadcrumbs paragraph to disable breadcrumbs on appropriate page

[2018-02-05 10:34] AlexNetman commented on #913
Now unpublished nodes are not present in the list of filters. But as we discussed we need to adjust process of changing node status, to unpublish all nodes(program subcategories/activities/classes/sessions) associated with the unpublished parent.

[2018-02-05 14:46] ddrozdik commented on #415
news content type has been added as an experimental content type.

[2018-02-05 14:46] #415 closed, assigned to dimb, ddrozdik

[2018-02-07 16:51] ddrozdik commented on #680
this issue has been fixed already.

[2018-02-07 16:51] #680 closed, assigned to nobody

[2018-02-07 20:55] YMCA-GTC opened #947 "Unable to 'close' or 'dismiss' the top alert site banner"
Steps to reproduce: Open Y v1.7

Edge or Chrome - Win 10

1. Go to http://sandbox.openymca.org
2. See the top yellow banner that says Open Y distribution.
3. Click on the "X" to close the banner - note it does NOT close
4. Scroll down to the bottom alert banner in light blue - click on the "X" to close this banner - note that the bottom banner DOES close.

Thus this is something specific to the to

[2018-02-08 13:21] AlexNetman commented on #947
That was fixed in https://github.com/ymcatwincities/openy/pull/940

Fix will be included into nearest release.

[2018-02-08 13:21] #947 closed, assigned to nobody

[2018-02-08 13:51] AlexNetman opened #948 "Unknown errors preventing page save"
There are some usual content errors that are blocking page save.
Need to adjust system to prevent those errors:

1) Landing page: Make field "Layout" set to One Column by default.
![image](https://user-images.githubusercontent.com/4558228/35975256-21fa56e0-0ced-11e8-8425-926b8ffed2b6.png)

2) Node add blog :  Make field "Locations" not required.
![image](https://user-images.githubusercontent.com/4

[2018-02-09 13:14] ddrozdik commented on #595
The original idea is good, but I suggest to avoid creating new paragraphs and instead follow the way we do for images and links to videos. Currently, a content editor can add an image or video using the icon in the WYSIWYG and we do not have independent paragraphs for these things.
I believe it would be better to add an icon to WYSIWYG that will work in the same way like images and links to videos

[2018-02-09 13:34] podarok commented on #595
Confirmed. Let's avoid an additional paragraph in this case. A self-video hosting feature is mostly for backward compatibility in terms of Y, not widely requested. So the more consistent it is, the less confusion and complexity we are creating for end users

[2018-02-10 00:20] AlexNetman opened #950 "Image in Banner is cut in unexpected manner"
Image is cut in unexpected manner.

![image](https://user-images.githubusercontent.com/4558228/36375973-7da1652c-1582-11e8-9e45-dfc304bfa187.png)

**Suggestions:** Probably we would better make height of text area fixed. And restrict number of chars in banner title and description.
Another issue is that now image is resized to wide desktop while text block stay with fixed width. Let's make reverse

[2018-02-12 14:39] kolesnikoff commented on #898
Hi @Sanchiz,

I tried to reproduce this issue on the latest code base using ChromeVox plugin and the link was announced as expected: [https://youtu.be/1Dqvxgacs40](https://youtu.be/1Dqvxgacs40).

What screen reader do you use?

[2018-02-12 15:15] kolesnikoff commented on #834
Hi @AlexMBlink,

I tried to reproduce the issue on a clear OpenY set up with the latest codebase and everything was working as expected: [https://youtu.be/bEUxscZaXcI](https://youtu.be/bEUxscZaXcI).

Could you help with reproducing this issue?

[2018-02-12 15:20] kolesnikoff commented on #801
Hi @YMCA-GTC
Looks like @fandm has already fixed this issue.
Can you close the ticket?

[2018-02-12 15:26] Fant0m771 commented on #834
Hi @kolesnikoff try to add it for another content type and or another content zone not 'Header content'.

[2018-02-12 15:40] kolesnikoff commented on #834
Hi @Fant0m771,
Thank you for the clarification.

It won't work on any other content type, except "landing_page", because this type is hardcoded into openy_rose_preprocess_html().

Can you specify the requirements for this functionality? How was it assumed to work?

[2018-02-14 13:07] AlexNetman commented on #595
Video Paragraph was ported. And modified into WYSIWYG button.
![image](https://user-images.githubusercontent.com/4558228/36205823-214c25da-11a1-11e8-9245-e27e237e64a3.png)

[2018-02-14 13:07] #595 closed, assigned to anprok

[2018-02-14 20:14] anprok commented on #846
PR merged. Issue can be closed

[2018-02-14 20:14] #846 closed, assigned to anprok

[2018-02-14 21:07] mattshoaf opened #952 "PHP Notice: Undefined offset on every page load"
I'm seeing the following notice in watchdog on every page load, I haven't been able to track it down and can't find another issue opened that addresses it.
`Undefined offset: 1 in Drupal\Core\Render\HtmlResponseAttachmentsProcessor->processHtmlHead() `
It is 18 deep with lots of references to Symphony HttpFoundation, I can post the whole thing if needed, but I figured everybody is seeing it as wel

[2018-02-15 18:38] ddrozdik commented on #952
Fix for this issue is ready, @mattshoaf join to test

[2018-02-16 20:46] mattshoaf opened #955 "Active Communities API Integration"
I know that integration with Active Communities API has been discussed within the Y community. I'm working with Kansas City and we should be getting API access soon now that Active has officially released the new API. Has anybody with Beta access to the API made any progress, or should I assume I'm starting from scratch?

[2018-02-21 14:06] AlexNetman commented on #952
Tested.

[2018-02-21 14:06] #952 closed, assigned to nobody

[2018-02-21 14:17] AlexNetman opened #957 "PHP notices: Location Group schedules"
Notices on Location page from Groupex Schedules paragraph
http://ci.openymca.org/demo/locations/west-ymca

![image](https://user-images.githubusercontent.com/4558228/36484473-777327b8-172a-11e8-8dd3-e6abea188002.png)

`Notice: Undefined index: date in Drupal\openy_group_schedules\Form\GroupexFormFull->buildResults() (line 533 of openyprofile/modules/custom/openy_group_schedules/src/Form/GroupexFor

[2018-02-22 10:50] AlexNetman commented on #957
Tested.

[2018-02-22 10:50] #957 closed, assigned to anprok

[2018-02-22 14:08] #911 closed, assigned to nobody

[2018-02-22 14:10] #801 closed, assigned to nobody

[2018-02-22 14:14] #824 closed, assigned to nobody

[2018-02-22 15:14] AlexNetman commented on #898
I have rechecked - now link is announced well.
But I am not able to select items there.
When I press Сtrl+Option+Space  then Calendar file is not downloaded, and I'm not redirected to service
![image](https://user-images.githubusercontent.com/4558228/36546252-00e2342c-17fc-11e8-8560-3ce9aef3273b.png)

[2018-02-23 08:10] podarok commented on #834
@kolesnikoff
When Hide Main Menu is checked - you should get no Main Menu on a node where the option exists
![image](https://user-images.githubusercontent.com/563412/36584272-b3acc506-1881-11e8-9f38-de0050bb8eb7.png)
This is needed for the ability to create fully customized pages

[2018-02-23 08:15] podarok commented on #865
![image](https://user-images.githubusercontent.com/563412/36584460-6db7d4b8-1882-11e8-9b04-377570a27d13.png)

[2018-02-23 08:15] #865 closed, assigned to kolesnikoff

[2018-02-23 09:14] kolesnikoff commented on #834
@podarok, the current functionality works for Landing pages only.
Could you confirm, that I should remove this condition and make it available for any page?

[2018-02-23 09:28] podarok commented on #834
Yes @kolesnikoff if the option available for other CTs, we need to ensure it is functional everywhere

[2018-02-23 11:39] AlexNetman opened #964 "Lily theme issues"
Given I switched to Lily Theme
Then I see following issues:

1) Homepage banner is not properly aligned on ipad landscape.
Also button "Find Y" should be aligned with title. [image](https://user-images.githubusercontent.com/4558228/36592454-ebfb0c0e-18a6-11e8-9e74-0e55239ea23b.png)
2) Homepage section  "What's happening at the Y?"  one of the blog posts is having just one arrow wrapped to the next

[2018-02-23 17:32] AlexNetman opened #969 "Fix Lily Theme to be compliant with Behat tests"
Following tests are failing
![image](https://user-images.githubusercontent.com/4558228/36607709-781753e2-18d8-11e8-8274-aa70e4e6105f.png)

1) Breadcrumbs- add class so that ".breadcrumbs" work again.
2) Image on blog should work with selector ".field-blog-image .field-media-image img"
3) The text "Save as preferred branch"  is missing on branch. Add that feature.
4) Scenario: I see appropriate ses

[2018-02-25 16:12] kolesnikoff commented on #948
@ddrozdik an issue with a missed title for the Latest Blog posts is fixed into #972.
But should I fix issues 1 and 2? Seems like everything works as expected.

[2018-02-25 22:48] AlexNetman commented on #948
@kolesnikoff  I guess you meant that 1,2 are related to demo content?
No, they are for new pages when user creates them.
1) /node/add/landing_page    - make life easier and set a default value
2) /node/add/blog_post     - assiciation with location should not be required

[2018-02-26 09:44] ciboxbot opened #973 "Add contrib to OpenY core"
https://www.drupal.org/project/paragraphs_type_help

[2018-02-26 21:15] YMCA-GTC commented on #969
I'd like to see us resolve these by the next release, please. I also have found a few other issues I'll post in a separate ticket.

[2018-02-26 21:16] YMCA-GTC commented on #964
In addition to these, the header image is obscured on mobile.
![image](https://user-images.githubusercontent.com/17653329/36695836-0b2e6f68-1b08-11e8-9493-d8331a01f8d7.png)

[2018-02-26 21:17] YMCA-GTC commented on #964
These should be addressed with the next release.

[2018-02-26 21:18] YMCA-GTC commented on #955
@podarok Please respond to this one when you have a moment. Thanks!

[2018-02-28 12:23] podarok opened #974 "Ensure we have no errors about basic_html filter doesn't exist after OpenY install"
There are 3 errors after admin logged into freshly installed OpenY (8.1.8+)
![image](https://user-images.githubusercontent.com/563412/36787402-b66d4724-1c92-11e8-8f2c-370d1f317305.png)

We have to ensure we are not getting these errors.
I believe this is pretty complicated to find, we just need to keep it in our backlog and work when a time is right (Light Core is in higher priority)

[2018-03-02 13:15] podarok commented on #955
@mattshoaf Hi
Thanks for being part of OpenY community
There are 3 options for you
1 - we have YMCA of Greater Seattle and YMCA of Brandywine who are working with Active Net
There is some work already happening in terms of getting access to Beta.
2 - @ygerasimov from ImageX agency is working on CRM integrations MVP for OpenY after Daxko was merged into core. You can ask him about any progress to m

[2018-03-02 15:31] AlexNetman opened #979 "Sandbox builds are failing after update to 1.9"
There is an error during update to Drupal 8.45 on Sandbox.
![image](https://user-images.githubusercontent.com/4558228/36906771-dae7fc82-1e47-11e8-88af-a873e9805bcf.png)

[code]

[2018-03-02 15:34] AlexNetman commented on #979
I have turned off rebuild-loop for now. Cause it's attempting to restart every 2mins.

[2018-03-02 16:02] mattshoaf commented on #955
Thanks for the info, sounds like with 1 they're in the preliminary stages as well, and with 2 I don't think we're going to need any CRM integrations at this time, but that's very interesting and I'll ask if they have something they're using one that I just don't know about.

I took a look at the Daxko module, looks clean so I plan on using that as a model for an Active.net module. When we get ours

[2018-03-02 16:46] podarok commented on #979
Fixed

[2018-03-02 16:46] #979 closed, assigned to nobody

[2018-03-02 17:04] podarok commented on #955
Thanks, Matt
Appreciate any updates from your side, docs, complains, insights, code.
Do not hesitate to reach me out if any issues.
And good luck with updated ActiveNet API

[2018-03-02 17:05] #955 closed, assigned to nobody

[2018-03-05 15:32] alexschedrov opened #980 "Install & configure Paragraphs Type Help"
https://www.drupal.org/project/paragraphs_type_help - this small module can help new OpenY users to learn more about components. It should be easy to configure it, but it should be very good enhancement.

![image](https://user-images.githubusercontent.com/1316234/36983500-3706537e-209b-11e8-82ee-1dbbd3275b5e.png)
![image](https://user-images.githubusercontent.com/1316234/36983507-3a404ce8-209b-11e

[2018-03-05 15:57] AlexNetman opened #981 "Groupex Schedules has error on Sandbox"
http://sandbox.openymca.org/schedules/group-schedules
![image](https://user-images.githubusercontent.com/4558228/36984903-f269233e-20a6-11e8-99f3-38e91562f83d.png)

Error: Call to undefined function Drupal\language\language_get_default_langcode() in Drupal\language\DefaultLanguageItem->getDefaultLangcode() (line 46 of /var/lib/jenkins/jobs/SANDBOX_FAST/workspace/build/docroot/core/modules/language

[2018-03-05 16:21] podarok commented on #981
Can't reproduce @AlexNetman
Could you ensure how-to reproduce step by step?

Thanks

[2018-03-05 16:31] AlexNetman commented on #981
Now it's working for me as well.
Please, just check related logs in scope of this issue. They are happening periodically and related to groupex form cache.
![image](https://user-images.githubusercontent.com/4558228/36986754-b1607180-20ab-11e8-88b7-9af31e661550.png)
![image](https://user-images.githubusercontent.com/4558228/36986793-c59f6804-20ab-11e8-9067-d07169bc10ce.png)

[2018-03-05 16:54] podarok commented on #981
Let's keep monitoring  to catch exact state to be able to reproduce

[2018-03-08 07:55] podarok opened #983 "Replace block_content with custom scalable entity for referencing from paragraphs"
https://www.drupal.org/project/drupal/issues/2940755

[2018-03-08 08:00] danylevskyi commented on #983
We need to make sure that referenced entities are deleted after removing hosting entity.

[2018-03-08 08:05] podarok commented on #983
@danylevskyi We are going to have this entity reusable, so removing could be super tricky

[2018-03-09 11:54] AlexNetman commented on #983
Hi! Nice finding!
But actually this issue should not be `critical` for OpenY profile.
Because it is using Paragraphs more than Blocks.
Also the sql-patch provided in https://www.drupal.org/project/drupal/issues/2940755 can be used without modifications on most OpenY sites. Because Panels is not part of OpenY profile (and will have no conflict with patch).

[2018-03-20 19:40] YMCA-GTC commented on #918
Good points - I'm adding this to the roadmap.

[2018-03-20 19:44] YMCA-GTC commented on #889
@ddrozdik Should we close this one out, or are you waiting till we're out of Beta with Lily? Thanks!

[2018-03-20 19:49] YMCA-GTC opened #987 "City is not displayed in the location name, even though it's a required field"
On the Open Y Rose Theme location landing page, and individual Branch/Camp landing pages, the current display is State, ZIP Code. It should instead be "City, State, Zip Code" in a format such as "Minneapolis, MN 55403"

See attached for examples of where this occurs.

![image](https://user-images.githubusercontent.com/17653329/37679010-b56bbdb8-2c4d-11e8-959e-f189ee58d8d8.png)

![image](https://us

[2018-03-20 19:50] ddrozdik commented on #889
I think we can close this. All related issues with the theme should be addressed separately.

[2018-03-20 19:50] #889 closed, assigned to ddrozdik

[2018-03-20 19:53] YMCA-GTC opened #988 "Node breadcrumbs do not quickly update to reflect changes made when logged in as admin/content manager"
When I am an admin user/content manager, and I change the title of a node, I should be able to see the changes reflected in the breadcrumb within the Drupal admin interface.

[2018-03-20 19:53] YMCA-GTC commented on #988
@podarok When you have time, can you please help me write up the reproduction steps for this one so we can ensure anyone working on it can be able to quickly direct their efforts to the fix? Thank you!

[2018-03-20 19:57] YMCA-GTC commented on #889
Awesome! Thank you @ddrozdik !!

[2018-03-23 11:24] AlexNetman opened #992 "Groupex Schedules are not displaying correct schedule for today"
Example URL at sandbox with Groupex Schedules paragraph:
http://sandbox.openymca.org/schedules/group-schedules

Given todays "class X" is cancelled
While next week "class X" is still accessible
When I go to see Group Schedules for today
Then I see that "class X" is accessible
But it should not be listed

[2018-03-23 11:44] atiupa commented on #992
#993

[2018-03-23 17:10] AlexNetman opened #994 "Too many blocks are causing Ajax error"
Given I have a lot of blocks in the system (example >1500)
When I insert paragraph Groupex Schedules to the page
![image](https://user-images.githubusercontent.com/4558228/37843257-7863809c-2ed5-11e8-9eda-d5a45070987c.png)
Then I can't edit and save blocks in other paragraphs
And getting 500 error from `inline_entity_form` module in console
![image](https://user-images.githubusercontent.com/455822

[2018-03-23 17:19] AlexNetman commented on #994
Useful link:
https://www.drupal.org/docs/8/creating-custom-modules/create-a-custom-field-widget

[2018-03-26 11:04] ddrozdik commented on #994
hi @AlexNetman. Seems this issue could be  related to this one https://github.com/ymcatwincities/openy/issues/983

[2018-03-28 09:40] podarok opened #995 "WiKi pages assets hosting"
![image](https://user-images.githubusercontent.com/563412/38021333-33d15be4-3285-11e8-9798-e8605e2422a8.png)

[2018-03-28 09:53] rotator commented on #918
This module supports custom fonts only in WOFF format. You can use online converter to transform your font (for example https://transfonter.org/).
1. Navigate to Appearance -> font-your-face -> Custom Fonts  /admin/appearance/font/local_font_config_entity
2. Add needed custom fonts (Cachet Medium, Cachet Bold, Cachet Book) and enable it.
@podarok Please, review.

[2018-03-28 10:00] podarok commented on #918
@rotator see my comment there

[2018-03-29 16:17] YMCA-GTC commented on #992
@podarok Can you please check if this one is still valid? Thanks!

[2018-03-29 16:20] #995 closed, assigned to podarok

[2018-03-29 17:49] podarok commented on #995
![image](https://user-images.githubusercontent.com/563412/38104705-b2ebf8fe-3392-11e8-8c27-55db3ed032ff.png)

[2018-04-05 09:24] podarok commented on #994
@kolesnikoff
Could you please spend 1-2 hours to check if mentioned drop-down widget could be replaced with autocomplete?
 - check if the module itself contains the autocomplete widget for a form view
 - check module's drupal.org issue queue if there are patches or discussions there

If nothing from above -> add patch to replace drop-down with autocomplete, post if to drupal.org as feature/bug req

[2018-04-19 12:42] alexschedrov opened #1010 "Fix modules group"
Some OpenY modules belong to "Other" group.

![image](https://user-images.githubusercontent.com/1316234/38992055-41fe0216-43e8-11e8-90be-1ba9900a3d59.png)

[2018-04-26 08:33] kolesnikoff commented on #918
@podarok the requested functionality is deployed. Can we close the issue?

[2018-04-26 08:34] kolesnikoff commented on #834
@podarok the requested functionality is deployed. Can we close the issue?

[2018-04-26 08:34] kolesnikoff commented on #987
@podarok the requested functionality is deployed. Can we close the issue?

[2018-04-26 09:28] #918 closed, assigned to kolesnikoff

[2018-04-26 09:30] podarok commented on #834
@kolesnikoff no need to ask me if you know it was deployed. Just close it (you should have an access, confirm please) and ping me and @ymcagtc here in a comment that this one was closed. Also, ping Kylie on your end to update contexts and Trello respectively
Thank you!

[2018-04-26 09:30] #834 closed, assigned to kolesnikoff

[2018-04-26 09:31] podarok commented on #987
@kolesnikoff yes https://ymca-twin-cities.slack.com/archives/G99KZCYHH/p1524735047000524

[2018-04-26 09:31] #987 closed, assigned to kolesnikoff

[2018-05-02 07:01] kolesnikoff commented on #988
@YMCA-GTC this issue is fixed.

[2018-05-02 07:01] #988 closed, assigned to nobody

[2018-05-02 09:05] podarok opened #1020 "Import YGTC theme settings into Lily"
Get theme settings into OpenY

https://github.com/ymcatwincities/ymca/pull/2861

@ymcagtc could you add this to OpenY roadmap?

User story
As OpenY user I want to have same color and theme settings for OpenY Lily theme as used my YMCA of Greater Twin Cities
![image](https://user-images.githubusercontent.com/563412/39517713-532cb0d4-4e09-11e8-8ea8-0c6bc5b3e8a3.png)

[2018-05-02 12:05] ddrozdik opened #1021 "GroupEx Pro Integration Refactoring"
Currently, there are 5 modules that provide different features to work with GroupEx Pro.
For example:
- **embedded_groupexpro_schedule** - Provides a form with settings to set up what account should be used and block that will render iframe with GroupEx pro content
- **openy_prgf_embedded_groupexpro_schedule** - Provides a paragraph to embed GroupEx Pro schedule.
- **openy_group_schedules** - Prov

[2018-05-03 15:35] YMCA-GTC commented on #964
@podarok and the YGTC team are addressing these

[2018-05-03 15:36] YMCA-GTC commented on #900
Assigned to @podarok

[2018-05-03 16:04] YMCA-GTC commented on #994
This will go into the Q2 2018 release planned for May 8

[2018-05-06 09:52] kolesnikoff commented on #994
The solution is built into https://github.com/ymcatwincities/openy/pull/1025

[2018-05-07 10:36] kolesnikoff commented on #974
@podarok I've just tested clean installation of the development branch and haven't received these errors. Is this bug still actual?

[2018-05-11 09:41] ddrozdik commented on #1010
this is fixed in the OpenY 2.0.

[2018-05-11 09:41] #1010 closed, assigned to nobody

[2018-05-14 17:56] YMCA-GTC commented on #994
@kolesnikoff @podarok Did this make it into the May 8 release? If not, we'll make it for Q3 in August.

[2018-05-16 10:05] ddrozdik opened #1045 "Incorporate all Open Y settings in one place"
Currently, there are many settings that Open Y modules provide and all of them are in different places. For instance:
- `OpenY upgrade dashboard`: Home -> Administration -> Configuration -> Development -> OpenY upgrade dashboard
- `openy map settings`: Home -> Administration -> Configuration -> Web services -> openy map settings
- `Daxko Programs Search settings`: Home -> Administration  -> Config

[2018-05-16 10:55] ddrozdik opened #1046 "Render issue with the paragraph "Teaser""
There is a paragraph which is called "Teaser". It has fields to enter link and link title.
![edit landing page test 7c site-install f0 9f 94 8a 2018-05-16 13-36-59](https://user-images.githubusercontent.com/6285570/40112779-d7158040-590f-11e8-8094-43b469adaffb.png)
Currently, these fields are not required. In case you want to create just a teaser without the link, you will get the following issue,

[2018-05-21 18:14] YMCA-GTC opened #1049 "GroupEx Schedules non-functional in sandbox"
To reproduce:

Go to http://sandbox.openymca.org
Click on "Schedules" then "Group Schedules"
Note you will see a "The website encountered an unexpected error" message and the page is blocked

[2018-05-21 19:05] YMCA-GTC opened #1050 "Rose: Header Padding Issues"
Over the past few releases, the header padding in Rose has become a bit too large. Here are the standards we want to adhere to with the UX of the Rose theme. This will require some CSS work in the distribution.

https://drive.google.com/open?id=1eQerBEalLEI9AtVjgeJZHUnNO_KwZGlI

[2018-05-21 19:21] YMCA-GTC commented on #1046
Thanks @ddrozdik I am adding it to our backlog

[2018-05-21 19:47] YMCA-GTC commented on #1045
This is a REALLY good idea @ddrozdik ! I'll be pulling this into the roadmap. We can't use the Y logo due to copyrights, but just a cachet "Y" could suffice for the icon.

[2018-05-21 20:01] YMCA-GTC opened #1051 "Remove "Search By Amenities" button and titlebar from location landing page"
Now that we have Amenities filtering in-line on the locations page, it is redundant to have "Search By Amenities". Please remove this blue bar area, button, and title from the Location pages for Rose and Lily

![image](https://user-images.githubusercontent.com/17653329/40327227-c56f4082-5d07-11e8-9cec-6ac1e59e1a4b.png)

[2018-05-21 20:02] YMCA-GTC commented on #1020
@podarok Adding this to roadmap per your request

[2018-05-21 20:09] YMCA-GTC commented on #1021
@ddrozdik Will this refactoring work be handled by 5J with the Decoupling work?

[2018-05-21 20:10] YMCA-GTC commented on #981
This is happening again as of 5/21. I've asked @kolesnikoff to investigate

[2018-05-21 20:11] YMCA-GTC commented on #1049
Closing this as it's a duplicate of https://github.com/ymcatwincities/openy/issues/981

[2018-05-21 20:11] #1049 closed, assigned to nobody

[2018-05-21 20:14] YMCA-GTC commented on #974
@podarok See above - if this is fixed, please mark as closed. Thank you!

[2018-05-21 20:15] YMCA-GTC commented on #948
Changing from enhancement to bug to ensure this gets addressed

[2018-05-21 20:17] YMCA-GTC commented on #950
@AlexNetman Have you tried using the focal point feature to see if you can change the focus point of this image? Just checking. If that didn't work for you, please let us know.

[2018-05-21 20:17] YMCA-GTC commented on #950
Changing from Important to Normal until we hear above

[2018-05-21 20:19] YMCA-GTC commented on #934
@podarok Can we get an update on this one, please? It's marked as Critical so I'd like to make sure it's resolved if it hasn't been already. Thanks!

[2018-05-21 20:20] ddrozdik commented on #1021
@YMCA-GTC no, it will not. This is something big and will take some time to refactor carefully. Also first of all this task require detailed architecture to avoid issues in the future.

[2018-05-21 20:21] YMCA-GTC commented on #964
Fixed with 1.11

[2018-05-21 20:21] #964 closed, assigned to podarok

[2018-05-21 20:22] YMCA-GTC commented on #969
@podarok Can you please verify that these were fixed? If they were not fixed, I will add them to our backlog. Thank you!

[2018-05-21 20:24] YMCA-GTC commented on #904
@podarok Is this ticket still valid, or can it be closed now?

[2018-05-21 20:25] YMCA-GTC commented on #813
Increasing the severity to ensure this one is resolved and closed

[2018-05-21 20:26] YMCA-GTC commented on #805
@ygerasimov Is this still a valid issue?

[2018-05-21 20:26] YMCA-GTC commented on #797
Resolved

[2018-05-21 20:26] #797 closed, assigned to nobody

[2018-05-21 20:29] YMCA-GTC commented on #760
@ddrozdik Is this issue still valid?

[2018-05-21 20:30] YMCA-GTC commented on #729
Closing as this has been added to the roadmap

[2018-05-21 20:30] #729 closed, assigned to nobody

[2018-05-21 20:31] YMCA-GTC commented on #757
Reducing severity as we are overhauling the entire schedules experience in Q3 and Q4 2018 and this issue may be resolved at that time.

[2018-05-21 20:32] YMCA-GTC commented on #689
Closing as we never heard an update on this

[2018-05-21 20:32] #689 closed, assigned to nobody

[2018-05-21 20:32] #686 closed, assigned to nobody

[2018-05-21 20:33] YMCA-GTC commented on #598
@podarok is this still an issue? If so, please let me know. If not, please close.

[2018-05-21 20:34] YMCA-GTC commented on #640
Added to roadmap thus closing this issue

[2018-05-21 20:34] #640 closed, assigned to nobody

[2018-05-21 20:34] ddrozdik commented on #760
@YMCA-GTC I will check, as far as I remember it is still valid.

[2018-05-21 20:35] #436 closed, assigned to danylevskyi

[2018-05-23 07:21] danylevskyi opened #1056 "Make URL for Logo link configurable"
### The problem

There is no way to set URL for the link under the OpenY logo via theme settings.

### Proposed solution

Implement theme settings "Logo Link URL".

[2018-05-23 12:41] #1050 closed, assigned to nobody

[2018-05-24 22:30] ygerasimov opened #1063 "Slides to be time based"
I, as an editor have a slideshow on a landing page. I would like to schedule publishing new slide and unpublishing another slide on a certain date. I.e. like scheduler but for slides.

Example of slideshow http://sandbox.openymca.org/accelerator

[2018-05-24 23:02] YMCA-GTC commented on #796
In progress for next release per IXM

[2018-05-24 23:02] YMCA-GTC commented on #813
In progress for next release per IXM

[2018-05-24 23:02] YMCA-GTC commented on #913
In progress for next release per IXM

[2018-05-24 23:02] YMCA-GTC commented on #914
In progress for next release per IXM

[2018-05-24 23:03] YMCA-GTC commented on #190
In progress for next release per IXM

[2018-05-24 23:03] YMCA-GTC commented on #792
In progress for next release per IXM

[2018-05-24 23:03] YMCA-GTC commented on #1051
Resolved in next release - awaiting code review

[2018-05-24 23:03] YMCA-GTC commented on #1050
Resolved in next release - awaiting code review

[2018-05-24 23:03] YMCA-GTC commented on #1049
Resolved in next release - awaiting code review

[2018-05-24 23:04] YMCA-GTC commented on #1046
Resolved in next release - awaiting code review

[2018-05-24 23:04] YMCA-GTC commented on #208
Assigned to IXM for resolution

[2018-05-24 23:04] YMCA-GTC commented on #994
Assigned to IXM for resolution

[2018-05-24 23:04] YMCA-GTC commented on #948
Assigned to IXM for resolution

[2018-05-24 23:04] YMCA-GTC commented on #901
Assigned to IXM for resolution

[2018-05-24 23:05] YMCA-GTC commented on #793
Assigned to IXM for resolution

[2018-05-25 09:42] SanyokMedved commented on #913
Works as expected.
For example - I unpublished 1 node - activity - Weight Loss (node/121). In this case other nodes were unpublished too.
- session - Swim Lessons - Youth Stage 5: Stroke Devel. (node/217)
- class - Lose to Win - Weight Loss Program (node/189)
- class - Lose to Win for Men - Weight Loss Program (node/188)

On the activity page I can't see unpublished nodes.

Please test again.

[2018-05-29 08:58] AlexNetman opened #1067 "Membership Calculator is not working - Ajax error"
Given I go to http://sandbox.openymca.org/join
And I click on "Select" button under Adult

When I click "Next"
Then I should see Step 2 to select Primary Location
But nothing happens

And I see ajax error in console:
`
js_6UeFfITIG-y6xvuh2tuP_PNPgXUTDbApFZgD1CJLFGA.js:2918 Uncaught Drupal.AjaxError {message: "↵An AJAX HTTP error occurred.↵HTTP Result Code: 20…: /join?ajax_form=1↵StatusText: OK↵Res

[2018-05-29 15:47] AlexNetman opened #1068 "Can not edit Branch Or Camp node"
Check http://sandbox.openymca.org/locations
Result: Fatal error

Login as admin
Go to edit Branch or Camp node
Result: Fatal error

Error: Class 'CommerceGuys\Addressing\LocaleHelper' not found in Drupal\address\Element\Address::addressElements()

[2018-05-30 08:12] #190 closed, assigned to nobody

[2018-05-30 08:16] kolesnikoff commented on #1067
This particular issue is fixed here https://github.com/ymcatwincities/openy/pull/1058.

[2018-05-30 10:47] hamrant opened #1069 "Add a step with entities list before any openy paragraph deleting"
In this PR - https://github.com/ymcatwincities/openy/pull/1036 was implemented `openy_system` module with openy components page. Before component removing - would be nice to add a step with a list of entities and where they are used ( for paragraps ) to let content managers check all will be good after removal. Just a simple table with a list of view/edit.

We can proceed with this improvement onl

[2018-05-30 10:54] hamrant opened #1070 "Show warning message in OpenY components page on openy_demo_webform uninstall"
In this PR - https://github.com/ymcatwincities/openy/pull/1036 was implemented `openy_system` module with openy components page.

For now we blocked `demo_form` module uninstall by dependency from `openy_system` module.
We need to show warning message in OpenY components page on openy_demo_webform uninstall:
"Be careful, if you use demo_form webform on site, module uninstall will remove all submis

[2018-05-30 13:28] kolesnikoff commented on #913
@ddrozdik could you confirm that the issue is reproducible still?

[2018-05-30 13:33] kolesnikoff commented on #1068
Solved into #1058.

[2018-05-30 13:36] kolesnikoff commented on #994
@AlexNetman could you confirm that this issue is reproducible still?

[2018-05-30 13:48] ddrozdik commented on #913
@kolesnikoff looks good now. I close this issue.

[2018-05-30 13:48] #913 closed, assigned to nobody

[2018-05-31 09:38] podarok opened #1072 "Fix /locations page"
[code]
When visiting /locations page on sandbox

[2018-05-31 09:43] podarok commented on #1072
All good. We need to make a release

[2018-05-31 09:43] #1072 closed, assigned to ygerasimov, kolesnikoff

[2018-05-31 12:05] alexschedrov commented on #687
I was able to reproduce this error.
`symfony/dom-crawler` is not being installed when we install the distro without development dependencies, e.g. `--no-dev` option for composer command.

This library blocks overall installation, because it's required for demo content step.

[2018-05-31 17:11] YMCA-GTC commented on #1051
Resolved as of 1.12

[2018-05-31 17:11] #1051 closed, assigned to nobody

[2018-05-31 17:11] YMCA-GTC commented on #1046
Resolved with 1.12

[2018-05-31 17:11] #1046 closed, assigned to nobody

[2018-05-31 17:12] YMCA-GTC commented on #190
Resolved with 1.12

[2018-05-31 17:12] YMCA-GTC commented on #914
Resolved with 1.12

[2018-05-31 17:12] #914 closed, assigned to nobody

[2018-05-31 17:12] YMCA-GTC commented on #1067
Resolved with 1.12

[2018-05-31 17:12] #1067 closed, assigned to kolesnikoff

[2018-05-31 17:13] YMCA-GTC commented on #1068
Resolved with 1.12

[2018-05-31 17:13] #1068 closed, assigned to nobody

[2018-05-31 17:15] YMCA-GTC commented on #994
Resolved with 1.12

[2018-05-31 17:15] #994 closed, assigned to podarok

[2018-06-05 10:46] kolesnikoff opened #1077 "Sibling Menu does not respect sorting order"
The paragraph "Sibling Menu" does not represent an order from the backend.

![membership menu 2](https://user-images.githubusercontent.com/2058068/40971565-b9c68126-68c6-11e8-8d4c-51441a639861.JPG)

![membership menu](https://user-images.githubusercontent.com/2058068/40971563-b8374a20-68c6-11e8-84f7-f9cf598019fc.JPG)

[2018-06-05 10:53] #1077 closed, assigned to nobody

[2018-06-05 10:54] kolesnikoff commented on #1077
not related to OpenY core

[2018-06-05 13:40] ddrozdik opened #1078 "Menu in OpenY Rose squeezes after removing some menu items"
I decided that I do not need menu items :) and removed them and left only a few items. When I checked OpenY Rose after that I discovered that menu does not work correctly. See screenshot below:
![page not found site-install 2018-06-05 16-36-16](https://user-images.githubusercontent.com/6285570/40979630-fe3efab4-68de-11e8-83ca-7b2cb175a69d.png)

cc @podarok, @YMCA-GTC

[2018-06-06 21:19] YMCA-GTC commented on #1078
Upgrading the severity on this - we will go after this ASAP.

[2018-06-06 21:20] YMCA-GTC opened #1083 "Lily: Breadcrumbs CSS is broken following 1.11 or 1.12"
See the attached screenshot.
![image](https://user-images.githubusercontent.com/17653329/41065830-85d2b29c-69a5-11e8-90a3-72ef5e4817e2.png)

This happens on Location and Schedules pages (and likely others)

[2018-06-06 21:22] YMCA-GTC commented on #983
@podarok could you please update us on the status of this ticket, or close if it has been resolved? Thank you very much!

[2018-06-06 21:29] YMCA-GTC commented on #687
Assigning to IXM for resolution

[2018-06-06 21:31] YMCA-GTC commented on #675
@ddrozdik @Sanchiz @podarok Hey friends, could we please get an update on this? It feels like this should get resolved sooner rather than later. Thanks!

[2018-06-06 21:32] YMCA-GTC commented on #424
Launched in 1.11

[2018-06-06 21:32] #424 closed, assigned to danylevskyi

[2018-06-06 21:34] YMCA-GTC commented on #423
@podarok @ddrozdik Reminder that I need feedback from you both so we can proceed on this one :)

[2018-06-06 21:35] YMCA-GTC commented on #411
@podarok Did this ever get backported?

[2018-06-06 21:35] YMCA-GTC commented on #408
Added to roadmap

[2018-06-06 21:37] YMCA-GTC commented on #406
@Sanchiz @ygerasimov If either of you end up helping Houston migrate at some point in the future, this would be a good place to start.

[2018-06-06 21:37] YMCA-GTC commented on #388
@podarok Can this be closed, or is it still a known bug?

[2018-06-06 21:39] #776 closed, assigned to nobody

[2018-06-06 21:40] YMCA-GTC commented on #760
Assigned to IXM to resolve

[2018-06-07 06:26] podarok commented on #675
OpenY Upgrade tool is inapropriate at this moment
See https://github.com/ymcatwincities/openy/pull/1084 , team
Let's go from there

[2018-06-07 06:33] podarok commented on #419
Already fixed in last release http://sandbox.openymca.org/schedules